[2017-01-21 12:34] leeopop opened #412 "Support 128-bit aligned unions"
When
https://github.com/servo/rust-bindgen/blob/4ac39de18b96bd9488a17cf2650994a3584d440c/libbindgen/src/codegen/mod.rs#L1092
this inserts new field into a struct definition, Debug or Clone is not removed if the bindgen_union_field is too large.

This is the generated code. (without unstable rust)
`
#[repr(C)]
#[derive(Debug, Copy)]
pub struct rte_thash_tuple {
    pub v4: __BindgenUnionField<rte_i

[2017-01-21 13:24] emilio commented on #412
So the idea is that if all the inner fields can derive debug, the union should be able to debug too (since its alignment depends on the alignment of the fields).

This could break, I guess, if you explicitly align the union to a given width, so it's a bug (though arguable a pretty corner-case-y one).

[2017-01-21 13:26] emilio commented on #412
Do you have the code that generated this? Is it this one? http://dpdk.org/doc/api-2.1/rte__ip_8h_source.html

[2017-01-21 13:27] emilio commented on #412
Well, this one, I guess: http://dpdk.org/doc/api-2.1/rte__thash_8h_source.html

[2017-01-21 13:38] emilio commented on #412
I can't replicate this with that code, and the code that adds the `Debug` annotation checks for the layout of that field here: https://github.com/servo/rust-bindgen/blob/master/libbindgen/src/ir/comp.rs#L850

[2017-01-21 13:42] emilio commented on #412
Ohh, ok, there it is.

[code]

So the problem boils down to us not being able to generate 128-bit aligned structs. This is kind of a rust limitation until `i128`/`u128` is stabilized though.

[2017-01-21 13:44] emilio commented on #412
In any case, we shouldn't generate invalid code. Our alignment checker assumes we can build an array of `u128`, in which case this _would_ be able to derive `Debug`. But the code generation says "hey! I don't know how to generate this", and falls back to byte alignment.

[2017-01-21 14:17] emilio commented on #412
With the patch in #413 this won't generate invalid code. Still you need to make sure it's properly aligned before passing the struct to C.

[2017-01-22 04:22] Yamakaky commented on #398
Any progress?

[2017-01-22 04:38] leeopop commented on #412
I meant that the generated code contains `bindgen_union_field: [u8; 48usize],`.
However, that array does not implement Debug trait because it is longer that 32.
The generated Rust code contains Debug because other fields `__BindgenUnionField<rte_ipv4_tuple>`,
and `pub v6: __BindgenUnionField<rte_ipv6_tuple>` are can_derive_debug.

The alignment field is added later and not Debug-able, but it is no

[2017-01-22 05:02] leeopop commented on #412
If 128bit aligntmnets are possible, and the resulting alignment is longer than 32 entries, is there any checking mechanism that removes Debug from the struct?

[2017-01-22 11:30] emilio commented on #412
Yes, that checking exists. It's added before the field, but not without checking. Our checking just didn't account for unknown alignments (that's what #413 fixes)

[2017-01-22 12:53] emilio commented on #398
#414

[2017-01-22 14:58] mhsjlw opened #415 "Generated code won't compile"
With a basic `build.rs`:
The header file can be found here: https://github.com/OculusVR/RakNet/blob/master/Source/RakPeerInterface.h
[code]

It throws (when I `include!(concat!(env!("OUT_DIR"), "/bindings.rs"));`)
[code]

[2017-01-22 15:15] emilio commented on #415
Yup, thanks for reporting this. This particular error is known (#381), so I'm going to close this as a duplicate.

Doing C++ bindings effectively requires a bit more work than doing C bindings (because C++ can be such a complex language, and we can't represent all the constructs from it in rust).

The way to handle this for now (I agree this case shouldn't be a compile error), is to whitelist just

[2017-01-22 15:15] #415 closed

[2017-01-22 15:20] mhsjlw commented on #415
Awesome. Thanks a lot. You meant `whitelisted_type`, correct?

[2017-01-22 16:37] Yamakaky commented on #398
Cool.

[2017-01-22 19:14] Yamakaky opened #416 "bindgen!()"
The original bindgen crate provides a rust plugin to generate the bindings at compile time. Did you consider adding it?

[2017-01-22 22:14] leeopop commented on #412
Thank you! This hotfix #413 works for me!

[2017-01-22 23:43] emilio commented on #416
Yeah, it was not maintained and it didn't have any users I know of.

I'll be fine to add it again if someone proposes a use case that can't be addressed via build script, but I think the plugin predates build scripts, so I'm not too fond in rewriting it :)

[2017-01-23 09:37] #21 closed

[2017-01-23 09:37] #398 closed

[2017-01-23 18:27] #410 closed

[2017-01-23 21:15] Ralith opened #421 "Missing Cargo.lock"
As this crate produces a binary, it should contain a Cargo.lock to allow for reproducible builds. This was fixed previously in Yamakaky/rust-bindgen.

[2017-01-23 21:47] kkimdev opened #422 "Missing template argument for inner type typedef."
Header:
[code]

Generated:
[code]

Compile error
[code]

I think it should have generated

[code]

[2017-01-23 23:15] #421 closed

[2017-01-24 00:13] dimbleby opened #424 "Produce portable output (avoid generating system-dependent tests + configuration to improve type replacements)"
I prefer to generate my FFI code once and then distribute that, rather than generate it at build time.  I see that you recommend the opposite, but even so: I expect that plenty of my potential users - especially on Windows - won't have the required dependencies installed.  Better for me to figure out once how to get `bindgen` working, and be done with it.

At the moment, though, I have to do a lit

[2017-01-24 00:28] fitzgen commented on #422
@emilio this seems related to the type aliases -> use statements change. I don't think that trick is valid if we have template arguments.

[2017-01-24 01:10] dengjeffrey commented on #50
Hello! Is this still being worked on @choudhary001? If not I would like to work on this :)

[2017-01-24 01:21] emilio commented on #422
huh? Indeed we check for that. I was pretty sure [this check](https://github.com/servo/rust-bindgen/commit/dfb25b389bec5492b6fd61e92a2552cab03a6afc#diff-a93145b6ffec56949842cfb61224da24R532) should've caught it, I'll take a look

[2017-01-24 01:29] emilio commented on #424
So the autogenerated tests are useful for plenty of reasons (most notably sanity-check when you're using C++), but it's a fair concern and should be pretty easy to add an option to avoid generating them.

Re. deriving `Debug`, that's a bit more tricky, but it's a fair use case, so we could try to support that. Probably we could add configuration to avoid deriving debug for blacklisted types or som

[2017-01-24 01:48] emilio commented on #422
So we do check that, and that check works. the thing is that the applicable_template_args check probably avoids specialized args.

[2017-01-24 01:48] emilio commented on #422
i.e., this was a pre-existing bug

[2017-01-24 02:00] emilio commented on #422
This is annoying. So when scanning the `Foo<int>::InnerType`, clang says us we're a template specialization, but when it points us to the specialized template, it points us to the unspecialized version of `Foo` (which is probably a logical thing to do, but that we don't take into account).

When asking about template parameters, of course, clangs tells us that we have none, so we end up not seeing

[2017-01-24 04:38] nnethercote opened #425 "JSWhyMagic problems in Stylo"
I tried to build Stylo on my Ubuntu 16.10 box. I get the following error:
[code]
@heycam looked at my generated structs_debug.rs file. He suspects the following problem: "If stylo tries to bindgen types that reference `JSWhyMagic`, it can fail by generating the `JSWhyMagic` under the `root` mod, but trying to reference `root::JS::JSWhyMagic`."

CC @emilio

[2017-01-24 06:51] jethrogb opened #426 "Comments are copied verbatim without checking if they might be invalid"
C and Rust comments are not the same. bindgen copies comments verbatim anyway, and this breaks things.

For example, here's an excerpt from a real-life header I was using with bindgen 0.19:
[code]
bindgen 0.20 output for this type is:
[code]
which rustc does not like:
[code]

[2017-01-24 06:54] jethrogb opened #427 "Do not generate names for typedefed anonymous structs and enums"
A common pattern in a lot of C code is to do
[code]
bindgen 0.20 translates this using a made-up type name and a re-export. This makes the rustdoc documentation look awful (and potentially error messages as well). These bogus type names were not introduced in bindgen 0.19. I think there is no reason not to detect this common pattern and avoid them.

[2017-01-24 06:56] jethrogb opened #428 "remove_prefix missing"
I already mentioned this in #21. I was using [remove_prefix](https://docs.rs/bindgen/0.19.0/bindgen/struct.Builder.html#method.remove_prefix) in bindgen 0.19. This means I can't upgrade to 0.20 without introducing an API change in my -sys crate.

[2017-01-24 06:57] jethrogb commented on #21
Sorry for the flood of issues that are coming in now but I haven't had time to test this out...

[2017-01-24 07:37] jethrogb opened #429 "Option to make whitelisting not recursive."
Another follow-up from #21. I'm using
[code]
but several libc types are included in the output anyway:
[code]
I want bindgen to only output definitions in my project's header files, as in 0.19's match_pat. I will depend on other -sys crates to provide the correct types for those defined outside my project's headers. This is obviously the way it has to be if you want to pass the types around to dif

[2017-01-24 07:46] jethrogb opened #430 "rust_enums missing"
I would like my C enums to be defined as individual constants instead of a Rust enum. C enum values can hold any integer which breaks when they're interpreted as Rust enums across FFI boundaries. `bitfield_enum` is not sufficient since this introduces a wrapper type. Using bindgen 0.20 would introduce a public API change for my -sys crates.

[2017-01-24 07:50] jethrogb opened #431 "Can't convert unions for use with stable Rust"
bindgen 0.19 converted C unions to Rust structs of appropriate size. bindgen 0.20 converts C unions to Rust unions, which I support in general, except that the generated code no longer works on stable Rust.

Bindgen should support generating stable Rust bindings for all C code.

[2017-01-24 07:58] emilio commented on #425
Oh, interesting, I'll look into it.

As far as I know we shouldn't be using nothing `JSValue` related, so as a workaround you can add it to the opaque type list. Indeed, you can pretty much add `JS::.*` to it I think.

[2017-01-24 08:11] jethrogb opened #432 "No option to disable derive(Debug)"
Once #429 is fixed, it's once again possible to have types in your Rust structs that don't implement Debug. Therefore, deriving Debug is not possible for such types. bindgen 0.19 had a `derive_debug` option to turn off generating Debug.

[2017-01-24 08:14] emilio commented on #431
We have this option (see `--no-unstable-rust`), though I agree this should probably be the default.

[2017-01-24 08:17] emilio commented on #429
That means that those types are used transitively by the functions you've whitelisted. If you want to make some of those opaque, you can make so with `opaque_type`. If you want just to avoid generating definitions for those, you can use `blacklist_type`.

I believe what you want is something like `opaque_type(".*").whitelisted_type("mbedtls_.*")`. Does that work for you?

[2017-01-24 08:18] jethrogb commented on #431
Whoops, missed that!

[2017-01-24 08:18] #431 closed

[2017-01-24 08:19] emilio commented on #432
This one is easy to support if there's a good use case for it, and this one seems like a decent one.

This is really easy to add. I'm digging in other problems now, but will do it.

[2017-01-24 08:20] emilio commented on #430
Again, this should be easy to do, we have options to make some enum variants constant already (see #393), so it'd be a matter of generating that.

[2017-01-24 08:22] emilio commented on #428
This seems like a really hacky thing to do. I think there are better ways to do this, mainly re-exporting structs with a different name.

That may be some churn, though, and it's definitely something we could automate...

[2017-01-24 08:25] emilio commented on #427
The thing is that detecting this common pattern is not that easy in the case of C++. Old bindgen did this looking at the AST of libclang, and got it wrong a lot of times, over all in presence of anonymous structs in classes (which I believe are also legal in C11).

I'm not really fond in supporting this. What we could do, is using a type alias instead of a re-export. The re-exports are done for co

[2017-01-24 08:25] emilio commented on #427
BTW, thanks for filling all these issues, they're really helpful.

[2017-01-24 08:26] jethrogb commented on #429
Unfortunately not. Then, the types I don't want are still included as u8-array definitions.

Also, there seems to be a bug. Without `opaque_type` I get:
[code]
With `opaque_type` as you suggested, I get:
[code]
I tried whitelisting `_bindgen_ty_.*` as well, but that doesn't fix this bug.

[2017-01-24 08:27] emilio commented on #426
Oh, that sucks, is it really a parse error?

cc https://github.com/rust-lang/rust/pull/38825 and https://github.com/servo/rust-bindgen/issues/378.

[2017-01-24 08:27] emilio commented on #426
It seems we need to process comments no matter what, sigh.

[2017-01-24 08:30] emilio commented on #429
yep, that last `self::u32` thing is a bug.

In any case, yeah, I guess we can make whitelisting not recursive (i.e., do not whitelist everything recursively from a whitelisted type). But I think it's easy to understand why that's the default behavior.

[2017-01-24 08:34] jethrogb commented on #429
Yes, I think whitelisting non-recursively would fix this.

I don't think your previous answer would be a good solution? I'm not sure if I understand exactly what you mean. I want my types to be defined in full, but outside types to come from outside.

[2017-01-24 08:36] emilio commented on #429
Yes, the solution here is whitelisting non-recursively.

[2017-01-24 08:36] emilio commented on #429
Or alternatively, adding a set of "externally defined types", but that sounds trickier if it can just be fixed this way.

[2017-01-24 08:38] dimbleby commented on #429
Especially with the 'but outside types come from outside' bit, this overlaps the first bullet of #424 ("WIBNI I could tell `bindgen where to get a type from`).

I currently explicitly blacklist externally defined types, but also would be happy for non-recursive whitelisting to save me the trouble.

[2017-01-24 08:39] dimbleby commented on #432
Overlaps second bullet of #424

[2017-01-24 08:40] jethrogb commented on #427
I don't think type aliases would fix the documentation or the error messages.

[code]
[code]

Besides, type aliases are not the same as re-exports. Crucially, tuple-struct constructors are not available through a type alias.

[2017-01-24 08:45] jethrogb commented on #427
What's hard about this? Is such a definition split into two AST nodes with an anonymous struct definition and a related typedef?

[2017-01-24 08:45] emilio opened #433 "Typedefs in namespaces may be broken in master."
I get a bunch of errors while trying to debug #425 related to it.

[2017-01-24 08:53] jethrogb commented on #427
Thanks for being so receptive of my issues! Otherwise I'm pretty happy with the new features such as string macros, 128-bit integer support, probably more...

[2017-01-24 08:59] jethrogb commented on #430
Ah, interesting. I just tried that out a little bit and noticed that returning `EnumVariantCustomBehavior::Constify` for a `bitfield_enum` is broken.

[2017-01-24 09:03] jethrogb commented on #426
I think it shouldn't be that hard. If the comment is C-style and the first character is `*` or `!`, insert a space. Otherwise, if the first character is `/` or `!`, insert a space.

[2017-01-24 09:45] emilio commented on #430
Yeah, I can believe so. It doesn't make a lot of sense doing that though (bitfield enums already generate constants), so probably we should just ignore that

[2017-01-24 09:54] choudhary001 commented on #50
@dengjeffrey Yes, please go ahead. I am not working on this currently.

[2017-01-24 11:09] emilio commented on #425
I fixed this drive-by in #436

[2017-01-24 18:56] dengjeffrey commented on #50
Great! @emilio are you mentoring this issue? If not that's okay, it would be helpful if this could be marked assigned though

[2017-01-24 19:22] fitzgen commented on #424
An option to avoid layout tests is fine by me. Options surrounding control of deriving `Debug` seems fine by me.

The larger concept of intimately understanding portability and types in bindgen and the bindings we emit is a -1 for me. That sounds like too much complexity, and I think C++ and templates has already eaten our whole complexity budget.

[2017-01-24 19:24] fitzgen commented on #425
Ha! I was creducing this exact issue over night.

[2017-01-24 19:26] emilio commented on #50
Sure, thanks for working on it! :)

[2017-01-24 19:26] emilio commented on #50
Let me know if you need anything from me :)

[2017-01-24 19:32] fitzgen commented on #429
We emit bindings for the transitive closure of whitelisted items because otherwise we would emit bindings referring to types that do not exist and end up with errors when compiling the bindings.

If we can successfully avoid emitting bindings for an item in our *computed* whitelisting transitive closure set, then it is a bug in our computation of that set (ie it shouldn't be emitted because it is

[2017-01-24 19:38] fitzgen commented on #425
And here is the reduced test case:

[code]

[2017-01-24 19:40] emilio commented on #429
@fitzgen as far as I understand it, that's exactly the point, not defining some types so they can be imported manually :)

[2017-01-24 19:41] jethrogb commented on #429
Emitting bindings with "non-existing types" is exactly the point. The types *do* exist. They're just defined in another crate.

[2017-01-24 19:46] emilio commented on #425
Heh, it's the exact same test-case that we have already in tree for
#410, interesting.

On Tue, Jan 24, 2017 at 11:38:24AM -0800, Nick Fitzgerald wrote:

[2017-01-24 19:56] fitzgen commented on #429
Isn't blacklisting the specific types we want to leave out from the bindings the proper solution then?

[2017-01-24 19:58] jethrogb commented on #429
No, a whitelisting approach makes more sense. There are a lot of types defined in libc.

[2017-01-24 20:31] dimbleby commented on #424
Ha, yes, the title of this issue is maybe a bit grander than it ought to be!

What I'm actually interested in of course is just the three specific suggestions that I made.  I'm very happy for you to consider them on their own merits - without anyone having to be sucked into some more general and complicated project.

[2017-01-24 20:38] fitzgen commented on #424
Ok, then yeah those things all seem fine to me.

[2017-01-24 20:40] dimbleby commented on #429
Just as a data point - possibly not a terribly helpful one - I'm neutral on this.

When [run bindgen](https://github.com/dimbleby/rust-c-ares/blob/master/c-ares-sys/generate-ffi.sh#L11) in my project, I have exactly 6 types that I want bindgen to ignore, so that I can import them.  Few enough that it's no big deal; though the non-recursive whitelisting would also work just fine.

I see that in the

[2017-01-24 21:31] #425 closed

[2017-01-24 22:07] brunoqc opened #439 "build-script-build (signal: 11, SIGSEGV: invalid memory reference)"
I'm able to build this on Arch 64-bit but not on Ubuntu trusty 32-bit. I'm wondering if the cause could be the 32-bit part.

[code]

Ubuntu 14.04.5 LTS (32-bit)
clang-3.9
bindgen 0.20.0

Cargo.toml
[code]

lib.rs
[code]

build.rs
[code]

wrapper.h
[code]

[2017-01-24 22:18] Yamakaky commented on #439
I had trouble on 32bit with upstream bindgen.

[2017-01-24 22:28] fitzgen commented on #439
Thanks for the bug report!

Care to run this under gdb or lldb and dump the output of `bt` in here?

[2017-01-24 22:36] brunoqc commented on #439
[code]

not sure how to use lldb:
[code]

[2017-01-24 22:37] #432 closed

[2017-01-24 23:02] emilio commented on #439
That only gives you the backtrace of cargo, could you check with `gdb --args /home/bbigras/bindgen-sigsegv/bindgen-sigsegv/target/debug/build/bindgen-sigsegv-3d591becf77542af/build-script-build` instead? That would help track it down.

Thanks for reporting this! :)

[2017-01-24 23:03] emilio commented on #433
Fixed by #436

[2017-01-24 23:03] #433 closed

[2017-01-24 23:05] brunoqc commented on #439
[code]

[2017-01-24 23:16] emilio commented on #424
An option for disabling deriving debug landed today, disabling test generation should be straight forward.

[2017-01-24 23:45] highfive commented on #424
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-24 23:45] fitzgen commented on #424
A good first bug even!

[2017-01-25 00:57] #430 closed

[2017-01-25 02:09] Yamakaky commented on #439
Could you compile bindgen on debug ?

[2017-01-25 03:20] Yamakaky opened #440 "Generate placeholder for .h implementation"
Use case: implement in Rust the functions defined in a .h. Currently I use bindgen + manual modifications (no_mangle, unimplemented!()).

[2017-01-25 11:12] emilio commented on #440
You mean to generate a `.h` file from a rust file, right?

[2017-01-25 11:13] emilio commented on #440
Ohh, ok, the other way around, I see

[2017-01-25 11:14] emilio commented on #440
I think this should be sort of trivial once we have #429. We'd only have to change the code generation for functions after that.

[2017-01-25 11:23] emilio commented on #439
That's seemed like a debug build (it's under `target/debug`).

That's I think the less useful backtrace I've ever seen, heh. Thanks for providing it though, much appreciated.

It seems this is not a bindgen problem per se, the `_r_debug` symbol seems to come from glibc (https://fossies.org/dox/glibc-2.24/dl-debug_8c.html#a21f3d9a72cb7e0ce2f3bdfb3f55bedef).

I think that this may be a libclang.so p

[2017-01-25 13:26] Yamakaky commented on #440
Example of generated output: https://github.com/Yamakaky/cinder/blob/master/src/vulkan_h.rs#L2875-L2879

[2017-01-25 19:27] rillian opened #442 "PhantomData is not foreign-function safe"
On my system (Fedora Linux 25)  bindgen generates a `PhantomData`-based union representation for `fpos_t` from stdio. Rustc (1.14 or 1.15) complains about this:
[code]
Here's a reduced example:
[code]

It would be good if the generated code compiled without warnings.

[2017-01-25 20:39] brunoqc commented on #242
I have a similar problem:
[code]

bindgen: 0.20.2
rustc 1.16.0-nightly (83c2d9523 2017-01-24)
clang/llvm: 3.9.1
Ubuntu 16.04.1 LTS (64-bit)

[2017-01-25 20:42] emilio commented on #442
That is (unfortunately) known, see https://github.com/rust-lang/rust/issues/34798. This is a lint problem though.

This goes away in nightly rust if you use native unions, of course, but until that's fixed... We could only alter our union representation to use setters/getters instead of fields, but I implemented the current solution because people complained that getters/setters were too annoying

[2017-01-25 20:43] emilio commented on #442
Also, we cannot workaround this warnings for things like:

[code]

[2017-01-25 20:46] emilio commented on #242
This is on 64 bit? Huh, in any case, this is a different issue (a check that exists was broken), may you fill a new issue with the output of `clang -E - -v`?

[2017-01-25 20:52] brunoqc commented on #242
It wasn't a bug after all. I was missing the `clang-3.9` package. I thought `llvm-3.9-dev` and  `libclang-3.9-dev` were enough (I had llvm-config-3.9). It was on 64 bit. Thanks.

[2017-01-25 20:59] rillian commented on #442
Thanks for the follow up. I'm still confused about whether the lint is a real issue or not. If `PhantomData` is just markup for the borrow checker, C shouldn't care that that's zero-sized, and the lint would be incorrect. Or is it actually a safety leak?

So maybe the lint should except this type? Or we could stabilize an `#[allow(non_foreign_function_safe)]` annotation if we know our codegen is s

[2017-01-25 21:30] emilio commented on #442
It's a lint issue as far as I understand it.

Yeah, an exception for the lint is the best thing (I never looked into implementing it, but doesn't sound too difficult). Alternatively, `#[allow(improper_ctypes)]` has been stable for quite a long time :)

[2017-01-25 21:43] emilio commented on #442
I'll try to whitelist PhantomData, and see how it turns like.

[2017-01-25 22:13] brunoqc commented on #439
I didn't have enough memory (I only had 3 GB and some was in use). I'll try on a bigger VM. Unless there's another solution.

[2017-01-26 11:42] emilio commented on #361
This is now fixed, see #402

[2017-01-26 13:23] #62 closed

[2017-01-26 15:40] cjhowe commented on #426
I'm having this issue as well. This seems like it should be very common, since there are a lot of libraries with Doxygen comments. Is there at least a way to turn off the copying of comments? What if I don't need annotations? At the very least, what @jethrogb would at least let me use bindgen. Everything else about the bindings is great!

[2017-01-26 15:51] cjhowe commented on #426
It looks like we need to fix this here, based on the following discussion of these kinds of errors:
https://github.com/rust-lang/rust/issues/2789

[2017-01-26 16:13] emilio commented on #426
I'm landing a workaround in https://github.com/servo/rust-bindgen/pull/444, since I don't have the time to write the proper fix right now. This should allow people to keep using bindgen meanwhile.

[2017-01-26 16:27] emilio commented on #427
Yes, I remember it being specially tricky to handle correctly under some circumstances in C++, that's why I used this approach.

[2017-01-26 16:30] emilio commented on #427
TL;DR: This is how the simplest case looks like:

[code]

That is, first we find the anonymous struct, then we find a typedef declaration that happens to contain a node pointing to that same struct. I guess I could try to handle it somewhat correctly given the definition of the anonymous struct (I expect) points to the inner item, but it's tricky.

[2017-01-26 16:31] emilio commented on #427
I hadn't look into this for a while, actually doesn't look that terrible if what I say above is true, we could try to special-case this. But need to see how more complex cases are handled.

[2017-01-26 19:37] emilio opened #445 "Figure out a more idiomatic way to check if we should generate comments."
in #444 I pretty much wrapped everything in an `if` block, but @fitzgen suggested it may be a better idea to get the potential comment holders the context so they can check themselves.

[2017-01-26 19:55] #429 closed

[2017-01-26 22:39] fitzgen opened #446 "Instantiating a template with a template instantiation (eg Template1<Template2<Type>>) causes us to generate bad bindings"
Input:

[code]

Output with `--enable-cxx-namespaces -- --std=c++11`:

[code]

Compilation errors:

[code]

-----------------

I'm not 100% sure what the best thing to do in this case is, but whatever we do the bindings we emit should compile.

This seems really familiar... I wonder if we regressed something recently?

[2017-01-26 22:52] fitzgen opened #447 "Failing to generate type referenced by a whitelisted type's constructor"
Input:

[code]

Output with `--enable-cxx-namespaces --whitelist-type JSAutoCompartment -- --std=c++11`:

[code]

Compilation errors:

[code]

[2017-01-26 23:01] jdm commented on #424
@andrew-x You might be interested in fixing this (it's a tool that is used to support Servo, rather than directly in Servo proper).

[2017-01-26 23:12] emilio commented on #446
Nope, this isn't as much due to specialization but to us skipping template parameters with empty names.

[2017-01-26 23:12] emilio commented on #446
We could fix that, I guess. In the end of the day those parameters can't be referenced, so we could define them with the name we want.

[2017-01-26 23:13] fitzgen commented on #446
Hmm, so maybe creduce ended up finding a different bug then the one I was tracking down, because I'm hitting something related to this in SpiderMonkey DEBUG (but not non-DEBUG) builds.

[2017-01-26 23:14] fitzgen commented on #446
Yes, generating names sounds good to me: `_bindgen_T_1` etc.

[2017-01-26 23:15] emilio commented on #447
Hmm, well, bindgen knows about the detail namespace, that's good. Do we trace constructors at all right now?

[2017-01-26 23:41] fitzgen commented on #447
We trace all methods, and we don't distinguish constructors from methods except with a `MethodKind`, so I would think we should trace constructors.

[2017-01-27 00:13] fitzgen commented on #447
This is not true, they are actually separated. Patch incoming.

[2017-01-27 00:49] fitzgen opened #450 "Investigate why we see UnresolvedTypeRef in Item's TypeCollector impl"
In https://github.com/servo/rust-bindgen/pull/448 I initially tried to assert that this never happens, but that assert failed horribly on Travis CI. I can't reproduce locally, neither can @emilio. Maybe a clang 3.8 issue?!

[2017-01-27 00:58] #447 closed

[2017-01-27 19:02] emilio opened #453 "We can generate non-whitelisted structs using opaque items"
In #452 I'm removing an assertion that was hitting in stylo, concretely with the `BaseErrorResult` typedef.

This codegen was being called from `CompInfo::codegen` as expected (it's an inner typedef). The above item was clearly whitelisted (it'd have hit before otherwise).

Upon reflection, `ErrorResult` is marked as opaque, so we immediately stop tracing it (never whitelist the inner item).

When

[2017-01-27 19:17] fitzgen commented on #453
If we are going to generate inner types regardless if the parent is opaque or not, then the parent's `TypeCollector` impl should trace inner types (but not everything else, such as fields and methods), regardless whether it is opaque or not.

[2017-01-28 01:10] agrover opened #454 "Better docs or features for intermediate-complexity use cases (nested headers)"
I'm following the instructions for using libbindgen in build.rs, and I'm trying to generate bindings for a c library that uses glib. This example doesn't seem to quite meet my needs because glib headers assume an include path for headers they then include, and adding the subheaders to my wrapper.h I think it thinks `#include <glib-2.0/glib/gmacros.h>` is different from `glib/gmacros.h`. Or anyways

[2017-01-28 01:23] agrover commented on #454
Yay, seems like `.clang_arg("-I").clang_arg("/usr/include/glib-2.0")` is the way. Leaving open to see if devs think any code or doc changes might be desirable in this area.

😃

[2017-01-28 01:26] Yamakaky commented on #454
a `.clang_args([&str])` would be an improvement.

[2017-01-28 14:12] flier opened #455 "Incomplete array generated wrong layout"
As you know, GNU C and C++ supports [Arrays of Length Zero](https://gcc.gnu.org/onlinedocs/gcc/Zero-Length.html) in different syntax. For `int A[]`, LLVM has a [IncompleteArrayType](http://clang.llvm.org/doxygen/classclang_1_1IncompleteArrayType.html#details) where the size is unspecified.

For example, we have two array in a class
[code]
The incomplete array will be generated as a pointer, which

[2017-01-28 14:29] emilio commented on #454
I believe better docs are needed, definitely, and any help on that regard is _really_ appreciated. Currently we have some "documentation" sparse around some issues, but we need to really put it together.

[2017-01-29 05:39] andrew-x commented on #424
Hi @jdm I'd like to take a shot at this. I'll try to set up a development environment first then I'll likely come back with a bunch of questions.

[2017-01-29 08:25] emilio commented on #424
@andrew-x that's awesome! Let us know when you need anything :)

[2017-01-29 10:18] emilio commented on #455
This is fixed now. I'm landing tests for its use in statics here: https://github.com/servo/rust-bindgen/pull/457

[2017-01-29 10:18] emilio commented on #455
Thanks again for fixing this :)

[2017-01-29 10:18] #455 closed

[2017-01-29 12:26] leeopop opened #458 "Copy trait is derived when a struct contains __IncompleteArrayField"
I have this error with generated code.

[code]

While the generated rte_acl_field is
[code]

I think https://github.com/servo/rust-bindgen/commit/a00e8b03da825e13a809234abcace81d6cf59335
affects the result.

I check that 7d995d75e07798c1527d5ea3dd8a647ed79fe209 did not cause problems.
You may refer https://github.com/ANLAB-KAIST/rust-dpdk this repository to reproduce my result or put this usage sc

[2017-01-29 12:47] emilio commented on #458
I added a commit fixing this in https://github.com/servo/rust-bindgen/pull/457, thanks for reporting it :)

[2017-01-30 01:13] jeandudey commented on #439
The solution is very **easy** (i think), when i was working in the [remacs][1] codebase i came up with an issue (Wilfred/remacs#95), this was because the code was using *newtypes*, and in 32 bits they aren't passed correctly between C and Rust code, unlike 64 bits code; Currently `clang-sys` is using *newtypes* as opaque structs declared with the `opaque!` macro.

An example of this is [`CXIndex`]

[2017-01-30 02:22] emilio commented on #439
Oh, of course. That also explains why that didn't happen in the old bindgen before the clang-sys switch.

It's a pity because we're also generating newtypes for bitfield-like enums.

I agree this definitely needs, at least, some documentation (this is such a common pattern that nobody of the reviewers, among which there were rustc people, noticed this).

Ideally we would actually have some compile

[2017-01-30 02:27] emilio commented on #439
Thanks @jeandudey for the comment, this would have required much more time to debug otherwise!

[2017-01-30 04:10] KyleMayes commented on #439
`v0.13.0` of `clang-sys` has just been released with all the newtype pointer wrappers changed to raw pointers.

[2017-01-30 06:05] dengjeffrey commented on #50
I spent a good amount of time looking at this issue and reading up on Rust. Being that this is the first time writing in Rust, I need some assistance to how to proceed. It would be really helpful if you can give me some pointers if I am heading in the right direction @emilio 😄

From the description of this issue, I take it that we only point to --whitelist flags when the call to generate() panics.

[2017-01-30 06:30] daschl commented on #454
@agrover thanks to your clang_arg comment I made my `libcouchbase` binding work as well, otherwise it always did complain about not finding headers even if they were in the same directory as the "main" one. https://github.com/couchbaselabs/couchbase-rs/blob/master/couchbase-sys/build.rs#L33

[2017-01-30 12:16] emilio commented on #439
This also affects all the enums and similar as far as I know though

[2017-01-30 16:18] emilio commented on #50
Are you sure that you need the type of the closure, and not just a `use std::io::Write` import? If that `use` statement doesn't fix it, could you please point me to a branch with your changes so I can try locally and see the error message?

Thanks! :)

[2017-01-30 16:40] dengjeffrey commented on #50
Sure! Here it is, https://github.com/dengjeffrey/rust-bindgen/tree/whitelist-binding-panic

[2017-01-30 16:59] emilio commented on #50
So this is the minimum changeset that makes your changes compile:

[code]

[2017-01-30 17:03] emilio commented on #50
Nontheless, I think the flow ideally would be something like:

[code]

Note that we'd need to polish error handling after this so a few common errors that cause panic don't, but something like it could be a good start.

Somewhat tricky is the `is_valid_rust` check (which doesn't exist right now). If you don't want to write that bit it's fine to land your changes without it, but it wouldn't be diff

[2017-01-30 18:32] emilio opened #460 "Test the `is_invalid_named_type` function."
In #384 I landed a `is_invalid_named_type` function.

We should add tests to ensure it doesn't mess it up, it'd be helpful to have a few unit tests or doctests for it.

An example of such a test would look like:

[code]

[2017-01-30 18:32] highfive commented on #460
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-30 19:51] KyleMayes commented on #439
Oh yeah, forgot about those. R.I.P. type safety. I'll fix that soon.

[2017-01-30 22:18] KyleMayes commented on #439
OK, all type safety has been excised in `v0.14.0`. :disappointed:

[2017-01-30 22:34] emilio commented on #439
@brunoqc do you know if running a bindgen build with clang-sys `v0.14.0` happens to fix the crash?

[2017-01-30 22:35] emilio commented on #439
@KyleMayes thanks for the quick turnaround btw :)

[2017-01-30 23:26] jeandudey commented on #439
@emilio

I tested it and works correctly, also this error needs to be fixed to build correctly:
[code]

[2017-01-31 06:55] dengjeffrey commented on #50
Thanks! I've taken a look into implementing `are_valid_rust`, assuming I walk the AST created by aster I'm not sure if there is some crate I could use to verify that it is rust. I think I'm going to leave that out of the scope of this issue for the time being.

[2017-01-31 06:57] upsuper opened #462 "stylo's build script crashes inside mangling with "(signal: 11, SIGSEGV: invalid memory reference)" on macOS"
See [bug 1335302](https://bugzilla.mozilla.org/show_bug.cgi?id=1335302).

After adding `"--stdlib=libc++", "--target=x86_64-apple-darwin"` to clang args in `build_gecko.rs`, the bindgen does not report any compile error anymore, but it crashes with the stack I pasted in [bug 1335302 comment 3](https://bugzilla.mozilla.org/show_bug.cgi?id=1335302#c3).

I saw #439, and also tested upgrading to clang

[2017-01-31 07:14] upsuper commented on #462
@emilio Could you have a look at this? This is probably not really a bindgen bug... It could be a bug in libclang. I have no idea how can we workaround it.

[2017-01-31 23:20] fitzgen commented on #446
For posterity: I have a fix to generate names for anonymous named types, but this uncovers another extant bug which we are hitting in `tests/headers/issue-358.hpp`. This is going to be a bit more difficult to fix than the names was.

[2017-01-31 23:26] fitzgen commented on #446
Specifically, here is the AST clang gives us:

[code]

Note that `PersistentRooted`'s base specifier has an unexposed type and three(!) children. We need to somehow interpret those three children as the nested specialization `a<PersistentRooted<c>>`. Right now we fall on our face and interpret it as `a<_anon_named_type_0>` where `_anon_named_type_0` is the name we generated for the anonymous named

[2017-01-31 23:57] fitzgen commented on #446
Here is a simpler test case that fails right now, without my patches applied, and doesn't involve either of anonymous named types or inheritance:

[code]

[2017-02-01 00:06] fitzgen commented on #446
I think specializing with any specialization is broken.

[2017-02-01 00:32] upsuper commented on #462
The issue here is that it somehow doesn't treat `__find_exactly_one_checked` as a template, hence the `cursor.is_in_non_fully_specialized_template()` check returns false and consequently we don't correctly skip mangling `__find_exactly_one_checked::__matches`.

`Cursor::is_template`'s documnet is "Is the referent a template specialization?", which probably shouldn't be named `is_template`. I guess

[2017-02-01 00:38] upsuper commented on #462
Actually this issue is reproducible with the following code:
[code]

[2017-02-01 16:58] flier opened #465 "Wrong memory layout when handle virtual inheritance"
Consider the test case in `virtual_inheritance.hpp`, C++ will generate memory layout as
[code]
[code]
`bindgen` will generate memory layout as
[code]
First, both `C` and `B` will be aligned to 16 bytes, it cause `D::bazz` be aligned to 32 bytes rather than 28 bytes.
Second, `A::foo` should be generated and following `D::bazz`.

[2017-02-01 17:34] emilio commented on #465
Yeah, I believe this partially a dupe of #380, though the `foo` thing is of course right.

[2017-02-01 17:37] emilio commented on #462
Thanks for the testcase! I'll find a workaround ASAP.

(For the record, Xidorn debugged it and it's a bug in LLVM, I think he submitted a patch?)

[2017-02-01 18:04] emilio commented on #465
This is clearly a bug btw, and thanks for the report (it's deeply appreciated, as usual :))

[2017-02-01 18:12] flier commented on #465
No problem, I'm working on the alignment issue, [the layout test cases](https://github.com/flier/rust-bindgen/commit/412de3c1a5dcb3127d4ec6ac656c3c76232664d9) failed on it, just disable all the alignment tests when two or more virtual inheritances

[2017-02-01 18:20] emilio commented on #465
That's awesome, thanks for working on that! :)

[2017-02-01 18:27] fitzgen commented on #458
Fixed in #457. Thanks!

[2017-02-01 18:27] #458 closed

[2017-02-01 18:47] fitzgen commented on #446
Interesting, if I modify this test case to have `List<PersistentRooted>`, rather than `List<PersistentRooted<T>>`, then we get a simpler AST out of libclang and end up generating correct Rust bindings.

[2017-02-01 18:50] fitzgen commented on #446
Both of these also work:

[code]

[2017-02-01 23:22] upsuper commented on #462
It is not necessarily a bug in clang. There is no way in clang itself to hit that condition, and it seems libclang doesn't have no-crashing guarantee for invalid input.

I tried hard to write a test for that issue last night, but failed, so I'm not going to submit a patch for it.

[2017-02-02 00:13] fitzgen commented on #446
@emilio do you have any ideas or feedback ^ ?  Thanks!

[2017-02-02 10:20] emilio commented on #446
The problem with checking currently_parsed_stack is that it's likely not enough? I need to digest this, I'll probably come back with more input :P

[2017-02-02 12:05] emilio commented on #381
This should be fixed now, thanks for reporting :)

[2017-02-02 12:05] #381 closed

[2017-02-02 12:27] fusepilot commented on #381
I tried his example just now on 0.20.5 and got the exact same output as he posted before.

[2017-02-02 12:43] emilio commented on #381
Yes, it's not published yet

[2017-02-02 12:43] emilio commented on #381
We need to bump version + new release, but I usually close bugs when they're fixed on master.

[2017-02-02 15:19] #462 closed

[2017-02-02 17:38] fitzgen commented on #446
This isn't partial template specialization, as I understand it. All the templates involved in my test cases are fully specialized, with no free template parameters.

[2017-02-02 18:15] emilio commented on #446
Well, it's partial in the sense that PersistentRooted is incomplete when used as a template parameter in a base class, right?

[2017-02-02 18:15] emilio commented on #446
I believe LLVM would give us proper type info if it was complete at that point.

[2017-02-02 19:48] fitzgen commented on #446
Ah ok, we are each parsing "partial template specialization" differently :)

I have always parsed it as "(partial (template specialization))" and it seems you parse it as "((partial template) specialization)".

I do not know which parsing is correct, although I guess both come up in C++...

[2017-02-02 19:51] fitzgen commented on #446
Anyways, I've been expanding our clang AST dumping, because I am going crazy trying to find what is or isn't available. PR to land this extended dumping soon, but here is what we get for the failing test case here:

[code]

[2017-02-02 21:09] fitzgen commented on #446
(FWIW, https://en.wikipedia.org/wiki/Partial_template_specialization describes "(partial (template specialization))")

[2017-02-02 21:19] fitzgen commented on #446
Really frustrating that libclang is returning `-1` from `clang_Cursor_getNumTemplateArguments()` for all of the template instantiations!

[2017-02-02 21:36] emilio commented on #446
Worth noting that this _only_ happens when there are incomplete types, i.e., the following works fine:

[code]

[2017-02-02 21:37] emilio commented on #446
We can probably try to coerce libclang in returning the proper types though, I think that's going to be the easiest fix.

[2017-02-02 22:26] fitzgen commented on #446
From libclang:

[code]

I'm not super familiar with their code base, but that just seems plain wrong. What about templated class declarations (`CXCursor_ClassDecl`)? Templated type aliases? Both have different `CXCursorKind`s than `CXCursor_FunctionDecl`...

[2017-02-02 23:19] fitzgen commented on #446
Observation: if we are instantiating an incomplete template, then that template **must** be on our currently parsing stack, or else the input would be malformed C++ and clang would give a hard error before we can even attempt to create our ir.

[2017-02-03 00:25] #405 closed

[2017-02-03 18:39] fitzgen commented on #446
Immediate plan of attack:

* Check the stack of things we are currently parsing as a last ditch effort when we don't know what the heck we're looking at in `build_template_wrapper`.

* Because we get template arguemnts in a flat list, rather than properly nested, we need to reconstruct the nesting. I'll attempt to do this via a reverse fold of the template arguments.

Longer term plan of attack:

[2017-02-04 01:00] fitzgen opened #476 "Don't print out builtin macro definitions with --emit-clang-ast"
There are a lot of builtin macros that clutter up our AST dump output, and we never actually care about them.

We should skip printing them in `clang::ast_dump`.

Basically, if `cursor.kind() == CXCursor_MacroDefinition && cursor.location() == "builtin definition"`, then we should skip dumping this cursor's AST.

Happy to mentor whoever picks this up, and clarify further!

[2017-02-04 01:00] highfive commented on #476
Please make a comment here if you intend to work on this issue. Thank you!

[2017-02-04 08:01] Jascha-N opened #478 "bindgen generates empty vtables"
`bindgen` generates empty vtables when cross-compiling for ARM. I have made a reduced test-case, while leaving in the automatically generated Builder settings. `clang` is not able to find the right gcc toolchain so the script manually passes the system include directories (which might be the wrong way to go about?).

`input.hpp`:
[code]

Actual `output.rs`:
[code]

Expected `output.rs`:
[code]

Bu

[2017-02-04 08:54] emilio commented on #478
Yeah, not config-specific.

We generate empty vtables always so far. That's because nobody has stopped to figure out what the correct vtable layout is in complex cases, what is the order for the vtable methods (we need to look in the base class chain for that), etc... MSVC and gcc/clang generate different vtable layouts for method overloads, also, as far as I know.

So we generate a dummy pointer-

[2017-02-05 13:08] Geal opened #481 "parsing vlc headers worked with libbindgen, fails with recently merged bindgen"
Hello,

I used libbindgen a lot during my work on adding some Rust code inside VLC media player, and the recent changes broke header parsing. I extracted a test project to reproduce the issue here: https://github.com/Geal/bindgen-vlc-test

Istead of generating the `src/stream.rs` file with a few definitions (cf https://github.com/Geal/bindgen-vlc-test/blob/master/build.rs ), it generates the follo

[2017-02-05 14:02] emilio commented on #481
Hmm.. So that's a clang error, do you happen to know under what version it worked? Seems like some header includes may be missing?

[2017-02-05 14:12] Geal commented on #481
it worked with libbindgen 0.17.0. Commit: https://github.com/servo/rust-bindgen#8013e0c7bc28e0883363649c94360b4878d1d742

I don't think it's missing headers, it's apparently complaining about a missing block_t at https://github.com/Geal/bindgen-vlc-test/blob/master/include/vlc_block.h#L101 while it is defined just after in the same file: https://github.com/Geal/bindgen-vlc-test/blob/master/include

[2017-02-05 15:53] emilio commented on #481
Well, I commented about the missing headers because of the "unknown type name uintxx_t. I'll try to take a look today, thanks for reporting it! :)

[2017-02-05 15:55] emilio commented on #481
Hmm... From taking a quick look at that header, is it valid? I mean, in C you can't use a type before it's defined, so... Anyway, digging now.

[2017-02-05 15:57] emilio commented on #481
I _believe_ it worked because it was including the system vlc_block.h? Otherwise I don't know where those macros come from (`VLC_API`, etc.). They're indeed not defined anywhere.

[2017-02-05 16:06] emilio commented on #481
I'm assuming the whole thing is https://github.com/Geal/vlc_module.rs, I've been able to reproduce there.

[2017-02-05 16:21] emilio commented on #481
I've been able to reproduce the error, but the build isn't working either with that bindgen revision.

Mainly, what happens is that `vlc_block.h`, etc don't include `vlc_common.h`, so when parsing those files standalone clang complains.

This patch makes the binding generation succeed:

[code]

[2017-02-05 16:23] emilio commented on #481
After that patch, the rustc errors with some stuff that aren't bindgen's business I think:

[code]

[2017-02-05 16:24] emilio commented on #481
Note that I built with my system VLC headers and a dummy VLC version, I don't know what version of the VLC API is that build script targeting. This is the command that I used:

[code]

[2017-02-05 17:44] Geal commented on #481
it seems the new bindgen is much less forgiving :)

I'm getting somewhere with your patch, now it's a matter of hiding the necessary types and use raw_line to import them from other generated modules. Or do you know a better solution?

[2017-02-05 19:17] emilio commented on #481
Yeah, that's pretty much the way to go if you want to include the same header from multiple files and not getting duplicated definitions.

Thanks for confirming it works! I'm closing this for now, feel free to report any other issues you have, happy to help :)

[2017-02-05 19:17] #481 closed

[2017-02-05 21:16] emilio opened #482 "Incorrect item parenthood while referencing incomplete types without a previous declaration."
Noticed while reviewing #468, the following code:

[code]

Makes bindgen believe that `cmdline_token_ops` is defined _inside_ `cmdline_token_hdr`. The reason is that clang inserts a `RecorDecl` cursor before the field declaration, which we parse thinking it is declared as a child.

We should probably treat this as an unresolved type reference, but that has the unexpected side effect of making the

[2017-02-05 21:31] emilio commented on #482
That also works because doing so would regress:

[code]

[2017-02-05 21:49] emilio commented on #482
Well, of course, I'm stupid, and I could just check whether the semantic parent is the current class, I'll write a patch tomorrow, probably.

[2017-02-06 09:38] manuel-rhdt opened #483 "Enums don't match expected behaviour with value mem::zeroed()."
Hello, while generating bindings for harfbuzz I came upon a very strange bug in my code that wrapped one of the generated types into an `Option`. Basically this assertion failed:
[code]
After lots of debugging, I think I found the reason for this obvious misbehaviour. The value I wrapped into the `Option` was returned from one of harfbuzz's functions. However that value contains an C-enum field th

[2017-02-06 10:21] emilio commented on #483
Right, this is known (see stuff like #225, etc.) and there are two ways to workaround it.

The first one is using the `--bitfield-enum` flag, which generates a newtype wrapping an integer and implementing the bitwise or operator, and the other one is the `--constified-enum` flag, which just generates constants.

[2017-02-06 10:28] manuel-rhdt commented on #483
Thank you for your response. This workaround works but has another problem however because it is not possible to match name of the enum using the --bitfield-enum regex expression. The enum in my example above has no direct name, because it is typedef'd as `SomeHarfbuzzFlag`. This means that bindgen will generate an intermediate typename like `_bindgen_ty_1` which is not really predictable for the

[2017-02-06 10:32] emilio commented on #483
Yes, for unnamed enums, since they're effectively toplevel constants, we match against the individual variants too, you could use `--bitfield-enum "FLAG_.*", and that should work :)

[2017-02-06 10:39] manuel-rhdt commented on #483
Thank you again, this does indeed work!

[2017-02-06 10:42] emilio commented on #483
Cool, closing this for now then! This is effectively a lack of documentation problem (we are trying to address that, though time is not infinite, so we do our best :P).

Sorry for the trouble and please file more issues if you find any other trouble getting bindgen to work :)

[2017-02-06 10:42] #483 closed

[2017-02-06 18:21] fitzgen opened #484 "Add `--emit-ir-graphviz=output.dot` to dump a graphviz dot file"
Shouldn't be too hard, and I often wish I had this when trying to debug anything involving resolved type references and the like.

There is a crate: https://github.com/GrahamDennis/dot-rust

Here is an intro to dot: http://graphviz.org/pdf/dotguide.pdf

If we didn't want to bring in an extra dependency, it shouldn't be hard to just write text to a file manually.

We would dump each item's attribut

[2017-02-06 18:22] fitzgen commented on #484
@impowski, maybe you're interested in hacking on this?

[2017-02-06 18:24] fitzgen commented on #484
For posterity, I turned used this command to go from a dot file to a png:

    dot -Tpng graph.dot -o graph.png

[2017-02-06 18:35] emilio commented on #484
This would be quite awesome actually, thanks for thinking about this @fitzgen!

[2017-02-06 18:36] emilio commented on #484
Also this would be an easy way to diagnose which of the perf optimizations I mentioned in #59 would be more beneficial.

[2017-02-06 18:37] fitzgen commented on #484
Looking at the `dot` crate's API, I suspect it might be easier to just write the output file directly without using the `dot` crate.

[2017-02-06 20:16] impowski commented on #484
Wow. It's might be interesting. I guess I'll take it, because I've never done something like this.

[2017-02-06 20:35] emilio commented on #484
We could also feature-gate it, I guess.

[2017-02-06 20:35] emilio commented on #484
That's awesome! I'll mark it as assigned then :)

[2017-02-06 20:55] fitzgen commented on #484
@impowski Great! Let me know if you need any more pointers or if you run into unexpected roadblocks :)

I very much look forward to having such a feature when debugging!! :-D

@emilio:

I think the `dot` crate's API just isn't a good fit for what we will be doing, so I don't think it is even worth that.

[2017-02-06 23:00] fitzgen commented on #446
Ok! Getting a little bit close!

My local branch is now generating too many template instantiations instead of too few! :-P

[code]

[2017-02-06 23:09] emilio commented on #446
Ship it! :D

On Mon, Feb 06, 2017 at 03:00:32PM -0800, Nick Fitzgerald wrote:

[2017-02-07 00:53] upsuper opened #485 "Consider removing the search path fixup in bindgen"
As I mentioned in [#330 (comment)](https://github.com/servo/rust-bindgen/pull/330#discussion_r99242340), I think we should remove the search path fixup.

The reasons are:
* There are many arguments which can affect search path selection. In addition to `--target` (which the fixup detects and disables itself with), `-stdlib`, `-mmacos-version-min`, etc. can also affect search path selection. It mea

[2017-02-07 12:20] emilio commented on #485
It's a shame that the old issues in Yamakaky/rust-bindgen are no longer there. I believe there were some actual legitimate issues, but oh well.

As I said I think this should be optional and opt-out, but I guess we can also make it opt-in, doing a breaking version bump, see if it breaks for a lot of people, and roll it back if it does.

[2017-02-07 12:25] emilio commented on #476
Awesome! Let us know if you need any help!

[2017-02-07 18:22] Jascha-N opened #488 "bindgen generates calls to `::std::mem::uninitialized()` when `use_core` is used"
These should be replaced with calls to `::core::mem::uninitialized()`.

Offending line: https://github.com/servo/rust-bindgen/blob/f5394b34d6140ec5da2e2e5bce0415e1929724bc/src/codegen/mod.rs#L1598. There seem to be a few more hardcoded uses of `::std` in this file.

[2017-02-07 23:10] gsingh93 commented on #41
I'm a bit surprised bindgen can't handle this:
[code]
Is this expected?

[2017-02-07 23:28] fitzgen commented on #41
@gsingh93

We can't invoke the C++ compiler to generate new instantiations of templates, so I don't think we even try to keep track of them currently.

Perhaps we could track explicit instantiations of template functions (14.7.2 in the standard) and make bindings to those.

For example, if given

[code]

We could generate something like:

[code]

But either way, we can't create new template instan

[2017-02-07 23:35] fitzgen opened #492 "Generate bindings to explicitly instantiated function templates"
We can't invoke the C++ compiler to generate new instantiations of templates, so I don't think we even try to keep track of them currently.

However, we could track explicit instantiations of template functions (14.7.2 in the standard) and make bindings to those.

For example, if given

[code]

We could generate something like:

[code]

But either way, we can't create new template instantiations,

[2017-02-07 23:35] fitzgen commented on #41
Filed https://github.com/servo/rust-bindgen/issues/492 for tracking explicit instantiations of template functions and generating bindings for them.

[2017-02-07 23:41] dignifiedquire opened #493 "build fails with (signal: 11, SIGSEGV: invalid memory reference)"
I'v been trying to generate headers for this project: https://github.com/chadnickbok/librtcdcpp but after multiple attempts been stopped by this error:

[code]

You can find the code I am using in https://github.com/dignifiedquire/librtcd.rs

Any idea what could be causing this? (Sorry if I am missing something obvious my C++ knowledge is pretty limited)

[2017-02-08 01:34] jeandudey commented on #493
Are you on *32 bits*? if the answer is yes please see [this][1]

[1]: https://github.com/servo/rust-bindgen/issues/439

[2017-02-08 07:31] dignifiedquire commented on #493
no, I am on 64bit macOS

[2017-02-08 09:49] emilio commented on #493
Which version of bindgen is this using? Does it reproduce with latest master? We worked around a libclang crash related to unspecialized c++ templates that showed up in OSX's stdlib recently (see #462 and #466).

[2017-02-08 09:50] emilio commented on #493
Sounds likely this is the same, because I haven't been able to repro on linux. If it isn't I'd need you to get a backtrace or something to try to figure out what is this :)

[2017-02-08 09:51] dignifiedquire commented on #493
Trying some things out right now. The original error seems to be related to me not using the correct clang version. But even after the switch things are not doing what they are supposed to do.

[2017-02-08 09:54] dignifiedquire commented on #493
Running on rust stable (1.14) with bindgen@0.21.2:

[code]

Running on rust stable (1.14) with bindgen@master:

[code]

[2017-02-08 10:04] emilio commented on #493
Well, this is due to recent changes to support padding in struct layout, cc @flier.

can you attach the log resulting from running with `RUST_LOG=bindgen`, that will help to get a relatively reduced testcase.

[2017-02-08 10:13] dignifiedquire commented on #493
I'm not sure what I'm doing wrong, but there doesn't seem to be any additional output when running with rust_log

[code]

[2017-02-08 10:16] emilio commented on #493
Huh, I guess you need to run the script itself (`RUST_LOG=bindgen /Users/dignifiedquire/opensource/webrtc/librtcd.rs/target/debug/build/librtcd-7e187874fd9e785f/build-script-build`)? I'd expect that to work.

[2017-02-08 10:25] dignifiedquire commented on #493
This doesn't look particularly useful either

[code]

[2017-02-08 10:31] emilio commented on #493
Gah, likely to need whatever env vars your build script uses, maybe `OUT_DIR`.

I can't take a look right now, will do when I have the time.

[2017-02-08 10:35] dignifiedquire commented on #493
When passing all the env variables, it runs but still no log output:

[code]

will see if I can find the reason why `RUST_LOG` doesn't like me

[2017-02-08 10:36] emilio commented on #493
That's still panicking when not finding an env var though.

[2017-02-08 10:51] dignifiedquire commented on #493
Wrong copy, paste

[code]

[2017-02-08 10:55] #50 closed

[2017-02-08 11:24] flier commented on #493
For the `struct_layout::StructLayoutTracker::padding_bytes` crash, seem caused by an empty layout without align value
[code]
I will submit a patch to avoid it soon.

On the other hand, when I try to reproduce it, I got a lot of error like
[code]
I'm not sure whether it is cause the wrong layout

[2017-02-08 11:33] dignifiedquire commented on #493
@flier I can reproduce this, but only when using bindgen@0.21.2 with rust-nightly

log: https://gist.github.com/dignifiedquire/cb97915e83c52361c7b5de6e9e7cc5d7

[2017-02-08 11:46] emilio commented on #493
The solution here is just avoiding the division by zero, should be a one line patch.

[2017-02-08 12:03] flier commented on #493
@dignifiedquire which rust-nightly version you are using?

[code]

[2017-02-08 12:05] dignifiedquire commented on #493
[code]

[2017-02-08 13:53] dignifiedquire commented on #493
@flier you pr doesn't appear fix it https://github.com/servo/rust-bindgen/pull/494#issuecomment-278331068

[2017-02-08 15:13] flier commented on #493
@emilio seems [an invalid enum decl](https://github.com/servo/rust-bindgen/pull/495/files#diff-27d4241a23f81809a72f54b6f3859fbfR31) cause the empty layout.

[2017-02-08 15:57] pornel opened #496 "Clang version is hardcoded in Cargo.toml"
I'm getting errors such as

because I have clang 3.5 (and unfortunately I can't upgrade it on that machine).

I'm not sure how can I use bindgen with an older version, given that it seems to be hardcoded to use 3.9:

https://github.com/servo/rust-bindgen/blob/8264afa875d686688680123859f8820e19c8028c/Cargo.toml#L42

[2017-02-08 16:05] emilio commented on #496
The clang version is not hardcoded. What is hardcoded is the API we use, but we load libclang dynamically, so we do our best. For C I believe libclang 3.6+ would be enough. I'd need to look at the libclang 3.5 docs and see which functions we use can be worked around (for an example of a workaround you can see isFunctionInlined, which we only use if available:

[code]

[2017-02-08 16:05] emilio commented on #496
I'm not sure I can compromise myself to support clang 3.5, but I'd be happy to accept patches working around those.

[2017-02-08 16:08] emilio commented on #496
Quite curiously, the is_anonymous field is now unused (it was used a while ago) and can be removed, saving that function call.

[2017-02-08 16:12] emilio commented on #496
I've opened #497 to fix this specific thing, but I can't promise to get rid of all the codepaths that reach to 3.5+ functions.

[2017-02-08 16:19] emilio commented on #496
After that is landed, feel free to report more issues, I'm happy to try to find worarounds as long as they're easy and self-contained enough.

[2017-02-08 16:22] #488 closed

[2017-02-08 16:31] emilio commented on #488
Thanks for reporting this!

[2017-02-08 16:45] pornel commented on #496
It seem like Cursor APIs don't exist in 3.5, and `CompInfo` depends on it heavily, so it may not be possible to run on clang 3.5 at all :(

[2017-02-08 17:08] fitzgen commented on #492
Perhaps `foo1`, `foo2`, ... would be better than trying to mangle the template argument type name into the symbol. As the author of a C++ symbol demangling library, I can attest that mangling is more complicated than it seems at first blush.

[2017-02-08 22:03] Manishearth opened #499 "Kill serde_json dependency"
bindgen currently pulls in serde_json (and with it a whole host of dependencies). The only reason we do this is because `target_build_utils` (a dependency of `libloading`) has a mode where you can give it a path to a json target spec.

It would be nice if this mode was made optional [using cargo features, specifically an on-by-default feature](http://doc.crates.io/manifest.html#the-features-sectio

[2017-02-08 22:03] highfive commented on #499
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-09 01:20] #496 closed

[2017-02-09 09:56] faineance commented on #409
@highfive: assign me!

[2017-02-09 09:56] highfive commented on #409
Hey @faineance! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-09 13:41] mdevlamynck commented on #499
I can take this. I have wrote a patch for target_build_utils (I'll soon create the PR for it). But I'm not sure how to reflect this change in rust-bindgen though. We would need to also update libloading (to use the no-default-feature flag) right ?

[2017-02-09 13:51] emilio commented on #499
Yes, or to adda feature in the same fashion, depending on whether
libloading uses it or not.

On Thu, Feb 09, 2017 at 05:41:16AM -0800, Matthias Devlamynck wrote:

[2017-02-09 14:10] mdevlamynck commented on #499
Ok, thx. I'll get working on the PRs for target_build_utils and libloading then.

[2017-02-09 14:17] nagisa commented on #499
If there's any PRs I'll look at them on a weekend.

On Feb 9, 2017 4:10 PM, "Matthias Devlamynck" <notifications@github.com>
wrote:

[2017-02-09 23:32] upsuper opened #502 "bindgen crashes in mangling code on windows"
It is crashing now... I'll try to find out the reason and update in the issue after other parts of the build finishes.

[2017-02-10 00:46] upsuper commented on #502
Code triggers this:
[code]

It only happens when Windows target is specified, which is probably why other people doesn't meet it even that this is part of m-c code.

[2017-02-10 00:47] upsuper commented on #502
But in theory this shouldn't happen, because we should have already exclude templates from generating mangling name... which indicates that the code there is still imperfect.

[2017-02-10 05:36] #409 closed

[2017-02-10 11:46] nox commented on #499
Note that such a PR on target_build_utils would be a breaking change, and thus we will also need a correspond libloading bump.

[2017-02-10 13:55] #482 closed

[2017-02-10 17:35] nox commented on #499
@Manishearth Even as a default feature, someone could be depending on it with `default-features = false`.

[2017-02-10 18:04] nagisa commented on #499
I generally find it weird somebody would rather get rid of a dependency than just support people who use custom target specs.

That being said, there’s a nifty feature in nightly cargo which exposes the necessary data through environment variables, so eventually I’ll be able to both drop the dependency and keep the support for custom target specs.

In the meantime, knock yourselves out with the 0.

[2017-02-10 18:14] Manishearth commented on #499
Thanks!

[2017-02-10 18:25] fitzgen commented on #446
Going to close this for fixing instantiations. Will open new issues for figuring out how to handle unnamed type parameters, and aliases that don't use their template parameters.

[2017-02-10 18:25] #446 closed

[2017-02-10 18:26] fitzgen commented on #460
Fixed in cedadf9

[2017-02-10 18:26] #460 closed

[2017-02-10 18:39] fitzgen opened #505 "Generating invalid code for aliases that do not use their template parameters"
Simplest test case:

[code]

Generates:

[code]

Which `rustc` rejects with:

[code]

[2017-02-11 12:51] medium-endian commented on #442
I am having this exact issue. Are the structs I am passing to C still represented correctly? The C library I am working with behaves differently when I call call it with Rust and C. Could there be a representation issue?

[2017-02-11 13:04] emilio commented on #442
Yes, we generate assertions so that the types and offsets are correct. With template parameters it's a bit harder, but it's not a problem of `PhantomData` per se.

BTW, I landed [a PR](https://github.com/rust-lang/rust/pull/39462) in rust to avoid the warning.

I'm happy to take a look at the code if you hand me a link to see what can be going wrong :)

[2017-02-11 13:19] medium-endian commented on #442
PR: awesome ;)

My code is at:
https://github.com/medium-endian/crisp/tree/master/rusp

Library works fine when using C (same repo) https://github.com/medium-endian/crisp/blob/master/cisp/parsing.c

parsing.c and main.rs should do the same thing :)

[2017-02-11 14:14] emilio commented on #442
Your code acts wrong because you made a typo, but the bindings work correctly.

This code:

[code]

Should read:

[code]

With that both do the same :)

[2017-02-11 14:16] emilio commented on #442
Also, probably you want to know that you can use `b"<stdin>\0".as_ptr() as *const _` instead of calling `CString::new("<stdin>")` all the time :)

[2017-02-11 15:28] medium-endian commented on #442
Oh my, thank you so much. Sorry for accusing the bindings!

[2017-02-11 19:06] fitzgen opened #506 "Generate `PhantomData<UnsafeCell<T>>` to make generic FFI structs lifetime invariant"
Talked with @aturon about this yesterday. This change is needed to make our generated structs invariant, since we can't understand the real variance of the C/C++ things' lifetimes.

[2017-02-13 08:21] ryankurte commented on #104
Updating stuff from a previous bindgen / rust version, and also not using cargo to build. Is there a recommended solution for this?
Current approach is `sed -i '' 's/^extern "C" {/#[link(name = "${LIBNAME}")] extern "C" {/' ${FILENAME}`.

[2017-02-13 12:01] emilio commented on #104
@ryankurte I believe the cleanest solution for this is `--raw-line` for now. I don't have the time right now to implement this, but I'm happy to mentor anyone wanting to do so.

[2017-02-13 17:21] sgrif opened #507 "Invalid code generated when a struct contains fields called `type` and `type_`"
Header to reproduce:

[code]

The resulting code will be:

[code]

Which is of course, invalid. It would probably make sense to at least give an error rather than generating invalid code here.

[2017-02-13 18:11] emilio commented on #507
Argh, nasty. Thanks for reporting. We should be able to just mangle the reserved names further if a type has a duplicated name.

[2017-02-13 18:16] emilio commented on #111
I'm looking into this right now since bindgenup in stylo is blocked on this now we check for field offsets.

[2017-02-13 19:41] ryankurte commented on #104
Oh right! Trouble there is that raw line only seems to accept one line, and
I have also had to blacklist and manually replace some types. Might be
cleaner for now just to cat two files together.
Cheers for the response, I will have a nosey into it if I have some time.

On Tue, 14 Feb 2017, 1:01 AM Emilio Cobos Álvarez, <notifications@github.com>
wrote:

[2017-02-13 21:13] bsteinb opened #509 "const array arguments are translated into *mut"
This used to work with `libbindgen` 0.1.7. Tried it again tonight, now it does not.

C header:
[code]

I run:
[code]

I expect:
[code]

I get:
[code]

Debug log:
[code]

[2017-02-13 21:42] fitzgen commented on #509
Thanks for the bug report!

[2017-02-13 22:34] bsteinb opened #511 "pointer constness is applied to pointee"
C header:
[code]

I run:
[code]

I expect:
[code]

I get (`c` is `*const` instead of `*mut`):
[code]

Debug log:
[code]

[2017-02-13 22:38] fitzgen commented on #511
Thanks for the bug report!

[2017-02-14 00:43] emilio commented on #511
Note to whoever tackles this (including potentially myself): The fix for this seems straight-forward but isn't (removing `self.is_const() ||` from [this line](https://github.com/servo/rust-bindgen/blob/c8f1855e31475876faa7f481a8b0ec606f4ed3dc/src/codegen/mod.rs#L2266) should in theory do it).

The reason why it's not so trivial is that we lose constness info when finding an already resolved type,

[2017-02-14 02:13] mattmacy commented on #426
Same issue when building FAST
mmacy@DuhBuntu [~/devel/ruFAST|18:11|146] cargo build
   Compiling ruFAST v0.1.0 (file:///storage/mmacy/devel/ruFAST)
error: expected outer doc comment
     --> /storage/mmacy/devel/ruFAST/target/debug/build/ruFAST-d825d3ad93645a05/out/bindings.rs:41738:1
      |
41738 |   /*! \brief Class interface for cl_mem.
      |  _^ starting here...
41739 | |  *
41740 | |  *  \

[2017-02-14 02:53] mattmacy opened #514 "inexplicable errors trying to bind FAST"
I have a simple builder in the following project.
https://github.com/mattmacy/ruFAST

for starters I'm just generating wrappers for the following two headers:
#include <FAST/Importers/ImageFileImporter.hpp>
#include <FAST/Algorithms/ImageResampler/ImageResampler.hpp>

These include a tremendous amount of stuff including Eigen/Dense which seems to cause an awful lot of build errors.
See the followi

[2017-02-14 04:16] mattmacy commented on #514
If I just include Eigen/Core (FAST includes Eigen/Dense which in turn include Eigen/Core) I get fewer errors:
http://pasted.co/286422b0

diff --git a/src/wrapper.hpp b/src/wrapper.hpp
index 2b037e7..5b538ba 100644
--- a/src/wrapper.hpp
+++ b/src/wrapper.hpp
@@ -1,2 +1,3 @@
-#include <FAST/Importers/ImageFileImporter.hpp>
-#include <FAST/Algorithms/ImageResampler/ImageResampler.hpp>
+#include <Eige

[2017-02-14 04:36] #509 closed

[2017-02-14 04:36] mattmacy commented on #514
It doesn't look like bindgen properly mangles struct scoped typedefs.

The apt packages that llvm supposedly builds for Ubuntu / Debian don't actually so I used the pre-built binaries and put them in ~/.bin/llvm-3.9 char_type appears to be repeatedly redefined in different contexts and scoped to individual structs, e.g. include/c++/v1/string:504:
// char_traits

template <class _CharT>
struct _LIB

[2017-02-14 14:01] emilio commented on #514
Well, I wouldn't call these "inexplicable". C++ is a complex language, and overall when complex templates come into place, bindgen can't understand absolutely everything.

The way to go when doing bindings to C++ is using the whitelisting APIs to generate what you need. If you need one of the things bindgen can't generate correct code for, the way to go is using the blacklisting APIs, and add cust

[2017-02-14 18:56] jdm commented on #424
@andrew-x Have you made any progress here? Any questions so far?

[2017-02-14 19:44] mattmacy commented on #514
I missed the "have to" whitelist bit. I'd have to disable recursive white listing because it uses strings, so easier to just write a C wrapper lib for the bits I need and bind that. Thanks.

[2017-02-14 19:44] #514 closed

[2017-02-15 11:44] pornel commented on #427
This is a *huge* problem for me. In C the `typedef struct` pattern is very very common. There are C libraries which don't even use named structs, and rely on the typedef pattern exclusively. This means that all generated code is hard to understand gibberish of `_bindgen_ty_35`.

[2017-02-15 11:49] pornel commented on #427
I've tried to implement this, but there are too many things called `Item` and `Kind` for me to follow :)

Given this header:
[code]

In bindgen items there is an item `Item { id: ItemId(3) … kind: Type(Type { name: Some("struct TYPEDEFED_NAME")`, but I don't know how to get to that field when generating `canonical_name`.

[2017-02-15 12:52] emilio commented on #427
So the way to implement this is not in the code generation phase, but on the type parsing phase. Concretely, in the `CXType_Record` branch in `src/ir/ty.rs`, you'd do something  check whether the current cursor `spelling` is empty.

If so, you'd have to walk to its next sibling (this would be hacky, but you'd have to re-visit the cursors I think), and see if the exact next cursor is a `CXCursor_Ty

[2017-02-15 12:56] emilio commented on #427
That is to say, you don't want to look at the `Item`s, you need to do this work _while_ constructing this work looking at the clang AST. you can look at the clang ast with `bindgen --emit-clang-ast foo.h`.

[2017-02-15 15:20] pornel commented on #427
In `from_clang_ty`, `CXType_Record`'s spelling *is* the name of the typedef. It looks like `CompInfo::from_ty` isn't even trying to save it.

[2017-02-15 19:12] #439 closed

[2017-02-15 23:03] emilio opened #519 "Re-introduce bitfield accessors."
The refactor at #512 is dropping them intentionally since the way bitfields were handled was so broken.

They need to be re-implemented, it's not exceptionally hard, but it's a bit of work.

[2017-02-15 23:04] emilio commented on #519
Presumably, given we now have the exact field offsets from clang, it's easier and more bulletproof to just use the raw bit offset.

[2017-02-15 23:16] emilio commented on #519
Please comment if you want to work on this, happy to mentor it. You can see the code that generated the accessors [here](https://github.com/servo/rust-bindgen/blob/a10457f4553092e8aa65e1f223185acd21c21ead/src/codegen/mod.rs#L782).

This will require some tests in the `bindgen-integration` crate, to ensure that the fields read and written from C++ are set correctly.

[2017-02-15 23:26] emilio commented on #519
@cseale said he was interested in working on this :)

[2017-02-15 23:28] emilio commented on #493
This should be fixed now.

[2017-02-15 23:28] #493 closed

[2017-02-16 00:23] cseale commented on #519
@emilio happy to work on this, just not sure of the requirements

[2017-02-16 01:24] emilio commented on #519
So, mainly, before #512, we had accessors to the C/C++ bitfields from rust (those functions my comment above points to). [This](https://github.com/servo/rust-bindgen/blob/a10457f4553092e8aa65e1f223185acd21c21ead/tests/headers/bitfield_method_mangling.h) is an example of a header with bitfields, and [these](https://github.com/servo/rust-bindgen/blob/a10457f4553092e8aa65e1f223185acd21c21ead/tests/ex

[2017-02-16 04:34] #427 closed

[2017-02-16 05:11] upsuper opened #520 "Bindgen generates unnecessary padding inside nsIDocument on Windows"
On my machine, the generated `nsIDocument` is like this:
[code]

I see no reason why there needs to be a 80byte padding.

This causes a mismatch between offset from C++ and from Rust (`mReferrer`'s offset is 248 in C++ but 328 in Rust), which leads to servo/servo#15483 on Windows.

It seems that this doesn't happen on Mac or Linux, so `--target=x86_64-pc-win32` is probably a necessary condition.

[2017-02-16 05:21] emilio commented on #520
That is fixed in #512, and in https://github.com/servo/servo/pull/15216. That was why the bindgenup has been blocked for so long. Sorry about that.

[2017-02-16 05:23] emilio commented on #520
This was not windows specific, it was a regression from #468, that isn't yet in the rest of platforms (I believe you updated your bindgen checkout in msvc, right?).

[2017-02-16 05:24] upsuper commented on #520
Oh, the same issue? Great... so probably I'm seeing this because I'm using a more recent version of bindgen for the crash.

[2017-02-16 05:25] upsuper commented on #520
Let me try the latest master with your patch in #512.

[2017-02-16 05:58] #111 closed

[2017-02-16 06:01] emilio commented on #520
This should be fixed on master now, feel free to reopen if the problem persists (though I hope not! :P).

[2017-02-16 06:01] #520 closed

[2017-02-16 07:22] emilio commented on #519
Also, don't hesitate on just bailing out on stuff that is hard for now. It's better to have a few easy cases working that having none at all. We could start supporting bitfields that take only one slot of memory and are aligned, for example:

[code]

Then we can build on that.

[2017-02-17 03:28] andrew-x commented on #424
Hey sorry for radio silence. I was able to setup a dev environment (on windows 10) and I am able to successfully build with "cargo build", but when I try "cargo test" I get a bunch of fails.

I am also confused on the module and the issue so had a couple of clarification questions.
- what does bindgen do exactly? what output should I expect? I tried messing about with the files in the /bindgen-int

[2017-02-17 06:32] KiChjang commented on #424
@andrew-x Are you using the nightly version of rustc?

[2017-02-17 12:03] pornel opened #522 "Next release?"
Could you publish the latest bindgen to crates.io?

The recent fixes for older clang would help me a lot deploying Rust without need to replace packages.

[2017-02-17 15:39] fitzgen commented on #522
Sure thing, give me a minute.

[2017-02-17 15:45] fitzgen commented on #522
Looks like @emilio beat me to it :)

0.22.0 is on crates.io!

[2017-02-17 15:45] #522 closed

[2017-02-17 15:47] fitzgen commented on #522
(Also, @emilio we need to remember to tag releases, since it helps people determine new changes, and also helps us figure out whether new releases need to be breaking changes or not -- thanks!)

[2017-02-17 15:52] fitzgen commented on #522
Hrm... I can't seem to push tags to servo/rust-bindgen anymore :-/ Not sure what is going on.

[2017-02-17 17:05] emilio commented on #522
On Fri, Feb 17, 2017 at 07:47:10AM -0800, Nick Fitzgerald wrote:

Whoops, fwiw I _did_ remember to tag when publishing, just pushed to my
own repo instead of upstream, sorry! Just did now.

[2017-02-17 18:59] fitzgen opened #526 "Fix the CI + OSX situation..."
TODO

* [ ] feature gate obj-c support
* [ ] test that obj-c builds under linux, but don't run obj-c related tests (as they require an OSX machine)
* [x] stop running OSX builds on travis CI

[2017-02-17 19:21] cseale commented on #519
@emilio cool, thanks for that. I will give your comments a detailed read and I will start working on something this weekend.

[2017-02-18 14:36] pornel opened #527 "Code for inner struct is not generated"
The commit 7e1b7d98d1da5a449ae18f6f60bac29b9079b9ab broke this code:

### Input C/C++ Header

[code]

(this is from [libvpx](http://www.webmproject.org/docs/webm-sdk/structvpx__codec__cx__pkt.html))

The `inner` struct is not generated, but the reference to it is used, so the Rust code doesn't compile.

  --> foo.rs:11:16
   |
11 |     pub field: s__bindgen_ty_1_inner,
   |                ^^^^^^^^

[2017-02-18 15:50] themasch opened #528 "Old clang version leads to errors which a hard to track down"
I tried to build pq-sys but only had clang-3.7 installed. The result was some weird issues with name mangling resulting in [`#[link_ name(...)]`](https://gist.github.com/anonymous/665c7a87777af7168553a3d59e10bc3a#file-bindings-rs-L2082) lines that contain a wrong(?) name.

After updating to llvm/clang 3.9 it works fine.

Would it make sense to show a warning when running with an old clang?

The cu

[2017-02-18 17:21] sgrif commented on #528
Just to tack onto this, we've been getting a ton of bug reports since we switched to use the recommended method of using `build.rs` to generate the bindings. Here's another example: https://github.com/sgrif/pq-sys/issues/9#issuecomment-280859928

It seems like the main reason for requiring bleeding edge clang is for C++ features. However, most people will not have something that up to date out of

[2017-02-18 17:47] emilio commented on #528
Hmm, this is extremely weird, so the wrong link names are C++-mangled names.

Those are just the names that clang [gives us](https://github.com/servo/rust-bindgen/blob/master/src/ir/function.rs#L102), which seems to be wrong in older versions of libclang?

I don't have a libclang 3.7 installation right now, though I can try to find something to test along the week. If you could test some reduced

[2017-02-18 17:56] emilio commented on #527
Thanks for the report, looking into it.

[2017-02-18 23:51] dflemstr opened #529 "No bindings are being generated for destructors"
This is probably mentioned elsewhere since it is such an obvious thing but I couldn't find a tracking issue for it so I thought I would create one.

### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Actual Results

[code]

### Expected Results

[code]

[2017-02-19 04:50] impowski commented on #201
This one can be closed I guess

[2017-02-19 07:40] #201 closed

[2017-02-19 09:57] emilio commented on #529
Yup, that's known. It shouldn't be too hard. We already keep track of the constructors.

I'd rather not implement `Drop` in bindgen itself, because we can't do it for stuff with, let's say, inlined destructors, so it can be tricky to make it work reliably, and implementing drop you prevent doing other stuff like droping the outer structure via an FFI call or similar.

[2017-02-19 09:58] emilio commented on #529
Anyway, I'm all-in in exposing destructors. Should be easy. I'm happy to do it when I have the time, but if someone wants to jump-in and implement it, I'm happy to mentor it.

[2017-02-19 09:59] emilio commented on #528
I'm landing an option to avoid clang mangling in #532

[2017-02-19 21:32] cseale commented on #519
Hi @emilio. If it's possible, could I get a bit more details on what each of the code samples provided in your above comments are doing? I am super new to rust, so a lot of the syntax is very unfamiliar.

[2017-02-21 16:54] fitzgen opened #534 "Add a phase that removes ResolvedTypeRefs before codegen"
Ever since we got the graphviz visualizations of our IR graph, it has become immediately clear that we have a TON of `ResolvedTypeRef`s all over the place. In fact, 8 out of 15 IR items (more than half!) are `ResolvedTypeRef`s in this example I happen to be looking at:

![using](https://cloud.githubusercontent.com/assets/74571/23174809/6c31bef6-f812-11e6-808d-83cd3bb694a4.png)

A pass over the IR

[2017-02-21 16:58] fitzgen commented on #534
If you want to pick this up, leave a comment and I can assign you :)

[2017-02-21 17:48] samliu commented on #534
Hey Nick! (How are you?!) I've been learning Rust and this looks really interesting. I'd be down to take a stab :)

[2017-02-21 18:33] fitzgen commented on #534
Great! Let me know if you have any questions or anything like that.

I just realized that fully removing `ResolvedTypeRef`s would require modifying `ir::traversal::Trace` to be generic over either `&mut ItemId` edges or just `ItemId`s like it is now. This is a bit more tricky than I anticipated, and so I think we should resign ourselves to flattening `ResolvedTypeRef` chains to a single `ResolvedT

[2017-02-21 19:39] fitzgen commented on #534
(Also, woah! Hey! Didn't read your username very carefully, at first! :-P)

[2017-02-21 23:41] snewt commented on #426
@mattmacy assuming since you're running `cargo build` you've got a `build.rs`. did you set the "skip comment generation" flag there?
`bindgen::builder().generate_comments(false)`

[2017-02-22 01:42] fitzgen opened #536 "Rewrite various ad-hoc analyses to fix-point computations"
This is a meta issue, see sub-issues for actual work items to help out.

-------------------------------------------------

I just spent an embarrassing amount of time debugging a stack overflow (like a dummy, I didn't hit `bt` immediately...) and it was because `has_vtable` got caught in an infinite loop (with my local changes).

All of

* [x] `has_vtable` (https://github.com/servo/rust-bindgen/i

[2017-02-22 01:44] fitzgen commented on #536
For posterity, this is the `detect_whatever_cycle` members.

[2017-02-22 03:37] fitzgen commented on #536
Also, if we do this refactoring such that we calculate these things for all types in a single pass, we can avoid re-walking portions of the IR graph repeatedly, like we do now.

[2017-02-22 04:50] asayers opened #537 "Bindgen can't translate `#pragma pack(n)` into `#[repr(packed = "n")]`"
Given the header

[code]

bindgen generates

[code]

which uses `repr(C)` instead of `repr(packed)`, and therefore has the wrong alignment:

[code]

In fact, bindgen emits a warning to this effect:

[code]

### Details

Steps to reproduce:

[code]

[code]

[2017-02-22 05:33] fitzgen commented on #537
Thanks for the bug report! I'm not super familiar with `#pragma pack` -- is it standard? Or at least widely used? If not, we might want to consider whether implementing support is worth the pay off, and what ongoing maintenance costs might be.

If we did support this, I think we would want to use `#[repr(C, packed)]`, not just `#[repr(C)]`.

[2017-02-22 06:39] asayers commented on #537
`#pragma pack` is understood by [GCC](https://gcc.gnu.org/onlinedocs/gcc-6.3.0/gcc/Structure-Layout-Pragmas.html#Structure-Layout-Pragmas) and [Visual Studio](https://msdn.microsoft.com/en-us/library/2e70t5y1(VS.80).aspx), and I think Borland too. I don't know about clang.

I hope not! Abusing structs for serialisation purposes doesn't seem to be a good idea, and can cause problems. Unfortunately,

[2017-02-22 11:06] emilio commented on #534
I have an issue with this, and is that this would lose the constness information, which we do use for code generation.

[2017-02-22 15:44] fitzgen commented on #534
Crap, I forgot about that. It would be great if we separated the concept of a resolved type reference from a `const <type>`, then we could move forward here.

@samliu interested in this prerequisite groundwork?

[2017-02-22 15:52] emilio commented on #537
I don't think we can even see `#pragma packed` from libclang?

I guess we can try to guess if we see the alignment is 1 and the relevant fields are packed when looking at their offsets, but...

[2017-02-22 16:44] samliu commented on #534
Definitely!

On Feb 22, 2017 7:44 AM, "Nick Fitzgerald" <notifications@github.com> wrote:

[2017-02-23 00:01] emilio commented on #534
As an idea, we probably want to call this something like `QualifiedType`,
and it'd be something like:

[code]

[2017-02-23 00:05] emilio commented on #519
Sorry, I haven't forgotten about this, I've just been ultra-busy with other stuff and haven't found the time to write everything down. I'll hopefully get to write a more detailed description tomorrow.

Meanwhile, you can read on the docs on [transmute](https://doc.rust-lang.org/std/mem/fn.transmute.html), and [pointer.offset](https://doc.rust-lang.org/std/primitive.pointer.html#method.offset). The

[2017-02-23 00:07] cseale commented on #519
no worries, I'm actually up the walls myself on other stuff

[2017-02-23 00:08] fitzgen commented on #534
Yep, exactly what I was imagining!

It will also need to be `Trace`d from the `impl Trace for Type` as well (either directly there, or as a second `Trace` implementation that is called from there).

[2017-02-23 00:09] fitzgen commented on #534
(And there would be a new `TypeKind` variant called `TypeKind::Qualified(QualifiedType)` or something)

[2017-02-23 00:37] emilio commented on #534
Why would that be needed? We only care about qualifiers in top-level types, right?

I.e., `const StructName* foo;` would be a `TypeKind::Pointer(QualifiedType)`, and so on with fields, arrays, etc.

Am I missing something?

[2017-02-23 00:38] emilio commented on #534
With top-level types, I mean in the stuff that holds from `TypeKind`, `Var`, etc.

[2017-02-23 00:40] fitzgen commented on #534
I don't understand the distinction you are trying to make, sorry if I'm being thick...

[2017-02-23 00:48] fitzgen commented on #534
Aha, I see where our imaginations are diverging.

I would imagine `const Structname*` to result in IR like

[code]

[2017-02-23 01:23] emilio commented on #534
Right, I was imagining making `QualifiedType` a thin wrapper on top of an `ItemId`. I think it's worth for a few reasons:

 * First, you don't need all the memory impact of an `Item` to just indicate that a type is `const`.
 * Second, I think the qualifications are orthogonal to the type, so I think having a type being a qualified type is confusing. Also, we'd need to guarantee that a `TypeKind::Q

[2017-02-23 01:29] fitzgen commented on #534
Ok, yeah that sounds well-motivated.

[2017-02-23 06:51] jdm commented on #476
@tsliang Have you made any progress with this?

[2017-02-23 09:51] Dushistov opened #540 "Generate code that not produce style warnings"
After invoking bindgen (0.22) against "jni.h", "android/log.h", "android/bitmap.h" I got bunch of warnings,
like:

and so on, I migrate from Yamakaky/rust-bindgen, which doesn't produce such warnings,
it generate code with warnig suppression,
can it be done in your variant of bindgen in similar way?

[2017-02-23 11:20] emilio commented on #540
Sure you can. You can use `--raw-line` to add the warning suppression yourself, or if you're using a build script an including it you can do something like:

[code]

[2017-02-23 12:47] #527 closed

[2017-02-23 14:37] Dushistov commented on #540
@emilio

Actually no I can not, thanks for `raw_line` point,
I tried this:

[code]

but no `#[allow(non_upper_case_globals)]` at the begining of file :(

[2017-02-23 15:47] emilio commented on #540
Hmm... Are you sure what happens isn't that you need `#![allow(non_upper_case_globals)]` instead? What version of bindgen are you using?

[2017-02-23 15:58] Dushistov commented on #540
I suppose this is not important, because of I just have no such string at the beginning of
generated file. If will have one, I suppose, I quickly  find proper `allow` magic.

As I mentioned in the first message, I use "0.22.0" and buildscript.

[2017-02-23 18:21] Dushistov commented on #540
Looks like some caching issue, now my lines appear in generated file after call `raw_line`

[2017-02-23 18:21] #540 closed

[2017-02-23 22:28] fitzgen commented on #506
To avoid putting `T: 'static` trait bounds on everything, we should actually generate `PhantomData<UnsafeCell<T>>`, which is the easiest way to get an invariant type without lifetimes AFAIK.

[2017-02-24 00:36] emilio commented on #540
Ok, glad to hear it! :)

[2017-02-24 11:10] tsliang commented on #476
@jdm unfortunately not - I've been extremely sick for the last two weeks. I'm going to work on it this weekend.

[2017-02-25 01:57] tmccrmck opened #541 "Unsupported calling convention on i686-pc-windows-msvc"
I was investigating how easy it would be to create bindings for Windows 32-bit with different calling conventions and so I ran the example in the [`./bindgen-integration`](https://github.com/servo/rust-bindgen/tree/master/bindgen-integration) directory.

### System
[code]

### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Actual Results

[code]

### Steps to reproduce
1. Install

[2017-02-25 02:10] tmccrmck commented on #541
OK I wanted to isolate the problem so I could try with `stdcall` and `cdecl` so I removed nearly everything from the header:

[code]

And it compiles with this. But as soon as you try to use `cargo test` you get

[code]

Which just looks like a mangling problem.

[2017-02-25 18:28] emilio commented on #541
I don't have a windows machine to test on, could you inspect the generated library to see which mangled names are being generated?

[2017-02-26 19:19] tsliang commented on #476
@jdm @fitzgen

I'm implementing the skip inside the `print_cursor` subfunction within `ast_dump` (is this the right place for it btw?). How would you recommend checking whether a cursor is a builtin definition? `SourceLocation::Display` outputs the literal "builtin definitions," but is there a way to determine a builtin definition that doesn't rely on checking a string literal?

[2017-02-26 22:32] lilianmoraru commented on #511
I ported some code and was checking with `bindgen` if it produced the same result, and I hit the same issue.
Here is another code example:
[code]
the code I wrote looks like this:
[code]
`bindgen` code:
[code]

Note that in both cases(`a` and `b`) only the address is immutable.

[2017-02-27 10:20] emilio commented on #511
Yeah, there's more ongoing discussion to fix this in #534.

[2017-02-27 10:23] emilio commented on #476
Hi @tsliang!

First of all, hope you're better now :)

See the `fn filter_builtins` in `src/lib.rs` for an example of how we filter builtins during parsing. It'd be ideal to share code for both.

Thanks for working on this! :)

[2017-02-27 22:51] myfreeweb commented on #528
Just encountered the same issue because 3.7 is the default clang on FreeBSD 11.0. I have all versions up to and including 4.0 installed though (as `clang39`, `clang40` etc.) Is there any way bindgen could pick up the additionally installed clangs?

[2017-02-28 00:01] emilio commented on #528
You should be able to use the `LIBCLANG_PATH` in order to be able to select the one that you want.

[2017-02-28 00:33] fitzgen opened #546 "The rustfmt CI assertions are broken"
and CI is not asserting that things are `rustfmt`ed properly.

We need to add

[code]

after installing `rustfmt`, but there is a bug in `rustfmt` that will prevent this assertion from ever passing right now: https://github.com/rust-lang-nursery/rustfmt/issues/1344

Note that the script is just letting everything through right now, so we don't need to change our CI script until after that rustfmt

[2017-02-28 04:57] mattmacy commented on #426
@snewt yes, I got past that point by doing so

[2017-02-28 20:49] Dushistov opened #547 "ignored __stdcall"
This simplified example to demonstrate error, that cause random crashes,
in jni dll (windows 7 32bit) written on rust. The cause is silent replace of `__stdcall` calling conversation
with `__cdecl` calling conversation:

### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Actual Results

[code]
### Expected Results

[code]

[2017-02-28 22:18] fitzgen opened #548 "Add ability to dump equivalent commandline flags from builder"
This would be really useful for being able to reproduce (and then minimize with creduce) bindgen failures inside build.rs.

I find myself doing a hacky job of this manually with stylo right now.

[2017-02-28 22:19] fitzgen commented on #548
I can mentor an ambitious contributor who might want to take this on. Leave a comment if that is you.

[2017-02-28 22:55] emilio commented on #547
Huh, we should keep track of that, thanks for the report.

[2017-02-28 23:22] emilio commented on #547
So, fun part is I can't reproduce because I don't have a windows machine. That being said, I can probably find something or coerce libclang to show it.

Meanwhile, if you could do the following for me, it'd be super-helpful:

 * Run bindgen with:

[code]

 * Run your example with `--emit-clang-ast`.
 * Run your example with `RUST_LOG=bindgen`

And post the results here, it'd be great :)

Thanks in

[2017-03-01 00:47] emilio commented on #547
See https://github.com/servo/rust-bindgen/pull/549, this is arguably a libclang bug :(. That patch works around the issue and should work.

Thanks for reporting!

[2017-03-01 04:27] Dushistov commented on #547
here result of

[code]

[2017-03-01 04:32] Dushistov commented on #547
I used virtual box image, that provide Microsoft for free:

https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

note, that by default bindgen emit code with `derive(Debug)`, but this is actually not works
for stdcall fn pointers: see [my rustc bug report](https://github.com/rust-lang/rust/issues/40158)

[2017-03-01 08:11] emilio commented on #547
for stdcall fn pointers.

😞

I'll have to add an explicit path for that I guess. Sigh. Does `derive(Copy)` work?

[2017-03-01 09:44] Dushistov commented on #547
For note: this is Sun/Oracle guys fault, to use `__stdcall` for JNI interface for Java, not my.

Yes

[2017-03-01 13:14] emilio commented on #547
Oh, sure, sorry if I made you think this was somehow your fault. It's just quite disappointing to see this intersection between libclang and rustc bugs that makes bindgen even more complicated than what it is :(

[2017-03-01 13:23] emilio commented on #547
Actually reading that bug and the rust source seems even funnier. Since there's a hard-coded limit in the number of arguments they implement these traits for, that means that bindgen will not produce compilable code for stuff like:

[code]

[2017-03-01 13:58] emilio commented on #547
I added a fix for that too at #549.

[2017-03-01 18:33] tov opened #550 "Fails its own generated test for struct containing `long double`"
### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

This is with both bindgen 0.22 and HEAD, on both of these:

 - Linux stewie 4.4.0-57-generic #78-Ubuntu SMP Fri Dec 9 23:50:32 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
 - Darwin sublevel 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22 22:53:21 PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64

### Actual Results

[code]

The generat

[2017-03-01 18:47] emilio commented on #550
Yeah, this is known. We don't have any way of generating larger floats in rust though, so I don't know what could we do here :(. The test seems to be doing its job.

The padding in #468 was there, though incorrectly (and the code that generated the padding caused a few other bugs). I cleaned that up in #512.

We could generate `[u64; 2]` or something similar for `long double` if we detect it's mor

[2017-03-01 18:51] tov commented on #550
I suppose the test is doing its job, yes :) But because Clang’s `<stddef.h>` has a struct with a `long double`, it makes any header that includes `<stddef.h>` fail the generated tests.

I think that `[u64; 2]` would be a more appropriate translation of `long double`, or even better, `[u8; sizeof(long double)]`. Though for my purposes, being able to suppress the tests is just as good.

[2017-03-01 19:13] emilio commented on #550
Note that you should be able to just do `--blacklist-type max_align_t` (or the equivalent with the builder API) to do that.

[2017-03-01 22:24] tov commented on #550
Oh, that should work. Thanks!

[2017-03-02 15:41] basic-bgnr commented on #548
@fitzgen I volunteer. What's next ?

[2017-03-02 16:58] fitzgen commented on #548
@basic-bgnr great!

In `src/lib.rs` there is the `Builder` struct, which provides a programmatic API for configuring bindings generation. The other API is the command line API. When debugging bindgen behavior with `creduce`, it is often easier to use the command line API. So, it would be great to have a `Builder::command_line_flags()` method that returned a `Vec<String>` representing the equivalen

[2017-03-02 21:28] tsliang commented on #476
@emilio thanks for the kind words! I am indeed feeling better :)

Thanks for the tip about `fn filter_builtins`. I like the idea of sharing this logic, but `filter_builtins` requires a `BindgenContext` as a parameter. How important is the call to `ctx.options().builtins` in determining whether a cursor is a builtin definition?

[2017-03-02 23:10] Dushistov commented on #547
Thanks, I tested on windows 7 (32 bit), and at now my project(https://github.com/Dushistov/rust_swig) works on windows without problems, at least all tests passed.

[2017-03-02 23:10] #547 closed

[2017-03-02 23:12] emilio commented on #476
Glad to hear that! :)

The context parameter is not important to determine whether it's builtin, that is only used to determine whether to generate builtins, so you can remove that argument, and handle it in the caller.

That way, the current:

[code]

would become something like:

[code]

Where `cursor.is_builtin` is the function you need to write and that holds that logic that is actually in `fi

[2017-03-02 23:27] Dushistov opened #551 "Wrong layout for empty struct in C mode"
### Input C/C++ Header

[code]
[code]

### Actual Results

`cargo test` report failure:

[code]

### Expected Results

generated tests should all be green

**Note**

In the real example (not reduced one as above) `cargo test` failed in another place,
here real example (with resolved `typedef`s) from windows variant of java sdk:

[code]

[2017-03-03 02:05] basic-bgnr commented on #548
@fitzgen OK great, I'll get to it shortly.

[2017-03-03 02:29] emilio commented on #551
Oh, interesting, so this is one of these C vs. C++ semantics I guess:

The same:

[code]

[code]

That different `1` or `0` is what clang tells us the size of that struct is.

So it seems in C++ all structs are addressable, but not in C.

[code]

[code]

Bindgen is usually agnostic to the header and just trusts clang. perhaps we should do the same check here to avoid generating the `_address` fiel

[2017-03-03 02:42] emilio commented on #551
Edited the description to be more meaningful. Patch at #552.

[2017-03-03 08:40] Dushistov opened #553 "Additional padding on windows"
### Versions

On both machines bindgen commit d57616cab66e6bfa6ddf745e57644c671bf57cd4
On windows machine: clang 3.9.0
On linux machine: 3.8.1

### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Actual Results

[code]

[code]

### Expected Results

On linux machine bindgen not generate `pub __bindgen_padding_0: u32,`
and add
[code]
to test code,

This is only difference between co

[2017-03-03 13:26] emilio commented on #553
huh, why are we padding unions anyway?

Thanks for the report.

[2017-03-03 13:35] emilio commented on #553
Can you paste your log with `RUST_LOG=codegen::struct_layout` on windows? A fix is disabling padding for unions, but I wonder what offset are we getting from clang anyway, given I can't reproduce with `-target x86_64-pc-windows-msvc` nor `-target i386-pc-windows-msvc`?

[2017-03-03 13:39] emilio commented on #553
Can you verify #554 fixes it?

[2017-03-03 14:34] Dushistov commented on #553
[code]

[2017-03-03 14:46] Dushistov commented on #553
At now generated code passed generated tests.

I also add   `assert_eq!(8, ::std::mem::align_of::<jvalue>());` and it also passed this tests,
so I close this bug?

[2017-03-03 16:09] emilio commented on #553
Let's close this when #554 lands :)

[2017-03-03 17:51] #553 closed

[2017-03-03 19:46] jdm commented on #499
What's the next step here since https://github.com/nagisa/target_build_utils.rs/issues/3 merged?

[2017-03-04 01:20] gsingh93 opened #555 "Panic with C++ template templates"
### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Expected Results

This shouldn't panic.

### `RUST_LOG=bindgen` Output

[code]

[2017-03-04 04:36] gsingh93 opened #556 "No constructor generated when specifying `--generate types,methods,functions,vars`"
### Input C/C++ Header

[code]

### Bindgen Invokation

`bindgen test.h --generate types,methods,functions,vars -- -x c++`

### Actual Results

[code]

### Expected Results

I should get the output from `bindgen test.h -- -x c++`, which includes the constructor:

[code]

### `RUST_LOG=bindgen` Output

[code]

[2017-03-04 05:07] jsgf commented on #556
[code]

This assumes that `Foo` is movable by byte-level copying. If it had internal pointers to itself, this would likely break. Without some Rust-level mechanism to call a method on moves, it's not going to be safe to directly embed C++ types in a Rust type. The C++ type either has to be `Box`ed or a C++ `new` allocation.

[2017-03-04 12:01] nox commented on #109
We started getting some Objective-C support, didn't we?

[2017-03-04 20:21] fitzgen commented on #555
Thanks for the bug report!

Rust doesn't have higher kinded types, so we can't meaningfully translate template template parameters to Rust right now. We should however not panic and generate opaque blobs in the place of instantiations of template definitions with template template parameters.

Note to self: need to revisit this once #544 lands.

[2017-03-04 21:49] gsingh93 commented on #555
Yup, not panicing is all I'm looking for here, otherwise I'm just unable to generate my bindings for the types of whitelisted.

[2017-03-04 23:12] emilio commented on #555
Yeah, this is mostly a duplicate of #388.

[2017-03-04 23:20] emilio commented on #109
Right, it's in progress though.

[2017-03-05 01:50] basic-bgnr commented on #548
@fitzen, I'm still reading the source, will get into actual writing by tonight. Is there any deadline for completion?
LIBCLANG_PATH was peculiar to solve during building with cargo.

[2017-03-05 03:45] gsingh93 commented on #555
You're right, this is an exact duplicate. @jsgf's code is actually the original code I ran into breaking this :)

[2017-03-05 03:45] #555 closed

[2017-03-05 15:23] pornel commented on #522
Hi! Could you make another release?

[2017-03-05 19:20] fitzgen commented on #388
Should be easier with #544 which introduces a `TypeKind::Opaque` so that making opaque blobs is a bit easier than it was before.

[2017-03-06 06:31] emilio commented on #522
Done! :)

On Sun, Mar 05, 2017 at 07:23:03AM -0800, Kornel wrote:

[2017-03-06 06:51] jdm commented on #424
@andrew-x bindgen takes C/C++ header files as input, and spits out Rust [FFI bindings](https://doc.rust-lang.org/book/ffi.html) that can be used to interact with the original C/C++ libraries.

[2017-03-06 17:27] fitzgen commented on #548
@basic-bgnr no deadline, this is just a useful little feature, not anything anyone is blocked on.

Did you end up getting a build + tests up and running OK? Is there anything we should add/change in CONTRIBUTING.md to make this process more clear?

Note that this is only needed if you're running bindgen with a libclang that isn't the system libclang or isn't on the system lib path.

[2017-03-06 18:16] fitzgen commented on #534
@samliu any progress? any questions I can help answer? :)

[2017-03-06 18:19] fitzgen commented on #519
@cseale how's this going? Any questions I can answer? Anything I can do to help out?

The spidermonkey bindings I'm working on will be blocked on the reintroduction of these bit field accessors pretty soon, so I'd like to make sure we're making forward progress here :)

[2017-03-06 18:19] fitzgen commented on #484
This was fixed in #508

[2017-03-06 18:19] #484 closed

[2017-03-06 18:20] samliu commented on #534
Sorry no progress :( haven't had time to get to this, out of town past two
weekends.

What is a good timeline for addressing issues? I definitely want to do this
but probably need to prioritize better.

On Mon, Mar 6, 2017 at 10:16 AM, Nick Fitzgerald <notifications@github.com>
wrote:

[2017-03-06 18:51] fitzgen commented on #534
No worries!

There's no rush with this, so as long as you still plan on tackling it, we can keep it assigned. If for whatever reason you don't want to or can't work on this anymore, then we can unassign and let someone else grab it.

[2017-03-06 18:56] samliu commented on #534
Thanks Nick. I'll do my best to make progress in a timely fashion
nonetheless, or give it up if I can't commit to that anymore.

On Mar 6, 2017 10:51 AM, "Nick Fitzgerald" <notifications@github.com> wrote:

[2017-03-06 23:14] crumblingstatue opened #562 "Automatically allow `non_snake_case, non_camel_case_types, non_upper_case_globals`"
Bindings generated by bindgen are not expected to follow Rust naming conventions, so it's a reasonable default to automatically add `#![allow(non_snake_case, non_camel_case_types, non_upper_case_globals)]` to the generated module.

[2017-03-06 23:24] fitzgen commented on #562
See also #373

[2017-03-06 23:25] highfive commented on #562
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-07 00:08] framlog commented on #562
@highfive: assign me

[2017-03-07 00:08] highfive commented on #562
Hey @framlog! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-07 10:03] crumblingstatue opened #564 "Is it always necessary to put every function definition in a separate extern block?"
Here is a diff of regenerating some bindings with servo/rust-bindgen over the old Yamakaky/rust-bindgen: https://github.com/jeremyletang/rust-sfml/commit/ed4ecd7d48d756bf2d51d85f928c3c736c780625#diff-1e7d161ae38b44ab3fb4c32f7c2bdf19R371

It adds a lot of extra noise with all those extern blocks.

[2017-03-07 11:18] emilio commented on #564
So this is done this way because after the rewrite, each parsed item is conceptually independent and can generate a rust `ast::Item`. The way to do this for functions is generating an extern block.

I don't think coalescing them is a priority, but I'd be happy to take a patch that does it as long as it's not a maintenance burden.

[2017-03-07 12:31] tsliang commented on #476
@emilio thanks for the guidance! I've written something and I'll make a PR later today :)

[2017-03-07 19:08] fitzgen commented on #505
This is fixed in #544

[2017-03-07 19:08] #505 closed

[2017-03-07 19:11] fitzgen commented on #388
New stack trace after #544:

[code]

[2017-03-07 19:23] fitzgen commented on #422
After #544, there is still a bug here, but we need to modify the test case so that `Foo<T>::InnerType` uses `T` to make the bug reproduce:

[code]

Generates this code:

[code]

Not sure what is going on with that top level `InnerType`.

[2017-03-07 20:40] tsliang commented on #476
ok, one more question: I've done my code changes, and I ran `cargo test` in the root directory (unlike the last patch I wrote, no `libbindgen` directory appeared when I built the code). The first time I ran the tests I got 4 failures, but 4 files were changed during the test run (diff attached). After running `cargo test` again, there are no failures. Is this expected behavior? Should I commit the

[2017-03-07 21:08] fitzgen commented on #476
@tsliang

The `libbindgen` directory has been gone for a month or so now, when did you branch off of master?

If you check out the latest master and run `cargo test`, do the tests pass without any diif to the test expectations' bindings?

It might also help to open a PR so we can comment on the code.

[2017-03-07 21:20] emilio commented on #476
On Tue, Mar 07, 2017 at 12:40:42PM -0800, Tai Sassen-Liang wrote:

This happens because you have libclang 3.8 instead of 3.9. You can skip
the tests that have differences with --features llvm_stable (though
maybe it was renamed not long ago?). You can check what travis is doing
looking at .travis.yml.

In any case, those changes shouldn't be in the final PR.

Thanks again! :)

[2017-03-07 21:25] emilio commented on #519
@fitzgen if you could elaborate a bit on the options (answering https://github.com/servo/rust-bindgen/issues/519#issuecomment-280950952), it'd be quite helpful, since I have been doing some exams lately and haven't had the time to page that back in.

[2017-03-07 22:47] fitzgen commented on #506
@Kowasaki, perhaps this is something you'd be interested in?

[2017-03-07 23:08] Kowasaki commented on #506
Hello @fitzgen , yes I will take a crack at this!

[2017-03-07 23:42] fitzgen commented on #506
I would start by verifying that you can build + run tests. See CONTRIBUTING.md.

The relevant code for this bug is in `src/codegen/mod.rs`. Look for where we generate `CompInfo`'s generic template parameters, if any exist. For each generic template parameter, we should also push a field of type `::$crate::marker::PhantomData<UnsafeCell<$ident>>`.

https://github.com/servo/rust-bindgen/blob/master/

[2017-03-07 23:51] fitzgen commented on #536
@chmln, is this something you might be interested in hacking on?

[2017-03-08 00:05] chmln commented on #536
@fitzgen Yes :+1:
( unless this is time-critical. I'll need some time to study the project + got some time constraints of my own)

[2017-03-08 00:30] fitzgen commented on #536
@chmln awesome! It's not time critical.

First things first: makes sure you can build `bindgen` and run the test suite successfully. See CONTRIBUTING.md for more.

As far as these analyses go, let's jsut start with one. `has_vtable` would be a fine choice. Right now, it is implemented by a bunch of big match statements and `has_vtable` method calls between different types. This is hard coding a tr

[2017-03-08 00:33] fitzgen commented on #536
As far as where to store the `HashMap<ItemId, bool>`, it should be on the `BindgenContext`, similar to `used_template_parameters` (which is a similar kind of analysis that we perform up front for the whole IR graph, and then use the computed values later rather than recomputing them again).

[2017-03-08 01:23] chmln commented on #536
Perfect, thanks @fitzgen :-1:
That made things a lot clearer.

[2017-03-08 10:04] tsliang commented on #476
PR made!

@fitzgen The libbindgen folder was just what I remember from the last patch I wrote, which was months ago. Btw, what's the best way to keep up to date with changes like this? I feel bad for bugging you guys with silly questions like this.

Thanks a lot for the help and patience, @fitzgen @emilio and @jdm

[2017-03-08 12:46] cseale commented on #519
I'm actually in the same boat guys, I may have bitten off more than I can chew with my time, and I recently injured myself making it harder to get my higher priority work done. I don't think I'll get any reasonable time to commit to servo and don't want to block you guys on this. Sorry

[2017-03-08 17:46] fitzgen commented on #476
It is not "bugging" us (or at least me) at all :-P

The only way to know is to follow the changes happening, read the emails generated by PRs and comments and everything, which can be a bit much at times.

Really it's no big deal to ask a quick question. That's what we're all here for :)

[2017-03-08 17:49] fitzgen commented on #519
Oh no! I hope you recover well!

The project will still be here once you're healthy, if you want to contribute again at that time :)

[2017-03-08 17:49] fitzgen commented on #519
As far as this issue goes, I can take it over.

[2017-03-09 14:34] outscale-jju opened #568 "Bindgen layout test fails with linux/virtio_net.h"
Hi !

### Input C/C++ Header
In `linux/virtio_net.h`:

[code]

### Bindgen Invokation

[code]

output:
[code]

`bindgen_test_layout_virtio_net_ctrl_mac` fails with
[code]

I would say that's normal as `__virtio32` is 4 bytes and `macs` is a pointer (8 bytes on my x86_64).
Maybe bindgen estimates `macs` to 0 ?

### `RUST_LOG=bindgen` Output

Here is [bindgen output](http://jirafeau.net/f.php?h=0Q47

[2017-03-09 14:39] tsliang commented on #476
You're too kind. If you ever come to Amsterdam I'll bring you appreciation snacks :)

[2017-03-09 16:33] fitzgen commented on #568
Thanks for the bug report!

[2017-03-09 17:42] fitzgen opened #569 "Non-type template parameters and failing layout tests"
### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Actual Results

[code]

Compiling with `--test` and running the generated layout tests results in these failures:

[code]

### Expected Results

Although we generally can't support non-type template parameters and instantiations of templates with such parameters, we shouldn't be generating code + layout tests that fail. We need to

[2017-03-09 19:46] fitzgen commented on #569
Ok so this issue seems to involve our choice of `()` as the default representation for when a template definition has non-type parameters.

[2017-03-09 19:48] emilio commented on #568
I can't repro on master?

At least with:

[code]

[2017-03-09 19:49] emilio commented on #568
On my computer running:

[code]

reports:

[code]

[2017-03-09 19:51] emilio commented on #568
Note that `macs` is _not_ a pointer. It's an incomplete array, which takes no space. It's rust's side the one that takes 12 bytes in your side.

Do you know what bindgen version and what was the configuration?

[2017-03-09 20:07] #519 closed

[2017-03-09 20:10] fitzgen opened #570 "Do not panic generating accessors for large bitfields"
This input

[code]

results in this panic while generating bitfield accessor methods:

But we should just skip the bitfield accessor method for such large bitfields instead of panicking. See `Bitfield::codegen_fields` inside `src/codegen/mod.rs`.

Happy to mentor someone on fixing this :)

[2017-03-09 20:10] highfive commented on #570
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-09 20:11] fitzgen commented on #570
@barrotsteindev, perhaps this is something you'd be interested in hacking on?

[2017-03-09 20:16] fitzgen opened #571 "Filtering out builtins from --emit-clang-ast only half-works"
#566 only fixed half the situation it seems. When I run with `--emit-clang-ast`, the builtin types are only half-filtered:

[code]

Etc...

We should finish the job and not even print those shells out. @tsliang, want to finish this?

[2017-03-09 20:16] fitzgen commented on #571
I think the check needs to be earlier.

[2017-03-09 22:35] Kowasaki commented on #506
I've confirmed that I can build and run tests, but I am confused about current_bitfield_layout mentioned in https://github.com/servo/rust-bindgen/blob/master/src/codegen/mod.rs#L1314 . I am not clear on the relationship between the bitfield and the the generic template parameters?

[2017-03-09 22:39] fitzgen commented on #506
I should have linked to a specific commit, the line of code just got moved and that comment has nothing to do with this sorry.

Here is where that should have pointed: https://github.com/servo/rust-bindgen/blob/50ee737/src/codegen/mod.rs#L1394

[2017-03-09 22:58] Kowasaki commented on #506
Ah I see! So it looks like I should get familiar with the AstBuilder--or at least with the generics?

[2017-03-09 23:04] #569 closed

[2017-03-09 23:36] Kowasaki commented on #506
Oh that is helpful. Thanks!

[2017-03-10 07:12] outscale-jju commented on #568
Huh, I used 0.22.0 without checking if updates where available.

I updated using cargo to 0.22.1 and no problem here.

Sorry for the noise

[2017-03-10 07:12] #568 closed

[2017-03-10 17:21] fitzgen opened #573 "Even more failing layout tests with SpiderMonkey bindings"
### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Actual Results

Emits these bindings:

[code]

Compiling with `--test` and running the layout tests results in this failure:

[code]

### Expected Results

We shouldn't fail layout tests. Even in the face of constructs for which we cannot meaningfully make Rust equivalents, we should generate opaque blobs of the correct size.

[2017-03-10 18:16] fitzgen opened #574 "assertion failed: ctx.resolve_type_through_type_refs(decl).is_opaque()"
### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Actual Results

[code]

### Expected Results

No panic, bindings generated.

[2017-03-11 00:53] emilio commented on #574
Does this also happen to fix #388

[2017-03-11 12:23] basic-bgnr commented on #548
@fitzgen sorry, the issue was not with building but running. Nothing too much of hassle, but i had to create symbolic link of `libclang-3.8.so.1` (on my current machine) to `libclang.so.1` to get it running.

[2017-03-11 16:44] chansuke commented on #570
@highfive assign me

[2017-03-11 16:45] highfive commented on #570
Hey @chansuke! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-12 15:05] Dushistov opened #577 "bindgen_test_layout_max_align_t ... FAILED"
### Input C/C++ Header

[code]
I take it from llvm/clang header.

### Bindgen Invokation

[code]
### Actual Results

[code]

[code]

### Expected Results

All generated tests should be "green".

$ bindgen --version
bindgen 0.22.1

I also tried 1320efeb79d373acb8dd92fb2722732c251497d8, but it also generate failed test.

[2017-03-12 15:11] emilio commented on #551
This should be fixed now.

[2017-03-12 15:11] #551 closed

[2017-03-12 15:12] emilio commented on #577
Right, this is a dupe of https://github.com/servo/rust-bindgen/issues/550. See there for workarounds. Thanks for reporting!

[2017-03-12 15:12] #577 closed

[2017-03-12 18:24] Dushistov opened #578 "wrong link_name for msvc"
### Input C Header

[code]

### Bindgen Invocation
[code]

### Actual Results

[code]

[code]

### Expected Results

linking without any errors.

**Hint** the problem in two underscores instead of one,
looks like rustc (at least 1.16) smart enought to add "_" to names.
So if remove `#[link_name = "_test"]` all works fine,
but I can not find option to strip `link_name` from output.

[2017-03-12 18:59] emilio commented on #578
Which clang version are you using?

You can workaround this with `--distrust-clang-mangling`

[2017-03-12 19:18] Dushistov commented on #578
@emilio

[code]

I can not, with/without this option it generates the same:

[code]

[2017-03-12 19:59] emilio commented on #578
Whoopsies, that's my fault. Could you confirm it works with https://github.com/servo/rust-bindgen/pull/579?

Also, I'm intrigued by this anyway, given we used to have this remove first underscore of the mangling thing also for windows (see https://github.com/servo/rust-bindgen/blob/master/src/ir/function.rs#L133), but it was removed because it seemed no longer necessary...

Does `cd bindgen-integr

[2017-03-12 20:37] Dushistov commented on #578
Yes, with `--distrust-clang-mangling` and #579 it works

It works on my host machine (with linux) without #579,

and it failed on windows inside virtualbox with #579:

[code]

[2017-03-13 14:32] tsliang commented on #571
@fitzgen can do! It seems that the easiest thing to do would be to simply move the short-circuit in `print_type` (line 1559:1561) above the call to `print_indent` (line 1558). Alternatively, could we move both of these checks to `ast_dump` itself? There's no way that a builtin would have children that would need to be dumped, right?

[2017-03-13 17:16] fitzgen commented on #574
Nope.

[2017-03-13 17:17] #574 closed

[2017-03-13 17:23] fitzgen commented on #571
This sounds pretty good to me. The only concern is that if someone explicitly calls `ast_dump(some_builtin, 0)` then they *should* get the dump for it.

One sorta hacky way to do this would be to check the indent level and whether it is zero or not. The other way would be to make `ast_dump` always dump the builtins and filter the builtins before we call `ast_dump` in the `parse` function in `src/l

[2017-03-14 16:42] fitzgen commented on #573
More reduced test case:

[code]

Interesting that removing the unused template parameter from `Outer` makes the test pass...

[2017-03-15 02:41] Kowasaki commented on #506
Is there a specific test case that I should be using or should I just be making sure that all generated structs be PhantomData<UnsafeCell<T>> instead of  PhantomData<T>?

[2017-03-15 14:33] Michael-F-Bryan opened #582 "Invalid rust syntax in generated constants"
### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Actual Results

[code]

### Expected Results

Bindgen shouldn't generate invalid syntax when declaring the two 32-bit float constants. That exact same `C` header file compiles fine when using Clang:

[code]

I am trying to generate bindings for [radare2][radare2]. `radare2` was installed from source and its include files are put i

[2017-03-15 14:41] emilio commented on #582
Reduced test case:

[code]

[2017-03-15 14:52] Michael-F-Bryan commented on #582
@emilio, thanks for simplifying the test case. I haven't looked through the `radare2` source code yet, so I wasn't sure whether they came from a basic `#define NAN (0.0f/0.0f)` or if it was something more complex than that.

[2017-03-15 15:22] emilio commented on #582
No worries! Fix over #583.

[2017-03-15 17:00] fitzgen commented on #506
We used to generate `PhantomData<T>` if a type parameter wasn't used, but it turned out our is-a-template-parameter-used analysis wasn't smart enough, so I rewrote it as the stuff in `src/ir/named.rs` and stopped generating generic `T` parameters if they aren't used (see the comments at the top of that file if you're curious as to why).

So what you should be looking for is the *new* generation of

[2017-03-15 17:02] fitzgen commented on #570
@chansuke thanks for picking up this issue :) How is it going? Any questions I can answer for you?

[2017-03-15 17:03] fitzgen commented on #548
@basic-bgnr how are things going? Any questions I can answer for you?

[2017-03-15 17:05] fitzgen commented on #536
@chmln how are things going? Can I answer any questions for you?

[2017-03-15 17:45] fitzgen opened #584 "Bindgen panics in Stylo on master"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1336013

[code]

There's a couple places where I think we should stop asserting that we can always generate an IR item, and instead fall back to generating opaque items when we inevitably fail on something.

[2017-03-15 17:48] #582 closed

[2017-03-15 17:49] emilio opened #585 "Regression in libclang with template's default type parameters"
Using:

[code]

`cargo test` generates the given diff compared with master:

[code]

[2017-03-15 17:49] emilio commented on #585
cc @fitzgen

[2017-03-15 18:14] #573 closed

[2017-03-15 19:49] basic-bgnr commented on #548
@fitzgen nothing right now. Just wondering whether my solution is little bit on the ugly side. How long do you think in terms of LOC should the solution be?

[2017-03-15 21:13] fitzgen opened #586 "More layout failures when generating SpiderMonkey bindings"
### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Actual Results

Compiles into this:

[code]

And results in this layout test failure:

[code]

### Expected Results

Maybe opaque blobs, but never any layout test failures.

[2017-03-15 21:15] fitzgen commented on #548
@basic-bgnr I'm not sure, but I suspect there might be a fair bit of boilerplate. If you want more specific feedback, its easiest to open a work-in-progress PR so we can talk about the code there.

[2017-03-15 21:19] emilio commented on #586
I don't know how could we possibly fix this without monomorphization tbh.

I'd also expect this to fail:

[code]

[2017-03-15 21:19] emilio commented on #586
Mainly, the code we should generate for the template depends on the actual argument.

[2017-03-15 21:21] fitzgen commented on #586
I would hope that libclang would give us a layout for a concrete instantiation, though. Haven't dug into it yet, however.

[2017-03-15 21:59] fitzgen commented on #585
I just built with master llvm and clang and I'm getting even more failures:

[code]

[2017-03-15 22:31] emilio commented on #585
Well, most of them seem relatively easy to deal with, fortunately.

[2017-03-15 22:32] emilio commented on #585
We should probably setup something in CI for this. For a while I was checking manually with llvm trunk, but...

[2017-03-15 22:44] fitzgen commented on #585
So I've started investigating the `what_is_going_on.hpp` failure. I added edge labels in https://github.com/servo/rust-bindgen/pull/587 and I got this super surprising result:

![ir](https://cloud.githubusercontent.com/assets/74571/23973989/10cc5496-0996-11e7-8d4f-a13297ae3f9f.png)

We are parsing the template parameters as **fields** of the `Comp`... no idea what's up yet, still digging.

[2017-03-15 22:45] fitzgen commented on #585
No nevermind... I just misinterpreted that graph.

[2017-03-15 22:56] fitzgen commented on #585
Yeah for sure. I don't think we want to block on llvm master failures, but we could run it with Travis's `allow_failures` set so we can at least see when issues are coming down the pipeline in a future release.

[2017-03-15 23:11] fitzgen commented on #585
It looks like we are correctly determining that the `units` type parameter is not used, and shouldn't appear in the bindings.

And we are not finding the default value of the `F` type parameter, nor generating code for it in the bindings.

[2017-03-15 23:20] fitzgen commented on #585
Here is the IR graph with libclang 3.9:

![ir](https://cloud.githubusercontent.com/assets/74571/23974896/fec5c886-099a-11e7-9782-b884c688c3c2.png)

Note that we have the default type for the `F` type parameter. I don't see (or remember seeing) any code for resolving default types for template type parameters, so I think libclang just *stopped* feeding us this information...

[2017-03-15 23:39] fitzgen commented on #585
These aren't showing up in our cursor AST dumps, so we must be getting them from `clang_{Cursor,Type}_getTemplateArgs`.

[2017-03-15 23:39] fitzgen commented on #585
Trying to figure out how to bisect llvm and clang in lockstep together...

[2017-03-16 01:38] Kowasaki commented on #506
That makes sense. I think the codebase and its dependencies are a bit more complex than I originally expected so it's taking a bit for me to understand.

[2017-03-16 03:34] basic-bgnr commented on #548
@fitzgen ok

[2017-03-16 17:23] fitzgen commented on #506
@Kowasaki yeah definitely. I think it helps to take a lazy, call-by-need approach where one only digs as deep into corners of the code base and its dependencies as needed ;)

Here is a sketch of what the changes needed might look like, to help you get on the right track:

[code]

[2017-03-16 17:25] fitzgen commented on #585
Note to self: one can get a monorepo of clang + llvm for bisecting together here: http://llvm.org/docs/GettingStarted.html#for-developers-to-work-with-a-git-monorepo

[2017-03-16 18:17] chansuke commented on #570
@fitzgen Oh, thank you:)I started reading the code and will start changing this part.
[code]
I will stop calling `flush_bitfields` for large bitfields.Is this the right approach?

[2017-03-16 19:31] fitzgen commented on #570
We still want to generate the correct physical field, so the struct containing it still has the correct layout (or at least has correct size, since we can't generate 128 bit alignment in Rust yet).

Here is what I would do. I would replace this panic:

[code]

so we just generate the physical field of the appropriate size and do not generate any bitfield getters or setters.

I would also move the

[2017-03-16 20:32] ambaxter opened #590 "Determine if simple constants defined in header files exist at build time"
For https://github.com/openSUSE/libsolv

I need the capability to determine if simple constants are defined at build time. In libsolv's case, this tells me which headers are valid for the ext library.

### Input C/C++ Header
#ifndef LIBSOLV_SOLVVERSION_H
#define LIBSOLV_SOLVVERSION_H
<snip>

#define ENABLE_RPMPKG
#define ENABLE_PUBKEY
/* #undef LIBSOLVEXT_FEATURE_BZIP2_COMPRESSION */

<snip>
#endi

[2017-03-16 20:58] emilio commented on #590
I was thinking of something a bit easier (from the bindgen implementation's point of view).

See, for example, the `TypeChooser` trait (in `src/chooser.rs`, which allows choosing integer types for macro variants).

I was thinking of something similar, mainly, giving bindgen a trait object, and invoking a method on it each time `X` happens.

You could do something really similar to it (maybe the na

[2017-03-16 21:04] ambaxter commented on #590
The header file that sets the defines in question gets installed with the library so it shouldn't be gone after build time.

[2017-03-16 21:07] emilio commented on #590
Oh, I see, then what I commented above should apply (I'm surprised a library exports such generic macro names TBH, but fine).

I guess the question is how the API would look like. I'm tempted to just rename `TypeChooser` to something more generic and stick this API there, but another API could be ok as long as the name is relevant. WDYT @fitzgen?

In any case, `TypeChooser` should be a really dece

[2017-03-16 21:21] ambaxter commented on #590
Wouldn't renaming TypeChooser break the existing API?

[2017-03-16 21:35] emilio commented on #590
Right, but we've done breaking changes already that we need to publish, so rolling a rename into this wouldn't hurt.

[2017-03-16 21:55] fitzgen commented on #586
Cleaned up test case:

[code]

I'm not sure what is going on here and why the expected layout is size 16. Does C++ allow zero-sized base classes as long as the derived class is not zero sized? If so, then I think we're hosed.

![ir](https://cloud.githubusercontent.com/assets/74571/24020163/409a8e14-0a58-11e7-9293-a97f501023b1.png)

[2017-03-16 22:08] fitzgen commented on #586
Yes

and yes

[2017-03-16 22:10] ambaxter commented on #590
I did some testing. It looks like cexpr doesn't parse the simple #define entries. I'll look at this more later.

[2017-03-16 22:30] emilio commented on #590
Sure, I don't expect cexpr to deal with empty macros, but you should have access to `cursor.spelling()` in the line before the call to `parse_macro`.

[2017-03-17 08:19] nox commented on #564
This should IMO be a top priority to fix.

[2017-03-17 08:20] nox commented on #564
I've read lots of reports from users on IRC and that was their main complaint about it.

[2017-03-17 16:35] lostman opened #592 "No bindings for inline class functions"
### This works:

[code]
[code]

### But this doesn't:

[code]
Neither `new` nor `incr` methods are generated.

### Generated code:
[code]
### build.rs

[code]

Note that out-of-line definitions in the header also work:

[code]

The above generates `new` and `decr` but not `incr`.

[2017-03-17 16:37] emilio commented on #592
This is expected, inline functions don't generate symbols, so there's no way we can call into them.

You can compile with `-fno-inline-functions`, I guess, but that would destroy the perf of your library I suppose.

[2017-03-17 16:45] fitzgen commented on #564
Its purely astheatics of machine generated code that people aren't maintaining by hand... That doesn't scream "top priority" to me, but patches are ofc very welcome.

[2017-03-17 16:54] fitzgen commented on #592
There *can be* symbols (name mangling doesn't require that the thing whose name being mangled is not inline, and the name can appear, for example, in the DWARF). However there *isn't* a non-inlined function we can link to<sup>0</sup>.

<sup>0</sup> There may be situations you can trick the compiler into creating such a canonical, non-inlined version of the function. Taking the function pointer of

[2017-03-17 16:55] #592 closed

[2017-03-17 17:00] nox commented on #564
Aesthetics matter, and changes to generated bindings are more confusing to review with all the noise.

[2017-03-17 18:09] jsgf commented on #492
So long as `foo2` consistently refers to `foo<int>` (or whatever), even if the source gets rearranged or `foo1`/`foo<char>` gets deleted or replaced.

I suppose it doesn't matter that much if the rearrangement always causes a compile failure on the Rust side, since editing the code should be straightforward if we assume that the C++ FFI code is constrained to a small area which has stable interfac

[2017-03-18 02:51] basic-bgnr commented on #548
@fitzgen, The `RegexSet` struct has private field `items` which contains all the string args. Should I implement a `getter` function or simply make the field `pub`. ?

[2017-03-18 11:58] jdm commented on #499
Hello? The issue is marked easy and assigned, and I can't figure out what its status actually is.

[2017-03-18 18:09] Manishearth commented on #499
Unassigned since it's been a month. Feel free to ping and ask for assignment.

The next step is to add this default feature to libloading.

[2017-03-18 18:44] nagisa commented on #499
Not sure libloading needs any changes.

[2017-03-18 18:58] Manishearth commented on #499
Don't we need to be able to pass through the feature flag?

[2017-03-20 06:21] upsuper opened #593 "Test call-conv-field fails on macOS"
On macOS, I get:
[code]

[2017-03-20 06:22] upsuper commented on #584
I've had a patch to fix this.

[2017-03-20 10:38] emilio commented on #593
Yeah, this is known. It's about [this bit of code](https://github.com/servo/rust-bindgen/blob/0ec92d71e82c26d7374737d4ef6b399a2f5ce197/src/ir/function.rs#L134), which assumes host_os == target_os, which isn't true for that test.

[2017-03-20 14:07] ambaxter commented on #590
Closed with https://github.com/servo/rust-bindgen/pull/591

[2017-03-20 14:07] #590 closed

[2017-03-20 16:51] fitzgen commented on #548
@basic-bgnr a getter that returns immutable references is probably best.

[2017-03-21 08:46] lostman opened #598 "Generating bindings for headers using STL types"
I'm trying to generate bindings for a header that uses STL types:
[code]
README states:

which makes it sound like it should work. My `bindgen` configuration is:
[code]
However, `bindgen` fails with:
[code]
Could you clarify whether this should work?

[2017-03-21 09:35] emilio commented on #598
Yup, this is expected to work, but it fails right now because of unexpected regressions from #544.

cc @fitzgen.

We're working that out in #585 and #584, that's why there isn't a newly published version yet.

[2017-03-21 14:54] jdm commented on #424
Unassigning due to lack of activity.

[2017-03-21 18:44] chmln commented on #536
@fitzgen planning to complete it this weekend (slow progress due to busyness).
But no questions so far, thank you.

[2017-03-22 04:22] lostman commented on #598
Thanks! I'll try a different version and see if I can get it working.

Where would be the best place to ask about best practices?

[2017-03-22 13:41] jdm commented on #562
Have you made any progress, @framlog? Any questions?

[2017-03-22 13:41] jdm commented on #562
Oh, I missed #580.

[2017-03-23 01:11] framlog commented on #562
@jdm It should works imo.

[2017-03-23 04:51] upsuper opened #599 "Bindgen ignores enum definition when declaration appears first"
### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Actual Results

[code]

### Expected Results

[code]

### `RUST_LOG=bindgen` Output

<details>

[code]

</details>

[2017-03-23 10:20] emilio commented on #599
Fix over #600

[2017-03-24 11:49] lostman commented on #598
Another issue I came across involves virtual functions:
[code]
with an out-of-line default implementation:
[code]
Unfortunately this doesn't generate a binding. I was able to work around it with a wrapper:
[code]
I was also able to add this function manually:
[code]
And that works:
[code]

[2017-03-24 14:10] jdm commented on #476
This was fixed by #566.

[2017-03-24 14:10] #476 closed

[2017-03-25 19:50] emilio commented on #598
That wouldn't do the right thing if any other instance would override the virtual function. The proper thing to do is to fill the VTable with method pointers, and generate methods calling through them.

Nobody has got to do it yet though, and vtable layout is kinda hard and not interoperable between MSVC and LLVM/gcc last time I checked, so it's not a trivial problem to solve.

[2017-03-25 19:52] emilio commented on #598
Regarding

The reply is you would need your own wrappers, at least for now. String inherits from basic_string<char_t> in all the libstd's I've known, and that's kinda hard to deal with, because we don't generate methods for template structs (they'd have different symbols depending on the instantiation, etc).

[2017-03-26 01:00] Jascha-N commented on #511
It seems to be even worse for (externally defined?) arrays.

[code]

turns into:

[code]

The elements of the array should obviously not be mutable, but the objects that those elements point to, should be mutable. The constness on these bindings is completely in reverse.

[2017-03-27 06:21] lostman commented on #598
Thanks for clarifying! Another question, if I may. Is this a sane thing to do?
[code]
Otherwise I'll need more wrappers:
[code]

[2017-03-27 14:23] emilio commented on #598
You should be able to just use `&mut value._base`, right?

[2017-03-27 17:37] #599 closed

[2017-03-28 01:04] Rufflewind commented on #550
To clarify, @emilio is referring to [`bindgen::Builder::hide_type`](https://docs.rs/bindgen/0.22.1/bindgen/struct.Builder.html#method.hide_type).

[2017-03-28 18:02] lostman commented on #598
Thanks! Didn't know that's the way to do it.

[2017-03-28 21:17] crumblingstatue opened #603 "Bindgen converts `char` to `c_schar` instead of `c_char`"
### Input C/C++ Header

[code]

### Bindgen Invokation
`bindgen foo.h`

### Actual Results

[code]

### Expected Results

The field should be `c_char`, not `c_schar`. `char` is __not__ defined as always signed in the C standard. It __can__ be unsigned.

[2017-03-28 21:52] crumblingstatue commented on #603
From a short investigation, it seems that bindgen only knows about `char`, which maps to `c_schar`, and `unsigned char`, which maps to `c_uchar`. But there are **3** types.

[code]

[2017-03-28 23:19] emilio commented on #603
Right, but LLVM takes care of figuring out signedness for us. See #559.

[2017-03-29 06:28] crumblingstatue commented on #603
Maybe so when bindgen is used as part of the build process for the target platform, but this doesn't work when generating one set of bindings that's meant to be used on all platforms, using the command line application.

Or is this mode of operation now unsupported?

1. Generating a different binding for every target platform would be tedious and repetitive.

2. Using bindgen as part of the build

[2017-03-29 10:06] emilio commented on #603
I guess that has only ever worked because of the platforms people generate bindings in happen to have signed chars.

I guess this would need a bit of a hack to work, but I believe it can be done.

In particular, we could try to check the type spelling to see if it doesn't contain neither `signed` or `unsigned`, and use that... Assuming the spelling clang gives us is the proper one.

[2017-03-30 18:53] gsingh93 commented on #556
ping @emilio. Any thoughts on this?

[2017-03-30 20:50] emilio commented on #556
I assumed that rust would do RVO and avoid the move itself, but yeah, it'd be safer to just provide a `construct` function that took a `&mut V` or something like that.

[2017-03-30 20:50] emilio commented on #556
I'm looking into the code generation issue. Thanks for the ping, this got lost in a pile of other email :(

[2017-03-31 21:26] #571 closed

[2017-04-01 07:02] jdm commented on #570
@chansuke Have you made any progress?

[2017-04-01 14:30] saurvs opened #605 "bindgen_test_layout_max_align_t fails"
### Input C Header

[code]

### Bindgen Invokation

[code]
### Actual Results
Output from `cargo test`
[code]
### Expected Results
All tests passing?

[2017-04-02 12:16] emilio commented on #605
dupe of https://github.com/servo/rust-bindgen/issues/550, thanks for reporting it!

[2017-04-02 12:16] #605 closed

[2017-04-03 10:52] emilio opened #607 "Constructors depend on memmovable fields or RVO."
As @jsgf points out in #556, the current code generated for constructors relies on RVO, or requires memmovable fields.

[2017-04-03 10:53] emilio commented on #556
Sorry for the lag here, got sidetracked. #606 allows configuring this from the command line, filled #607 for the memmovable requirement for constructors.

[2017-04-03 20:54] dimbleby commented on #603
The reason this "ever worked" is that it had only been broken for three weeks when reported (4f1e3da85).

I'm completely in agreement with what @crumblingstatue says about wanting to generate bindings offline.  So "me too" on this one.

[2017-04-03 20:59] emilio commented on #603
The point is that before that change, we used char when libclang reported a signed char.

[2017-04-03 21:00] dimbleby commented on #603
Yes, I understand.  But I guess that it's much more common for C APIs to use `char` than it is explicitly to use `signed char` - at any rate, that's true in the case of the API that I care about.

So I expect we've switched from "uncommon case is broken" to "common case is broken".

[2017-04-03 21:23] dimbleby commented on #603
It looks easy enough to 90% fix this, by which I mean convert types correctly from C to Rust.  But there are still some places where bindgen asks whether a type is signed, and it's obviously impossible to give a universal definitive answer for `char`.

Let me put together a pull request...

[2017-04-03 23:10] emilio opened #611 "Consider using cpp_demangle for the destructor symbol hack."
We have a hack that forces a destructor symbol given by libclang to force the D1 destructor. If these hacks become nastier than that, we should consider adding a proper symbol demangler, like the `cpp_demangle` crate.

[2017-04-04 21:14] emilio commented on #584
This wasn't completely fixed by that commit AFAIK.

[2017-04-04 21:15] fitzgen commented on #585
It looks like although the template argumetns are no longer in the AST, they are in the canonical type. Here is a snippet from a clang AST dump:

[code]

This is still an unhappy situation however because the types that we get out of `clang::Cursor::template_args` (which calls `clang_Type_getTemplateArgumentAsType`) don't have declarations, so we can't find the appropriate named template type item

[2017-04-05 16:45] fitzgen commented on #585
Bisected overnight, and it appears that this is the first commit where default template arguments stop appearing:

[code]

[2017-04-05 18:18] fitzgen commented on #585
I added logging to template instantiations and their type arguments + type arguments declaration cursor.

Before that commit, we hit this path for template instantiations, and we get the default type:

[code]

After that commit, we don't get the type parameter's default type:

[code]

Here is a diff between the two logs:

[code]

In addition to losing the defautl type, we also lost information abo

[2017-04-05 18:31] emilio commented on #585
Note that that should be fixed by https://reviews.llvm.org/D26907, which re-added the path that made us lose the template argument count.

[2017-04-05 18:44] fitzgen commented on #585
Upstream bug for tracking this regression: https://bugs.llvm.org/show_bug.cgi?id=32539

[2017-04-05 21:04] fitzgen commented on #585
Without the patch you shared in IRC, the llvm-project monorepo's master still has this regression and fails our regression test. Does master not have that patch you've linked, or is the statement that that patch should fix this regression false?

[2017-04-05 22:21] fitzgen commented on #603
@emilio @dimbleby @crumblingstatue Can this issue be closed now?

[2017-04-05 22:39] fitzgen opened #615 "Getting tests passing with libclang >= 5.0"
All that is needed to get libclang 4.0 tests passing is fixing the regression in #585.

With that regression manually patched, for libclang >= 5.0, there are just a few more things.

# Constants

It looks like we get different (more?) info about constants, and so we get a bunch of different test results that don't match our extant expectations:

[code]

This seems fine by itself, but the question

[2017-04-05 22:39] fitzgen commented on #615
cc @emilio opinions here?

[2017-04-05 23:07] emilio commented on #615
This is exactly the opposite, this is getting the same results as we'd get with libclang 3.8, which is sad :(

[2017-04-05 23:15] fitzgen commented on #615
Can you file an upstream bug report before this behavior gets frozen in 5.X?

[2017-04-06 00:01] emilio commented on #603
I think so, yes.

[2017-04-06 00:01] #603 closed

[2017-04-06 00:27] emilio commented on #585
On Wed, Apr 05, 2017 at 02:04:47PM -0700, Nick Fitzgerald wrote:

I though the other patch would likely affect the output, but apparently
I'm wrong there :(

For the record, the patch is (plus some tests) at
https://reviews.llvm.org/D31732

[2017-04-06 01:14] emilio commented on #615
I can't repro it with llvm trunk though

[2017-04-06 17:57] fitzgen commented on #615
It is quite possible I messed up which libclang I had installed after tons of bisecting + testing different versions yesterday...

[2017-04-06 20:40] fitzgen commented on #598
On master with libclang 3.9, invoking bindgen like this:

[code]

then I get this:

[code]

[2017-04-06 20:41] fitzgen commented on #598
Which, although very verbose, seems correct to me.

I suspect this got fixed in one of the recent related PRs.

[2017-04-06 20:42] fitzgen commented on #598
Going to go ahead and close this issue; if I'm overlooking anything, please reopen :)

[2017-04-06 20:42] #598 closed

[2017-04-06 23:03] fitzgen commented on #570
Unassigning due to radio silence.

@chansuke, if you're still planning on working on this issue, leave a comment and we can re-assign it to you :)

[2017-04-06 23:04] fitzgen commented on #548
@basic-bgnr how are things going? Anything I can do to help?

[2017-04-06 23:07] fitzgen commented on #536
@chmln how are things going? Still making some slow-but-steady progress? Anything I can do to help or questions I can answer?

[2017-04-06 23:10] fitzgen commented on #529
Are we done here? Can this be closed?

[2017-04-06 23:11] fitzgen commented on #506
@Kowasaki hi! How are things going? Are you still working on this? Any more questions I can help answer or anything I can do to help?

[2017-04-07 00:35] fitzgen opened #619 "Generate more consistent-across-bindings-generation names for template instantiation layout tests"
Right now, we generate names like `__bindgen_test_layout_Rooted_instantiation_106`.

We could instead use the C++ mangled name, or some other name mangling of our own choosing, rather than appending the `ItemId` to the test name. The `ItemId` is rather inconsistent across bindings generations, which causes unnecessary diff noise.

cc @upsuper

[2017-04-07 01:16] fitzgen commented on #619
I have a WIP patch, will put it up in a second

[2017-04-07 02:10] emilio commented on #529
Yup! Fixed by #608

[2017-04-07 02:10] #529 closed

[2017-04-07 02:47] Kowasaki commented on #506
Hey, sorry for the lack of responses! I am still working on this and have been stuck trying to figure out how to write a test case that can cause `PhantomData<UnsafeCell<T>>` to not be generated for an used template parameter. It seems like the snippet above have basically done the requirement based on the included tests so I am unsure as to what else should be done?

[2017-04-07 16:47] fitzgen commented on #506
@Kowasaki great to hear you're still working on this :)

This change shouldn't need any new tests -- the existing test suite should have multiple test expectations that will get updates from this patch. For example, at least some of the template parameter usage test expectations should have `PhantomData` members after this patch, when they did not have a `PhantomData` before. Have you seen any of

[2017-04-07 19:01] chmln commented on #536
@fitzgen only question so far is about the location of the HashTable for vtables. Should it be in `BindgenContext`, similar to [whitelisted items](https://github.com/servo/rust-bindgen/blob/master/src/ir/context.rs#L166)?

[2017-04-07 19:36] Tiwalun commented on #570
@fitzgen Can I have a go at this?

[2017-04-07 19:38] fitzgen commented on #536
Yep! I'd probably put it near the `used_template_parameters` https://github.com/servo/rust-bindgen/blob/master/src/ir/context.rs#L162

[2017-04-07 19:39] fitzgen commented on #570
@Tiwalun sure thing! Take a look at the backlog discussion, and if you have any questions, just ping me here or on IRC :)

[2017-04-07 21:00] fitzgen commented on #584
Making this issue about getting Stylo working with master bindgen again. The libclang 4.0 stuff is tracked in https://github.com/servo/rust-bindgen/issues/585

[2017-04-07 21:01] fitzgen commented on #584
After much patience, `creduce` gives us this reduction of the panic I was getting when generating bindings for stylo with master bindgen:

[code]

[2017-04-07 21:35] fitzgen commented on #584
Ok, this is an interaction between blacklisting and the template analysis.

[2017-04-07 23:40] #570 closed

[2017-04-07 23:58] fitzgen commented on #59
I think we should just uses the preprocessed stylo headers for benchmarking, eg https://gist.github.com/fitzgen/51962fef1a2cdb8fe874d94a5d22387a

We shouldn't try and assert that there is no diff between versions like our normal tests because its just way too big for diffs not to get introduced one way or another. Just a sanity test that it successfully builds + a bench timing how long it takes.

[2017-04-08 15:59] basic-bgnr commented on #548
@fitzgen, I am out of country for days. I'll push the commit within 4-5 days. Thank you.

[2017-04-09 08:11] devurandom opened #625 "C unions generate very ugly Rust code"
### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Actual Results

[code]

### Expected Results

I would expect to be able to access this with code similar to:

[code]

The actual code I have to write is:
[code]

I.e. I first have to transmute `t.f.a` into a ref, which I then have to deref.

Creating a `MyStruct` is also not very pleasant - full code:

[code]

I understand the nec

[2017-04-09 09:01] emilio commented on #625
Unfortunately there's no way around that with stable rust as of right now. With unstable rust, we generate `union`s, which would allow that.

You can do instead:

[code]

Note that the `__BindgenUnionField` fields are unsized, so they're effectively equivalent in memory.

[2017-04-09 16:50] chmln commented on #536
ok @fitzgen I've gotten the traversal and everything working.
Another question - how do we best detect whether an `Item` has a vtable?

The current `has_vtable()` function is using a match with `TypeKind`, while in my traversal `Item.kind` is an `ItemKind`

[2017-04-10 17:56] fitzgen commented on #536
@chmln great!

You can use matches something like this:

[code]

Or use the `Item::as_type()` method:

[code]

Does this clear up your question?

[2017-04-10 18:15] fitzgen commented on #536
@Tiwalun this meta issue has some stuff available that you might be able to help with :)

@chmln is refactoring the `has_vtable` checks to use the generic graph traversal infrastructure -- maybe you could do the same for `is_unsized`? See the backlog for details, and if anything is unclear, don't hesitate to reach out to me :)

[2017-04-10 18:25] #584 closed

[2017-04-11 05:33] ildar opened #628 "use_core option to imply nostd and deny any ::std::"
I need `#![no_std]` rust source. I suggest that `use-core` should help but now `use-core` produces lots of `::std::` code. If `use-core` isn't good for the goal maybe it's worth introducing another option?

[2017-04-11 05:34] emilio commented on #628
There are two options: `use-core` and `ctypes-prefix`. I suspect that setting `ctypes-prefix` to `libc` should remove all the `std` code, otherwise it's a bug.

[2017-04-11 05:43] ildar commented on #628
I'm processing a low-level library (CMSIS/STM32 HAL). And I get the output
full of `::std::os::raw::c_uint` types. I suggest that they should be
replaced with libcore types. Possible?

[2017-04-11 05:45] emilio commented on #628
Is `core::os::raw` a thing now? I was pretty sure that at the time this was implemented the only suitable solution for `#![no_std]` and ctypes was using `libc`.

[2017-04-11 05:45] ildar commented on #628
FYI: the library is libc-independent. And I assume rs code should be alike.

[2017-04-11 05:48] emilio commented on #628
Related: https://github.com/rust-lang/rfcs/pull/1783

[2017-04-11 05:55] ildar commented on #628
Transforming `::std::os::raw::c_uint` -> `u32` is fine for me, but it seems
impossible with bindgen options, right?
But AFAIU uint isn't completely equal to u32 (arch-dependent), so the full
solution should take this into account too.

вт, 11 апр. 2017 г. в 11:48, Emilio Cobos Álvarez <notifications@github.com

--
Ildar Mulyukov,
child of God

email: ildar.mulyukov@gmail.com
GoogleTalk: ildar.muly

[2017-04-11 05:56] emilio commented on #628
You can create a submodule in your crate as follows:

[code]

And call bindgen with `ctypes-prefix` set to `c_types`.

[2017-04-11 06:00] emilio commented on #628
I'm closing this because I'm not sure there's anything else I can do from bindgen.

Thanks for reporting!

[2017-04-11 06:00] #628 closed

[2017-04-11 06:10] ildar commented on #628
Em, excuse me. But `::std::os::raw::c_uint` -> `u32`could be done. Or am I
getting it wrong and you suggest it must be done with c_types
workaround/c_types crate?

[2017-04-11 06:36] emilio commented on #628
Yes, I believe so, hardcoding types for a single platform isn't something that should happen on bindgen.

[2017-04-11 21:11] radupopescu commented on #537
Hello,

I'm having a similar issue on macOS 10.12.4. When generating the bindings for a header which includes "fcntl.h", the following struct is encountered:

[code]

Rust-bindgen generates the following code:
[code]

Some of these assertions are failing:
* `::std::mem::size_of::<log2phys>()` is 24 bytes, not 20.
* `::std::mem::align_of::<log2phys>()` is 8 bytes, not 4.
* `unsafe {

[2017-04-12 02:17] gsingh93 commented on #556
This is fixed now.

[2017-04-12 02:17] #556 closed

[2017-04-12 04:59] 0x7CFE opened #629 "libclang: crash detected during parsing (on every input)"
Hello, looks like I have some kind of infrastructure problem.

Every time I invoke bindgen it compains in the same way, i.e. it does not depend on the input file.

[code]

My versions are:
- Kubuntu 16.10
- libclang 3.9 (installed as stated in README)
- bindgen 0.22.1 (installed using cargo)

Hope this helps.

[2017-04-12 15:36] 0x7CFE commented on #629
Lol, the problem was because I misspelled the `-x` option unintentionally omitting `c++` part in the script.

Still, it's quite strange, that no human readable error was provided.

[2017-04-12 19:15] Tiwalun commented on #536
@fitzgen Ok, I'll have a look at the `is_unsized` part.

[2017-04-12 20:01] TannerRogalsky commented on #499
@highfive assign me

[2017-04-12 20:01] highfive commented on #499
Hey @TannerRogalsky! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-04-13 13:56] Jackneill opened #631 "bindgen generates erroneous rust code: error: expected identifier, found `_`"
See https://github.com/rust-lang-nursery/rust-bindgen/issues/631#issuecomment-318654881 and https://github.com/rust-lang-nursery/rust-bindgen/issues/631#issuecomment-328071187 for small, reproducible test cases.

------------------------------------------------------

Original bug report:

<details>

### Input C/C++ Header

wrapper/dae.h (https://github.com/rdiankov/collada-dom/blob/master/dom/inc

[2017-04-13 16:24] fitzgen commented on #631
Thanks for the bug report!

[2017-04-15 18:08] siscia opened #634 "Warning in bindgen: found non-foreign-function-safe member in struct marked #[repr(C)]"
### Input C/C++ Header

[code]

### Bindgen Invokation
[code]

### Actual Results

and

[code]

[code]

-->

### Expected Results

I wasn't expecting the warning generated.

### `RUST_LOG=bindgen` Output

It actually didn't change anything, but I it may be me running it wrong.

The project is here: https://github.com/siscia/rediSQL-rs and the C dependencies are here: https://github.com/siscia/redi

[2017-04-16 14:49] emilio commented on #634
Could you post the definition of `fpos_t`? May it be an empty struct or something like that?

[2017-04-16 15:05] siscia commented on #634
Hi,

Actually all the code I get is the one that you see. I have no idea of the definition of fpos_t however I assume it the one documented here: http://www.cplusplus.com/reference/cstdio/fpos_t/

Stuff from the stdio...

Sorry for this vague information but I really don't know how to help futher...

[2017-04-16 18:54] sadmansk commented on #424
Is this issue resolved? If not, I could work on it

[2017-04-16 20:02] emilio commented on #634
So I can't reproduce it on my system.

The warning points to a source file (in this case `/home/simo/rediSQL-rst/target/debug/build/rediSQL-rst-196441589fefb3b1/out/bindings.rs`). That file should contain the rust definition for `fpos_t`, could you paste that bit, or upload the file?

Thanks again! :)

[2017-04-16 20:28] siscia commented on #634
Hi emilio,

what I got is here:

[code]

I looked inside the source file of Redis and there is nothing like fpos_t however it includes stdio.h

However let me guess that a lot of other projects include stdio.h

Did you try to fork my repo and reproduce the issues or simply recreate the same environment give the indication that I provide to you?

[2017-04-16 22:21] jdm commented on #424
There is still no way to disable test generation, so that would be great!

[2017-04-16 23:28] sadmansk commented on #424
Can you tell me briefly what's needed to be since #632 got merged?

[2017-04-17 00:34] jdm commented on #424
Oh, my mistake. @fitzgen Is there anything left to do here?

[2017-04-17 03:59] emilio commented on #634
I forked and built, but couldn't repro. This is inside system headers so that's somewhat expected I guess.

Could you post the definitions of `__off64_t` and `__mbstate_t`?

[2017-04-17 06:47] Kowasaki commented on #506
My apologies for the delay--I've submitted the pull along with the test expectations, which show all the new `PhantomData ` members.

[2017-04-17 09:09] dimbleby commented on #424
Bullet 1 of my original report is still entirely open, and bullet 2 partially so.

For a little more context: [here](https://github.com/dimbleby/rust-c-ares/blob/c8599b6e96bc48a27b226b1b64c9c65a3bd973c9/c-ares-sys/ffi.patch) are the patches I currently apply to the bindgen-generated code:

- import some cross-platform types, per bullet 1 "WIBNI I could tell bindgen where to get a type from"
- (I'm

[2017-04-17 10:06] emilio commented on #424
So, a few points:

The idea is to call bindgen with `--raw-line`/`raw_line` to add those, you shouldn't need a patch to generate these. Ditto for `ares_socket_t` (if blacklisting isn't working for it for some reason, please say so, that's a bug).

We have an (opt-in) way to generate/derive `Default`. It's opt-in because it's not clear than zeroing the struct is an appropriate default for all C str

[2017-04-17 10:09] dimbleby commented on #634
duplicate #442?

[2017-04-17 10:30] emilio commented on #442
This should be fixed now: https://github.com/rust-lang/rust/pull/39462

[2017-04-17 10:30] #442 closed

[2017-04-17 10:31] emilio commented on #634
Maybe if the rustc version the reporter is compiling with is doesn't contain https://github.com/rust-lang/rust/pull/39462?

But even with that, I don't see off-hand a reason those types should have `PhantomData`. Oh, perhaps `__mbstate_t` is/contains a union? That'd explain it I guess.

[2017-04-17 15:01] siscia commented on #634
Hi,

here are the definitions:

[code]

Is this enough? I see primitive so I would rule out that the structs are empty.

Also, let me post the whole file in this [gist](https://gist.github.com/siscia/a65c505a89b50b0e30a842f530c70c59)

[2017-04-17 15:03] siscia commented on #634
Also, I am running/compiling in ubuntu 16.04 with:

[code]

[2017-04-17 16:27] fitzgen opened #638 "Codegen errors creduced from stylo"
### Input C/C++ Header

[code]

### Bindgen Invokation

Something like:

[code]

### Actual Results

[code]

Which then results in compilation errors:

[code]

cc @emilio

[2017-04-17 17:00] fitzgen commented on #638
More reduced, and with names to make things make sense:

[code]

[2017-04-17 17:03] fitzgen commented on #638
Emitted bindings:

[code]

IR graph:

![ir](https://cloud.githubusercontent.com/assets/74571/25096335/a7755c6c-2354-11e7-94db-a8d08abe0ba4.png)

We're failing to emit a type alias for the typedef, but it looks like we have everything we need in the IR... Not 100% sure what's up.

[2017-04-17 17:15] fitzgen commented on #638
Ahhhh I think this is a bug in how we reconstruct template instantiations when clang won't give us the info we need.

[2017-04-17 17:28] fitzgen commented on #638
Wait, wrong again. We have the correct IR, but we end up generating a generic instantiation from the alias instead of just using it...

[code]

Instead of

[code]

And generating the appropriate type alias.

[2017-04-17 20:04] drewkett opened #639 "Struct typedef in class fails with wrong struct size"
### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Actual Results

[code]

[code]

### Expected Results

The struct typedef shouldn't be a member of the Foo struct.

[2017-04-17 20:08] dimbleby commented on #424
Thanks!  Summary of the below is: yes, you're quite right, let's not do anything more under the banner of #424.

In turn:

* I hadn't noticed `--raw-line` before
  * I think it'll be cleaner anyway for me to continue to apply a patch, than to add the lines one at a time from the bindgen command line
  * Maybe an option to prefix the contents of some file to the bindgen output would be more conveni

[2017-04-17 21:17] fitzgen commented on #639
Thanks for the bug report!

Looks like our anonymous field code is getting tripped up, and we're ending up with two `Bar` members:

[code]

[2017-04-17 22:31] fitzgen commented on #638
Ok, I have a fix incoming.

[2017-04-17 23:51] #638 closed

[2017-04-18 00:57] emilio commented on #634
Hmm, interesting. So it seems definitely like a dupe of #442. Given the date you should have the fix in tree though, could you check just in case that updating `rustc` still warns?

[2017-04-18 09:05] dimbleby commented on #634
I don't believe that the compiler fix is in stable (1.16.0) rust yet.

[2017-04-18 18:16] #639 closed

[2017-04-19 02:29] ctaggart opened #642 "Header files for x86 SIMD intrinsics"
How do I deal with Header files for x86 SIMD intrinsics? The error I'm getting is documented in https://github.com/ctaggart/octh/issues/2. I'm trying to bindgen oct.h from GNU Octave.

All of the code is in https://github.com/ctaggart/octh. I ran Create-Header.ps1 to create bindgen2.h. I then run Run-Bindgen.ps1 and I get the errors like:

[code]

[Create-Header.ps1](https://github.com/ctaggart/oc

[2017-04-19 03:19] ctaggart commented on #642
Not sure if the right thing to do, but I got past those errors by excluding x86intrin.h with:
[code]

[2017-04-19 03:19] #642 closed

[2017-04-19 03:37] leeopop opened #643 "Cannot generate inner struct definition (worked on v0.20.0 but not v0.23.1)"
### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Actual Results

[code]

and/or

[code]

-->

### Expected Results

Result from bindgen 0.20.0

[code]

### `RUST_LOG=bindgen` Output

[code]

[2017-04-19 08:49] emilio commented on #643
Thanks for the report!

The regression was caused by https://github.com/servo/rust-bindgen/pull/486, and the fix is at #644.

[2017-04-19 16:32] fitzgen opened #645 "Yet Another Stylo Bug"
### Input C/C++ Header

[code]

### Bindgen Invokation

A bunch of stuff. Blacklisting RefPtr. Will try and figure out a minimal invokation in a bit.

### Actual Results

[code]

Compiling these bindings gives errors like:

[code]

### Expected Results

No compilation errors.

[2017-04-19 16:48] fitzgen commented on #645
Blocks https://github.com/servo/servo/pull/16392

[2017-04-19 16:57] #643 closed

[2017-04-19 17:28] fitzgen commented on #645
Flags needed to repro:

[2017-04-19 17:37] fitzgen commented on #645
Surprised the alst PR didn't fix this, but here is a more minimal + cleaned up test case:

[code]

[2017-04-19 17:42] fitzgen commented on #645
Looks like we are missing the template argument to the `RefPtr` instantiation in our IR:

![ir](https://cloud.githubusercontent.com/assets/74571/25193652/abd0534a-24ec-11e7-9164-bafb5b44f48e.png)

Unsure if this is because the template type parameter is anonymous or what. Still digging in.

[2017-04-19 18:50] #645 closed

[2017-04-19 23:25] rpjohnst commented on #297
An additional benefit to making this into a clang plugin is that it would work with a wider variety of existing clang installs.

For example, I have a clang toolchain that targets a closed platform. It is built without a `clang.dll`, so bindgen can't use it. Mainline clang chokes on many of its header files, so I haven't been able to use it as a workaround either.

[2017-04-20 07:07] mikeyhew opened #647 "feature request: convert snake_case types to CamelCase"
I'm trying to use bindgen to create bindings for ruby. I'm getting an error because ruby.h defines `rb_global_variable` twice, once as a `struct`, and once as a function.

As far as I understand, the names of `structs`, `enums`, and `unions` don't have to match up between C and Rust - only function names do. In light of that, would it be possible add an option to rename `struct` and other type nam

[2017-04-20 10:53] leeopop opened #648 "Debug trait is derived when a struct contains __bindgen_padding"
### Input C/C++ Header

[code]
__rte_cache_aligned is 64byte alignment.

### Bindgen Invokation

[code]

### Actual Results

[code]

[code]

### Expected Results

This structure contains [u8; 47] which does not implement Debug trait.
By the way, does [u8; 47] implements Copy trait?
struct rte_cryptodev should not derive Debug and Copy trait also.

#458

[2017-04-20 17:25] fitzgen commented on #648
Thanks for the bug report!

[2017-04-20 20:24] zrneely opened #649 "Auto-generated unit tests fail"
bindgen 0.23.1's automatically generated unit tests fail when generating bindings to `libmediainfo` (available on Debian systems as `libmediainfo-dev`).

### Input C/C++ Header

[code]

### Bindgen Invokation

#### build.rs
[code]
#### src/lib.rs
[code]

### Actual Results

[code]

The bindings appear correct to my eyes, although I'm not an expert.

### Expected Results

The unit tests succeed.

[2017-04-21 04:13] ildar opened #650 "[FR] convert Doxygen comments to rustdoc"
I see that the Doxygen markup is workarounded by killing the comments completely.
I'd like bindgen to convert Doxygen → rustdoc  someday.

[2017-04-21 05:22] daschl opened #651 "Inner union structs not generated"
### Input C/C++ Header

https://github.com/couchbase/libcouchbase/blob/master/include/libcouchbase/couchbase.h#L275
[code]

### Bindgen Invokation

[code]

### Actual Results

[code]

[code]

### Expected Results
I think the problem is that `lcb_create_st` expects `lcb_create_st_lcb_CRST_u` but its not created. I've been upgrading from 0.21 which used to work, but its broken since 0.22 I think (an

[2017-04-21 05:58] emilio commented on #651
Can you check on master? It's likely a dupe of https://github.com/servo/rust-bindgen/issues/643

[2017-04-21 07:57] emilio commented on #647
Hmm... So that's one of the slightly annoying differences between C and C++ that pisses me off the most.

Doesn't seem too hard to add a hook for renaming some things while we're parsing. We already have a few `ParseCallbacks` for customizing enum behavior and similar stuff.

[2017-04-21 07:59] emilio commented on #647
Would you be interested in giving this a try? In particular, it'd be a matter of adding a new method to `ParseCallbacks`, and hooking it here: https://github.com/servo/rust-bindgen/blob/master/src/ir/ty.rs#L1242

[2017-04-21 08:05] daschl commented on #651
yes that indeed seems to fix it - thanks!

[2017-04-21 08:05] #651 closed

[2017-04-21 19:31] jsgf commented on #607
This does seem to be a problem in practice.

This test fails:
[code]
[code]
[code]
I think bindgen should be generating a placement new method:
[code]

[2017-04-21 20:05] mikeyhew commented on #647
Sure - I have a few things I want to get done first, but I can take a crack at it sometime in the next week or so.

[2017-04-21 20:29] jsgf opened #652 "bindgen very inconsistent with generated Rust types for opaque C++ types"
### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Actual Results

[code]

### Expected Results

The type for `simple` is fine.

The type for `templated` is also OK, but this would be better:
[code]

The type for `int_tmpl` is bad - it should be one of:
- `type int_tmpl = templated<i32>`
- `struct int_tmpl { _bindgen_opaque_blob: templated<i32>, }`
- or `struct int_tmpl ;`

As pla

[2017-04-21 21:59] rpjohnst opened #653 "Clang 3.8.1 fails when mangling constructors and destructors"
Using Clang 3.8.1, bindgen fails an LLVM assert when given a constructor. A cursory look into the source around the assert suggests that it's somehow calling `mangleCXXName` rather than `mangleCXXCtor`, though I don't why that would happen on 3.8.1 but not 3.9.0.

I'm stuck on 3.8.1 because 3.9.0 renamed some intrinsics used by the headers I'm trying to run through bindgen. If this is one of the f

[2017-04-21 22:47] rpjohnst opened #654 "Struct and function name collision"
Bindgen represents a forward-declared C struct as a tuple struct of a 0-sized array. This leads to naming collisions when the C code has a function of the same name. IIUC, this isn't strictly required as Rust has separate type and function namespaces- tuple structs just have a representation in both.

### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Actual Results

[code]

[2017-04-21 23:15] ctaggart opened #655 "Should have a set of used template params for every item id"
I'm trying to generate bindings for GNU Octave oct.h and struggling a bit. I could use some advise on how to go about working through https://github.com/ctaggart/octh/issues/8 and https://github.com/ctaggart/octh/issues/11. I tried making several types opaque, but when I do, I get the error `Should have a set of used template params for every item id`.

### Input C/C++ Header
https://github.com/ct

[2017-04-22 10:56] emilio commented on #652
So this is in particular about typedefs of template specializations, given `std::string` is a typedef to `std::basic_string<char>`.

We handle typedefs of types we don't know the layout of replacing them with a blob if we happen to know the size of the specialization (I'm actually surprised that `templated<int>` generates a `u8`, that's definitely a bug).

Perhaps we should make those generate at

[2017-04-22 11:00] emilio commented on #654
Yes, this is known, and it's one of these awkward convenience and difference in naming between C and C++... This is actually pretty similar to #647 in practice, where a system to rename structs and functions is proposed.

Perhaps we could special-case top-level functions, since they cannot be referenced from other types, and just deduplicate their names when appropriate, using `#[link_name]`. Or e

[2017-04-22 11:02] emilio commented on #655
Can you try with master? There have been some recent fixes in that area recently.

[2017-04-22 11:05] emilio commented on #653
Ugh... Yeah, we've had mangling problems on windows before, see #69, #504, and others I'm probably forgetting about.

This seems windows specific, given I've definitely used bindgen with libclang 3.8 on Linux. I don't have a windows machine though...

[2017-04-22 11:41] emilio commented on #634
That's right, closing this as a dupe of #442. Thanks both :)

[2017-04-22 11:41] #634 closed

[2017-04-22 11:42] emilio commented on #625
Closing this as "we can't really do much more here until unions are in rust stable". Thanks for the report!

[2017-04-22 11:42] #625 closed

[2017-04-22 11:44] emilio commented on #629
Yeah, our error reporting is not awesome right now, I should probably take some time to clean it up...

[2017-04-22 11:45] emilio commented on #546
They're no longer broken, but they were disabled IIRC, because they were slightly annoying... I'm all in for consistent coding-style, but just a new rustfmt version shouldn't make our CI turn red.

I'm closing this, let's re-enable them if you want.

[2017-04-22 11:45] #546 closed

[2017-04-22 11:47] emilio commented on #502
This was fixed.

[2017-04-22 11:47] #502 closed

[2017-04-22 11:48] emilio commented on #416
I don't think we want to support it, nobody has complained about its presence so far.

[2017-04-22 11:48] #416 closed

[2017-04-22 11:49] emilio commented on #375
Closing issues seems to work now, I think opening them too.

[2017-04-22 11:49] #375 closed

[2017-04-22 11:50] emilio commented on #373
This is partially fixed in our tests, and we have other issues tracking the remaining work, if any.

[2017-04-22 11:50] #373 closed

[2017-04-22 11:50] emilio commented on #378
Let's track this in #426 instead, which seems a bit more general. Thanks for the report!

[2017-04-22 11:50] #378 closed

[2017-04-22 11:53] emilio commented on #53
This was fixed in #54, thanks vlad :)

[2017-04-22 11:53] #53 closed

[2017-04-22 11:53] emilio commented on #16
This is fixed, isn't it?

[2017-04-22 11:53] #16 closed

[2017-04-22 11:54] emilio commented on #650
Yes, this is discussed in #426, let's move it there, which has a bit more context.

[2017-04-22 11:54] #650 closed

[2017-04-22 11:55] emilio commented on #426
@ildart suggests in #650 converting them to rustdoc. It's slightly tricky, but should be doable.

[2017-04-22 11:57] emilio commented on #615
This should be basically #615, so let's use that :)

[2017-04-22 11:57] #615 closed

[2017-04-22 11:59] emilio commented on #412
This is partially fixed, the remaining work is figuring out what to do with stuff with >64bit alignment, which is #550.

Thanks for the report! (for all the reports, actually :))

[2017-04-22 11:59] #412 closed

[2017-04-22 12:00] emilio commented on #526
We could just run tests with `--target <osx>` I think, assuming we fix #593.

[2017-04-22 13:08] Yamakaky commented on #416
^^

[2017-04-22 15:38] ctaggart commented on #655
I don't get this problem using master anymore. Thanks!
I'm now trying to figure out these issues:
* error: expected identifier, found `_` https://github.com/ctaggart/octh/issues/12
* a type named `char_type` has already been defined in this module https://github.com/ctaggart/octh/issues/13
* no `u32` in the root https://github.com/ctaggart/octh/issues/14

[2017-04-22 15:38] #655 closed

[2017-04-22 15:47] emilio commented on #593
I've submitted https://reviews.llvm.org/D32389 to make this fixable.

[2017-04-22 17:15] rpjohnst commented on #654
What I was getting at by mentioning tuple structs in particular is that non-tuple structs don't have this name collision. For example, this works:

    struct foo { foo: [u8; 0], }
    extern "C" { fn foo(); }

[2017-04-22 18:47] jsgf commented on #652
Yeah, there's something more complex about `std::string` though that these examples don't capture. Maybe related to inheritance? I need to set up creduce again.

[2017-04-23 00:09] emilio commented on #654
Hmm... I see, good point. Perhaps we could just change how we generate opaque types to avoid this.

[2017-04-23 00:17] emilio commented on #647
I wonder if #654 helps here?

[2017-04-23 00:18] emilio commented on #647
(Not with the feature, but with the problem it's trying to solve)

[2017-04-23 00:22] rpjohnst commented on #653
I looked into this a bit more and Clang 3.8.1 hits the same assert on Linux.

The problem seems to be that, pre-3.9.0, `clang_Cursor_getMangling` does not support constructors or destructors, presumably because they have multiple mangled names. There is, for example, an alternate function `clang_Cursor_getCXXManglings` that does handle constructors and destructors.

For reference, as of 3.9.0 Clan

[2017-04-23 00:25] emilio commented on #653
Hmm.. So we do have a hack in `cursor_mangling` to generate the proper symbol because tests were failing in clang 3.8 on travis (the travis clang gave us the allocating constructor).

That's indeed a more elegant way to solve it, but I'm still fascinated by us not hitting the assert neither on CI nor on my machine... shrug.

[2017-04-23 00:33] emilio commented on #653
Just checked, we download a release version, probably without assertions... Will fix this, nice suggestion with `clang_Cursor_getCXXManglings`

[2017-04-23 01:04] emilio commented on #653
Got a patch up at https://github.com/servo/rust-bindgen/pull/657. Waiting on CI now, but if you want to give it a try first that'd be appreciated (specially if you're on windows!)

[2017-04-23 03:13] rpjohnst commented on #653
It seems to work for me on Windows. On the Microsoft ABI, Clang doesn't ever output multiple destructor names anyway: https://github.com/llvm-mirror/clang/blob/master/lib/Index/CodegenNameGenerator.cpp#L100

[2017-04-23 09:38] emilio commented on #653
yeah, right, the constructor is what worried me... (misspelled that comment, "the last destructor" should have been "the last mangling")

[2017-04-23 12:00] Timmmm opened #658 "Quoting arguments on Windows is broken"
I'm using Windows 10, with the Windows SDK installed and Visual C++ 2017. I run bindgen command

I've tried some other quoting combinations: `"-IC:\..."` and `-I"C:\..."` but it seems like it never handles the spaces correctly. This is the output:

[code]

As you can see the include directories have been split up by their spaces.

[2017-04-23 16:38] rpjohnst commented on #653
To confirm, it looks like that extra constructor case is the "default constructor closure," which is generated when `dllexport`ing a default constructor that requires some extra code to call, and the `clang_Cursor_getCXXManglings` solution handles it incorrectly.

For example, this code generates two constructor, with symbols `??0Foo@@QEAA@H@Z` (`public: __cdecl Foo::Foo(int)`) and `??_FFoo@@QEAAX

[2017-04-23 19:13] dtolnay opened #659 "Drop rustc-serialize dependency"
It has been deprecated: [announcement](https://users.rust-lang.org/t/deprecation-of-rustc-serialize/10485?u=dtolnay).

Is there any functionality you would require from another library before this would be possible?

[2017-04-24 00:38] mikeyhew commented on #647
Ya, it would. It's the same problem that I am having.

[2017-04-24 13:47] #654 closed

[2017-04-24 14:07] #653 closed

[2017-04-24 14:14] emilio opened #661 "Wrong constructor on MSVC (default constructor closure)"

[2017-04-24 16:46] fitzgen opened #662 "Even some more stylo derived errors"
### Input C/C++ Header

[code]

### Bindgen Invokation

Complicated, will get back with a minimal invokation in a bit.

### Actual Results

[code]

Which results in compilation errors like

[code]

-->

### Expected Results

Some compilation errors from the `raw-line` insertions, but all type parameters that get referenced should exist.

[2017-04-25 02:44] fitzgen opened #664 "Add in-worklist bits to the analysis runner"
RIght now, we might put the same item in the worklist many times over. This leads to inefficient re-computations that end up having no effect.

We could add a bitset to the analysis runner that maps `ItemId` to a boolean that is `true` if the item with the given id is currently in the worklist. Then, when enqueuing new work, we would avoid pushing duplicates onto the worklist if the bit is set for

[2017-04-25 18:23] emilio commented on #631
I and @Jackneill investigated this a bit, that seems to come from boost's mpl module (https://github.com/boostorg/mpl/blob/3b126bdf8c7abbfef27101232a379c8e0c3db1ac/include/boost/mpl/assert.hpp), so we're presumably messing some type or namespace there.

[2017-04-25 22:31] fitzgen commented on #631
Easiest way forward would probably be to creduce that mpl header to find out exactly what is giving us problems: https://github.com/servo/rust-bindgen/blob/master/CONTRIBUTING.md#using-creduce-to-minimize-test-cases

[2017-04-26 02:09] oluseyi opened #665 "SIGSEGV running rust-bindgen on Objective-C headers"
### Input ~C/C++~ Objective-C Header

[code]

### Bindgen Invocation

[code]

Invoked via `cargo build` with `RUST_LOG=libbindgen` and `RUST_BACKTRACE=1`.

### Actual Results

[code]

**Note:** No stack trace generated!

### Expected Results

At this point, simply successful execution without segfault and generation of bindings, even if incorrect.

[2017-04-26 02:19] oluseyi commented on #665
Interestingly, changing the input header to only import framework umbrella headers while using the same invocation changes things:

### Alternative Objective-C Header

[code]

### Actual Results

[code]

This looks to be running up against the incompleteness of the Objective-C support presently in `rust-bindgen`.

[2017-04-26 02:51] vvanders opened #666 "#define + sizeof(...) fails to emit constant"
Not sure if I'm missing a feature that's not supported yet but I hit issue and narrowed it down when trying to generate bindings for Lua.

### Input C/C++ Header

[code]

### Bindgen Invokation
[code]

### Actual Results

[code]

### Expected Results

### `RUST_LOG=bindgen` Output

[code]

Full repro repo also exists here for easier debugging: https://github.com/vvanders/bindgen_repro

[2017-04-26 02:58] vvanders commented on #666
Also looks like:
[code]

Does generate the output I expect, so that's at least a somewhat reasonable work around.

[2017-04-26 10:15] emilio commented on #666
Yeah, macros depend on where they're instantiated to get their values, so we can't really do anything about it without looking at all the places it's used and verifying it's the expected thing.

We have some code to evaluate constants though, so as you said, doing that works.

I'm not sure we can fix this properly without introducing correctness issues, to be honest.

[2017-04-26 10:17] emilio commented on #658
I don't have any window machine to test this one, but I'm skeptic this is a bindgen problem. We use [`clap`](https://crates.io/crates/clap) to parse CLI arguments, maybe other applications using it have the same problem?

[2017-04-26 15:11] fitzgen commented on #665
Thanks for the bug report!

[2017-04-26 15:31] #662 closed

[2017-04-26 16:49] mjbshaw opened #667 "Using Rust enums to represent C enums can result in undefined behavior"
This is similar to #225, but different in that this is about C enums that are used as actual enums (not bit flags).

Consider, for example, the following C code:

[code]

This gets translated by `bindgen` into:

[code]

The problem is that the C project could add enum fields (which is often considered to not be an API/ABI breaking change in the C world) to the end (e.g. a new `STATUS_BAD_AUTH = 3`

[2017-04-26 20:17] fitzgen commented on #667
Thanks for the bug report!

[2017-04-26 20:18] fitzgen commented on #667
We have some related features:

* https://docs.rs/bindgen/0.23.1/bindgen/struct.Builder.html#method.constified_enum
* https://docs.rs/bindgen/0.23.1/bindgen/callbacks/enum.EnumVariantCustomBehavior.html

Agree that we should generally do the Right Thing by default

[2017-04-27 17:08] jsgf opened #669 "It would be nice to be able to whitelist/blacklist methods"
Sometimes only a small number of a class's methods are needed, and the other unwanted ones have bad side-effects (namely, use awkward complex types, etc). It would be nice to have a `whitelist-method` option to allow selectively generating bindings for methods.

[2017-04-27 19:06] fitzgen commented on #669
Sounds reasonable!

[2017-04-28 01:13] vvanders commented on #666
That's kinda unfortunate since it makes drop-in ports pretty difficult. I guess feel free to close this though unless you think there's any reasonable path forward.

[2017-04-28 12:15] emilio commented on #666
I can try to add an API to libclang to try to evaluate a macro in a global context...

[2017-04-29 00:42] cpeterso opened #671 "Upgrade clang-sys to 0.15.2"
clang-sys v0.15.2 contains @emilio's fix (KyleMayes/clang-sys#51) for [Firefox bug 1356150](https://bugzilla.mozilla.org/show_bug.cgi?id=1356150) where build-time bindgen was broken on Ubuntu 17.04 (Zesty Zapus).

[2017-04-29 14:57] vasa-chi opened #672 "No type definitions for macro defined struct fields in structs"
### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Actual Results

[code]

### Expected Results

Type of field `field1`is `example_struct1`, but no definition for it is in generated bindings, which makes it invalid rust code.

### `RUST_LOG=bindgen` Output

[code]

[2017-04-29 15:02] vasa-chi commented on #672
The problem occurred when I tried to generate binding for flow-tools. Thankfully, it is possible to simply make these types opaque, since I don't need them in my code, but this seems to be a bug, so I filed it :)

[2017-04-29 15:10] emilio commented on #672
Yeah, looks like it :)

Thanks for reporting it.

[2017-04-29 15:10] emilio commented on #672
Though actually, I can't repro on master, it's been fixed by #644 :)

[2017-04-29 15:11] emilio commented on #672
Closing as a dupe, thanks for the report though!

[2017-04-29 15:11] #672 closed

[2017-04-29 15:14] vasa-chi commented on #672
Thank you!

[2017-05-01 16:08] fitzgen opened #674 "Hopefully the last stylo derived issues"
I think all three of these are teh same underlying issue, but I `creduce`d each of them to make sure. They all result in a usage of a template parameter without it being defined, and they all involve a typedef or alias.

First:

[code]

Second:

[code]

Third:

[code]

[2017-05-01 16:36] fitzgen commented on #674
I think they also involve the templated type being opaque.

[2017-05-01 17:12] fitzgen commented on #499
@TannerRogalsky how are things going? Anything I can help with? Any questions I can answer for you?

[2017-05-01 17:13] fitzgen commented on #536
@chmln @Tiwalun hey folks! How are things coming? Anything I can do to help? Questions I can answer?

[2017-05-01 17:13] fitzgen commented on #548
This has been fixed.

[2017-05-01 17:13] #548 closed

[2017-05-01 17:34] #671 closed

[2017-05-01 18:03] #674 closed

[2017-05-01 18:25] rqou opened #677 "Nested namespace definitions aren't supported"
### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Actual Results

[code]

### Expected Results

I believe no output is actually expected because the C++ namespace doesn't actually have anything in it. If it did, I expected it to be treated identically to nesting two C++ namespaces.

### `RUST_LOG=bindgen` Output

No additional information was output.

[2017-05-01 18:26] emilio commented on #677
Oh, is that a thing? Oh well... We definitely don't handle it correctly right now. Shouldn't be hard though.

[2017-05-01 18:30] rqou commented on #677
Yeah, I didn't even realize that it was a C++1z feature until I tried to use bindgen because GCC (at least 6.3.0) will silently accept it even in `-std=c++11` mode.

[2017-05-01 21:06] emilio commented on #677
Fixed in #680, thanks for the report :)

[2017-05-01 21:06] #659 closed

[2017-05-01 21:24] #677 closed

[2017-05-01 23:26] rpjohnst commented on #426
A related issue is that sometimes comments aren't actually doc comments, like with this sort of pattern:

[code]

[2017-05-02 12:13] TannerRogalsky commented on #499
@fitzgen I got stuck trying to figure out how to disable default features on a dependency of a dependency.

The relevant piece of documentation for reexporting features that I could find was [here](http://doc.crates.io/manifest.html#the-features-section).

[code]

But I'm not sure how this idiom extends to `default-features = false`.

[2017-05-02 12:21] nox commented on #499
If you want to disable the default features of A, which is depended upon by B in C, you need to disable them in B.

[2017-05-02 13:27] nagisa commented on #499
libloading 0.4.0 does not depend on target_build_utils anymore.

[2017-05-02 13:28] polyfloyd opened #683 "Array pointer treated as array with 0 elements"
When updating to the latest version of Bindgen I ran into the following line from libflac being treated differently:
https://github.com/oneman/libflac/blob/eb9f5de298314e84f810648def81509a69d628a3/include/FLAC/stream_decoder.h#L288
This line denotes an array of strings which length is defined in the C source:
https://github.com/oneman/libflac/blob/eb9f5de298314e84f810648def81509a69d628a3/src/libFL

[2017-05-02 13:35] cholcombe973 opened #684 "liblvm2app alignment failure on generation"
I'm new to the build.rs bindings generation.  Last time I generated bindings I used the old method of having it print to stdout and then manually fixing the errors.  I'm seeing an alignment error that that I don't know how to solve just yet:
[code]

### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Actual Results

[code]

### Expected Results

### `RUST_LOG=bindgen` Output

<deta

[2017-05-02 13:55] emilio commented on #683
This is the only way they can actually work. The previous behavior doesn't get you the pointer you want, this one does.

If you want the pointer, you can do `array_1.as_ptr()`.

[2017-05-02 13:58] emilio commented on #683
See also https://github.com/servo/rust-bindgen/pull/457 and #456.

Based on that, I believe this is not a bug. Feel free to comment if you have reasons to think differently, and I'll happily reopen :).

Thanks a bunch for the report! :)

[2017-05-02 13:58] #683 closed

[2017-05-02 14:07] emilio commented on #684
Hmm, interesting!

So this is basically that `__IncompleteArrayField<T>()` doesn't affect alignment.

I tried to fix it converting `_IncompleteArrayField<T>` from being `PhantomData<T>` to `[T; 0]`, and it works, but that prevent's unconditionally implementing `Copy`, which may be a problem...

[2017-05-02 14:20] TannerRogalsky commented on #499
@nagisa Fantastic. That should simplify things, I think. I've updated clang-sys to point at your new version. After that is merged and bumped, I should be able to update rust-bindgen's dependency on clang-sys which should close this issue.

[2017-05-02 14:58] cholcombe973 commented on #684
If i had done the whitelisting correctly this probably wouldn't have even come up.  It pulled in a bunch of devmapper dependencies that I'm not sure I want yet.  If you want to try this out for yourself to recreate the problem I can push my changes up to github.

[2017-05-02 16:50] #40 closed

[2017-05-03 14:03] TannerRogalsky commented on #499
This issue should be resolved with #685.

[2017-05-03 15:35] fitzgen commented on #499
Thanks!

[2017-05-03 15:35] #499 closed

[2017-05-03 21:34] deweerdt opened #687 "enum and define with the same name collide"
### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Actual Results

[code]

### Expected Results

No compilation error, both the enum and the define have their own name space.

This is problematic IRL because `math.h` uses this construct to define `FP_*` constants:
https://sourceware.org/git/?p=glibc.git;a=blob;f=math/math.h;h=cfaed0ed98013830421afdf1ba6f13c01702831d;hb=HEAD#l318

[2017-05-03 21:39] emilio commented on #687
That's... nasty...

What would be a good solution for this? I can allow you to ignore a given macro by name with a new method in `ParseCallbacks`, would that work for you?

[2017-05-03 21:42] emilio commented on #647
Can you try with bindgen 0.24 and report back? I can try to add more customization if needed, but if it's fixed, that'd be rad :)

[2017-05-03 21:51] deweerdt commented on #687
Thanks for your quick response!

If i understand correctly, you're suggesting that i return `Ignore` for the definitions I know will also be used as defines? I believe that will work for me, yes.

In general, it feels like the two definitions should belong to two different namespaces, but i don't know enough about `bindgen` to suggest anything beyond offering my opinion.

[2017-05-03 22:10] emilio commented on #687
Yeah, it's a kind of unfortunate trade-off between ease to use and features... In general bindgen doesn't need to do a lot of deduplicating at the root level because rust allows to differentiate `struct foo {}` from `fn foo`, and similar stuff.

We could either mangle stuff like `enum_foo`, `struct_bar`, etc... but that'd be really annoying, specially for C++ users... Oh well.

[2017-05-04 00:57] mikeyhew commented on #647
I checked, and yes, it works :) see https://github.com/mikeyhew/ruby-sys/tree/bindgen

[2017-05-04 02:08] chmln commented on #536
@fitzgen nearly done with `has_vtable`. I'll submit a PR around this weekend

[2017-05-04 08:20] emilio commented on #647
Awesome, thanks for checking!

[2017-05-04 08:20] #647 closed

[2017-05-04 14:21] jugglingcats opened #688 "Is it possible to specifying include directories (to search)?"
This is hopefully a simple question/enhancement request. I'm new to Rust bindgen and clang -- apologies if this has been asked before.

I am trying to generate bindings for an open source project where some header files are generated as part of their build. So they have some header files in `src` tree and some in `build`, but they don't specify the full path in the source headers.

For example:
*s