[2017-09-18 16:38] fitzgen commented on #982
@aeleos let me know if you have any questions about how the analyses work or whatever! :)

[2017-09-18 16:43] fitzgen commented on #995
@helloqirun thanks as always for another bug report :)

I have a question: are you passing the same flags to `bindgen` that you're passing to `clang++`? For example, this test case compiles with `clang++ -std=++11`; when you invoke bindgen, are you passing `-std=c++11` as a clang flag?

These differences in `clang++` vs `libclang` bugs are a bit of a conundrum, and there honestly isn't much we can

[2017-09-18 16:45] fitzgen commented on #968
@myromeu all yours! For the record, you can ask the @highfive bot to automatically assign you:

Let me know if you have an questions or anything!

[2017-09-18 16:53] fitzgen commented on #997
Ooo this is a nice bug catch :)

What I think is going on is that `ms_abi` is an unknown ABI for us, and so we don't specify the function having any particular ABI when we emit bindings to it, and then this blows up in `rustc`.

In the long term, we should properly support this ABI, which requires getting `rustc` to properly support it first.

In the immediate term, I think what we should do in th

[2017-09-18 17:10] dimbleby commented on #886
Should `Copy` be included in this meta-issue (as discussed in #934)?  It would be a real odd-man-out if not.

[2017-09-18 17:49] helloqirun opened #999 "expected type, found static"
I am using this script https://gist.github.com/fitzgen/187381e358f60efa8194d0b276b4d11a.

The hashtag for my bindgen version is 4dd4ac7 .

$ ./b.sh bindgen abc.h
[code]

$ cat abc.h
[code]

[2017-09-18 18:20] fitzgen commented on #995
I guess it doesn't really matter as long as clang and bindgen get the same flags. If we're testing `bindgen` with `-std=c++14`, then we should also be comparing with `clang++ -std=c++14`, etc.

In the original bug report, you mentioned it compiles with `clang++ -std=c++11` -- do you see the same behavior with `-std=c++14` that we're using with `bindgen`?

[2017-09-18 18:33] fitzgen commented on #886
We already derive/impl `Clone` and `Copy` when possible, it's just that there's that caveat discussed in #934. This meta issue is for tracking traits we *don't* derive/impl yet.

[2017-09-18 18:36] highfive commented on #882
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-09-18 18:38] fitzgen commented on #882
(Somehow missed this comment when it was originally posted)

This insight should make it rather easy to implement this functionality then :)

I think we can just rename the analysis from `cannot_derive_partialeq` to `cannot_derive_partialeq_or_partialord` (and other relevant names) and then all we have to do is add the new members to `BindgenOptions` and `Builder` to track whether the user has req

[2017-09-18 18:40] helloqirun commented on #995
Yes, indeed. Both clang++ and bindgen take the "std=c++14". The reported file also compiles with c++14. I just arbitrarily picked c++11 to demonstrate that it compiled. In your test script, I believe everything is c++14.

[2017-09-18 18:41] fitzgen commented on #934
Is this the only case where we end up manually implementing `Clone`? The source comments look like it has more to do with type parameters.

[2017-09-18 18:43] fitzgen commented on #999
Thanks for the bug report :)

[2017-09-18 19:04] pepyakin commented on #958
@highfive: assign me
@fitzgen

https://github.com/rust-lang-nursery/rust-bindgen/blob/ab6d51bb431665b53ec0c0d2370cd1f3d0e372f6/src/lib.rs#L10-L12

This comment actually is not accurate, because deprecated `Bindings::generate` is used here:

https://github.com/rust-lang-nursery/rust-bindgen/blob/ab6d51bb431665b53ec0c0d2370cd1f3d0e372f6/src/lib.rs#L1015

Should I also make it `pub(crate)`?

[2017-09-18 19:04] highfive commented on #958
Hey @pepyakin! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-18 19:15] aeleos commented on #982
Hey @fitzgen so I think I have it working. I ended up with this code right before the line where it iterates over the bitfields() function output.
[code]
When I was making this I ended up test-one.sh script to test my header, and I found that when I used the script it would fail for similar reasons. It would try to derive Default and fail because it isn't implemented larger than 32. I was able to

[2017-09-18 20:51] photoszzt commented on #886
@fitzgen derive Hash is implemented. But miss the mark there.

[2017-09-18 21:09] fitzgen commented on #982
Awesome!

Yep! I guess I didn't make myself clear enough with

but we need to do this check in all of the `derive_*.rs` files.

(Yes, we're starting to repeat ourselves a bit across these functions, so if you have ideas on how to help de-duplicate some of this code, additional PRs are very welcome 😸)

[2017-09-18 21:12] fitzgen commented on #886
Fixed, thanks!

[2017-09-18 21:24] #958 closed

[2017-09-18 21:26] dimbleby commented on #886
My point is that #934 says that WIBNI to derive `Copy` where possible and (only) otherwise manually implement it; and that this issue says pretty much the same thing for every other trait.  In particular, `bindgen` often does *not* derive `Copy` when it would have been possible to do so.

But I don't suppose it really matters!  Tracking that in one place is certainly enough; I was just trying to t

[2017-09-18 21:28] dimbleby commented on #934
No: `Clone` is manually implemented nearly always so far as I can tell, even when no arrays (large or otherwise) are involved.

[2017-09-18 22:22] fitzgen commented on #934
Huh. This doesn't sound right. It seems like I don't have the full picture here, and we need some more investigation.

[2017-09-19 12:50] pepyakin commented on #882
@highfive: assign me

[2017-09-19 12:50] highfive commented on #882
Hey @pepyakin! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-19 14:15] ambaxter commented on #818
@highfive: assign me

[2017-09-19 14:15] highfive commented on #818
Hey @ambaxter! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-19 16:51] fitzgen commented on #424
I'm going to close this issue because it seems like we've reached consensus that there isn't anything left to do here.

If there is still stuff to do, I'd appreciate it if we opened new, more narrowly focused and well-defined follow up issues, because the scope here is a bit unclear to me.

Thanks!

[2017-09-19 16:51] #424 closed

[2017-09-19 16:58] fitzgen commented on #818
@ambaxter I don't think we have anything in CONTRIBUTING.md about using `mdbook` yet (another PR opportunity!), but between [`mdbook`'s documentation](http://azerupi.github.io/mdBook/) and running `mdbook watch` from the `./book` directory, I think you should be able to figure everything out.

As far as content goes, we should just explain how bitfields get translated from C/C++ into Rust, and how

[2017-09-19 18:20] #882 closed

[2017-09-19 19:05] pepyakin commented on #884
@highfive: assign me

[2017-09-19 19:05] highfive commented on #884
Hey @pepyakin! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-19 22:34] alexeyzab opened #1004 "Can't compile `tests/expectations` on macOS version 10.12.6"
After running

[code]

I get the following error:
[code]

[2017-09-19 22:48] fitzgen commented on #1004
It looks like this is trying to define two properties or something: `<prop1>: <prop2>: <type>,` or something like that. Probably fall out from the move off of `syntex` to `quote`.

Check out the `objc` related things in `src/codegen/mod.rs`.

Should be a fairly easy fix for someone with with a mac.

[2017-09-19 23:00] #884 closed

[2017-09-19 23:44] alexeyzab commented on #1004
@highfive: assign me

[2017-09-19 23:44] highfive commented on #1004
Hey @alexeyzab! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-20 00:02] fitzgen commented on #977
I think we need to make `rustfmt`ing the default before the next release. Too many people will get bitten by this.

[2017-09-20 00:29] #965 closed

[2017-09-20 05:45] AndrewGaspar commented on #966
Just ran the tests on Windows with LLVM 5.0 and got a single test failure on dump_preprocessed_input.

Backtrace:
[code]

[2017-09-20 07:46] pepyakin commented on #883
@highfive: assign me

[2017-09-20 07:46] highfive commented on #883
Hey @pepyakin! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-20 17:17] pepyakin commented on #879
@highfive: assign me

[2017-09-20 17:17] highfive commented on #879
Hey @pepyakin! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-20 17:20] pepyakin commented on #883
@highfive: unassign me

[2017-09-20 17:36] fitzgen commented on #966
That looks like `clang_sys` can't find your `clang` executable -- is it on your `PATH`? If not, then can you retest after adding it to your `PATH`? If it is on your `PATH` already, then this seems like a `clang_sys` bug and we should file an issue upstream.

[2017-09-20 17:45] helloqirun opened #1006 "Segmentation fault in `libclang` < 5.0 under `clang_getFieldDeclBitWidth`"
The hashtag for my bindgen version is 4dd4ac7 .

$ rust-bindgen/target/debug/bindgen abc.h -- -x c++ -std=c++14
[code]

The header file compiles with clang++ with or without c++14 flag.
$ clang++ -Weverything abc.h
[code]

$ cat abc.h
[code]

[2017-09-20 18:29] fitzgen opened #1007 "Incorrect layout with large bitfield"
Follow up to https://github.com/rust-lang-nursery/rust-bindgen/pull/1001

### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

Panic when running the layout tests: our generated struct ends up with the wrong size.

### Expected Results

We generate a struct with the correct layout, and it passes its layout tests.

[2017-09-20 18:40] fitzgen commented on #1007
Here is where we allocate logical bitfields into physical units:

https://github.com/rust-lang-nursery/rust-bindgen/blob/master/src/ir/comp.rs#L432-L617

If we discover the root cause of the issue, and it doesn't appear to be a simple fix, we should investigate falling back to making the whole struct opaque. Perhaps extending `impl IsOpaque for Comp` with something like:

[code]

which would make

[2017-09-20 19:27] aeleos commented on #1007
@highfive: assign me

[2017-09-20 19:27] highfive commented on #1007
Hey @aeleos! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-20 19:48] fitzgen commented on #1006
Looks like this is crashing inside of `libclang`:

[code]

[2017-09-20 20:45] aeleos commented on #1007
@fitzgen so when the Item info for the bitfield is being printed out, it outputs this.
[code]
So there are 2 different layouts being generated, one with size 80, align 8 and the other with size 128, align 128. Do you know where each of them are generated and what each of them means?

Another question I have is that when the header in question is compiled with clang++ it gives this warning
[code]
I

[2017-09-20 21:00] fitzgen commented on #1007
The former is the type's layout we get directly from `libclang`, the latter is the layout we compute for the bitfield allocation unit. I linked where the latter was computed in an earlier comment. The former is the result of calling `clang::Type::{size, align}` from `src/clang.rs`.

It sounds like we should be performing that same truncation inside the `bitfield` method in `impl FieldMethod for Fi

[2017-09-21 03:20] aeleos commented on #1007
Here is the warning from gcc
[code]
It doesn't explicitly say that it is truncating, so I am not 100% sure, but I think that is what it is doing.
Another interesting behavior is that this only actually works with c++. Both gcc and clang fail to compile this code if the file is a .h, rather than just throwing an warning.
[code]

[2017-09-21 04:29] AndrewGaspar commented on #966
I checked and I do have clang in my path.

[code]

[2017-09-21 05:20] AndrewGaspar commented on #631
@highfive: assign me

[2017-09-21 05:20] highfive commented on #631
It looks like this has already been assigned to someone. I'll leave the decision to a core contributor.

[2017-09-21 05:39] AndrewGaspar opened #1009 "bitfield_align_2.rs test fails to build on Windows"
`cargo test` under tests\expectations fails today when building bitfield_align_2.rs.

Error message:
[code]

This is the function being built:
[code]

The problem is that on Windows c_long is 32-bits, whereas on all other platforms (as defined by Rust), it is 64-bits. We need to somehow change the `as` operator to narrow the type to the size of the platform representation of the type.

The file be

[2017-09-21 15:51] alexeyzab commented on #1004
The expectations tests compile after I manually do the following edits:

Add `!#[feature(type_ascription)]` to `objc_class_method.rs`,  `objc_method.rs`, `objc_property_fnptr.rs`.
Remove several commas from [objc_method.rs](https://github.com/rust-lang-nursery/rust-bindgen/blob/master/tests/expectations/tests/objc_method.rs#L48-L49), [objc_class_method](https://github.com/rust-lang-nursery/rust-bi

[2017-09-21 16:45] fitzgen commented on #1007
Looks like `g++` agrees with `clang++` on a size of `80`:

[code]

[2017-09-21 16:50] fitzgen commented on #1007
I think we can ignore this because `libclang` will fail to parse + type check the C headers before we even get our hands on it.

[2017-09-21 16:58] #982 closed

[2017-09-21 16:59] fitzgen commented on #966
What are the contents of `__bindgen.ii` after running that test? It should contain `arg_keyword.h` since it is dumping the fully preprocessed source.

[2017-09-21 17:11] fitzgen commented on #1009
Neither myself nor @emilio work primarily on Windows, so I'm not surprised to see Windows specific issues cropping up, unfortunately :(

What would be really great would be to get AppVeyor CI working properly so we can start gating PRs on successful windows test runs. Would really love some help with this!

I think we can do this with `val as _`? Can you try that and if it works, make a PR?

[2017-09-21 17:24] fitzgen commented on #1004
Ok, I didn't realize that this was inside the `objc` crate's `msg_send!` macro, so ignore everything I said.

It looks like `msg_send!` doesn't expect any commas between arguments: http://sasheldon.com/rust-objc/objc/macro.msg_send.html

Yet, inside the `objc::format_method_call` function in `src/codegen/mod.rs`, we are joining each argument with a comma:

[code]

The `#(...),*` means join with co

[2017-09-21 17:46] #631 closed

[2017-09-21 19:06] aeleos commented on #1007
@fitzgen Another interesting thing I just found, the actual type assigned to the anonymous bitfield doesn't change the size of the struct.

[code]
g++ also has the same behavior. Considering that it specifically says that the value is being truncated, I find it odd that the memory is being allocated to fit the entire bitfield.

I tried a few different combinations of bitfield sizes are the memory

[2017-09-21 20:01] fitzgen commented on #1007
The number one priority is to end up with the same physical representation as the C code. If we don't, then passing these structs across FFI boundaries will lead to memory unsafety.

That certainly is odd behavior. I think the best thing to do is to treat the whole struct as opaque if any bitfields are wider than its type. So we would add something like this to `impl IsOpaque for Comp`:

[code]

(

[2017-09-21 20:22] LegNeato opened #1011 "cups-sys bindgen layout tests fail on Linux"
[`cups-sys`](https://github.com/LegNeato/cups-sys/blob/master/build.rs#L25) currently needs to turn off layout tests as they fail on Linux for `bindgen_test_layout_max_align_t`.

You can repro by installing `libcups2-dev` on ubuntu, removing [this line](https://github.com/LegNeato/cups-sys/blob/master/build.rs#L25), and building `cups-sys`.

[2017-09-21 20:29] fitzgen commented on #1011
Thanks for the bug report! This is a duplicate of https://github.com/rust-lang-nursery/rust-bindgen/issues/550

[2017-09-21 20:29] #1011 closed

[2017-09-21 21:27] GyrosOfWar commented on #963
Hi! I'd like to do this.

@highfive: assign me

[2017-09-21 21:27] highfive commented on #963
Hey @GyrosOfWar! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-21 22:49] fitzgen commented on #963
@GyrosOfWar let me know if you have any questions :)

This should be pretty similar to the `--no-partialeq` PR that just landed, so you can take a look at that for guidance: https://github.com/rust-lang-nursery/rust-bindgen/pull/996

[2017-09-21 22:51] GyrosOfWar commented on #963
Yeah, I've found that one already. Should be pretty straightforward. I've joined the Gitter room, so I'll ask there if I need anything.

[2017-09-22 05:32] AndrewGaspar commented on #966
It seems to repro with LLVM 4.0, too.

`__bindgen.ii`
[code]

[2017-09-22 08:02] pepyakin opened #1013 "PartialOrd for opaque?"
In #882 (PR #1002) we used `PartialEq` analysis to analyse whether we can derive `PartialOrd`. Generally this makes sense because if `PartialEq` can be derived then `PartialOrd` can be derived too.

But there is a problem. I can imagine what means for opaque types to be PartialEq: we just have to compare byte-by-byte both blobs. But I have a problem imaging what we should do in case of `PartialOrd

[2017-09-22 08:15] pepyakin commented on #1013
Writing this down I realized that it makes no sense to derive PartialEq for blobs either!
I'm not a compiler wizard, but isn't it is at least incorrect (if not UB) to compare byte-by-byte two structs because of stuff like padding bytes which, if I understand correctly, have undefined values.

[2017-09-22 09:34] pepyakin opened #1015 "--use-core bindings refers std"
### Input C/C++ Header

[code]

### Bindgen Invocation

See bindgen-flags above

### Actual Results

[code]

### Expected Results

Despite that `--use-core` flag is provided `large_array` field having a type which refers `std`.
I expect that either error is printed stating that bindings couldn't be generated with `--use-core` or bindings which don't use std generated.

[2017-09-22 15:59] usamec opened #1017 "Destructor missing for templated class (like smart pointer)"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

Destructor for Pointer<A> is missing.
Same behaviour happens with ordinary c++ shared_ptr.

[2017-09-22 16:57] usamec opened #1018 "Failed layout test, when template is referencing opaque template"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

When running test we get
[code]

Apparently `x: u8` is wrong.

When invoked without opaque inner type it works:
[code]

[2017-09-22 17:15] usamec opened #1019 "Debug derived when not working for opaque type"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

and/or

[code]

### Expected Results

Debug trait is not used.

[2017-09-22 18:12] fitzgen commented on #966
Huh. It looks like it includes `arg_keyword.h` right there... Is there a difference in whitespace or something?

[2017-09-22 18:25] fitzgen commented on #1013
Good point about padding. I guess we should *only* be "manually" implementing these things so that we don't look into padding.

Or I guess we could define a special type for padding that implements various traits with some kind of default/no-op that doesn't actually read the padding bits, and then we could still `derive` and the padding would effectively be skipped over.

This doesn't apply for op

[2017-09-22 18:30] fitzgen commented on #1015
Nice catch!

I expect the fix for this is really easy (just forgetting to look at the prefix and emitting `std` regardless somewhere in `src/codegen/mod.rs`), but I hesitate marking it `E-easy` without being able to add clear instructions on how to fix this. Needs a little bit of investigation, so marking it `E-less-easy`.

[2017-09-22 18:39] fitzgen commented on #1017
Thanks for the bug report! This is, unfortunately, expected for two reasons:

1. The destructor is inline (I was inspired to start an FAQ to explain this: https://github.com/rust-lang-nursery/rust-bindgen/pull/1020)

2. We don't know what monomorphizations of the function exist (or will exist!) and we aren't a C++ compiler, so we can't generate new monomorphizations. We do have #492 open to genera

[2017-09-22 18:39] #1017 closed

[2017-09-22 18:50] fitzgen commented on #1018
Thanks for the bug report!

[2017-09-22 18:52] fitzgen commented on #1019
What version of `bindgen` are you using? I thought we fixed exactly this bug in the last release, but maybe the fix is stuck on master and isn't released yet...

[2017-09-22 18:56] pepyakin commented on #1019
Yep, it doesn't reproduce on the `master`,

[code]

[2017-09-22 19:02] fitzgen commented on #1019
Ok, let's close this after we cut a new release.

All that is blocking that is https://github.com/rust-lang-nursery/rust-bindgen/issues/977

[2017-09-22 19:31] usamec commented on #1018
Might be related to https://github.com/rust-lang-nursery/rust-bindgen/issues/652

[2017-09-22 19:41] harlanhaskins commented on #977
I'd like to work on this, if possible!

@highfive: assign me

[2017-09-22 19:41] highfive commented on #977
Hey @harlanhaskins! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-23 01:10] AndrewGaspar commented on #966
Ah, that's a good idea. My guess it's a CRLF vs. LF issue. I have git configured to checkout with CRLF line endings, but check in LF endings. So my checkout of arg_keyword.h is CRLF. However, `__bindgen.ii` seems to have LF line endings. I'll investigate what it takes to resolve this issue.

I'l open a separate issue.

[2017-09-23 01:21] AndrewGaspar opened #1023 "dump_preprocessed_input test fails on Windows when checked out with CRLF line endings"
On Windows, typically users set the git `core.autocrlf=true` option to checkout files with Windows-style line endings, but to checkin with Unix-style line endings.

The dump_preprocessed_input test validates that an output file `__bindgen.ii` contains an input file `arg_keyword.hpp`. However, `__bindgen.ii` is output with LF line endings, and so arg_keyword.hpp's contents do not match.

I've valid

[2017-09-23 01:22] AndrewGaspar commented on #966
Filed #1023

[2017-09-23 01:54] AndrewGaspar commented on #1023
The reason this doesn't seem to be an issue with the rest of the tests is because rustfmt normalizes the line endings to LF when doing the comparison

[2017-09-23 02:08] AndrewGaspar commented on #1023
@highfive: assign me

[2017-09-23 02:08] highfive commented on #1023
Hey @AndrewGaspar! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-23 07:43] ctaggart opened #1025 "cannot find type `i32` in module `std::os::raw`"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

~~How do I pretty print this on multiple lines like it used to?~~
[code]

### Expected Results

Instead of
[code]
It would be
[code]
or
[code]

[2017-09-23 11:22] usamec commented on #1018
Reduced and updated the test case.

[2017-09-23 20:11] grovesNL opened #1027 "`root` module name and visibility"
I'm wondering if there is interest in being able to provide a custom name instead of `root`, or marking this module as `pub(crate)`. Based on the [code generation](https://github.com/rust-lang-nursery/rust-bindgen/blob/fcbe260eacd10df38b563d9658203293d4e1f8ec/src/codegen/mod.rs#L421) it doesn't seem possible to change the name or visibility at the moment.

One use case would be libraries that don'

[2017-09-23 20:45] grovesNL commented on #1027
Thinking about this some more, we can already do this in place wherever we use `include!`. So I don't think this customization is necessary.

[2017-09-23 20:45] #1027 closed

[2017-09-24 10:56] ctaggart opened #1028 "failed layout test for function when class name is same"
I'm not sure about the exact cause, but it looks like the layout tests may be failing if the class name is the same as the function name. I'm guessing. Here is the test case.

### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

Layout tests fail.

### Expected Results

Layout tests pass.

[2017-09-24 18:45] helloqirun opened #1029 "Should have better error messages when input files aren't files"
The hashtag for my bindgen version is 4dd4ac7 .

`folder` is just an empty directory. Should we provide a more friendly error message?

$ RUST_BACKTRACE=1 bindgen folder/
[code]

[2017-09-24 20:17] manaskarekar commented on #968
I'm new to Rust and just learning as I go along, thought this was good place to jump in. I know @myromeu is assigned this issue but I just thought I'd play around with it in parallel.

It's incomplete and needs work and I need to write tests for it, but I thought I'd throw this out there and be steered back on course. Any help/comments would be appreciated. This is mostly hacked together from the

[2017-09-24 21:48] emilio commented on #1028
This is a dupe of #380, I'm pretty sure.

Thanks for the report though!

[2017-09-24 21:48] #1028 closed

[2017-09-24 21:53] emilio commented on #1006
Cannot repro on clang 5.0, fwiw.

[2017-09-24 22:26] emilio commented on #1025
This is a regression from 0df8441e6, astonishing that we hadn't found it before. Thanks a lot for the report!

[2017-09-24 22:30] emilio commented on #1015
This is working as expected, `--use-core` doesn't replace `std`, since it doesn't include them. You need to manually point to somewhere, e.g., libc, using `--ctypes-prefix`.

Worth pointing it out in the FAQ or something though, I guess.

[2017-09-25 01:15] AndrewGaspar opened #1032 "On-board AppVeyor CI automation"
In order to validate that ongoing changes are compatible with Windows, continuous integration testing should be added to validate the correctness of each and every change.

There is currently an appveyor.yml file checked in, but, at least in my testing, does not result in a passing AppVeyor build.

I've kicked off a one-off CI run with the current appveyor.yml file: https://ci.appveyor.com/project

[2017-09-25 01:17] AndrewGaspar commented on #1009
I've filed #1032 to track AppVeyor onboarding.

[2017-09-25 07:59] ctaggart commented on #1028
Well, you've got a new test case. I'll track that ticket.

[2017-09-25 12:07] ctaggart commented on #714
I did as @emilio suggested and created an explicit function, but I'm not sure yet how to use it from Rust. I just want to create and return a new list, but this doesn't work. It complains about `cannot move out a dereference of raw pointer`. I'm still a rust newbie.

[code]

https://github.com/ctaggart/octh/pull/24

[2017-09-25 15:31] ctaggart commented on #714
I asked on stackoverflow and was given an answer that looks like it may work.
https://stackoverflow.com/questions/46407560/how-to-create-and-return-a-c-struct-from-rust-ffi

[2017-09-25 16:23] fitzgen commented on #1018
Thanks for providing a reduced test case!

[2017-09-25 16:35] fitzgen commented on #1027
Yeah, the other trick is to add `pub use root::*` as a raw line, or above the `include!` if that is what you're looking for.

[2017-09-25 16:36] highfive commented on #1029
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-09-25 16:42] fitzgen commented on #1029
Thanks for the bug report!

To whoever wants to pick this up: the `Bindings::generate` function in `src/lib.rs` should loop through each of the `options.input_headers` and verify that they are paths to files (not folders; see `std::fs::Metadata::is_file`) and that we have read permissions to access them (`std::fs::Permissions` from `std::fs::Metadata::permissions`). If we don't have read access, o

[2017-09-25 17:06] fitzgen commented on #1032
Any and all help on this front is very appreciated!

It never has, but its the closest we've got so far :-/

FWIW, we removed `ci/test.sh` in https://github.com/rust-lang-nursery/rust-bindgen/commit/59b85354a7ce44343ef4bcfd7047b9ea0a6719c6#diff-7d56a9c9997421387b60d253399092b7

[2017-09-25 17:11] #1004 closed

[2017-09-25 17:20] fitzgen commented on #969
Note: https://github.com/rust-lang-nursery/rust-bindgen/pull/1033 added some initial infrastructure for fuzzing `bindgen` with C-Smith, but it appears not to be super useful yet.

Additional help tweaking knobs to get C-Smith to exercise `bindgen` a little better would be very welcome!

Also, perhaps seeing if running C-Smith for longer periods ends up uncovering anything.

Finally, it might make

[2017-09-25 17:49] pepyakin commented on #969
I'm wondering will it be useful to run rustc in check-only mode (as in `cargo check`) on bindings generated by the bindgen.

[2017-09-25 17:59] fitzgen commented on #969
Yes, definitely. In fact, we should run the tests, so that we can assert size and alignment.

[2017-09-25 18:10] #1025 closed

[2017-09-25 19:39] e00E commented on #969
In what kind of way would types get more complex anyway? In plain C they usually stay fairly simple.
The following command line switched of csmith seemed relevant:
[code]
but I did not set them because I would not expect having more "things" is more complex from bindgen's perspective.

[2017-09-25 19:48] e00E commented on #969
I just found a file that makes bindgen say
```ERROR:bindgen::codegen::struct_layout: Calculated wrong layout for S5, too more 2 bytes```
but it does create a full output rust file and does have exit code 0 (I tested other failures earlier which had exit code 1, so currently the script only looks for nonzero exit codes). If that means that bindgen will not always have  a non zero exit code on failu

[2017-09-25 19:50] e00E commented on #969
What is the best way to run the tests in the bindgen output? In a full project I would run `cargo test` but is there a better way?

[2017-09-25 19:55] pepyakin commented on #969
I'm not sure whether this is best way, but you can try following command

[code]

[2017-09-25 19:58] e00E commented on #969
Looks like a test fails in the above example as well, so the new logic for checking if bindgen worked correctly would be:
- check for non zero exit code
- check for any line of stderr starting with `ERROR` (or maybe even anything output to stderr, period)
- check for non zero exit code when executing the tests

[2017-09-25 20:28] fitzgen opened #1034 "Wrong alignment of struct"
### Input C/C++ Header

Generated by C-Smith:

<details>

[code]

</details>

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

No layout test failures.

[2017-09-25 20:29] fitzgen commented on #969
Just found: https://github.com/rust-lang-nursery/rust-bindgen/issues/1034

Made a label for all issues we find with C-Smith: `A-csmith`.

Also cleaned up the `driver.py`, will send a PR in a second.

[2017-09-25 20:39] fitzgen opened #1036 "Our C-Smith driver should print text content for a bug report upon finding a failure"
We have a template for bug reports at `.github/ISSUE_TEMPLATE.md`. When our C-Smith driver finds a bug, it should fill that template out and print that as the error message.

[2017-09-25 20:40] fitzgen commented on #969
Also, an idea: https://github.com/rust-lang-nursery/rust-bindgen/issues/1036

[2017-09-25 21:06] fitzgen opened #1037 "Our C-Smith driver should ask bindgen to derive everything"
Might as well cover all the bases...

See `csmith-fuzzing/driver.py`. The `run_bindgen` function should pass all the derive-enabling command line flags listed via `bindgen --help`.

[2017-09-25 21:06] highfive commented on #1037
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-09-25 21:08] fitzgen opened #1038 "Link to instructions on fuzzing with C-Smith in CONTRIBUTING.md"
We have some initial instructions for C-Smith fuzzing in `csmith-fuzzing/README.md`. We should link to that from `CONTRIBUTING.md` and also expand it probably.

[2017-09-25 21:15] pepyakin commented on #1034
Reduced by `Alignment of S2`

[code]

Reduced by `Size of: U4`:

[code]

[2017-09-25 22:58] fitzgen commented on #977
Fixed in #1022

[2017-09-25 22:58] #977 closed

[2017-09-25 23:05] fitzgen commented on #968
@myromeu making any progress? Anything I can help with?

[2017-09-25 23:06] fitzgen commented on #818
@ambaxter making any progress here? Anything I can help with?

[2017-09-25 23:07] fitzgen commented on #960
@hgallagher1993 making any progress here? Anything I can help with?

[2017-09-25 23:08] fitzgen commented on #964
@treiff making any progress here? Anything that I can help with?

[2017-09-26 00:38] ambaxter commented on #818
I am making some progress. A few things came up that took my time. Hope to be done in the next day or two.

[2017-09-26 02:01] manaskarekar commented on #968
I'm new to Rust and just learning as I go along, thought this was good place to jump in. I know @myromeu is assigned this issue but I just thought I'd play around with it in parallel.

Sorry, I haven't been able to put in a lot of time in to this. It's incomplete and needs all kinds of fixes work and I need to write tests for it, but I thought I'd throw this out there and be steered back on course

[2017-09-26 06:26] e00E opened #1040 "Unsigned global set to -1"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

Bindgen generates
[code]
which when compiled with `rustc --crate-type lib --test -o out failing2.rs` gives
[code]

### Expected Results
Not sure, but `18446744073709551615` does not look like `-1` in the first place.
Found with csmith fuzzing.

[2017-09-26 06:33] e00E opened #1041 "Wrong layout"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

While running bindgen we get:
[code]
 but the output is created nonetheless:
[code]

Then when running the tests:
[code]

### Expected Results

[2017-09-26 08:33] pepyakin commented on #1040
Found with csmith fuzzing.

In fact it is!
`hex(18446744073709551615)` = `0xFFFF_FFFF_FFFF_FFFF` which is `-1` in signed interpretation. See [Two's complement](https://en.wikipedia.org/wiki/Two%27s_complement).

This happens because bindgen doesn't check for a signedness of type, it just emits as [signed var](https://github.com/rust-lang-nursery/rust-bindgen/blob/master/src/codegen/mod.rs#L477) wi

[2017-09-26 10:50] emilio commented on #1041
Dupe of https://github.com/rust-lang-nursery/rust-bindgen/issues/537. Thanks for the report!

[2017-09-26 10:50] #1041 closed

[2017-09-26 12:46] treiff commented on #964
Hey @fitzgen, sorry for the delay.  I had made a little progress, however I've got a bunch going on with work and don't think I'm actually going to have the time to give this the attention it needs. Probably best you un-assign me.

Thanks for the follow up reminder.

[2017-09-26 16:45] highfive commented on #1040
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-09-26 16:46] fitzgen commented on #1040
Thanks for the bug report @e00E ! Did you use C-Smith and C-Reduce?

This should be easy enough to fix by making signed and unsigned versions of the codegen helpers that @pepyakin linked to.

[2017-09-26 16:51] fitzgen commented on #964
No problem!

[2017-09-26 17:51] e00E commented on #1040
I did use csmith but not C-reduce. I manually cut out everything except the part responsible for the error.

[2017-09-26 17:55] aeleos commented on #1007
@fitzgen sorry about getting back to you so late, I have been busy the past few days. Do you mean add it to ```impl IsOpaque for CompInfo```? I can't find anything other than that.

[2017-09-26 18:05] fitzgen commented on #1007
Yep!

[code]

[2017-09-26 20:50] hgallagher1993 commented on #960
Yes I have been making progress, There's only a couple compilation errors and then the comments so I should have a pull request in the next day or 2

[2017-09-27 07:00] clippered commented on #1037
looks pretty straightforward as my first work :)
@highfive: assign me

[2017-09-27 07:00] highfive commented on #1037
Hey @clippered! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-27 15:18] RReverser opened #1044 "Treat #define similarly to templates when used for types"
### Input C Header

[code]

### Actual Results

[code]

### Expected Results

Note that this is not a bug, but more of a feature request. Is there any chance to produce generic types for this case? (and maybe also for multiple-types case like covered in [tests/headers/complex.h](https://github.com/rust-lang-nursery/rust-bindgen/blob/master/tests/headers/complex.h), but that's not so important)

Lo

[2017-09-28 07:44] ctaggart opened #1045 "can't compile bindings after rustfmt"
rustfmt returns a exit code of 3. In #1042, it looks like it will treat that as a warning. However, this code will not compile after that. https://github.com/ctaggart/octh/issues/27

### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

Creates this which compiles:
[code]

Run rustfmt on it returns an exit code of 3:
[code]

And now it no longer compiles:
[code]

[cod

[2017-09-28 10:12] ctaggart commented on #1045
If I [install rustfmt-nightly](https://github.com/rust-lang-nursery/rustfmt#installation) instead, it works. The downside is that it requires rust nightly.

[2017-09-28 10:12] #1045 closed

[2017-09-28 11:35] seemyvest commented on #1029
@highfive: assign me
I would like to have a go at this

[2017-09-28 11:35] highfive commented on #1029
Hey @seemyvest! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-28 12:26] josh0588 commented on #1040
Hi I'd like to start contributing and take this on as my first bug!
@highfive: assign me

[2017-09-28 12:26] highfive commented on #1040
Hey @josh0588! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-28 16:26] grovesNL commented on #777
I agree that this would be great to have. I'm considering simply using regular expressions to make the changes on the generated text for now, but it's obviously very hacky 😄

[2017-09-28 18:05] fitzgen commented on #1037
Let me know if you run into any questions @clippered :)

[2017-09-28 18:14] fitzgen commented on #1044
I don't think `libclang`'s cursors really work inside of macros, so this would be fairly tricky. For example, here is a dump of clang's cursor AST for the given example:

<details>

[code]

</details>

It gives us the expanded code, and that there was a macro expansion, but the only way we're given to look inside of macros is a stream of tokens.

I'm not sure this is something we want to support.

[2017-09-28 18:15] fitzgen commented on #1045
Yeah, it's unfortunate, but the `rustfmt` package is deprecated in favor of `rustfmt-nightly` :-/

[2017-09-28 18:16] fitzgen commented on #1029
@seemyvest if you have any questions don't hesitate to ask :)

[2017-09-28 18:17] fitzgen commented on #1040
@josh0588 if you run into any questions, don't hesitate to ask :)

[2017-09-28 20:50] RReverser commented on #1044
Well yeah, it gives only stream of tokens, but it can be fed back to clang to detect type definitions?

[2017-09-28 20:52] RReverser commented on #1044
It also seems that looking "into" C macro contents this way can reveal other possibilities.

[2017-09-29 04:09] aeleos commented on #1007
@fitzgen so I tried to implement something, but there are a few issues with it. This is my new is_opaque function
[code]
Right now when it runs with the failing test case, I get this as the output
[code]
I am not sure how the BitfieldUnit struct is supposed to work, but there is nothing inside the bitfields array if in this case. Since we can't see how large the bitfield is in any way other than t

[2017-09-29 04:10] fpagliughi opened #1046 "Undefined references for native library"
I'm attempting to get the stock bindgen tutorial working from:
 https://github.com/fitzgen/bindgen-tutorial-bzip2-sys

I have several Linux development machines running various flavors of Mint 17 & 18 (Ubuntu 14.04 and 16.04). The weird thing is that everything works fine on one machine, but on _all_ the others machines, the linker is reporting undefined references in the native library whenever I

[2017-09-29 09:55] ivanovaleksey opened #1047 "std::os::raw::c_void used as function return type"
Hello,

thanks for the library.
It is said in [the documentation](https://doc.rust-lang.org/std/os/raw/enum.c_void.html)

However, generated binding does use `std::os::raw::c_void` as return type.

### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

I expect no return type for Rust function or `()`.

[code]

I use `bindgen 0.30.0`.
Is i

[2017-09-29 10:30] ivanovaleksey commented on #1047
Oh, sorry, I edited the code few time and didn't noticed that I am returning `void *` not plain `void`.
With
[code]
everything is fine.

[2017-09-29 10:30] #1047 closed

[2017-09-29 11:38] hgallagher1993 commented on #960
@fitzgen Just as an update this is finished but I'm going to a wedding for the weekend so I'll just make the pull request when I'm back at my laptop on Monday or Tuesday

[2017-09-29 15:08] ctaggart opened #1048 "error[E0428]: the name `sentry` is defined multiple times"
For Octave bindings, I need to interop with C++ std::string https://github.com/ctaggart/octh/issues/28. Any recommendations of how to do this are appreciated. This is the first issue I'm up against that I'm not sure how to solve. https://github.com/ctaggart/octh/issues/29

### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

It compiles.

[2017-09-29 17:02] fitzgen commented on #1007
That looks like what I'd expect, although

[code]

should be

[code]

and then we don't need to check `self.has_non_type_template_params` again at the end.

Pretty much what it says on the tin:

[code]

Logical bitfields get allocated into physical units. The units end up as a field in the resulting struct, and the bitfields become getters/setters that are masking out everything but their own rele

[2017-09-29 17:04] fitzgen commented on #1046
Is `bzip2` installed on the system? And is the shared library on the system's usual search path for shared libraries?

Aside: @emilio do you think we should move the tutorial into this repo to test it for breakage in CI and keep it up to date and all that?

[2017-09-29 17:05] fitzgen commented on #960
Enjoy the wedding :)

[2017-09-29 17:26] fitzgen commented on #1048
Thanks for the bug report @ctaggart !

Here is a slightly cleaned up / annotated test case:

[code]

And here are the bindings that get generated:

[code]

It seems like we're parsing the inner `sentry` classes incorrectly, and they don't end up with `First` or `Second` as their parents.

Here's the IR:

![ir](https://user-images.githubusercontent.com/74571/31027821-8cd41e6a-a500-11e7-8568-c853d8d

[2017-09-29 17:31] fpagliughi commented on #1046
Yes,  the dev package for bzip2 is installed via the package manager, apt-get.
[code]

and I can link to it with a C program:
[code]

[2017-09-29 19:29] fitzgen commented on #1048
I have a fix over in https://github.com/rust-lang-nursery/rust-bindgen/pull/1049

[2017-09-29 20:48] aeleos commented on #1007
@fitzgen I think I get whats happening, here is what I am thinking are the next steps
1. Remove the `Bitfield::name(&self) -> &str` method and replace all calls with the FieldMethods version
2. Remove the if statement around checking if a bitfield is anonymous before adding it into the array
3. Check to make sure these changes fix the new is_opaque function
4. Submit PR for the above changes refer

[2017-09-29 21:17] fitzgen commented on #1007
That sounds 💯 !

[2017-09-30 00:15] aeleos commented on #1007
@fitzgen so the first issue I have run into is with this line
`let param_name = bitfield_getter_name(ctx, parent, bf.name());`
What is the best way to handle an anonymous bitfield name here? Is there a function that a name for anonymous fields? Or can it just be set to something random if its going removed when the struct is made opaque later?

[2017-09-30 20:20] josh0588 commented on #1040
@fitzgen thanks, it appears there already is a signed and unsigned version of the codegen helpers 'uint_ expr'? but the match construct only calls the int_expr

[2017-10-01 08:32] ctaggart commented on #1048
I tried the fix out and it worked for https://github.com/ctaggart/octh/issues/29.

[2017-10-01 08:41] ctaggart opened #1051 "error[E0412]: cannot find type `_CharT` in this scope"
This looks similar to #798, but I'm not sure if it is the same. I'm working on bindings for Octave and this comes up from the gcc headers related to std::string. https://github.com/ctaggart/octh/issues/8

### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

No error. Either _CharT is defined or replaced.

[2017-10-01 22:56] oldmanmike commented on #997
@fitzgen Would it be cool if I tackle this bug?

[2017-10-02 11:03] jamesmunns commented on #918
Another note here is the size limit for Cargo. There is generally a 10MB crate limit, which would be a problem, as libclang is a bit larger than that (22MB for `libclang` 3.9 on linux):

[code]

It appears that this can be raised [on a case by case basis](https://github.com/rust-lang/crates.io/issues/195#issuecomment-142451847), but this would have to be kept in mind.

If multiple versions are sup

[2017-10-02 12:05] pepyakin commented on #969
I'm wondering if there is a way to collect all known problems found by C-Smith and don't stop fuzzing if found any of them? 🤔

[2017-10-02 16:06] fitzgen commented on #1007
I code generation, we can simply skip bitfields that don't have names. The allocation units are always emitted, so skipping the bitfield won't cause the struct layout to go wrong, unlike normal data members.

[2017-10-02 16:07] fitzgen commented on #1040
@josh0588 ah, I forgot about that! Looks like we jsut need to call it at the right time then :)

[2017-10-02 16:10] fitzgen commented on #1051
Thanks for the bug report @ctaggart !

[2017-10-02 17:00] fitzgen commented on #997
@oldmanmike sure thing! Let me know if you need any pointers or anything :)

[2017-10-02 17:16] fitzgen commented on #918
I talked with @alexcrichton about this in person, and he said it was no problem.

Neat! That's much smaller than I had anticipated.

If we start doing this, then I think we would want to bundle just one version of libclang that we can focus on. Other versions should generally still work, but we can focus most of our attention into supporting the blessed libclang version's oddities rather than all

[2017-10-02 17:16] fitzgen commented on #969
Not sure... maybe we just need to fix all the issues more quickly ;)

[2017-10-02 17:35] #1048 closed

[2017-10-02 20:10] pepyakin commented on #1034
For alignment problem:

[code]

this little program outputs `sizeof(S2)=1,alignof(S2)=1`

And this is how it looks in IR
![ir](https://user-images.githubusercontent.com/2205845/31097105-d98d7094-a7c6-11e7-8cf8-d7375b786087.png)

[2017-10-02 20:29] fitzgen commented on #1034
Interesting -- it looks like the layout libclang gives us says `size = 2`. What compiler are you using to compile the C program?

[2017-10-02 20:30] pepyakin commented on #1034
I compiled with `clang++ --std=c++14 main.c`

`clang++ --version` gives me

[code]

[2017-10-02 22:18] #879 closed

[2017-10-02 23:32] upsuper opened #1055 "Consider adding warnings for unused option items"
It is easy to find that you need to whitelist, blacklist, opaque, etc. something but you forget to, but it is much harder to catch when you forget to remove something from the list.

I think it would be helpful to display some warning information when an item doesn't match anything, so that users are aware that they can remove them.

This may need support from `regex` crate, I guess. On the API si

[2017-10-03 08:40] pepyakin commented on #1034
Seems like we have a different problem in the size case.

Let's consider this header:

[code]

in generated bindings assert test is failing

[code]

and it makes sense if we look at `U4` definition:

[code]

there are 2 disjoint fields, and this is clearly wrong.

I suppose in this case we shouldn't generate `_bitfield_1` but should refer `bindgen_union_field` in bitfield's accessors.

[2017-10-03 09:14] pepyakin opened #1056 "Wrong layout for union with bitfields"
See original issue https://github.com/rust-lang-nursery/rust-bindgen/issues/1034

### Input C/C++ Header

Generated by C-Smith and reduced by `creduce`:

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

No layout test failures.

[2017-10-03 09:14] pepyakin commented on #1056
Seems like we have a different problem in the size case.

Let's consider this header:

[code]

in generated bindings assert test is failing

[code]

and it makes sense if we look at `U4` definition:

[code]

there are 2 disjoint fields, and this is clearly wrong.

I suppose in this case we shouldn't generate `_bitfield_1` but should refer `bindgen_union_field` in bitfield's accessors.

[2017-10-03 09:19] pepyakin commented on #1034
Oops, my comment https://github.com/rust-lang-nursery/rust-bindgen/issues/1034#issuecomment-333650331 contains copy-pasta issue. It tells that it outputs `sizeof(S2)=1,alignof(S2)=1` but actually it outputs `alignof(S2), alignof(S2)`.

Sorry about that!

Fixed version:

[code]

returns `sizeof(S2)=2,alignof(S2)=1`.

This makes things a little clearer.

[2017-10-03 09:31] emilio commented on #1056
This is a dupe of #744, I believe.

[2017-10-03 09:32] pepyakin commented on #1056
Agree, closing.

[2017-10-03 09:32] #1056 closed

[2017-10-03 09:34] emilio commented on #1046
That sounds fine to me.

[2017-10-03 10:02] pepyakin commented on #1034
Is it possible to solve now?

If I understand correctly to make this struct
[code]

to have alignment of 1 we should have `#[repr(align)]` attribute...

[2017-10-03 11:06] m-ou-se opened #1057 "Array members converted to pointers when using alias template"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

[code]

`position` and `orientation` are arrays of doubles. In the generated code, they are pointers.

[2017-10-03 16:17] fitzgen commented on #1034
Depends on https://github.com/rust-lang-nursery/rust-bindgen/issues/849 and https://github.com/rust-lang/rust/issues/33626

[2017-10-04 10:59] pepyakin commented on #1057
Hi! Thank you for the report!
I think that it is related to this [issue](https://github.com/rust-lang-nursery/rust-bindgen/issues/362).

IIUC, bindgen have a strategy to convert all items that have non-type template parameters to opaque blobs.
I'm not entirely sure, but maybe we could handle arrays as a special case...

[2017-10-04 11:34] m-ou-se commented on #1057
Structs with non-type template parameters indeed turn into blobs:
[code]
Turns into:
[code]
(Note the `u64`, not `f64`.) At least the lay-out matches the original struct, even though the members aren't easily usable.

However, with the alias template for an array as in this bug report, the resulting struct doesn't even match the original struct layout as the arrays/blobs are replaced with pointers

[2017-10-04 12:23] pepyakin commented on #1057
Ah, I see, thanks for clarification!
I will look into it

[2017-10-04 14:46] njayinthehouse commented on #961
Hey! I'd like to give this one a shot.

[2017-10-04 14:50] pepyakin commented on #961
@njayinthehouse
Hi!
Feel free to ask questions if you run into any questions!

[2017-10-04 16:04] fitzgen commented on #1057
This is the desired behavior here, and we need to figure out why it isn't happening with the template alias.

We don't support translating anything with non-type template parameters to anything other than opaque blobs. When Rust gains const generics, we can start revisiting this approach.

[2017-10-05 01:01] #1007 closed

[2017-10-05 19:43] #1038 closed

[2017-10-06 00:42] liranringel opened #1062 "Both _WIN32 and _WIN64 are defined when targeting 32-bit windows from 64-bit windows"
I tried to investigate https://github.com/rust-lang-nursery/rust-bindgen/issues/541 and found out that both _WIN32 and _WIN64 are defined. I could see how it makes many troubles, and perhaps related to that issue .
It won't happen if the command has the `--target=i686-pc-windows-msvc` flag, but it does happen if it has the `--target=x86_64-pc-windows-msvc` flag.
It also happens when I use bindgen

[2017-10-06 16:17] fitzgen commented on #1062
Thanks for the bug report!

I'm not really familiar with windows development, but to be clear, only one of either `_WIN32` or `_WIN64` should ever be defined at once, right?

[2017-10-06 16:28] petrochenkov commented on #1062
`_WIN32` is always defined these days on both 32 and 64 bit targets, see https://msdn.microsoft.com/en-us/library/b0084kay.aspx

32 here is supposed to be the opposite to 16, not 64.

[2017-10-06 16:33] fitzgen commented on #1062
Does that mean that this issue can be closed as exhibiting expected behavior?

[2017-10-06 16:47] liranringel commented on #1062
Ah good to know.
Yet there is a problem, because through build.rs script _WIN64 is defined for 32bit.

[2017-10-06 16:47] petrochenkov commented on #1062
Yes, looks like that.

[2017-10-06 17:39] fitzgen commented on #1062
To make sure I understand: the remaining issue is that when invoking `bindgen` as a library via `build.rs` on 32 bit host platforms, `_WIN64` is still defined? But not when targeting 32-bit from 64 bit?

[2017-10-06 17:43] liranringel commented on #1062
No.
It happens on my 64 bit machine when targeting to 32 bit.
I don't know what happens on 32 bit hosts.

[2017-10-06 17:51] fitzgen commented on #1062
Thanks for the clarification!

[2017-10-06 18:04] liranringel commented on #1062
If I had to guess, I'd say it's related to https://github.com/rust-lang/rust/issues/42587
In other words, I guess that the bindgen library uses conditional compilation that misleads it because it's executed on a process that is 64 bit.

[2017-10-06 18:53] liranringel commented on #1062
Update:
It happens on version 0.30, but it's working as expected on master.

[2017-10-06 19:19] liranringel commented on #1062
Ok I used git bisect to find the commit that solved it and it's https://github.com/rust-lang-nursery/rust-bindgen/commit/26da3447a73d0364849f0325f222c4a8c9337550
Makes sense that it solved it because it implements `find_effective_target`.

Only need to publish a new version.

[2017-10-06 19:19] #1062 closed

[2017-10-06 19:21] fitzgen commented on #1062
We'll publish a new version after merging https://github.com/rust-lang-nursery/rust-bindgen/pull/1042

[2017-10-09 07:20] seemyvest commented on #1029
Sorry it's been a while, I do have a few questions.

- Do we still want to panic? I was thinking that we catch it [here](https://github.com/rust-lang-nursery/rust-bindgen/blob/745d60610ec6979368fc240472f7c04a3e04f282/src/options.rs#L293) before generating the bindings.
- Is only `<header>` to be checked, or the arguments passed to clang as well? As far as I can tell there's only one `<header>` arg

[2017-10-09 15:39] fitzgen commented on #1029
Ideally we won't panic, and will return an `Err` instead. This is why I pointed out `Bindings::generate` in `src.lib.rs` as a good place to put these checks, because it returns a `Result`.

The other benefit to doing the checking inside `Bindings::generate` is that the checking can apply to both when folks are using `bindgen` as an executable and when using it as a library in `build.rs`. Indeed, t

[2017-10-09 18:01] pepyakin opened #1067 "Tests started to fail on macOS on the most recent master"
https://github.com/rust-lang-nursery/rust-bindgen/commit/745d60610ec6979368fc240472f7c04a3e04f282 made tests on my local macOS machine to fail.

[code]

[code]

Here is [build log](https://gist.github.com/pepyakin/7627b1dc2fd89445baad92bff8ce1b6d).

[2017-10-09 18:03] emilio commented on #1067
Hmm, right. Now we have the problem that symbols on those platforms are actually different. :(

[2017-10-09 18:20] emilio commented on #1067
So, options I'm seeing:

 * Run tests with a linux64 target by default. That's easiest, but likely misses support? Also, `test_expectations` probably won't build.

 * Reverting that for now, or hiding it behind an option. We really want proper unmangled symbols instead of tracking down all the platforms it affects.

 * Add tests per-platform, and run them with different `--target` values.

 * Make

[2017-10-09 18:57] liranringel commented on #1067
@emilio As I understand it, the functionality is correct, but the tests need refactor.
That fix is something I've been waiting for some time (for the `ipconfig` and `trust-dns` crates), and it's unfortunate if it won't land on version 0.31.

[2017-10-09 21:39] emilio commented on #1067
Right, I agree, and I think reverting would be really unfortunate. We probably just need an easy way to update tests for all platforms (can be done with `--target`) and build tests for the correct platform.

[2017-10-10 00:11] fitzgen opened #1069 "Tests failing on master with macos because of link names"
I just pulled master on my laptop and now tests are failing. I know @pepyakin was hitting this too.

Likely related to https://github.com/rust-lang-nursery/rust-bindgen/pull/1063

+cc @liranringel

[code]

[2017-10-10 00:18] fitzgen commented on #1069
Woops, already on file as https://github.com/rust-lang-nursery/rust-bindgen/issues/1067

[2017-10-10 00:18] #1069 closed

[2017-10-10 01:02] #744 closed

[2017-10-10 12:14] pepyakin opened #1070 "Incorrect query of whether given comp type is an union in analyses"
Analyses like [`derive_partial_eq_or_partial_ord`](https://github.com/rust-lang-nursery/rust-bindgen/blob/master/src/ir/analysis/derive_partial_eq_or_partial_ord.rs) assumes that if some [Comp type](https://github.com/rust-lang-nursery/rust-bindgen/blob/745d60610ec6979368fc240472f7c04a3e04f282/src/ir/comp.rs#L917) is an union and rust target version [allows us](https://github.com/rust-lang-nursery

[2017-10-10 18:08] #541 closed

[2017-10-10 20:59] fitzgen commented on #1067
Inserting an implicit `--target` if there isn't one explicitly specified is probably easiest.

Note that the test expectations don't actually call any of the declared functions, so we won't get link errors (otherwise, we would get them now).

[2017-10-10 21:00] pepyakin opened #1072 "macOS continuous integration"
The last two issues ([1](https://github.com/rust-lang-nursery/rust-bindgen/issues/1004), [2](https://github.com/rust-lang-nursery/rust-bindgen/issues/1067)) with macOS build made it clear that we need macOS CI.

@fitzgen noted that once upon a time there was macOS builds on Travis CI, but since they took very long time they were disabled.

Maybe it is worth to run the "full suite" asynchroniously

[2017-10-10 21:06] pepyakin commented on #1072
Also, these failures made me to explore the ways running the tests on linux on my macOS machine.

So I came up with this [`Dockerfile`](https://gist.github.com/pepyakin/6ce7c9cbb5abdd1add82f4fd52f7767f). I'm wondering is it worth to check it in?

[2017-10-11 10:00] #1067 closed

[2017-10-11 10:53] pepyakin opened #1074 "csmith: pragma pack(1) have no effect"
### Input C/C++ Header

[code]

### Bindgen Invocation

Predicate invocation:
[code]

([bindgen args](https://github.com/rust-lang-nursery/rust-bindgen/blob/83156461266e80c426dcd4aee135a17b1dab3f18/csmith-fuzzing/predicate.py#L35))

### Actual Results

Layout test panics:
[code]

Generated bindings:

[code]

### Expected Results

it seems `#pragma pack(1)` has no effect, because rust itself doesn'

[2017-10-11 10:54] pepyakin commented on #1074
Duplicate of #537

[2017-10-11 10:54] #1074 closed

[2017-10-11 12:50] pepyakin commented on #1034
It seems that `repr(align(N))` on struct `S` has no effect if `N` is less than alignment of the `S`. Here is [playground link](https://play.rust-lang.org/?gist=b83f820db5d8a8a18ed201e3810e532d&version=nightly).

It appears that we actually need to use [`repr(packed(N))`](https://github.com/retep998/rfcs/blob/optimal-rabbit-packing/text/0000-repr-pack.md) here.
Good news: `repr(packed(1))` is a syn

[2017-10-11 15:07] pepyakin opened #1076 "csmith: Wrong size of struct with bitfields"
### Input C/C++ Header

[code]

### Bindgen Invocation

Predicate invocation:
[code]

([bindgen args](https://github.com/rust-lang-nursery/rust-bindgen/blob/83156461266e80c426dcd4aee135a17b1dab3f18/csmith-fuzzing/predicate.py#L35))

### Actual Results

Layout test panic:
[code]

Generated bindings:

[code]

### Expected Results

No layout test failures.

[2017-10-11 16:00] fitzgen commented on #1072
It wasn't that the tests themselves took a long time, it was that Travis CI doesn't have very many macos builders, and so the wait time was something like 2-4 hours.

[2017-10-11 18:07] fitzgen commented on #537
AFAICT, @emilo is right, and `libclang` doesn't even give us access to `#pragma pack`.

For this header

[code]

we get this `libclang` AST (note the `UnexposedAttr`):

[code]

[2017-10-11 18:36] fitzgen commented on #1076
Looks like our bitfield unit allocation is off. This probably should be two units: one `u16` and one `u8`. And then they should be packed to alignment of `1` (which I don't understand why from the definition...).

[2017-10-11 18:52] fitzgen commented on #537
Another version of this issue:

[code]

[2017-10-11 18:55] #1034 closed

[2017-10-11 20:40] clippered commented on #1037
@fitzgen Should this be closed now that https://github.com/rust-lang-nursery/rust-bindgen/pull/1043 has been merged? Thanks

[2017-10-12 00:08] fitzgen commented on #1037
Yes, thanks! In the future, if you add `Fixes #12345` to commit messages, then github will auto close them :)

[2017-10-12 00:08] #1037 closed

[2017-10-12 08:12] glyn commented on #816
A status update: @pylbrecht is unable to commit time to this issue. I am also finding it hard to get traction on this issue with the maximum of one day per week I get to work on it.

I have been exploring a generic overlay of an array of unsigned integers of any supported precision. The goal was to unit test masking and other bitfield operations thoroughly and independently of codegen. However tha

[2017-10-12 08:57] clippered commented on #1037
Will do it next time, cheers.

[2017-10-12 15:20] pepyakin commented on #1076
This is somehow related to the fact that the bitfields are unnamed.

Consider [this snippet](https://godbolt.org/g/w3bftL). It will return 3 for size and 1 for alignment. But if you give a name to either field, both size and align will return 4.

[2017-10-12 16:53] fitzgen commented on #816
Regarding the "generic overlay": were you thinking emitting in the bindings' prelude something like

[code]

Which only manages storage and reading/writing that storage? And then the generated code for bitfields would do something like this:

[code]

This seems like a reasonable way to split responsibilities and break the problem down into more manageable chunks.

Agreed. Breaking things down into

[2017-10-12 16:59] fitzgen commented on #1076
I guess anonymous bitfields only contribute to size, not alignment? Intuitively, that makes sense because they can never be read, so unaligned reads are a non-issue.

At this point, I think we really need to go through the ABI's text and carefully translate the algorithms described therein...

[2017-10-12 18:01] glyn commented on #816
@fitgen Thanks for your reply.

[My approach](https://github.com/glyn/rust-bindgen/blob/dcea2b7803079f477ed3d20fbfcc660bf50a1d10/src/codegen/bitstrip/mod.rs) was roughly like that, but yours is more likely to work with current Rust since it avoids dealing with the full array as a generic type parameter.

I'll take a look at #954 but, unfortunately, it won't be any time soon.

[2017-10-12 20:55] fitzgen commented on #1040
Hi @josh0588 -- still making progress here? Any questions I can answer for you?

[2017-10-12 20:59] fitzgen commented on #997
@oldmanmike still hacking on this? Any questions I can answer?

[2017-10-12 21:00] fitzgen commented on #1023
FYI @AndrewGaspar, if you add `Fixes #12345` to the commit message or PR comment, then github will automatically close the issue when the PR is merged :)

[2017-10-12 21:00] #1023 closed

[2017-10-13 17:22] fitzgen commented on #1040
I'm taking this due to inactivity and because it is being hit by `csmith` all the time, preventing us from digging too much deeper.

@josh0588, if you're interested in hacking on another issue, let me know and I can help you find something :)

[2017-10-13 19:16] #1040 closed

[2017-10-13 20:07] dimbleby commented on #934
IIUC, as of Rust 1.21 and rust-lang/rust#43690, large arrays should no longer be an issue when deriving `Clone`.

[2017-10-13 20:45] fitzgen commented on #934
Awesome :)

We will need to add a new `RustTarget` for 1.21 and take that into account in our analyses/codegen.

[2017-10-15 04:05] hallfox commented on #962
Hi! I'd like to take a crack at this.

[2017-10-16 21:07] Gankra opened #1086 "Support emiting cbindgen:no-export annotations"
Usecase: I have a struct in Gecko (`mozilla::gfx::Glyph`) that I would like to pass by-reference to a rust function which will read the fields. However this rust function (`gfx/webrender_bindings/src/bindings.rs:wr_dp_push_text`) is in turn fed through [cbindgen](https://github.com/eqrion/cbindgen) so that gecko can call it.

Without any cycle resolution strategy, this will lead to cbindgen emitti

[2017-10-16 21:12] emilio commented on #1086
From IRC:

TL;DR: I think you can fix it without specific bindgen magic, but ICBW.

[2017-10-16 21:28] Gankro commented on #1086
See also https://github.com/eqrion/cbindgen/issues/68, which might also make any annotations completely unnecessary.

[2017-10-17 07:45] fitzgen commented on #962
Great! Let me know if you have any questions :)

[2017-10-17 17:31] tpgxyz opened #1087 "Can't build stylo in FF 56.x"
https://github.com/rust-lang/rust/issues/45342
### Bindgen Invocation
I'm trying to build FF 56.0.1 with rust-1.21.0.

Full logs can be found here http://file-store.openmandriva.org/api/v1/file_stores/1e85cf22a732ff76c55f52625dfab10fbfcaac23.log?show=true

error: failed to run custom build command for `style v0.0.1 (file:///builddir/build/BUILD/firefox-56.0.1/servo/components/style)`
[code]
### Ex

[2017-10-17 17:32] emilio commented on #1087
Which version of bindgen is FF56 using?

[2017-10-17 20:59] tpgxyz commented on #1087
@emilio  In logs you can see  `Compiling bindgen v0.29.0`

[2017-10-18 14:47] danielpclark opened #1088 "Help: bindgen not getting everything from libzip"
Hey all, this is my first time trying to do this so I went with what I thought might be an easier project to port over to Rust.  I'm using bindgen with [libzip](https://github.com/nih-at/libzip) and I've followed the default example in the guide and everything seems to pass.  But looking at the results of `cargo test` it looks like I'm not getting what I want to get.

The repo is here: https://git

[2017-10-18 17:51] RReverser opened #1089 "Allow custom derives and attributes"
Several times I found myself in need to derive traits that are not autogenerated by bindgen, and, unfortunately, Rust doesn't allow to put a `derive` directive (or any attribute) at distance from the original type, even in the same file.

Would it make sense to provide ability to add custom derives or even any attributes to generated types via `ParseCallbacks` or some other mechanism?

[2017-10-19 09:40] RReverser commented on #1088
@danielpclark It looks like it's the other way around - `zipint.h` includes `zip.h` here, so you need to pass `zipint.h` to bindgen instead.

[2017-10-19 10:43] danielpclark commented on #1088
I've tried that.  But the installation of libzip does not include zipint.h within the systems include path.

[code]
---

[code]

Would manually copying the contents of `zipint.h` into `wrapper.h` possibly work?

[2017-10-19 10:52] RReverser commented on #1088
You might want to check this thread https://nih.at/listarchive/libzip-discuss/msg00087.html

Sounds like `zipint.h` is internal header, but yeah, assuming you get a compatible version, you can copy it into your sources directory or even add libzip as a submodule etc.

[2017-10-19 11:11] danielpclark commented on #1088
Thank you.

[2017-10-19 11:11] #1088 closed

[2017-10-19 18:25] LegNeato commented on #537
Hmmm, reading http://llvm.org/viewvc/llvm-project?view=revision&revision=191345 I would assume that packed should indeed be exposed by libclang?

[2017-10-19 21:51] emilio commented on #537
On 10/19/2017 08:25 PM, Christian Legnitto wrote:> Hmmm, reading

Yup, __attribute__(packed) is exposed by libclang, but not pragma pack,
unfortunately.

[2017-10-20 12:55] shepmaster commented on #227
This appears to have been closed by #226.

[2017-10-21 10:58] emilio commented on #227
Indeed.

[2017-10-21 10:58] #227 closed

[2017-10-21 14:21] jrmuizel opened #1090 "Generate C code to export static inline functions"
https://github.com/intelxed/xed has a bunch of inline functions as part of its interface. In order to make the xed bindings usable (https://github.com/valarauca/xed-sys/issues/1) we need to export them somehow. If bindgen could generate C code that just wraps the static inline functions we would be able to use bindgen to generate bindings to that code which would solve the problem.

[2017-10-21 14:23] emilio commented on #1090
For now, you can also compile it with `-fno-inline-functions`, I think.

[2017-10-21 14:48] jrmuizel commented on #1090
Won't that prevent inlining inside xed?

[2017-10-21 15:24] jrmuizel commented on #1090
Further, -fno-inline-functions and .generate_inline_functions(true) doesn't actually seem to generate bindings for those functions. Perhaps because they are static inline?

[2017-10-21 17:35] emilio commented on #1090
Yup, I think so, which is unfortunate, I agree.

Yeah, if they aren't visible in other translation units we can't generate symbols for them... I guess wrapping them is the best solution then

[2017-10-22 19:16] jrmuizel commented on #1090
What's the best approach to implement this?

[2017-10-22 21:02] jrmuizel commented on #1090
It looks like currently static inline functions end up in the ir with a name of None.

[2017-10-23 01:42] photoszzt opened #1093 "Incorrect derive partial eq/Hash for struct contains incomplete array field"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

[code]

### Expected Results

Either implement Hash and PartialEq for IncompleteArrayField or don't derive Hash and PartialEq for the struct.

[2017-10-23 06:16] emilio commented on #1093
Yeah, I don't think there's a good way of deriving `PartialEq` for these, the array field may have a different meaning depending on how the user uses it...

[2017-10-23 13:48] tpgxyz commented on #1087
Ping anyone ?

[2017-10-23 16:36] fitzgen commented on #1089
This seems like a good feature to have.

I'd prefer not using `ParseCallbacks` if possible, because avoiding them allows easier testing, and I believe that custom derives is specific enough that it doesn't need the open ended programmatic access that `ParseCallbacks` provides.

As far as CLI syntax: `--custome-derive '<trait>=<regex>'`?

[2017-10-23 16:58] fitzgen commented on #1090
`-fkeep-inline-functions` should allow the functions to remain inlined at call sites, but still give us something to link to, IIUC.

------------

This feature is something I've wanted for a while, but haven't had the need to actually implement. The biggest open questions I have are:

* How are we going to integrate this feature with our test suite? Emit `tests/expectations/tests/whatever.c` next

[2017-10-23 17:04] fitzgen commented on #1093
I thought we were already treating incomplete and zero-sized arrays as not-derive-able, but I guess not...

Thanks for the bug report @photoszzt :)

[2017-10-23 17:16] fitzgen commented on #1087
Any chance you could use `builder.dump_preprocessed_input()` in servo's `components/style/build_gecko.rs` and then run `creduce` until we have a minimal test case? https://github.com/rust-lang-nursery/rust-bindgen/blob/master/CONTRIBUTING.md#using-creduce-to-minimize-test-cases

[2017-10-23 17:18] RReverser commented on #1089
@fitzgen Thing is, some derives still accept options via extra attributes (for example, https://github.com/kwohlfahrt/enum-tryfrom), so I'm not sure if it's worth locking up to just trait name.

[2017-10-23 17:25] fitzgen commented on #1089
Good catch. I guess that it does make sense to have an escape hatch for more complicated cases in `ParseCallbacks` -- but I'd still prefer the simple versions to be supported on the CLI for easier testing (and in general it is best when things are usable in either scenario).

[2017-10-23 17:29] RReverser commented on #1089
What do you think about the attribute approach then? (allowing any attributes to be appended)
Should be still CLI compatible while allowing these more complex cases.

[2017-10-23 17:36] fitzgen commented on #1089
Sorry I totally thought throught that stuff in my head and then failed to leave any comment about it :-p

The problem is that we would need to parse arbitrary attributes to know which `=` we are splitting on between the attr and the regex. This is because of attrs like `#[serde(rename = "blah")]`. I guess we could use https://dtolnay.github.io/syn/syn/fn.parse_outer_attr.html, but that signature d

[2017-10-23 17:40] RReverser commented on #1089
@fitzgen Maybe could use some other delimiter then, like "=>" or whatever?

[2017-10-23 17:42] RReverser commented on #1089
Or, actually, could as well put the regexp first and start at "#" then like `regex#[derive(Default)]`.

[2017-10-23 17:56] fitzgen commented on #1089
Yeah, I think that works

[2017-10-24 03:35] photoszzt commented on #1093
@fitzgen  I think the fixed version hasn't published. I try the master version, it doesn't have the problem for partial eq but fail for hash.

[2017-10-24 03:35] photoszzt commented on #1093
@highfive  assign me.

[2017-10-24 03:35] highfive commented on #1093
Hey @photoszzt! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-10-24 07:10] #1093 closed

[2017-10-24 09:36] #934 closed

[2017-10-24 15:08] jrmuizel commented on #1090
This is fixed with https://github.com/rust-lang-nursery/rust-bindgen/pull/1091

I'm probably not going to look at this again anytime soon as I've switched from using https://github.com/valarauca/xed-sys/ to https://github.com/zyantific/zydis-rs which doesn't have this problem.

[2017-10-24 16:00] jrmuizel opened #1096 "Improve codegen for C style enums"
Because C style enums are loosely typed and aren't typed they tend to be expressed in C more loosely than they are actually used.

For example, one might have an enum like:
https://github.com/zyantific/zydis/blob/4dd632463c122ee85ba9c5f0c1e56ac748bf246e/include/Zydis/DecoderTypes.h#L478

but that enum is stored in a ZydisCPUFlagAction/uint8_t (https://github.com/zyantific/zydis/blob/4dd632463c122e

[2017-10-24 16:44] fitzgen commented on #1096
Can you be more specific, and give an example definittion, its current translation, and what you would prefer instead? Which style of `enum` translation are you using? Default (into constants)? `--constified-enum-modules`? `--rustified-enum-modules`?

[2017-10-24 17:03] jrmuizel commented on #1096
From above: https://github.com/zyantific/zydis/blob/4dd632463c122ee85ba9c5f0c1e56ac748bf246e/include/Zydis/DecoderTypes.h#L478

So currently constified enums are being used so we get something like: (notice the difference between the field type ZydisCPUFlagAction and the enum type ZydisCPUFlagActions).
[code]

I'd like to be able to turn this into something like:
[code]

[2017-10-24 17:39] fitzgen commented on #586
With non-`Copy` types in unions, or a `cosnt-fn` version of `std::mem::size_of`, we could do this:

[code]

Emits:

[code]

Although we would need to actually emit two versions of `Inherits`: One for when it is used as a base class, and another for when it is not. Only the latter would apply `AtLeastOneByte`.

[2017-10-24 18:13] crumblingstatue opened #1097 "[feature request] API for basic manipulation of generated items"
I am the current maintainer of [rust-sfml](https://github.com/jeremyletang/rust-sfml/).

Currently, we are using pre-generated bindings to [CSFML](https://github.com/SFML/CSFML) as a bridge between Rust and the C++ API. We suffer performance penalties with this, as the CSFML API hides the C++ types behind a heap allocation, so this way we'll never be as performant as the original C++ API.

I am co

[2017-10-24 21:05] fitzgen commented on #1096
Using `--rustified-enum '.*'`, this is outputted:

[code]

You have to be careful, though -- and this is why `rustified-enum` isn't the default -- because `rustc` relies on the assumption that there will never be a `ZydisCPUFlagsActions` whose value is `6`, and breaking that assumption is UB.

[2017-10-24 21:28] jrmuizel commented on #1096
I need ZydisCPUFlagAction to be an enum not ZydisCPUFlagActions and I need it to be repr(u8)

[2017-10-24 22:03] fitzgen opened #1098 "Support renaming fields/types/functions to use Rust naming conventions"
Turn this C struct

[code]

into

[code]

We could use the `heck` crate.

The hard part will be dealing with name clashes correctly.

[2017-10-24 22:15] fitzgen commented on #1097
Thanks for the bug report!

Did you use `--with-derive-blah` or builder equivalents? We should support deriving all derive-able traits (on master, hoping to have a new release soon) but many are just off by default: https://github.com/rust-lang-nursery/rust-bindgen/issues/886

Did you use `--enable-cxx-namespaces` or `--disable-name-namespacing` or their builder equivalents? They should achieve yo

[2017-10-25 08:03] johalun opened #1100 "Debug impl uses undefined String type. (no_std)"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

The generated file does not know about String type. Maybe ::alloc::String?

[2017-10-25 08:31] crumblingstatue commented on #1097
I'll look into it and see how it works out.

CXX namespaces would just add an extra level of nesting, wouldn't it? Why isn't `disable-name-namespacing` default? Probably because there could be name clashes. If so, then it's not a very robust solution.

But as I've stated, re-exports kind of solve this problem, so it's entirely optional, but would be nice to have if an ability to manipulate the gen

[2017-10-25 08:44] crumblingstatue commented on #1098
If #1097 is not feasible, it would also be nice to rustify enum variant names.

[2017-10-25 11:50] pepyakin commented on #1098
I think we already have a general problem with a name clashing.

First thing that comes in mind is:

[code]

[code]

[2017-10-25 12:23] emilio commented on #1097
We have `ParseCallbacks` in order to customize enums. Extending that to renaming fields, doesn't sound terribly hard, I think.

[2017-10-25 17:03] fitzgen commented on #1100
`::std::fmt::Result` also.

Does the `format!` infrastructure work with `no_std`?

[2017-10-25 17:05] fitzgen commented on #1098
Yeah, it will only get more likely with renaming fields, however.

[2017-10-25 17:15] sa2ajj commented on #363
sorry for a slow follow-up: i'll check it during the coming weekend :/

[2017-10-25 19:59] pepyakin commented on #1100
rustc [complains](https://play.rust-lang.org/?gist=7845a529fc9b4be505872a9ac1a53b14&version=nightly) that `format!` isn't defined code with `no_std`.

[2017-10-25 20:43] #768 closed

[2017-10-25 23:19] fitzgen opened #1104 "Allow specifying a max number of iterations to run in csmith-fuzzing/driver"
After `N` iterations have run, the script should exit.

Then, once we are pretty reliably handling `csmith`'s test cases, we can start running `N` iterations in CI.

[2017-10-26 00:10] seemyvest commented on #964
@highfive: assign me

[2017-10-26 00:10] highfive commented on #964
Hey @seemyvest! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-10-26 02:12] lord commented on #730
@kkimdev can you say what your solution was?

[2017-10-26 09:01] #536 closed

[2017-10-26 09:50] tpgxyz commented on #1087
@fitzgen Sorry to say that, but i don't know rust, and all i can do is to run build in our build environement.

I can provide any debug you tell me to add to .spec file when building RPM

[2017-10-26 10:00] pepyakin commented on #730
@lord Hi!
I think the latest versions of `bindgen` should work with emscripten out of the box.
What's the problem do you have?

[2017-10-26 16:33] fitzgen opened #1106 "Add a section to the users guide about deriving traits"
Should include info on:

* [ ] How to enable non-default trait deriving

* [ ] Heads up about situations in which we can't add `derive(Trait)` because, eg there is a floating point member in a struct so `Eq` can't be derived

* [ ] Information about the `--impl-blah` options for when we can impl but can't derive

* [ ] How to disable trait deriving/impling for specific types

[2017-10-26 16:41] #962 closed

[2017-10-26 20:54] lord commented on #730
Hrm, I've been experimenting with pointing `bindgen` at [emscripten.h](https://github.com/kripken/emscripten/blob/master/system/include/emscripten/emscripten.h), but the data type size tests from the resulting code mostly seem to be failing? It's kinda a weird case, understandable if bindgen doesn't support it. Sorry if I'm just misunderstanding something major, I'm not super familiar with how C b

[2017-10-27 09:41] pepyakin commented on #730
@lord , i'm just tried and it turned out to be successful.

My steps were:

[code]

Here is how my `emscripten.rs` [looks like](https://gist.github.com/pepyakin/32f44cdcd7c75d939541337a92700597) (after rustfmt for your convinience).

This is my test output
<details>

[code]

</details>

Hope this helps!

[2017-10-27 12:25] pepyakin commented on #730
Ooops, I just realized that you almost certanly want bindings to be usable from asm.js or wasm. Sorry for my ignorance!

The following commands are worked for me:

[code]

[2017-10-27 22:46] lord commented on #730
@pepyakin ignorance? You're a genius, I'm the ignorant one! Thanks for helping out.

It's now compiling, but functions aren't being exported? For the doggo example

[code]

running `bindgen blah.h -o out.rs`  results in the `eleven_out_of_ten_majestic_af` appearing in the resulting Rust file. But `bindgen blah.h -o ~/Desktop/webbing/src/sys/emscripten.rs -- --target=wasm32-unknown-emscripten -nobu

[2017-10-28 02:10] hfiguiere opened #1110 "Generate code doesn't compile"
It was ok with 0.30.0.

With 0.31.0 I get this errror when building:
[code]

My project is at:
https://github.com/hfiguiere/niepce/tree/bindgen-bug

bindgen is called by the `build.rs` (`cargo build`)

[2017-10-28 10:45] emilio opened #1113 "Regression with generated template parameters."
From 0.29 to 0.31, the following code corresponding to `nsBaseHashTable` has changed from:
[code]

To:

[code]

Trying to find a test-case now.

[2017-10-28 11:01] emilio commented on #1113
Test-case:

[code]

[2017-10-28 11:14] emilio commented on #1113
Bisect says that 61743aa190772a1c75acb75d274215274d0e6873 is to blame.

[2017-10-28 11:14] emilio commented on #1113
Unfortunately that is not precisely a minimal commit...

[2017-10-28 11:20] emilio commented on #1113
I got this one though.

[2017-10-28 11:31] emilio commented on #964
Fixed by  #1105

[2017-10-28 11:31] #964 closed

[2017-10-28 12:02] pepyakin commented on #1110
Hello @hfiguiere !

Can you paste the header file which exposes this problem?

[2017-10-28 12:38] #1113 closed

[2017-10-28 13:28] not-fl3 opened #1116 "Different layout in C++'s composition and inheritance"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

[code]

C++ demonstration:
https://gist.github.com/not-fl3/1e2d478b6c74230c313fb4e1716b937b
Size of class is different  for composition and inheritance, also with different field's visibility.

### Expected Results

Probably, correct represntation of c++ memory layout will be with embedded public fields fro

[2017-10-28 13:30] emilio commented on #1116
Dupe of #380, thanks for the report though!

See there for details and a bit more analysis.

[2017-10-28 13:30] #1116 closed

[2017-10-28 13:30] pepyakin commented on #730
Lol, there is definitely something is going on!

When I execute bindgen v0.30.0 without doing `source $EMSDK_PATH/emsdk_env.sh`, I get the same results as you get.

[code]

I have no idea why this function isn't being emitted!
clang that was used:

[code]

But, when I do `source $EMSDK_PATH/emsdk_env.sh`, `eleven_out_of_ten_majestic_af` is being emitted.

[code]

[2017-10-28 13:33] matklad commented on #380
Not sure if this is relevant, but looks like the visibility of individual fields matters here as well: https://gist.github.com/matklad/9471c7dc2388822e373d9371f728817e =/

[2017-10-28 13:35] pepyakin commented on #730
And also, please note that I've used `--target=asmjs-unknown-emscripten`!

I'm not sure why, but it seems Emscripten's `clang` doesn't support `wasm32-unknown-emscripten`:
[code]

but it works fine with

[code]

I thought that --target=wasm32-unknown-emscripten should work...
Here is my emscripten:

[code]

[2017-10-28 14:29] not-fl3 opened #1117 "Constructors with initializer list."
### Input C/C++ Header

[code]
### Bindgen Invocation

```$ bindgen test.hpp```

### Actual Results

Just a normal struct without any impls.
[code]

### Expected Results

Default implementation or new method with initializer list data.

[2017-10-28 14:31] emilio commented on #1117
Inline constructors are not quite supported, because there's nothing rust can call to. See https://rust-lang-nursery.github.io/rust-bindgen/faq.html#why-isnt-bindgen-generating-bindings-to-inline-functions.

Thanks for the report!

[2017-10-28 14:31] #1117 closed

[2017-10-28 15:05] emilio opened #1118 "Regression: Bindgen no longer generates nsTArray in function declarations."
When trying to update bindgen, functions that looked like:

[code]

Now look like:

[code]

Which means that there was probably a regression in how we detect opaque types and such. Bisecting now.

[2017-10-28 15:07] emilio commented on #1118
Bisect points angry at me with: bf9b3e9c31b2f02796b38ec4472e4b32a6978e6c

[2017-10-29 19:42] cardoe opened #1120 "Rustfmt mangles generated bindings with `union`"
I don't really have the opportunity now to reduce the test case but I figured its worth it to at least mention the issue. I'll reference the xtf project since I believe those headers are already reduced a bit from the default Xen headers.

### Input C/C++ Header

The public Xen header <xen/xen.h>, specifically the start_info struct.

https://xenbits.xen.org/gitweb/?p=xtf.git;a=blob;f=include/xen/x

[2017-10-30 00:24] emilio commented on #1118
A creduce'd version of this is:

[code]

[2017-10-30 00:25] emilio commented on #1120
ugh, that looks pretty borked, thanks for the report!

[2017-10-30 00:31] upsuper opened #1121 "Add an option to aggressively opaque type"
Referenced from [Gecko bug 1412077](https://bugzilla.mozilla.org/show_bug.cgi?id=1412077#c6), it may be a good idea to introduce a new option to aggressively mark types opaque based solely on the whitelist. This way, we can avoid generating types and their layout tests if we don't need them at all.

We can call the new option "whitelist-only", "aggressive-opaque", or something like that. And we pr

[2017-10-30 00:33] upsuper commented on #1121
It would let us generate smaller binding files, and thus potentially accelerate building.

[2017-10-30 00:33] emilio commented on #1121
I doubt a lot the bottleneck of the build is that, fwiw. Since I had to investigate #1118, I have a single-file stylo input we can use to profile and figure out what is the bottleneck in bindgen.

Also, I doubt rust would struggle to handle a bunch of `#[test]` only free function definition.

[2017-10-30 00:38] upsuper commented on #1121
This may not be a bottleneck for bindgen itself (although outputting fewer data might help a bit), but wouldn't generating more types give rustc more pressure when resolving them, especially when there are tons of useless types?

Also smaller binding files could also help analyzing and avoiding unrelated changes / conflicts when people have them in tree.

[2017-10-30 00:39] emilio commented on #1121
[stylo-input.txt](https://github.com/rust-lang-nursery/rust-bindgen/files/1425645/stylo-input.txt)

This is the input, if someone wants to profile.

[2017-10-30 00:40] emilio commented on #1121
I... guess? I don't know, I suspect this is not a big deal, but again without numbers, it's hard to say.

[2017-10-30 00:41] upsuper commented on #1121
I guess there is no way to verify this until we actually have such new option :)

[2017-10-30 00:42] emilio commented on #1121
Or until someone actually profiles the style crate and sees where rust spends its time :P

[2017-10-30 00:49] upsuper commented on #1121
I think I saw some bug filed against rust before about having lots of types make rustc take lots of time. But I failed to find that specific issue. That may have been resolved, though.

[2017-10-30 00:50] upsuper commented on #1121
Oh that was about unused import. Never mind.

[2017-10-30 02:10] lord commented on #730
Hrm, our clangs are different, I wonder if that is part of the cause. When I get the chance, I'll try to compile the newer version and report back? Thanks again!

[2017-10-30 04:42] photoszzt opened #1122 "Fail to rename the field in impl debug when variable name conflicts with Rust"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results
The translation of struct is correct:
[code]
But the impl Debug is wrong
[code]

[code]

### Expected Results

Should be type_ not type.

[2017-10-30 05:05] photoszzt commented on #1122
@highfive  assign me

[2017-10-30 05:05] highfive commented on #1122
Hey @photoszzt! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-10-30 05:26] photoszzt commented on #1120
@cardoe I guess this might related to rustfmt. What about passing  --no-rustfmt-bindings? I also see this error when I switch to the new version for my project. But if I disable the formatting that run by bindgen and run rustfmt on command line: rustup run nightly rustfmt test.rs. The generated binding looks correct.

[2017-10-30 06:23] #1122 closed

[2017-10-30 09:15] emilio commented on #1118
I got a fix for this.

[2017-10-30 10:02] emilio opened #1125 "Inconsistent naming scheme for whitelisting / blacklisting vs. rustified enum configurations."
The configuration for rustified-enum uses `canonical_name`. The configuration for whitelisting uses `canonical_path`.

I think rustified_enum and similar configs should use `canonical_path` too, since that handles namespaces properly.

[2017-10-30 10:37] #1118 closed

[2017-10-30 19:14] MTRNord commented on #1110
I have the same problem (I wanted to try if I get a nodejs binding. So the header is a little big to post.) It should be https://github.com/nodejs/node/blob/master/src/node.h for me.

Error with this on windows is:

[code]

[2017-10-30 21:25] cbourjau opened #1127 "Panic in bindgen: "Not an item""
I am trying to wrap some large c++ framework and bumped into the following issue using bindgen `0.31.1`. It is a panic in bindgen. Frankly, I'm not sure what exactly is going on and the `creduced` sample is still quite cryptic to me. The panic message seems similar to issue #67. Thanks a lot in advance and for the fantastic thing that bindgen is! Here it goes:

### Input C/C++ Header

[code]

###

[2017-10-30 21:45] cbourjau commented on #1127
Hello again,
here is a slightly simplified version reproducing the bug:

[code]

[2017-10-31 11:52] emilio commented on #1127
Thanks so much for the test-case, makes it much easier :)

[2017-10-31 15:48] hfiguiere commented on #1110
It is in the git repository I linked https://github.com/hfiguiere/niepce/blob/bindgen-bug/src/engine/db/bindings.hpp

It includes other headers that are in the tree.

[2017-10-31 16:12] lu-zero commented on #1120
I can confirm the issue and seems easy to reproduce on macOS since it happens in their system headers directly :)

[2017-10-31 16:20] fitzgen commented on #1110
Hi @hfiguiere, thanks for filing an issue!

The best way you can help us investigate and resolve this bug is by providing a standalone, reduced test case via `creduce`: https://github.com/rust-lang-nursery/rust-bindgen/blob/master/CONTRIBUTING.md#using-creduce-to-minimize-test-cases

Thanks again!

[2017-10-31 16:26] fitzgen commented on #1120
@lu-zero can you confirm whether `--no-rustfmt-bindings` makes the compilation errors go away?

----------------

In general, the best way to help us make progress on this bug would be by providing a standalone, reduced test case via `creduce`: https://github.com/rust-lang-nursery/rust-bindgen/blob/master/CONTRIBUTING.md#using-creduce-to-minimize-test-cases

[2017-10-31 16:43] emilio commented on #1127
I happen to be hitting this today, so I'm investigating a bit.

[2017-10-31 16:48] lu-zero commented on #1120
Confirmed

testcase
[code]
before rustfmt
[code]
After rustfmt

[code]

[2017-10-31 16:51] emilio commented on #1127
Fix at #1128

[2017-10-31 17:45] cbourjau commented on #1127
Thanks a lot for this super fast fix!

[2017-10-31 17:55] emilio opened #1129 "Hang in the test-case from #1127 with extra assertions."
With the fix for the panic in #1128, we get through it and generate code correctly, but on llvm 4.0 we generate a cyclic alias reference, so we get stuck resolving items in `assert_every_item_in_a_module` (enabled only with extra assertions).

The test is:

[code]

The method definition does surprisingly matter, so there's something fishy going on there, but I'm punting on landing the test-case fo

[2017-10-31 18:22] fpagliughi commented on #1046
It appears that this may be due to the `#[link_name = "..."]` attributes which are being specified for each of the native functions in the `bindings.rs` file, like:
[code]
If I manually remove them or comment them all out, then the tests seem to link and run properly, like:
[code]
Why is it mangling the names like that?
Is it required by some other compiler or operating system?
Is there a way to t

[2017-10-31 18:28] emilio commented on #1129
Bisect points to c736faaa3728d6e7475f85cbf0fe1d3ff05586a1, which is where the assertion was introduced, so that's not really helpful... :)

[2017-10-31 18:46] #1127 closed

[2017-10-31 19:02] fitzgen commented on #1120
What version of `rustfmt` are you using?

After I do this:

[code]

Then `rustfmt` can handle it just fine:

[code]

[2017-10-31 20:09] lu-zero commented on #1120
I'm using the normal rustfmt.

[2017-10-31 20:23] cardoe commented on #1120
So I've had a chance now to follow up. And my issue is the same as @lu-zero. Using `--no-rustfmt-bindings` makes the issue go away. I too am using `rustfmt` and not `rustfmt-nightly`.

[2017-10-31 20:31] fitzgen commented on #1120
My understanding is that the `rustfmt` crate is in stasis; it isn't receiving bug fixes, and all development has moved to the `rustfmt-nightly` crate.

We've discovered and then fixed multiple bugs in `rustfmt-nightly` since switching away from `syntex`, and if you aren't using `rustfmt-nightly`, then I don't think you'll have those fixes, and you'll probably have a bad time.

[2017-10-31 20:34] cardoe commented on #1120
@lu-zero Were you targeting a stable compiler? If so then the default of `bindgen` should not be to require `rustfmt-nightly`, which in turn requires a nightly compiler per https://github.com/rust-lang-nursery/rustfmt

[2017-10-31 20:47] lu-zero commented on #1120
I have unions in the headers I'm wrapping so stable wasn't an option until really recently and the rest of the framework I'm building needs more features that are nightly-only for now.
Would be good making sure that either rustup provides a workable `rustfmt` or bindgen detects known-broken versions of it.

[2017-10-31 21:26] fitzgen commented on #1029
Fixed in #1092

[2017-10-31 21:26] #1029 closed

[2017-10-31 21:26] fitzgen commented on #968
Fixed in #1042

[2017-10-31 21:26] #968 closed

[2017-10-31 22:55] hfiguiere commented on #1110
With the source tree mentionned above
[code]

the guilty type is `fwk::FileList` (on of the four types I whitelist)

[2017-10-31 22:57] hfiguiere commented on #1110
My environment is Fedora 27 that has gcc 7.1.2 (since that's the headers it uses)

[2017-10-31 23:02] hfiguiere opened #1131 "No link to release notes"
I couldn't find neither in docs.rs nor in the source tree a link or text versoin of the release notes posted on the discourse forum where you announced new version.

It made it hard to find what were the incompatible changes and how to address them.

I am talking about that page (I had to dig it up from my phone browser history): https://users.rust-lang.org/t/bindgen-automatically-generate-rust-ff

[2017-10-31 23:49] fitzgen opened #1132 "Bitfield followed by byte generates incorrect layout"
This bug was found with `csmith` and `driver.py`.

### Input Header

[code]

### `bindgen` Invocation

[code]

### Actual Results

<details>

[code]

</details>

### Expected Results

`bindgen` emits bindings OK, then `rustc` compiles those bindings OK, then the
compiled bindings' layout tests pass OK.

[2017-10-31 23:51] fitzgen commented on #1132
For posterity, the pre-`creduce` test case:

<details>

[code]

</details>

[2017-11-01 06:30] #1076 closed

[2017-11-01 16:51] fitzgen commented on #1110
If you follow the instructions I linked, which is the best way you can help get this bug fixed, then you will end up with a standalone test case that doesn't depend on any system headers.

[2017-11-01 16:57] not-fl3 opened #1133 "Linking to wrong overloaded virtual destructor"
### Input C/C++ Header

[code]
Here is origianl source file and entire project, just in case: https://github.com/not-fl3/test-sys/blob/destructor/test.hpp

### Bindgen Invocation

$ bindgen  test.hpp  --generate-inline-functions

### Actual Results

Bindgen's generated code:
[code]

And here is rust test case:
[code]
Its the test because for some reason the error appears only from tests.
cargo tes

[2017-11-01 20:18] #1131 closed

[2017-11-01 21:51] fitzgen commented on #537
I have a band-aid in https://github.com/rust-lang-nursery/rust-bindgen/pull/1136

It should make `#pragma packed(1)` work. For `#pragma pack(n)` where `n > 1`, it detects that something is off and makes the type opaque. This is the best that we can do since [Rust doesn't have `#[repr(packed = "n")]` yet](https://github.com/rust-lang/rust/issues/33158).

[2017-11-01 22:04] fitzgen commented on #997
Unassigning due to lack of activity.

[2017-11-01 22:54] fitzgen commented on #981
A couple more instances of this bug:

[code]

[2017-11-02 20:26] fitzgen opened #1139 "Go through the libz blitz's guidelines checklist"
From https://rust-lang-nursery.github.io/api-guidelines/checklist.html

I think a lot of these might not be too relevant since we don't export a very large API. We should go through and check everything off that is irrelevant, and then for relevant items, file sub-issues.

### Naming (crate aligns with Rust naming conventions)

  * [ ] Casing conforms to RFC 430 (C-CASE)
  * [ ] Ad-hoc conversions

[2017-11-02 21:04] fitzgen opened #1140 "Template type param as bitfield leads to panic"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

No panic. Perhaps the templatized struct is opaque, or we don't emit bitfield accessors for it.

[2017-11-03 16:31] #1140 closed

[2017-11-04 01:02] aweinstock314 commented on #1120
I think I'm hitting this issue with the erlang nif headers.

wrapper.h:
[code]

bindgen 0.31.3 (newest crates.io) snippet:
[code]

bindgen 0.26.3 (version from https://rust-lang-nursery.github.io/rust-bindgen/tutorial-1.html) snippet:
[code]

[2017-11-06 01:59] ExpHP opened #1142 "[feature request] Blacklisting functions"
In `lammps-sys` I have a feature to enable use of system include paths to locate `mpi.h`.  When this feature is disabled, I want to forbid use of functions which depend on the MPI types.

[code]

However, [one of the functions](https://github.com/CFDEMproject/LAMMPS/blob/master/src/library.h#L27) I am exposing has such a type in its signature.  It is too difficult to write a whitelist pattern that

[2017-11-06 04:07] oconnor663 commented on #1009
I'm seeing a bindgen test that only fails on Windows too:

[code]

From [this AppVeyor run](https://ci.appveyor.com/project/oconnor663/blake2-c-rs/build/1.0.9/job/ig21dxd1lg4ph9em). Should I file that one as a separate issue? Also how are folks working around these for now, just `--no-layout-tests`?

[2017-11-06 14:07] nox opened #1143 "Start generating proper virtual tables for purely virtual C++ classes."
Cc @emilio

[2017-11-06 16:48] fitzgen commented on #1142
Sounds reasonable to me.

[2017-11-06 16:50] fitzgen commented on #1009
@oconnor663 please file a separate issue, and provide a [standalone, reduced test case](https://github.com/rust-lang-nursery/rust-bindgen/blob/master/CONTRIBUTING.md#using-creduce-to-minimize-test-cases) if possible.

[2017-11-07 20:27] agrover opened #1144 "Convert signed char arrays into uchar arrays"
I use bindgen on the data structure shown, and then I'm left with signed char arrays that require a transmute to treat as bytes. for example:

[code]

It would be great if bindgen could optionally translate these as unsigned chars instead of signed chars (the default). Or, maybe I'm going about this all wrong??? 😃

### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[2017-11-08 05:36] zacps opened #1145 "Expected bool, found integral variable (0.30 -> 0.31 Regression)"
Regression between the 0.30 and 0.31 releases that causes an invalid type (int instead of bool) in generated bindings.
Platform: MSVC x86_64

### Input C/C++ Header
[winpty.h](https://github.com/rprichard/winpty/blob/master/src/include/winpty.h)
I unfortunately wasn't able to get creduce working on windows so unreduced is the best I can do for now.

### Bindgen Invocation

[code]

### Actual Resul

[2017-11-08 17:23] fitzgen commented on #1144
Hi @agrover! Thanks for filing an issue.

Right now,

* If `bindgen` sees `char` then it translates into `c_char`.

* If `bindgen` sees `signed char` then it translates into `c_schar`.

* If `bindgen` sees `unsigned char` then it translates into `c_uchar`.

Note that `c_char` is a type alias of either `c_schar` or `c_uchar` depending on the target platform and whether `char` is signed or not on it

[2017-11-08 17:24] fitzgen commented on #1145
Thanks for the bug report!

[2017-11-08 18:25] agrover commented on #1144
I'm in agreement that this is correct behavior. Opening this issue was really to see if there might be an existing option in bindgen that could help tweak this, or to see if it was a common enough issue to warrant development ("custom type substitution"?) If not, we can keep the explicit casts, and we can close this issue. Thanks.

[2017-11-08 18:37] fitzgen commented on #1144
We do have `<div rustbindgen replaces="..." />` annotations, but they apparently don't work properly with scalars:

[code]

generates

[code]

but it should have `pub c: char,` instead of the `pub c: ::std::os:raw::c_char`.

With this bug fixed, then we could force all `char` to be `unsigned char`.

[2017-11-08 18:37] fitzgen commented on #1144
We do have `<div rustbindgen replaces="..." />` annotations, but they apparently don't work properly with scalars:

[code]

generates

[code]

but it should have `pub c: char,` instead of the `pub c: ::std::os:raw::c_char`.

With this bug fixed, then we could force all `char` to be `unsigned char`.

[2017-11-10 05:58] taro-yamada opened #1147 "corrupt code is generated if the union contains an array."
### Input C/C++ Header
[code]
### Bindgen Invocation
[code]
### Actual Results
[code]
### Expected Results
[code]
## Environment
### OS/distribution
ArchLinux
### bindgen version
bindgen --version
bindgen 0.31.3
### rustc version
rustc --version
rustc 1.23.0-nightly (d6b06c63a 2017-11-09)
### clang version
clang --version
clang version 5.0.0 (tags/RELEASE_500/final)
Target: x86_64-unknown-linux-gn

[2017-11-10 10:24] emilio commented on #1147
I think this is a rustfmt bug, and using `--no-rustfmt-bindings` or upgrading / using `rustfmt-nightly` should work, see #1045 and similar issues.

Thanks for the report!

[2017-11-10 10:24] #1147 closed

[2017-11-13 12:45] Luthaf commented on #918
Hey! I am interested in this feature, what do you think the way forward could be? Trying to bundle libclang in this crate? Bundling it in clang-sys?

If we want to bundle libclang, does this means compiling it ourself (and dealing with backward compatibility with old glibc/kernels on linux, or macOS deployment targets); or using some other pre-built libclang, like the one from conda-forge (https:/

[2017-11-13 14:22] KyleMayes commented on #918
I experimented with using Git LFS to download binaries as a part of `clang-sys` a few weeks ago, but stopped when I recognized a few important issues (sorry for not bringing this up earlier):

1. Git LFS is not a part of Git, users would need to install it themselves so that the `clang-sys` build script could invoke it to download the binaries from the repository. This just replaces installing Cla

[2017-11-13 14:31] Luthaf commented on #918
What about having a separated `libclang-precompiled` crate, that only contains the bundled libs, and is only a dependency when the feature is enabled?

[2017-11-13 15:51] #954 closed

[2017-11-13 16:21] glyn commented on #816
I've spent several hours reading the code and it's making more sense now. I fixed #954.

For this issue, I like the look of @fitzgen's `union BindgenBitfieldUnit<Storage, Align>` approach, but that would restrict the target Rust version to ≥1.19. Is that a problem?

[2017-11-13 17:46] fitzgen commented on #816
I poked at this a little while ago. The `union` can be avoided, but I had other issues as well, that I didn't spend enough time digging into to get tot he bottom of.

* llvm wasn't able to boil this away into the simplest loads and masking I'd hoped for. This could be my fault, and it desn't even work properly yet, so maybe this shouldn't even be a worry yet.

* This is all very specific about end

[2017-11-13 17:56] glyn commented on #816
Thanks @fitzgen. I take it that you would prefer to avoid `union` then. ;-)

[2017-11-13 19:00] jgallagher opened #1150 "Bindgen 0.31 emits link_name but no function prototype (regression from 0.30)"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

0.31.0 (and 0.31.3) emit

[code]

which fails to compile due to the link_name with no corresponding function.

### Expected Results

0.30.0 emitted

[code]

[2017-11-13 19:01] fitzgen commented on #816
Yeah, if possible, and in this case it isn't too difficult :)

[2017-11-13 19:14] fitzgen commented on #1150
Thanks for the bug report!

[2017-11-13 19:16] emilio commented on #1150
Works for me, is this a rustfmt bug?

[2017-11-13 19:18] fitzgen commented on #1150
@jgallagher do you experience the same error with `--no-rustfmt-bindings`? Or after running

[code]

?

[2017-11-13 20:24] jgallagher commented on #1150
Ah, yep, updating to rustfmt-nightly fixed it. Thanks.

[2017-11-13 20:24] #1150 closed

[2017-11-14 01:50] snewt opened #1151 "Global multi-level pointers"
Hello,
I've been working toward implementing property based testing with quickcheck, issue #970 and the tests I have so far are generating some code that fails.

### Input C/C++ Header
[code]
It seems like this is only an issue for globals as far as I can tell because the following code succeeds
[code]

### Invocation

I've been using the `csmith-fuzzing/predicate.py` script to test so the failing

[2017-11-14 17:51] glyn commented on #816
@fitzgen I'm exploring something similar to your WIP commit with `get` taking, and `set` returning, a `u8` rather than a `u64`. The endianness considerations then disappear from that code and cluster in the unit constructors and field getters and setters.

[2017-11-15 10:56] lilianmoraru commented on #1046
Yep, same issue here, also because of wrong `link_name`.
The interesting thing is that at home it works, at work it doesn't...

[2017-11-15 17:22] fitzgen commented on #1151
Thanks for filing a bug @snewt !

I can't reproduce the behavior you're describing however. I wonder if it is possibly due to an older version of `rustfmt`? Do you experience the same issue with either

* adding `--no-rustfmt-bindings` to the args passed to `bindgen` through `predicate.py`, or
* after ensureing that `rustfmt` is up-to-date?

[code]

Thanks!

[2017-11-15 17:27] fitzgen commented on #1046
Rust doesn't use `libclang` (although it is using LLVM) -- I think that is a red herring.

`bindgen` is definitely affected by what version of `libclang` is being used, however. Right now, we test with 3.8, 3.9, and 4.0. 5.0 has been known to work well in the past, but no one has taken the time to set up our CI with it yet. Last I heard 6.0 was still trunk, has that changed?

The other thing to do

[2017-11-15 17:54] snewt commented on #1151
Ah! @fitzgen the update steps you provided resolved the issue, thanks for walking me through them.

[2017-11-15 18:21] fitzgen commented on #1151
Great!

[2017-11-15 18:21] #1151 closed

[2017-11-16 17:56] snewt opened #1153 "Struct containing a pointer to multi-dimensional array that has one zero sized dimension."
Hello,
I'm working on generating some valid C headers as property tests for bindgen, issue #970.
While filling in the generation logic I'm starting to come across code that makes
the `csmith-fuzzing/predicate.py` script cough. I don't know how many of these there
might be (or how many might be false alarms like #1151) so I'm open to just keeping a
public running list somewhere if raising issues as

[2017-11-16 18:06] fitzgen commented on #1153
# Expected Results

We generate types with the expected size and alignment ;)

-------------

Thanks for the bug report!

[2017-11-16 18:07] fitzgen commented on #1153
It seems like the input header in the issue isn't complete -- what is `decl_4_0`?

[2017-11-16 18:09] fitzgen commented on #1153
Doh I totally misread -- that's the name of a field.

[2017-11-16 18:12] fitzgen commented on #1153
I think we may need to differentiate between zero-sized and incomplete arrays to fix this. That's probably overdue either way.

[2017-11-17 00:59] posix4e opened #1154 "Unable to build rust torch bindings https://github.com/posix4e/rust-torch"
### Input C/C++ Header

[code]

We actually generate it.

[code]

### Actual Results

[code]

[code]

[code]

### Expected Results
I expected it to compile

[2017-11-17 01:01] posix4e commented on #1154
I tried it with an older version of bindgen and I didn't get an error when compiling but i still get an error when building
[code]

[2017-11-17 01:09] posix4e commented on #1154
Apparently with this old version of bindgen it works if i tell it not to generate unstable rust code. Should I leave this open?

[2017-11-17 15:20] glyn commented on #816
@fitgen I corrected a little bug in your WIP commit and now all the tests pass. Is this suitable for merging to master? We can then work on lifting the 64 bit restriction.

[2017-11-17 17:30] fitzgen commented on #816
@glyn Awesome! Thank you very much! Can you open a PR with the WIP commit and your fix squashed together with a nice commit message? Then I can do a final double check and merge it.

Thanks!

[2017-11-17 17:35] fitzgen commented on #1154
Hi @posix4e, thanks for filing a bug. Can you provide a standalone version of the input header file? https://github.com/rust-lang-nursery/rust-bindgen/blob/master/CONTRIBUTING.md#using-creduce-to-minimize-test-cases

Without that, unfortunately, this this issue is not very actionable. Thanks!

[2017-11-17 18:31] posix4e commented on #1154
@fitzgen the one line h file generated http://termbin.com/lgfd

[2017-11-17 18:46] fitzgen commented on #1154
The "one line h file" is an include of another header, which includes an unknown further number of headers, each of which include ... etc.

In order for this issue to be actionable, we need at minimum the header *after the preprocessor runs* and preferrably after running `creduce` as well. You can find instructions for producing these things in the link I gave above.

Thanks!

[2017-11-17 23:17] VikingMew opened #1155 "Can not load local header"
### Input C/C++ Header

https://github.com/dmlc/dmlc-core/blob/43568062af426ee1e970e480e770b13f5a60f2e8/include/dmlc/base.h#L189

### Bindgen Invocation

[code]

### Actual Results
cargo:rustc-link-search=mxnet
cargo:rustc-link-lib=bz2
cargo:rustc-link-lib=mxnet
include/mxnet/./base.h:27:10: error: 'dmlc/base.h' file not found with <angled> include; use "quotes" instead, err: true
include/mxnet/dm

[2017-11-17 23:25] fitzgen commented on #1155
Is that leading `/` supposed to be there? I'd expect `.clang_arg("-I../include")` or some such instead.

This whole issue looks like

1. include dir misconfiguration, and
2. maybe some syntax errors in whatever headers are getting included (although maybe they will go away after fixing the first issue).

[2017-11-17 23:30] VikingMew commented on #1155
I just tested your args. `.clang_arg("-I../include")`
It solves the first line `; use "quotes" instead,`
but not the latter few lines.
[code]
still exists.

[2017-11-17 23:33] fitzgen commented on #1155
Those are all syntax errors from `libclang` -- can you compile a simple `.cpp` file that includes those same headers with the same flags passed to `.clang_arg` + `-c`?

[2017-11-17 23:34] fitzgen commented on #1155
Do you have `.clang_arg("-x").clang_arg("c++")`? Or try renaming you `wrapper.h` to `wrapper.hpp`

[2017-11-17 23:49] VikingMew commented on #1155
`.clang_arg("-x").clang_arg("c++")` works. Thank you.

[2017-11-17 23:49] #1155 closed

[2017-11-18 14:28] siscia opened #1156 "Regression from 0.30.0 to 0.31"
Sorry guys, honestly I am not even sure it is a bindgen issue.

I have this project that compiles just fine with bindgen previous or equal to 0.30.0 but it is broken on bindgen 0.31.3

Now, if I run just bindgen it outputs a reasonable file, however, the file does not compile.

### Input C/C++ Header
This is quite an issue, I wasn't able to follow the instruction to generate the minimun test case,

[2017-11-19 20:54] fpagliughi commented on #1046
OK. It looks like this might be the root cause of the issue.

All of my Linux machines have multiple versions of clang, including 3.6, 3.8, and 3.9. Even the machine that "works" has v3.6, but for some reason it... works.

The `clang-sys` README states that it supports Cargo features like "clang_3_5", "clang_3_6", and so on up to "clang_5_0" to force it to us the specified version or newer, and th

[2017-11-20 15:46] glyn commented on #816
@fitzgen Since it was then relatively easy to lift the 64 bit unit restriction and that is the real motivation for the above code, I've submitted a PR this all done together. Hope that works for you.

[2017-11-21 14:28] fpagliughi commented on #1046
Yes, it appears that the old clang version is causing problems, although somewhat inconsistently which made it difficult to diagnose. This issue appears to be a repeat of #528, and possibly a few others.

Setting LIBCLANG_PATH seems the correct fix, but this places a burden on users with a silent failure when things go wrong.

There is even a work-around already in place for older clang's in the `

[2017-11-22 14:56] klefevre commented on #1156
We had the same problem it could be related to #1120 .

The solution is to install the nightly version of rustfmt:
`rustup update; rustup run nightly cargo install rustfmt-nightly` on your system.

[2017-11-26 21:48] ambaxter opened #1160 "Bitfield Signed Integer Handling Incorrect"
A bitfield with a signed integer works as expected (including overflow) for all functionality except for the Rust getter which in all cases returned an unsigned value.

### Input C/C++ Header
[code]

### C Static functions
[code]

### Bindgen Invocation
[code]

### Main Source

[code]

### Actual Results

[code]

### Expected Results (Just the c field).

[code]

[2017-11-27 02:02] tamird opened #1161 "rustified_enum doesn't work with anonymous enums"
### Input C/C++ Header

https://github.com/llvm-mirror/llvm/blob/master/include/llvm/IR/CallingConv.h

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results
A Rust enum resembling:
[code]

[2017-11-27 17:52] fitzgen commented on #1156
Yes, this is a bug in `rustfmt`. You can update it to get the fix, as @klefevre kindly pointed out, or you can use `.rustfmt_bindings(false)`.

Thanks for the bug report!

[2017-11-27 17:52] #1156 closed

[2017-11-27 18:03] fitzgen commented on #1161
So shall we close this issue? Any reason you wanted to leave it open?

[2017-11-27 18:07] tamird commented on #1161
It's not clear to me that this is a dupe; maybe just leave it open and I'll investigate once #1125 is closed.

[2017-11-27 18:08] fitzgen commented on #1160
Thanks for filing a bug report!

We should probably retest this since @glyn's big bitfield PR just landed.

[2017-11-27 18:53] est31 commented on #918
Uploading stuff to crates.io means it has to sit there for ever. Binaries are target specific, very big, and as short lived as the rest of the code. They will need to be updated very often. If you really need to mirror it I suggest putting it into a different cloud service than crates.io and e.g. publish URLs to download the library if build.rs detects that the library is missing.

I am personally

[2017-11-27 19:56] fitzgen commented on #1129
We have debug-only sets that we use to assert against infinite loops elsewhere (item ancestors iirc) so we should use them here as well.

Of course, the bigger issue is that we shouldn't be generating cyclic aliases at all...

[2017-11-27 20:02] fitzgen commented on #1046
libclang versioning is tricky, but we have hopes of eventually side-stepping the issue: https://github.com/rust-lang-nursery/rust-bindgen/issues/918

We do have a warning, but only in the executable, not in the library: https://github.com/rust-lang-nursery/rust-bindgen/blob/master/src/main.rs#L46

Would love to receive a PR that moves it somewhere shared by both the executable and library.

[2017-11-27 20:02] #1046 closed

[2017-11-27 20:09] fitzgen commented on #816
This can be closed now, right? @glyn @emilio

[2017-11-27 20:12] fitzgen commented on #775
We no longer generate recursive bit operations for constructors.

[2017-11-27 20:12] #775 closed

[2017-11-27 20:15] fitzgen commented on #735
This is fixed with `__BindgenBitfieldUnit`

[2017-11-27 20:15] #735 closed

[2017-11-27 20:30] fitzgen commented on #1160
Confirmed that this is still a bug after `__BindgenBitfieldUnit`.

[2017-11-28 12:16] #1125 closed

[2017-11-28 23:49] tamird commented on #1161
OK, so #1162 didn't fix this for me, at least not the way I'm (naively) trying to use this.

However, looking closer, I'm not really sure what the semantics here are. The C++ code is roughly:

[code]

My C++ is pretty nascent, so I'm not really sure what this code does, but it looks like it just declares a bunch of integral constants and not a true enum. From my perspective, it would be nice to be

[2017-11-28 23:53] tamird commented on #1161
eh, I misspoke - this is weird. This doesn't work if I pass `"llvm::CallingConv::ID"` into `rustified_enum` but if I pass `"llvm::CallingConv::.*"` I get:
[code]
In other words, I get both the rustified enum and all the constants.

[2017-11-29 00:21] tamird opened #1164 "odd matching on c++ class"
Given this C++:
[code]

Calling `builder::opaque_type` and `builder::whitelist_type` with `"llvm::object::Archive::Child"` does not match. However, calling those methods with `"llvm::object::Archive_Child"` does match. That doesn't seem right.

[2017-11-29 00:35] tamird commented on #1164
The exact same behaviour occurs for the following typedef nested within a class:
[code]
This is matched with `"LLVMContext_InlineAsmDiagHandlerTy"`, not `"LLVMContext::InlineAsmDiagHandlerTy"`.

[2017-11-29 00:41] tamird commented on #1164
An anonymous enum nested within a class exhibits stranger behaviour still:
[code]
I can't get this to match with anything other than `"llvm::LLVMContext.*"`. Others I've tried:
`"llvm::LLVMContext_.*MD.*"`
`"llvm::LLVMContext::.*MD.*"`
and even:
`"llvm::LLVMContext.*MD.*"`

[2017-11-29 02:28] tamird commented on #1121
This would also be useful in cases where almost all types want to be opaque, but a select few require concrete representations.

It'd be really useful if there was a way to mark types opaque by default and then "clarify" the ones desired.

[2017-11-29 11:53] tamird opened #1165 "enum: "bitfield" and "rustified" shouldn't be mutually exclusive"
Providing the two together should provide an API similar to that produced by usage of the [bitflags crate](https://github.com/rust-lang-nursery/bitflags).

[2017-11-29 11:57] nox commented on #1165
That's not an obvious thing to do without `#[repr(transparent)]`. For any given `T` type with `#[repr(C)]`, `T` and `#[repr(C)] struct Wrapper(T)` won't necessarily behave the same on some ABIs.

[2017-11-29 11:58] nox commented on #1165
Though I just remembered that's already a problem with "bitfield" on its own, IIRC.

[2017-11-29 13:06] emilio commented on #1165
Yeah, but more to the point, bitfield + rustified is a no-go because of rust `match` semantics, see #225. Having out-of-range rust enums is UB.

[2017-11-29 13:06] #1165 closed

[2017-11-29 13:08] tamird commented on #1165
Ah, sorry, I should have titled this differently - I don't need the enum part, I just need it to be associated constant-y. Should I open a new issue for non-rustified associated constant enums?

[2017-11-29 13:09] emilio commented on #1165
Wait, you mean generating them in their own modules? Ok, yeah, that should be doable :)

But yeah, let's file another issue for them, since this one has nothing related to it.

[2017-11-29 13:16] tamird opened #1166 "enum: support bitfield enums that use associated constants"
I think a composition between `rustified_enum` and `constified_enum_module` would achieve this, but I believe they're mutually exclusive today.

[2017-11-29 13:17] tamird commented on #1166
Actually that composition won't quite do it, since I really want associated constants on the type rather than a module that contains the type and all the variants.

[2017-11-29 16:58] fitzgen commented on #1121
I could imagine something like

[code]

which is analogous to `derive_copy(true).no_copy("SomeSpecificType")`.

[2017-11-29 17:23] fitzgen commented on #1161
This is the expected behavior. Whenever there is an explicit value given to an enum variant, we also make a constant (if I remember the rules correctly).

I think we can close this issue, unless I am overlooking something.

[2017-11-29 17:27] fitzgen commented on #1164
I guess the issue is that our whitelisting/etc uses the names we will eventually *generate* while you seem to (reasonably) expect the *C++* name.

Changing this would be a breaking change (which doesn't mean its a no-go, just means we need to remember to highlight it in the changelog if we do decide to do this).

Regardless of whether we decide to switch naming styles, we could definitely use some

[2017-11-29 17:28] tamird commented on #1161
I wasn't complaining about the generated code, I was just saying that the rules for matching this enum are not clear. Why do I need to use a wildcard?

Separately, I do have a complaint about the generated code: take a look at `X86_StdCall` - it appears as a constant, but it is absent from the enum (and thus it is not usable as an associated constant). The reason seems to be that it has the same v

[2017-11-29 17:30] tamird commented on #1164
Even this is not totally true, right? The name that is eventually generated is `llvm_LLVMContext_....` yet matching requires `::` instead of `_`. So there's a Frankenstein's monster of the C++ name and the generated name involved somewhere.

[2017-11-29 17:30] fitzgen commented on #1164
Also, we *could* change our generated code for nested classes to use module vs type namespace punning. For example,

[code]

could generate

[code]

And then the Rust code could use `Outer::Inner` instead of the current `Outer_Inner`

[2017-11-29 17:32] fitzgen commented on #1164
Do you have `enable_cxx_namespaces()`?

We should probably make that the only option as well, or at least the default... thoughts @emilio ?

[2017-11-29 18:07] tamird commented on #1164
I do not. That option's documentation isn't particularly helpful. I'll try it.

[2017-11-29 21:03] tamird commented on #1164
`enable_cxx_namespaces` does not affect the behaviour with respect to nested classes. I now get:
[code]
So I still need to use an underscore where a namespace separator is expected.

`enable_cxx_namespaces()` does make the mapping more intuitive, and indeed it seems that matching happens against the generated-with-cxx-namespaces-name.

Something very strange is happening with the enum part; I can'

[2017-11-30 07:29] drake-amz opened #1167 "bindgen generates incorrect Rust code for C functions which accept callbacks"
I am trying to use bindgen to generate Rust bindings to a C library. This library's header file define various functions. Some of the defined functions accept a function pointer as a callback parameter. The callback functions themselves also take parameters.

Although `bindgen` exits successfully, the produced Rust code is invalid. There are multiple instances of C functions not being generated in

[2017-11-30 07:48] drake-amz commented on #1167
Here is the result of enabling debug logging when running `bindgen`. Of possible interest is the line `WARN:bindgen: Using clang (4, 0), expected (3, 9)` - could using a later version than 3.9 cause problems?

[code]

[2017-11-30 11:17] emilio commented on #1167
That looks a lot like rustfmt messing out, mind updating rustfmt or using `rustfmt_bindings(false)`?

[2017-11-30 16:17] drake-amz commented on #1167
That solved it, thanks!

[code]

Also confirmed that when I run `rustfmt` directly on the bindings.rs file, `rustfmt` removes the function declaration line. I'll file a follow up issue on the `rustfmt` repo.

[2017-11-30 17:46] fitzgen commented on #1167
Yep, need to make sure `rustfmt` is up-to-date, or alternatively live with un-pretty-printed bindings and disable `rustfmt`ing.

Thanks for filing an issue!

[2017-11-30 17:46] #1167 closed

[2017-11-30 19:56] snewt opened #1168 "quickhecking crate CLI"
The `quickchecking` crate, for property testing with fuzzed C headers, is a library at the moment. If instead it was a binary application some configuration could be exposed through a CLI.
 (crate lives in the tests directory here: [https://github.com/rust-lang-nursery/rust-bindgen/tree/master/tests/quickchecking](https://github.com/rust-lang-nursery/rust-bindgen/tree/master/tests/quickchecking))

[2017-11-30 20:03] snewt opened #1169 "cargo features for quickchecking crate"
The `quickchecking` crate, for property testing with fuzzed C headers, has some special casing so that known issues (#550, #684, and #1153) don't cause the property tests to fail. That special casing could be handled with a feature in the crate's `Cargo.toml` file and some `cfg` attributes in the source.

Corresponds to extending #970

`quickchecking` crate lives in the tests directory here: [http

[2017-11-30 20:11] snewt opened #1170 "quickchecking broader range of viable code"
The `quickchecking` crate, for property testing with fuzzed C headers could be extended to exercise a broader range of viable code.

Some examples of generated features that might provide value would be bitfields, C++, and other problematic code documented in issues tagged with `I-bogus-codegen`.

Corresponds to extending #970

The `quickchecking` crate lives in the tests directory here: [https://

[2017-11-30 20:24] snewt opened #1171 "quickchecking with whitelisting and opaque types"
The `quickchecking` crate, for property testing with fuzzed C headers doesn't exercise whitelisting or opaque types.

If those features _were_ excercised, the tests might verify that if whitelisting is employed,
those types appear in the bindings and that anything flagged opaque isn't translated beyond "a blob of bytes".

Corresponds to extending #970

[2017-11-30 21:12] mcgoo opened #1172 "Document (lack of) support for C++ exceptions"
I couldn't find any reference to C++ exceptions in the docs. I assume this is because they are out of scope for `bindgen`? Am I right in assuming that any function that could emit an exception is unsafe to call directly from Rust code?

Relatedly, there seem to be a number of C++-specific pain points that could be reduced if `bindgen` could emit a C++ wrapper also. Ensuring the existence of out-of

[2017-12-03 01:58] emilio commented on #1172
Yes, in the same way that panicking from a function called by FFI is unsafe.

Not really, so far the C++ projects I've used bindgen on all disable exceptions. I thought exceptions were actually pretty marginal actually :).

If there's a use case yeah, handling it sounds reasonable, as long as there's a way to avoid the runtime overhead and such

[2017-12-03 10:03] jjpe opened #1174 "Bindgen generates syntactically invalid Rust code"
I just tried to update my `emacs_module_bindings` crate to use `bindgen 0.31` rather than `bindgen 0.29`.   After updating the `Cargo.toml` entry for `bindgen`  and running `cargo update` I encountered an unexpected form of breakage when trying to `cargo build`:

### Input C/C++ Header

NOTE: Tried to perform the steps originally outlined in this section, by changing my build script to
call `bindg

[2017-12-03 12:08] emilio commented on #1174
This is a rustfmt bug, see https://github.com/rust-lang-nursery/rust-bindgen/issues/1156. Closing as a dupe of that, but thanks for the report!

Feel free to comment / reopen if it doesn't end up being it.

[2017-12-03 12:08] #1174 closed

[2017-12-03 12:43] jjpe commented on #1174
Using the `rustfmt` nightly indeed turned out to help, thanks for the link!

[2017-12-03 12:53] spacekookie commented on #687
Is there any update or progress on fixing this issue? I'm only affected by it via an external dependency so manually tweaking bindgen settings isn't really an option for me. And this is currently blocking a project 😞

[2017-12-04 18:34] fitzgen commented on #687
I could imagine the `BindgenContext` carrying a map of `name -> counter` and writing a new pass over the IR right before codegen that bumps the appropriate entry's counter for each definition of any kind, and then appending the counter to the definition's name when its not the first time we've seen that name.

Essentially, moving our method/function overloading strategy up and out of codegen and u

[2017-12-05 11:24] not-fl3 opened #1178 "No methods is generated for i686-pc-windows-gnu"
### Input C/C++ Header

[code]
### Bindgen Invocation

```bindgen  test.hpp  --generate-inline-functions -- -x c++ --target=i686-pc-windows-gnu```

### Actual Results

[code]
### Expected Results

Methods is missing with i686 target.

Methods output without i686 (```bindgen  test.hpp  --generate-inline-functions -- -x c++```):
[code]

[2017-12-05 18:05] fitzgen commented on #1178
Thanks for filing an issue!

On windows 32, methods use the `thiscall` ABI, which is only available in nightly rust, hence our warning:

[code]

If you add `--rust-target nightly`, then the methods are generated as expected:

[code]

[2017-12-05 18:05] #1178 closed

[2017-12-06 03:24] #1168 closed

[2017-12-07 15:28] glyn commented on #816
@fitzgen Yes. I checked the behaviour using the example at the start of this issue.

[2017-12-07 15:28] #816 closed

[2017-12-08 11:42] CensoredUsername commented on #849
FYI: the system V AMD4 ABI will be stabilized in rustc 1.24

[2017-12-08 17:34] fitzgen commented on #849
Thanks for the heads up!

[2017-12-08 18:14] snewt commented on #970
@fitzgen Any opinion on the status of this issue? "property based testing with quickcheck" exists now but there's still room for expanding the scope. Maybe tests for whitelisting and opaque types should be added before closing? Maybe some generated C++?

[2017-12-08 18:19] spacekookie commented on #687
Hey @fitzgen, I mean...I'd love to have a try at fixing this though I've only been writing Rust for ~2 months now and I'm rather green, especially when it comes to _large_ Rust projects. If you're offering to mentor though, maybe get in touch with me via [twitter](https://twitter.com/spacekookie) or [e-mail](mailto:kookie@spacekookie.de)?

[2017-12-08 18:55] ivanovaleksey commented on #961
Hello, there seems no activity on this issue, I would to give a try.
@highfive: assign me

[2017-12-08 18:55] highfive commented on #961
Hey @ivanovaleksey! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-12-08 19:15] pepyakin commented on #961
@ivanovaleksey hi! dont hestiate to ask questions, i will glad to answer!

[2017-12-08 19:41] fitzgen commented on #970
I think we can close this issue now -- thanks for all your work thus far!

[2017-12-08 19:41] #970 closed

[2017-12-08 21:08] fitzgen opened #1182 "Builder::command_line_flags misgenerates rust target's flag"
It should add `["--rust-target", "1.19"]` but only adds the second part.

See the `command_line_flags` method of `Builder` in `src/lib.rs`.

There are some tests that can be extended at the bottom of the file.

[2017-12-08 21:08] highfive commented on #1182
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-12-09 04:32] Kobata opened #1184 "Rustfmt is not run if rustup exists, but nightly toonchain/rustfmt-nightly is not installed"
[This code](https://github.com/rust-lang-nursery/rust-bindgen/blob/433e9c050b2f5fd45a476a818f035b17b38f6b15/src/lib.rs#L1715) will attempt to run `rustup run nightly rustfmt` in *any* situation that `rustup` is available, without fallback to the non-nightly version in the event it fails, for instance due to there not being an installed nightly toolchain.

It appears to have been introduced by #104

[2017-12-09 07:24] #1169 closed

[2017-12-09 08:59] dylanmckay opened #1185 "Preprocessor constant #defines can overflow on embedded platforms with small integer types"
Some architectures have small integer types such as AVR, which has 16-bit `int`.

For preprocessor constants, bindgen emits the constant in Rust as a constant with type `libc::c_int`. If `c_int` is `i16`, large constants can overflow, causing compiler warnings.

This is a pretty obscure bug because it only appears on esoteric platforms with a small int type. At some point bindgen _could_ be modifi

[2017-12-09 13:29] manaskarekar commented on #1182
@highfive: assign me

[2017-12-09 13:29] highfive commented on #1182
Hey @manaskarekar! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-12-09 22:20] manaskarekar commented on #1184
IIRC, non-nightly rustfmt would fail, so we chose to use rustfmt nightly, or none at all.

Please correct me if I'm remembering incorrectly.

[2017-12-11 08:04] framlog opened #1187 "bindgen can't generate thread local variables correctly"
I don't know whether it's really an issue since stable rust doesn't support thread_local yet.

### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

or

[code]

### Actual Results

[code]

### Expected Results

[code]

[2017-12-11 08:40] nox opened #1188 "Support time_t"
`bindgen` currently has no knowledge of `libc::time_t`, and will thus produce this on Darwin, for example:

[code]

[2017-12-11 09:33] emilio commented on #1187
There's another issue, I think, which is that thread-local vars don't have symbols, so I'm not sure it's possible to touch a C thread-local variable without going through FFI.

There's definitely a bug in there, if I'm right we shouldn't be generating TLS vars at all anyway.

[2017-12-11 18:35] crumblingstatue opened #1191 "Consider adding option for utilizing extern_types"
The [extern types RFC](https://github.com/rust-lang/rfcs/blob/master/text/1861-extern-types.md) has been [implemented](https://github.com/rust-lang/rust/pull/44295) for a while now, but it's [not very well baked yet](https://github.com/rust-lang/rust/issues?utf8=%E2%9C%93&q=is%3Aissue+extern_types).

Adding an unstable option to utilize extern types for opaque types might be a nice way to get some

[2017-12-12 14:00] fitzgen commented on #1188
The usual way to do this is to blacklist `time_t` and then add `pub type time_t = libc::time_t;` as a `raw_line`.

[2017-12-12 14:02] nox commented on #1188
Yeah I know that, but that requires also blacklisting `__darwin_time_t` on macOS, and it would be nice if bindgen could just do the right thing out of the box. I understand that it's not as trivial to do it, especially given `std::os::raw` doesn't even define a `time_t` type.

[2017-12-12 14:08] #1182 closed

[2017-12-12 14:08] fitzgen commented on #1182
Thanks!

[2017-12-13 15:49] drewkett opened #1192 "C++ template with const errro"
This is a reduced case from a library that pulls in math.h on MacOS. It looks somewhat similar to #1051 and #798, but I thought I'd open another issue in case it helps.

### Input C/C++ Header

[code]

This is another variation on it that generates the same error, without the second template parameter.

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

[code]

### Expected Result

[2017-12-14 16:25] fitzgen commented on #1192
Thanks for filing an issue!

This is almost exactly identical to https://github.com/rust-lang-nursery/rust-bindgen/issues/798#issuecomment-329678006 so I'll close it in favor of that.

Your intuition to err on the side of "file an issue" is the right choice IMO!

[2017-12-14 16:25] #1192 closed

[2017-12-15 01:28] jsgf opened #1194 "Inconsistent opaque type representation"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

[code]
`StringPiece` has a Rust type which correctly reflects its representation: `[u64; 2size]`, which allows the Rust version of the type to be moved around etc. The `MutableStringPiece` is misrepresented by `u8`, which results in runtime errors because only the first byte is moved.

[2017-12-15 05:06] emilio commented on #1194
So, this looks like something where libclang is lying at us, though I haven't actually checked much closer.

First of all, I assume `MutableStringPiece` actually looks like:

[code]

right? (otherwise the expected representation would be `[u8; 2]`).

If I run a header that instantiates both types:

[code]

I get the expected:

[code]

[2017-12-15 05:07] emilio commented on #1194
In any case this is a bug of course, the type shouldn't change depending on whether it's instantiated or not...

[2017-12-15 05:24] emilio commented on #1194
Err, I lie, and this is introduced by 28ae2a1a5961649d036f82b0766e256490ccb53a, very obviously on retrospective.

[2017-12-15 05:38] emilio commented on #1194
Hmm, not so obviously actually, I bet I messed up the bisect

[2017-12-15 05:49] emilio commented on #1194
Yeah, the bisect is incorrect, this is not a new regression at all it seems... We're not getting the proper layout off libclang unless the type is actually instantiated, wtf.

[2017-12-15 05:59] emilio commented on #1194
Yeah, 92c1a254e changed the output, but that was only from `= [u8; 0]` to `= u8`...

[2017-12-15 06:12] emilio commented on #1194
I think this is kind of expected, because based on the information clang has, the final size of the type is not known. Someone could do something like:

[code]

Or what not... Probably could write a libclang patch to try to instantiate the type if not done before? Not sure if that's trivial, would need to dig a bit...

[2017-12-15 17:51] jsgf commented on #1194
Yes it should be that - I left the creduce run under-constrained. But it doesn't look like it makes any material difference to the real bug.

[2017-12-15 18:13] jsgf commented on #1194
OK, so I can work around this by adding
[code]

to my header. I'm pleased to have a workaround, but this definitely seems like something I shouldn't have to do.

I think this is probably a pervasive problem now that I think of it - I've seen a lot of inconsistencies between whether an opaque type is represented as `u8` or `[u64; X]`, but this was the first instance that was stark enough for me to

[2017-12-18 05:14] zpxgdev opened #1195 "can't generate code for function pointer with arg type 'const char **'"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

the `bindings.rs`

[code]

### Expected Results
change the function declaration to

[code]

then I can get the right result. but the real header file I current used can't be modified, so is there a way to generate code without a `typedef` to a function pointer?

[2017-12-18 05:23] emilio commented on #1195
This is a rustfmt bug, please update to the latest rustfmt-nightly, or use rustfmt_bindings(false). Thanks for the report!

[2017-12-18 05:23] #1195 closed

[2017-12-19 02:45] XVilka commented on #1154
@fitzgen I have the same error and ran a creduce on it, sadly it returns exactly the same file after a whole night of trying to reduce it. The file is https://github.com/radare/radare2/blob/master/libr/include/r_core.h This is my creduce predicate script:
[code]

[2017-12-25 05:33] jpathy opened #1197 "Pure virtual functions generate bogus link_name."
Hello,
I am using bindgen to generate code from C++ headers and if i disable name mangling the resulting link_name for functions just become `function_name`, but the library symbols are of form `someprefix_classname_function_name`.  I am assuming it's a bit of namespace issue. Is there any way to achieve this?

[2017-12-25 08:34] Kobata commented on #1184
rust-lang-nursery/rustup.rs#1294 added a 'proxy' executable for the default path that will (once bundled rustfmt hits a channel) run the appropriate version for the default toolchain.

As such, it seems like the best option as of now is to remove the test for `rustup` and the alternate run entirely, and rely on whatever `rustfmt` is on the PATH: Anyone using nightly should (with minor setup) get t

[2017-12-25 11:31] emilio commented on #1197
Can you put an example? In general disabling name mangling is only supported to workaround old clang bugs in C, like #528.

[2017-12-26 03:21] jpathy commented on #1197
I am using steamworks sdk. Here is some snippet of a header file.

    class ISteamUser
    {
    public:
		virtual HAuthTicket GetAuthSessionTicket( void *pTicket, int cbMaxTicket, uint32 *pcbTicket ) = 0;
    }

Here is the relevant generated rust code. It fails to link with test program.

    #[repr(C)]
    pub struct ISteamUser__bindgen_vtable(::std::os::raw::c_void);
    #[repr(C)]
    #[deri

[2017-12-26 03:49] tmfink opened #1198 "Conflicting constified module enum/rustified enum regex leads to compile error when C enum has non-unique discriminant values"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

and/or

[code]

### Expected Results

 There are several possibilities for correct behavior:

1. Error out immediately because regex passed to `--rustified-enum`/`--constified-enum-module` overlap.
2. Define the precedence of enum strategies (rustified, constified module, and constified).
3. Support a more

[2017-12-29 05:03] XVilka commented on #1154
@fitzgen should I open a separate bug for this radare2 case? Or it's fine here? Also creduce failed on this testcase, I sent them bugreport, they will check it.

[2017-12-29 12:18] emilio commented on #1197
Oh ok, so the problem here is two. First of all we generate a link name for a pure virtual method, which is wrong. Then there's the long-standing problem that we don't support generating vtables properly, because of C++ compiler differences.

Let's fix the first one since at least that will fix the linking error.

[2017-12-29 16:20] emilio commented on #1197
#1199

[2017-12-29 16:54] #1197 closed

[2017-12-29 21:22] michaeleiselsc opened #1200 "Omit contents of #includes in final generated rust file"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

It creates a bindgen file for everything within the #included header, when in fact I just want that header for its preprocessor defines.
### Expected Results
I'd like some way to have it just emit the contents of the file, and thus only use the #includes to set up the preprocessor to parse the contents of the file.

[2017-12-30 01:18] michaeleiselsc opened #1201 "Ability to generate variables with type usize/isize"
I'd like to be able to generate types usize or isize. For example, for iOS and OSX, we have the commonly used NSUInteger and NSInteger types that map to usize and isize respectively. This is done with the following macro:
[code]

So what ends up happening is that bindgen ends up picking the specific type for the architecture that was passed to bindgen's clang command. Is there some way to deal wit

[2017-12-30 06:18] helloqirun opened #1202 "the trait `std::clone::Clone` is not implemented for `[i8; 100]`"
I am using this script https://gist.github.com/fitzgen/187381e358f60efa8194d0b276b4d11a.

I am using bindgen version 0.32.1 with hashtag 04591f01d96 .

$ ./b.sh bindgen abc.h
[code]

$ cat abc.h
[code]

[2017-12-30 06:35] helloqirun opened #1203 "the trait bound `Align: std::marker::Copy` is not satisfied"
I am using this script https://gist.github.com/fitzgen/187381e358f60efa8194d0b276b4d11a.

I am using bindgen version 0.32.1 with hashtag 04591f0 .

$ ./b.sh bindgen abc.h
[code]

$ cat abc.h
[code]

[2017-12-30 10:33] emilio commented on #1202
Which version of rustc are you using? That code compiles for me.

[2017-12-30 10:38] helloqirun commented on #1202
It's
rustc 1.20.0 (f3d6973f4 2017-08-27)

[2018-01-01 15:51] #1184 closed

[2018-01-02 05:17] XVilka opened #1205 "Radare2 bindings - Error { repr: Custom(Custom { kind: Other, error: StringError(\"Cannot find binary path\") }) }"
The file is https://github.com/radare/radare2/blob/master/libr/include/r_core.h This is my creduce predicate script:
[code]
Here is the preprocessed file
[__bindgen.i.gz](https://github.com/rust-lang-nursery/rust-bindgen/files/1570175/__bindgen.i.gz)

Sadly creduce cannot reduce this test because of the bug in the creduce itself - I sent them a report, they are checking it.

See also https://githu

[2018-01-02 09:05] glyn opened #1206 "Fix licensing issue"
The contents of issue-816.h are covered by a license incompatible with bindgen's 3-clause BSD license. (With the benefit of hindsight, I should have pointed out this problem when I raised issue 816.)

[2018-01-02 10:03] glyn commented on #1206
@emilio @fitzgen Please assign to me. Fix in https://github.com/rust-lang-nursery/rust-bindgen/pull/1207.

[2018-01-02 10:55] Vurich commented on #649
So I'm getting similar issues while trying to write bindings for [`Clipper`](http://www.angusj.com/delphi/clipper.php). The issue seems to be that the 3 pointers in `std::vector` are [`u8` instead of `usize`](https://github.com/Vurich/clipper-rs/blob/master/clipper-sys/src/bindings.rs#L394-L398), although I can't be certain that this is what's causing the problem.

[2018-01-02 11:14] emilio commented on #1205
That error comes from the `which` crate, and should be non-fatal.

[2018-01-02 12:01] emilio commented on #1200
You can use the whitelisting arguments to whitelist just what you need, like `whitelist_type("LogFlag")`. Is that not enough?

[2018-01-02 12:03] emilio commented on #1201
You can `blacklist_type("NSInteger")` and `blacklist_type("NSUInteger")`, then `raw_line("type NSInteger = isize; type NSUInteger = usize;")`.

Would that do the job? I can't think of a generic way of doing that.

[2018-01-02 17:56] Ekleog commented on #1172
In order to support exceptions, something like emitting a c++ wrapper that looks like this should work (and remove the need for handling compiler-specific mangling in bindgen, making it maybe more resilient to changes in the compilers) (syntax untested) :
[code]

This should have no runtime slowdown (c++ exceptions work completely out-of-path) for non-exception-raising paths apart from a single fu

[2018-01-02 21:11] michaeleiselsc commented on #1201
yes, thanks!

[2018-01-02 21:11] michaeleiselsc commented on #1200
yes, that will work, thanks!

[2018-01-03 02:10] XVilka commented on #1205
Well, it prevents from the generating the full bindings for this file.

[2018-01-03 02:51] #1201 closed

[2018-01-03 02:51] emilio commented on #1201
Ok then, thanks for filing! If you think documentation is lacking for this, a PR would be appreciated! :)

[2018-01-03 02:52] emilio commented on #1200
Ok, great, thanks again for filing! :)

[2018-01-03 02:52] #1200 closed

[2018-01-03 02:55] emilio commented on #1205
Hmm, it definitely should not.

We write the (unformatted) bindings right after printing the error in:

https://github.com/rust-lang-nursery/rust-bindgen/blob/ac523232d317373aec9c638f6b0451c78f11f892/src/lib.rs#L1693

Does it happen on master? I think you're getting bit by what I fixed in #1112.

[2018-01-03 04:23] XVilka commented on #1205
@emilio aha, now it writes the file, but not sure, it looks bad. Ultralong lines without splitting.

[2018-01-03 04:33] XVilka commented on #1205
@emilio aha, seems that `which` crate returned an error because of missing `rustfmt` binary. Fixed it with `cargo install rustfmt`. Imho the error should clarify which binary is exactly missing. Now have a problem inside rustfmt it seems:
[code]

[2018-01-03 18:16] fitzgen commented on #1198
Thanks for the bug report @tmfink !

I think we should define a precedence and go with that.

[2018-01-03 18:19] fitzgen commented on #1203
Looks like something to do with our analysis of when we can derive copy or not combined with anonymous bitfields.

Thanks for filing an issue @helloqirun !

[2018-01-03 18:24] fitzgen commented on #1172
I would be happy to r+ such a pull request :)

[2018-01-03 18:57] Ekleog opened #1208 "Support C++ exceptions without undefined behaviour"
Bindgen currently does not (cannot) support C++ exceptions, because C++ won't be able to unwind correctly into the rust code.

An idea to support this would be to emit a C++ wrapper for the C++ functions (see https://github.com/rust-lang-nursery/rust-bindgen/issues/1172#issuecomment-354831001 for the design idea). Emitting a C++ wrapper for functions would also allow to (by making it extern "C") r

[2018-01-03 20:43] maxfurman commented on #1142
It sounds like this is just a request to alias `blacklist_type` to `blacklist_function`?

[2018-01-03 23:34] ExpHP commented on #1142
Heh, when I said "we pretty much already have the implementation", I was joking. Honestly, I'd consider the fact that `blacklist_type` blacklists functions to be a *bug!*

...but I guess a step forward could be:

* Add a `blacklist_function` method which calls `blacklist_type`
  * (This seems better to me than the alternative of renaming `blacklist_type` to `blacklist`, because the intended use-ca

[2018-01-04 17:20] fitzgen commented on #1172
See https://github.com/rust-lang-nursery/rust-bindgen/issues/1208 for tracking implementation of trampoline helpers that catch exceptions.

Will leave this open for documenting exception support (or lack thereof).

[2018-01-04 18:55] dimbleby commented on #1202
and that code compiles from 1.21.  Update your compiler, or set your target appropriately.

(See [here](https://github.com/rust-lang-nursery/rust-bindgen/blob/7c3584d7bc328a01ae5352e191f1fd41bb7fb1a9/src/features.rs#L157-L159)).

[2018-01-05 13:46] appaquet opened #1211 "'TranslationUnit::parse failed' on aarch64-apple-ios since Bindgen 0.31"
On my way trying to bump bindgen in my project from 0.26.3 to 0.32.1, found out that bindgen isn't working anymore from version 0.31 on the `aarch64-apple-ios` target, but is still working on other iOS and MacOS targets. I use Bindgen from a build.rs, which gets compiled for each target my project supports and fails on `aarch64-apple-ios`. Using the command line bindgen gives me the same result.

[2018-01-05 20:40] kornelski opened #1212 "#include <stdlib.h> makes bindgen generate hundreds of irrelevant definitions"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

on macOS High Sierra.

### Actual Results

[code]

### Expected Results

[code]

i.e. include of system headers should not cause any output, unless some type from the header is actually used. Then it should only pull definition of that type, rather than open floodgates to whatever the OS puts in there. Total blacklisting of all items

[2018-01-05 20:44] emilio commented on #1212
That is expected. You're supposed to be using the whitelisting / blacklisting bits which should leave out everything unneeded. In this case you'd call bindgen like `binden input.h --whitelist-type Foo`. Is that not working for some reason?

[2018-01-05 21:05] kornelski opened #1213 "Generated tests are not compatible across architectures"
### Input C/C++ Header

[code]

### Bindgen Invocation

Run on `x86_64-apple-darwin`:

[code]

Test with: `cargo test --target=i686-apple-darwin`

### Actual Results

[code]

### Expected Results

The tests are valid only on the architecture bindgen was run on. It would be great if bindgen was able to make tests portable, e.g.:

[code]

[2018-01-05 21:15] kornelski commented on #1212
When I make bindings for 3rd party code I don't know all the types. I'd rather whitelist by directory (e.g. everything from `./vendor/`, nothing from `/usr/`).

[2018-01-05 21:25] kornelski commented on #1212
Because of documentation error (#1214) I thought whitelisting would be unusable, but with regex whitelist workflow is not too bad. It's just I didn't expect it to be necessary, and hoped for the default invocation to be smarter.

[2018-01-05 21:37] kornelski opened #1215 "__darwin_size_t is included even when it's not whitelisted"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

on macOS High Sierra.

### Actual Results

[code]

### Expected Results

No darwin internals at all.

[2018-01-05 22:54] emilio commented on #1212
Right, whitelisting by directory was considered and it's not fun. For easy cases it's fine, but given you can declare the same type in multiple places, and then not define it, it can be unclear which directory a type belongs to.

[2018-01-05 23:11] #1212 closed

[2018-01-05 23:50] #1172 closed

[2018-01-05 23:52] Dushistov opened #1216 "regression from 0.30: "..." disappear from function pointer"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

[code]

as can you see variant generated by version <= `0.30` contains "..." at the end of `Foo::f`,
while `bindgen` > `0.30` missed "..." in the function pointer definition.

[2018-01-06 09:33] emilio commented on #1213
It's pretty hard to do that, it not only depends on architecture but also on compiler flags and what not...

[2018-01-06 09:37] emilio commented on #1215
By default a type generates all types that depend on it. In this case I guess in your platform is something like:

[code]

The special casing of size_t -> usize happens later in the pipeline (on code generation), and by then we think `__darwin_size_t` needs to be generated.

This one is fixable, not sure how easily in a clean way though, guess I'll need to give it a shot. Easy workaround would be

[2018-01-06 09:48] emilio commented on #1213
We support not generating tests of course, but that's not quite a solution...

[2018-01-06 09:49] emilio commented on #1216
Culprit seems to be 61743aa190772a1c75acb75d274215274d0e6873, which is not a small commit... cc @fitzgen

[2018-01-06 09:55] emilio commented on #1216
I've got a fix.

[2018-01-06 10:06] emilio commented on #1216
Fix at https://github.com/rust-lang-nursery/rust-bindgen/pull/1217

[2018-01-06 10:14] emilio commented on #1206
Fixed by #1207. Thanks @glyn!

[2018-01-06 10:14] #1206 closed

[2018-01-06 12:23] glyn commented on #1206
Thanks for wrestling with Travis @emilio!

[2018-01-06 20:24] #1216 closed

[2018-01-07 15:05] emilio opened #1219 "Getting the type of a method generates dubious results."
Testcase:

[code]

[2018-01-07 15:09] emilio commented on #1219
It generates:

[code]

And if you run it with an MSVC target like:

[code]

It generates non-compiling code due to the thiscall calling convention:

[code]

If you run it with `--rust-target nightly` then it builds:

[code]

Another alternative is to annotate bar with:

[code]

That makes us generate a proper `"stdcall"` function.

[2018-01-08 22:09] fitzgen commented on #1213
Best thing to do is either generate bindings for the current target in `build.rs` or generate bindings for each target you plan to support and check them into your version control.

There is a lot more gotchas than just pointer width, and the biggest is `#ifdef`s that change definitions based on target arch or os etc.

[2018-01-08 23:42] kornelski commented on #1213
IIRC all of the platform-specific `ifdefs` that I had to deal with were only used to get reliable/cross-platform fixed-size types (in codebases that think depending on `stdint.h` is too radical).

[2018-01-08 23:42] kornelski commented on #1213
I think the minimal fix here would be to add `#[cfg(target_pointer_width = "…")]` to the tests, so that at least they don't give false negatives on other platforms.

[2018-01-09 00:45] fintelia commented on #1187
I'm also impacted by this issue. Is it possible to work around by blacklisting?

[2018-01-10 05:22] emilio commented on #1187
Yes, you should be able to just whitelist it, but I don't think you can provide the rust definition, given I don't think there's a standard way to create TLS vars across languages

[2018-01-12 14:23] waywardmonkeys opened #1221 "Undesired link_name attributes generated"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

I would like the output to not contain the `link_name` attribute as it shouldn't be necessary here.

I'm on macOS, so all symbols get the `_` prefix ...

[2018-01-12 16:04] tpgxyz commented on #1087
Still the same issue.
I can't compile firefox 57.x with stylo enabled.

https://abf.openmandriva.org/build_lists/145077

[2018-01-13 11:03] emilio commented on #1087
That is an interesting error.

@tpgxyz which version of libclang is this? Also, can you try to build nightly from https://hg.mozilla.org/mozilla-central/? That has a more up-to-date bindgen.

[2018-01-13 12:28] tpgxyz commented on #1087
@emilio I'm running LLVM 5.0.0

Well I want to compile officially released latest f2f not a nightly build, as my district's users does not want to experiment that much.

[2018-01-14 17:55] emilio commented on #1087
Sure, I just wanted to know whether an updated bindgen / FF version worked in the same environment, which may be helpful. In particular, there are some bugs fixed in the way bindgen interacted with system dependencies on Firefox, like https://bugzilla.mozilla.org/show_bug.cgi?id=1341234.

[2018-01-16 21:32] tpgxyz commented on #1087
@emilio  I've appiled these patches and unfortunately FF still does not build with stylo enabled.

https://abf.openmandriva.org/build_lists/145577

[2018-01-16 22:14] emilio commented on #1087
If you could apply [this patch](https://github.com/rust-lang-nursery/rust-bindgen/pull/1222) to the rust-bindgen tree it'd be helpful to figure that out.

Alternatively, applying something like the following, and getting the `__bindgen.ii` file from the builder would also be amazing:

[code]

[2018-01-17 09:27] cris-b commented on #1087
Looks like its Float128, modifying to:

                let float_kind = match float_type.kind() {
                    CXType_Float => FloatKind::Float,
                    CXType_Double => FloatKind::Double,
                    CXType_LongDouble => FloatKind::LongDouble,
                    **CXType_Float128 => FloatKind::Float128,**
                    _ => panic!("Non floating-type complex? {:?

[2018-01-17 13:33] emilio commented on #1087
Yeah, that patch looks good to me. Want to submit a PR?

Tests for this live in `tests/headers/complex.h`, though I'm not sure we can test this one because rust still doesn't support 128-bit aligned values.

[2018-01-17 20:51] #818 closed

[2018-01-18 09:47] tpgxyz commented on #1087
@cris-b Excellent catch. Many thanks for finding issue.

[2018-01-18 12:21] faern opened #1223 "Falls back to BindgenUnion if a field is array of blacklisted type"
When I blacklist a type (because I want to import it from `libc`, not have it generated in my bindings.) Then bindgen fails to generate a `union` if a field in the C union has a field being an array of the blacklisted type, but not if the field has the same type, but isn't an array.

### Input C/C++ Header
Correctly generats a `union`:
[code]

Instead generates a BindgenUnion:
[code]

### Bindgen

[2018-01-18 18:54] faern opened #1224 "Rustified enums getting both #[repr(u32)] and #[repr(C)]"
### Input C header

[code]

### Bindgen Invocation

[code]

### Actual Results

With `bindgen 0.32.1` I get:
[code]

rustc warning when compiling:
[code]

### Expected Results

To only have one `#[repr(...)]`:
[code]

[2018-01-18 18:55] faern commented on #1224
The same problem can be seen in the generated code in issue #1198. But that issue is about something else, so I felt it was worth reporting on this alone.

[2018-01-18 19:38] RazrFalcon commented on #1224
Stumbled on the same bug just now.

[2018-01-18 19:48] vks opened #1226 "Bindgen can't find stddef.h"
Sometimes there is a cryptic `fatal error: 'stddef.h' file not found`, presumabely when libclang is incorrectly configured:

https://github.com/servo/gecko-media/issues/71
https://github.com/bsteinb/rsmpi/issues/1
https://github.com/rust-lang-nursery/rust-bindgen/issues/242
https://github.com/ajtulloch/caffe.rs/issues/1

In the past, this issue was fixed by making sure to install the `clang` packa

[2018-01-18 21:16] emilio commented on #1224
Hmm, this is clearly a regression... Shouldn't be hard to fix.

[2018-01-18 21:18] emilio commented on #1224
Oh, I lie, this was added intentionally in 43c43ba80... Which version of rustc are you using?

[2018-01-18 21:29] faern commented on #1224
@emilio `rustc 1.25.0-nightly (3f92e8d89 2018-01-14)`

[2018-01-19 14:35] emilio commented on #1224
Ok, asked in `#rustc` today. Relevant log: https://botbot.me/mozilla/rustc/2018-01-19/?msg=95934948&page=2

TL;DR: the extra repr(C) is only needed for enums with fields, not for plain enums that bindgen generates.

[2018-01-19 14:35] emilio commented on #1224
Will send a patch with a fix.

[2018-01-19 17:32] fitzgen commented on #1223
Thanks for the bug report! Have you tried specifying a newer `--rust-target`? I think things may be working as expected here: pessimistically assuming support for older Rust versions.

[2018-01-19 17:35] emilio commented on #1226
This is probably better suited for https://github.com/KyleMayes/clang-sys. That's the crate bindgen uses for figuring out system headers.

I agree that if this is a common problem, it'd be nice to document it, though.

Thanks for the report :)

[2018-01-19 17:36] fitzgen commented on #1226
For the most part, `bindgen` is not in the include-path-wrangling game, and we leave that to `libclang`. It's full of tricky edge cases and system specific bits, and at least C compilers and their behavior are largely a known quantity, even if not always the most transparent.

I would love to merge some PRs adding more documentation / FAQs about this stuff though!

[2018-01-19 18:04] #1087 closed

[2018-01-19 18:36] faern commented on #1223
@fitzgen I get the same (invalid) code when specifying `--rust-target nightly` (and `1.19` and `1.21`).

[2018-01-19 18:41] faern commented on #1223
If it were assuming support for older Rust versions, then why would it give me a real Rust `union` with one of the input headers? Did something change after 1.19 regarding what was possible to do inside a union?

[2018-01-19 18:44] fitzgen commented on #1223
I just didn't read carefully enough.

[2018-01-19 19:52] #1224 closed

[2018-01-20 05:56] emilio commented on #1145
Self-reminder to take a look at this one

[2018-01-20 06:15] thenewwazoo opened #1229 "Cross-compiled crate appears to include host header files after 0.30"
When building [bindings for an embedded OS](https://github.com/thenewwazoo/ChibiOS-rust), updating the dependency from 0.30 to 0.31 causes an error when `Builder::generate` is called. To repro (this assumes you've got arm-none-eabi tools installed):

[code]

The crate will build successfully.

Updating bindgen to 0.31 results in the following output:
[code]
(looking at the backtrace points to wher

[2018-01-20 06:41] thenewwazoo commented on #1229
I added a "successful" dump to the gist (they're named `__bindgen.i (0.3?)`)

[2018-01-21 12:08] emilio commented on #1145
Arrgh, this includes windows.h, and I'm on a Linux system.

@zacps, any chance to call `.dump_preprocessed_input` before `generate()` and attach it here? That way I can hopefully repro it.

[2018-01-21 20:24] zacps commented on #1145
[Here](https://gist.github.com/zacps/ab5ae414952fc390dd63795d3b402cfd).
Gist may not have been the best medium for this, given it's 200k lines but it appears to work for me. Tell me if you need a reupload.

[2018-01-22 00:52] bbyler opened #1230 "Undefined Symbols upon crate compilation"
First issue here, hope I'm following guidelines as closely as possible

### Input C/C++ Header

[code]

[code]
// Insert your minimal C or C++ header here.
//
// It should *NOT* have any `#include`s! Not all systems have the same header
// files, and therefore any `#include` harms reproducibility. Additionally,
// the test case isn't minimal since the included file almost assuredly
// contains thi

[2018-01-22 01:09] emilio commented on #1230
Which clang / rustc versions, and which platform are you on? The symbol name looks fine to me off-hand, the preceding underscore is expected depending on the platform.

[2018-01-22 01:14] bbyler commented on #1230
Right, it looks like bindgen is working fine

I'm guessing the problem lies with fetching the shared .a or dylib and I've tried tons of combinations with

```rust println!("cargo:rustc-link-lib-static={}/{}", ...) ``` and  ```rust  println!("cargo:rustc-link-search-native={}/{}", ...) ```

but haven't gotten anything working

clang:  ```Apple LLVM version 9.0.0 (clang-900.0.39.2)```
rustc: ``` rus

[2018-01-22 01:15] insaneinside opened #1231 "Consider making a (patch?) release!"
Last release was just over a month ago, and there have been some bug fixes since then!    I'm certain I'm not the only person who would be very happy to see a patch release for those fixes. :smiley:

[2018-01-22 08:55] emilio commented on #1145
Thanks!

Here's a reduced test-case out of that (probably can be reduced even further):

[code]

You should be able to work around this blacklisting the relevant bits, but still this is a bug of course.

[2018-01-22 08:57] emilio commented on #1145
This is probably due to us not handling `enum : bool`... It's rad that that's allowed, I didn't even know about that.

[2018-01-22 08:58] emilio commented on #1145
Aand indeed, more reduced test-case:

[code]

[2018-01-22 08:59] emilio commented on #1145
And now the regression range makes sense, because it contains 89915f95.

[2018-01-22 09:00] emilio commented on #1145
Before that we'd generate instead:

[code]

[2018-01-22 09:16] emilio commented on #1145
Submitted a fix in https://github.com/rust-lang-nursery/rust-bindgen/pull/1232.

[2018-01-22 09:17] emilio commented on #1231
Yup, agreed! Let's wait for #1232 too so all reproduced regressions are gone :)

[2018-01-22 09:19] zacps commented on #1145
Amazing, thanks!

[2018-01-22 09:19] emilio commented on #1221
Right, so this is somewhat annoying, because fixing this would need to assume knowledge about the backend mangling on the target. The only reason those `\u{1}` are there is to avoid that...

Indeed we used to have a fair amount of bugs with C++ related to that.

So as much as this is only cosmetic, I don't think there's any particular reason to fix this, is there?

[2018-01-22 09:22] emilio commented on #1221
See all the `need_mangling_hack` mess that went away in f2b30c8b07959bf92b161157ba200b7ec301271f, fwiw.

I think we could consider doing this as a best-effort thing, like: If we really know that the backend needs the extra underscore, just remove it, otherwise fall back to `\u{1}`, but again not sure it's worth the complexity.

[2018-01-22 09:30] emilio commented on #1191
Sorry for the huge lag here.

What do you mean with for "opaque" types? Opaque types need to maintain their layout and such, so I don't see how they map. You mean for empty types / forward declarations and such?

If so, it should be doable, I can mentor it if needed.

[2018-01-22 10:02] #1145 closed

[2018-01-22 10:51] emilio commented on #1231
Bump running through CI now (#1233).

[2018-01-22 11:06] #1231 closed

[2018-01-22 22:21] crumblingstatue commented on #1191
By "opaque types", I was trying to refer to what are apparently called [opaque pointers](https://en.wikipedia.org/wiki/Opaque_pointer#C).

Many C libraries employ a technique where the API only forward declares a type (`T`), but never defines it. Then, the users interact with `T` by calling functions that deal with pointers to `T`.

I guess I could try implementing it, no promises though.

[2018-01-22 23:14] usamec commented on #1018
Any progress on this?

[2018-01-23 01:09] emilio commented on #1087
I updated bindgen with this fix on mozilla-central in https://bugzilla.mozilla.org/show_bug.cgi?id=1432134

[2018-01-23 08:05] waywardmonkeys commented on #1221
In my case, I typically build a bindings file once and commit it, rather than building it on the target machine. (This is the case for a lot of bindings...)

Also in my case, my bindings are for C APIs rather than C++ ... I understand the need for this for C++ APIs, but what is the need for C?

[2018-01-24 09:39] emilio commented on #1191
Ok, yeah, that's the forward declaration I meant above :)

[2018-01-26 06:30] mitchmindtree commented on #104
FWIW I'm getting the same issue even when generating the bindings using a `build.rs` script - [see the build script on the branch here](https://github.com/mitchmindtree/coreaudio-sys/blob/bindgen/build.rs). Perhaps i'm incorrectly linking the frameworks here?

[2018-01-26 06:56] mitchmindtree commented on #104
Ah, disabling `trust_clang_mangling` seems to fix linking with the build.rs-generated approach.

[2018-01-28 19:58] osialr opened #1238 "Opaque types do not honor no-* flags"
To preface, I'm just starting with bindgen so this could be me simply not thinking about the problem the right way in rust.

I have an allocator  function that returns an opaque type `MyTypeT`.  I would like the type to not have the `Copy` trait so that it's a move-only type.

Neither the `--no-derive-copy` nor `--no-copy` flags affected the output of bindgen on the type.

### Input C/C++ Header
[

[2018-01-29 04:37] Dushistov commented on #946
I've tried `bindgen 0.32.3`, and looks like #953 completly brake `bindgen` for android,
at now `bindgen` generates not valid `rustc` code.

Now:

[code]

So multiply definitions of `__va_list`.

Before:

[code]

[2018-01-29 08:28] ebkalderon commented on #478
@emilio If I were writing Rust bindings to a C++ library which hands out mostly abstract classes with pure virtual methods, would this mean I cannot rely on bindgen to correctly generate the vtables? I was not aware of this by looking at the bindgen book. Would I need resort to writing a C++ wrapper for each of these abstract classes instead, at least until bindgen can properly support them?

[2018-01-29 13:34] emilio commented on #946
Could you try to get a preprocessed input header with `Builder::dump_preprocessed_input`? That way I can investigate it. Thanks!

[2018-01-29 14:00] Dushistov commented on #946
@emilio

I've attached file. But why you need it?

There is reduced test case in the first message:

[code]

you need to run `bindgen` with `--target=arm-linux-androideabi` to see problem.

[__bindgen.i.gz](https://github.com/rust-lang-nursery/rust-bindgen/files/1673755/__bindgen.i.gz)

[2018-01-29 14:06] emilio commented on #946
Ok so here's a more generic test-case which works independently of the platform:

[code]

[2018-01-29 14:07] emilio commented on #946
I guess we need to expand the `typedef struct foo {} foo;` checks to work across other typedefs.

[2018-01-29 14:17] emilio commented on #946
https://github.com/rust-lang-nursery/rust-bindgen/pull/1239

[2018-01-29 14:21] emilio commented on #478
Yeah, I think that's pretty much it. There's another issue where the difficulties of this are explained (#27).

I think figuring out what's the subset that works properly cross-platform (at least GCC / clang / MSVC) may not be hard, it just requires research and writing tests.

If someone is interested in giving it a shot I'm happy to mentor, but most of the information needed is probably availabl

[2018-01-29 14:50] emilio commented on #1133
Thanks for the report, and sorry for the huge lag to get to this. Fix at #1240.

Thanks again!

[2018-01-29 14:51] emilio commented on #1238
Yeah, I don't think these should be copy. Thanks for the report :)

[2018-01-29 18:20] #946 closed

[2018-01-29 18:43] #1133 closed

[2018-01-29 19:04] #1238 closed

[2018-01-30 13:32] Dushistov opened #1242 "handling the same names of unnamed enum member and define"
### Input C/C++ Header

This is reduced test case. I created it based on headers of `glibc 2.26`.
You can see in comments from which standard headers I got `C` code.
[code]

### Bindgen Invocation

[code]

### Actual Results

[code]
as result compile time error from `rustc`:
[code]

### Expected Results

I'm creating bindging for 3rdparty library, and it's headers indirectly include both headers (

[2018-01-30 15:13] Dushistov commented on #1213
@kornelski

But what about generated bindings by itself?
For example for:

[code]
`bindgen` generate different code for different platforms:

[code]

and failed tests indicates that something wrong, and you should generate bindings in `target` directory, if tests don't fail with different `--target=`, then you may assume that all good, while really all bad.

May be leave current behaviour as is, b

[2018-01-30 16:02] kornelski commented on #1213
In your example I actually don't know why bindgen does it this way, because `::std::mem::align_of::<::Foo>()` is also correct without bindgen's extra field (4 on i686, 8 on x86_64).

I'm working under assumption that `#[repr(C)]` struct used with `::std::os::raw::c_*` types (and raw pointers) is correct for C without bindgen's hacks if C doesn't use extra pragmas for packing structs, custom align

[2018-01-30 20:14] johalun commented on #981
Is this still a problem? I'm running into this error using bindgen 0.30.0 with code
[code]

[2018-01-30 20:52] fitzgen commented on #1242
Thanks for filing an issue!

[2018-01-30 22:52] emilio commented on #1242
Closing as a dupe of #687.

[2018-01-30 22:52] #1242 closed

[2018-01-30 22:53] emilio commented on #687
I just noticed that there's a way to properly handling this hiding the enum instead of the constant with `ParseCallbacks::enum_variant_behavior`. Will add the symmetric API for macros, and then I think we can call it fixed. Of course we may want to expose that to the cli somehow, but that can be another issue.

[2018-01-31 00:00] ebkalderon opened #1244 "Bindgen generates inconsistent enum representations on Windows and Unix"
I am working on some [Rust bindings for RenderDoc](https://github.com/ebkalderon/renderdoc-rs), and I am trying to replace my hand-rolled FFI code with bindgen. However, I am running into an issue with incorrect and inconsistent enum representations between Windows and Unix-likes, where on Windows, the resulting code doesn't even compile when integrated into my bindings.

The bug is caused due to

[2018-01-31 00:09] emilio commented on #1185
Huh, interesting, I'd have bet that we mapped them to actual fixed-sized types.

You can workaround it with ParseCallbacks. This can also be trivially fixed in var.rs, where the type is chosen. It's late for me now, but I'm happy to mentor or take a look tomorrow.

[2018-01-31 00:11] emilio commented on #1244
Huh, interesting, which target are you passing to bindgen when cross-compiling? Afaict we just use the type that clang gives us.

[2018-01-31 02:11] ebkalderon commented on #1244
@emilio I'm cross-compiling to the `x86_64-pc-windows-msvc` target.

[2018-01-31 11:29] upsuper commented on #917
I found that Rust stablized `#[repr(align(x))]` in rust-lang/rust#47006. I guess it is possible now to implement support for `alignas(T)` in bindgen.

[2018-01-31 17:45] #687 closed

[2018-02-01 18:49] fitzgen commented on #849
As @upsuper pointed out, it looks like `repr(align = "N")` is being stabilized: https://github.com/rust-lang/rust/pull/47006

I'm not sure what version it will hit stable in.

[2018-02-03 18:03] emilio commented on #1244
Sorry I couldn't look at this during the week. clang is returning us the signed integer type, instead of the unsigned one.

I think this is not a bindgen (nor clang) bug, and it's a bogus assumption that the enum ends up unsigned.

In particular, see https://godbolt.org/g/p6tBZP. MSVC is the only compiler that fails to compile that program, but passes if I replace `unsigned` with `int`.

I'm closi

[2018-02-03 18:03] #1244 closed

[2018-02-03 18:04] emilio commented on #1244
For reference, just in case the godbolt link expires or something, the program is:

[code]

[2018-02-03 18:06] emilio commented on #1244
It may be worth to point this up to upstream renderdoc, just in case it causes some weird behavior on windows.

[2018-02-03 18:13] emilio commented on #1221
Sorry for the lag replying to this.

You can use the `distrust_clang_mangling` option to avoid generating any `link_name` at all, and C bindings should keep working.

If there's anything else we can do on our side (maybe renaming that option? We've done more breaking changes for the next release so it should be fine) please let me know, or submit a PR :)

[2018-02-03 18:13] #1221 closed

[2018-02-03 18:16] emilio commented on #1213
Yeah we could avoid generating the alignment for the union in some cases, I'm happy to accept patches for that as long as there are proper tests.

[2018-02-03 18:19] emilio commented on #1203
I can't repro this fwiw.

[2018-02-03 18:22] emilio commented on #1202
Yup, per the previous commit this report is invalid. Running bindgen with `--rust-target 1.0` should make it build even in that rustc version.

Thanks @dimbleby!

[2018-02-03 18:22] #1202 closed

[2018-02-03 18:23] emilio commented on #1203
I suspect it's the same issue as #1202. I've tried both with current stable and nightly rust and it generates working code, so does `--rust-target 1.0`. Thanks for the report though!

[2018-02-03 18:23] #1203 closed

[2018-02-04 15:02] emilio commented on #1185
#1246

[2018-02-04 15:20] emilio opened #1247 "Document how to use bindgen with pkg-config or similar."
It may be useful to see documentation on bindgen being integrated with it, or with stuff that requires altering the include path in bindgen in general.

It'd be a nice addition to the book I think.

[2018-02-04 15:22] #1185 closed

[2018-02-06 19:21] emanuelpalm commented on #1230
@bbyler Shouldn't it be like
[code]
and

[code]
?

By the way, I'm having the same problem. If I don't disable Clang name mangling, all the symbols end up not being found by the linker. I'm using Clang/LLVM 3.8, which you are supposed to support, right? No?

[2018-02-07 04:56] fschutt commented on #1205
Ran into this myself. Could you add this to the README or the book, that in order to use the CLI, you need to install `rustfmt-nightly` (not the regular `rustfmt`)? A more descriptive error would be appreciated as well. Thanks.

[2018-02-08 16:48] stuartnelson3 opened #1248 "Error while loading shared libraries"
With bindgen installed via `cargo install bindgen` and rustup installed via the standard curl | bash method:

[code]

It seems like the .so is in a standard location, so I think it's incorrect that I have to manually specify it?

[2018-02-09 12:59] TheKnarf commented on #1248
I'm having similare problems on Mac OS:

[code]

[2018-02-10 12:34] emilio commented on #1248
`cargo run +stable bindgen` should help I think... I suspect this is due to the recent syn update, cc @Eijebong.

[2018-02-12 09:17] daschl opened #1249 "Error with flatbuffers-1.8.0 bindings"
Hi,

as an exercise I've been trying to compile the flatbuffers c++ library with bindgen to check out if it works. I ran into two issues, maybe its expected that it doesn't support it yet or I did something wrong.

### Input C/C++ Header

I wasn't able to extract a minimal header, but with guidance I can maybe do that. The header in question can be found here: https://github.com/google/flatbuffers

[2018-02-12 09:41] daschl commented on #1249
Actually let me close this, I'll try to proceed with strict whitelisting and if it should come up with whitelisting I'll reopen with more info :)

[2018-02-12 09:41] #1249 closed

[2018-02-12 15:10] albel727 opened #1250 "Generated bindings don't transfer doxygen documentation comments for enum variants"
### Used software versions

bindgen: v0.32.3
llvm/clang: 5.0.1

### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

Also same with any of `.constified_enum(".*")`/`.rustified_enum(".*")`/`.bitfield_enum(".*")`/`.prepend_enum_name("false")`.

### Actual Results

[code]

### Expected Results

Generated enum constants and, when possible, enum type itself, should have the documentation com

[2018-02-12 17:24] fitzgen commented on #1250
Thanks for filing an issue! I agree that it would be great if these comments were persisted in the emitted bindings.

[2018-02-12 19:46] emilio commented on #1250
We already have that info from clang, so should be straight forward...

[2018-02-13 10:03] sanmai-NL commented on #785
What is meant here with ‘convert’? I’m getting a load of ‘should have a camel case name’ from bindgen-generated bindings. Is there a reason why the identifier style isn’t yet being adapted to Rust by bindgen? My assumption is that that is obvious and simple to do, but perhaps I’m wrong about that.

[2018-02-13 10:07] sanmai-NL commented on #785
I’ve found
[code]
is being emitted for `.hpp` files but not for `.h` files. Only a crate-wide attribute would work anyway. Seems like an acceptable workaround if automatic renaming isn’t feasible?

[2018-02-13 11:16] TheKnarf commented on #1248
I'm not sure what you're suggesting @emilio as bindgen was installed and ran using `cargo install bindgen` as a global tool?

[2018-02-13 11:22] Dushistov commented on #1248
@TheKnarf

I suppose the right command would be `rustup run stable bindgen` if you install via `cargo install bindgen` with default stable compiler.

[2018-02-13 11:30] ignatenkobrain opened #1252 "typedef struct X * X generates invalid Rust code"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

I'm not sure what exact output is correct, but I think `struct X { ... } X;` is equivalent to `struct X { ... }; typedef struct X * X;`, so probably right thing to do is:

[code]

[2018-02-13 11:32] ignatenkobrain commented on #1252
Or, probably, it should rename original structure.. I'm not really sure what's the right thing to do here.

[2018-02-13 11:33] emilio commented on #1252
Yeah, I think renaming it is the right thing, though it's slightly annoying... We may want to support a "C" naming mode, where structs become `struct_X`, enums become `enum_X`, etc...

[2018-02-13 11:34] emilio commented on #1252
For now the best solution would be to blacklist it, preventing it from getting generated, but that's annoying.

[2018-02-13 11:37] #1250 closed

[2018-02-13 11:37] ignatenkobrain commented on #1252
@emilio is there some workaround I can use meanwhile? I really need that poptOption because bindings I generate have it as argument to some functions.

[2018-02-13 15:20] stuartnelson3 commented on #1248
Ah, that is unexpected

[2018-02-13 16:41] fitzgen commented on #785
It is using the C/C++ identifier, which is probably least surprising in most cases.

IIRC, it is only emitted when there is a root module to emit it on. C doesn't have namespaces so there aren't any modules emitted, and so there isn't a place for us to put it.

[2018-02-13 17:44] sanmai-NL commented on #785
@fitzgen: but this attribute syntax works fine, no?
[code]

[2018-02-13 23:05] fitzgen commented on #785
That assumes that it is at the top of a module, which isn't always the case. The bindings are often `include!(...)`ed into the middle of a file.

[2018-02-14 01:08] discosultan opened #1254 "Bindgen CLI crash on Windows"
### System information

- Windows 10 x64
- clang version 5.0.1 (tags/RELEASE_501/final)
- cargo 0.26.0-nightly (1d6dfea44 2018-01-26)
- rustc 1.25.0-nightly (4d2d3fc5d 2018-02-13)

### Bindgen Invocation

[code]

### Actual Results

[code]

[2018-02-14 01:49] Dushistov commented on #1254
I suppose this is duplicate of #1248

[2018-02-14 04:36] retep998 commented on #1248
`bindgen` as a binary depends on internal rustc crates. Therefore you cannot run it directly, but instead must run it using `rustup run` and you must specify the same toolchain that you used to install it originally. If you ever update that toolchain then you must reinstall `bindgen`.

[2018-02-14 08:00] discosultan commented on #1254
I found my answer from https://github.com/rust-lang-nursery/rust-bindgen/issues/1248 by @retep998:

[2018-02-14 08:00] #1254 closed

[2018-02-14 09:14] TheKnarf commented on #1248
This isn't described at all in the [documentation](https://rust-lang-nursery.github.io/rust-bindgen/command-line-usage.html). It should be updated with what @retep998 and @Dushistov said.

[2018-02-14 11:28] albel727 commented on #1250
Works for me. Thanks!

[2018-02-14 14:12] lilianmoraru commented on #1096
Shouldn't the enums be "i32" by default?(These are "int" by default in C/C++), unless the code specifically wants another type?
Seems weird that `bindgen` decides to use `u32` when the value is not negative, while the C code uses `i32`(in C you could overflow, maybe intentionally and in Rust it will just fit).

[2018-02-14 15:12] lilianmoraru commented on #667
Related issue #758

"Fixed" through constified enums that you then need to use correctly for "bounds checking"(you can manually check if the "value" overflows the expected API and the probably abort or something).

[2018-02-14 17:39] fitzgen commented on #1248
Bisected to

[code]

I think we should revert this commit.

[2018-02-14 17:58] sanmai-NL commented on #785
Alright, thanks for the clarification. It would be good to document that somewhere, since the warnings are very conspicuous. I’m wondering if you can point me to examples where this `include!`ing happens. Why aren’t the bindings wrapped in a module, regardless of the original presence of namespaces?

[2018-02-14 18:07] fitzgen commented on #1248
@alexcrichton confirmed that `proc_macro2` depends on rustc internal libraries. He says that we could potentially put that behind a default-on feature, and that `bindgen` could disable it. Once that happens, we can try using the new `quote` and `proc_macro2` again.

[2018-02-14 18:28] staktrace commented on #1248
We had a similar problem with `cbindgen` with the update to the latest `syn`. I filed rust-lang/rust#47931 for it, in case anybody is interested in following along with the upstream issue.

[2018-02-14 19:45] #1248 closed

[2018-02-15 01:11] emilio commented on #1096
Bindgen uses whatever enum type comes from clang, so if it's a u32, clang is picking a u32 type for it.

[2018-02-15 01:12] emilio commented on #1096
Also, signed integer overflow is auto-UB even in C, so it's not supposed to overflow :)

[2018-02-15 09:00] buntpfotenkatze opened #1257 "typedef type names collide with rust builtin type names"
When running `/usr/include/pci/pci.h` through bindgen, it produces a cyclic reference in the type definition:

### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

`rustc` fails with the error message:
[code]

### Expected Results

bindgen should scramble the new type name `u8`.

[2018-02-15 17:31] emilio commented on #1257
For this case where the types actually match I think you can just blacklist it.

I'm not sure Rust will emit an error for the cases the definition is not recursive, but in that case we'd need to mangle the type somehow.

[2018-02-16 16:57] Dushistov opened #1258 "Wrong usage of deprecated tag"
See rust-lang/rust#48271, should be `#[deprecated(note = "Use blacklist_type instead")]` instead of `#[deprecated = "Use blacklist_type instead"]`.

[2018-02-16 23:40] Megamiun commented on #960
Hello, this issue is still open, no?

I can try to solve this, if yes.

[2018-02-17 00:50] emilio commented on #960
There's #1245, which should be pretty close to be landable.

[2018-02-17 00:57] Megamiun commented on #960
Oh, I confounded this PR with the other. Hope it goes alright with this PR!

[2018-02-18 15:03] trlim commented on #1229
I've been experiencing similar problem.

For simple `wrapper.h` containing:
[code]

Running `cargo build --target=arm-unknown-linux-gnueabi` with `build.rs`
[code]
or running the following command
[code]
produces the same error.
[code]

I had to add explicit `--sysroot` clang argument when I cross compile for ARM target.
[code]

[2018-02-18 22:16] jrmuizel opened #1259 "ObjectiveC generics are not type erased properly"
### Input C/C++ Header

[code]

### Bindgen Invocation
[code]

### Actual Results

[code]

### Expected Results

At a minimum we should erase the generics. Even better we could convert them to rust generics.

Proper support for this is needed for running bindgen on the mac system headers.

[2018-02-19 10:50] emilio commented on #1259
Objc support is known-WIP. But type-erasing this or generating the generics should be easy, it'd be just a matter of figuring out how clang exposes them on the AST and hooking them up to the rest of template parameter infrastructure we have in `src/ir/analysis`.

[2018-02-20 05:34] hfiguiere commented on #1110
Still happening in 0.33.1.

And using `creduce` doesn't help as the output end up being a single byte file with the content `}`

[2018-02-20 12:51] hfiguiere commented on #1110
Here is the .ii file (sorry I had to rename it .txt for github to allow it):

[isolated-test-case.hpp.txt](https://github.com/rust-lang-nursery/rust-bindgen/files/1740081/isolated-test-case.hpp.txt)

[code]

[2018-02-21 01:49] tmandry commented on #1208
+1. Even though much of the prevailing C++ wisdom says to avoid exceptions, [the C++ Core Guidelines actually encourage their use](http://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#Re-throw). Especially from constructors, which have no other "standard" way of failing if they cannot establish their invariants.

On a tangential note, it seems like doing this would open the door to a whole

[2018-02-21 02:03] tmandry commented on #1208
I assume this would leave it to the user to invoke the C++ compiler? Presumably, we are already using a C++ compiler in our build system somewhere, and many systems like Bazel already have a nice way of dealing with generated source (genfiles).

Doing some magic from build.rs sounds like a nice way to get started for some folks, but not a general solution.

[2018-02-21 17:24] Ekleog commented on #1208
Yes, I was thinking it would leave it to the user to compile and link the generated C++ source files, in the same way as they would be linking the “original” C++ source files. This means either compiling Rust as a library and then linking it into a C++ executable or compiling C++ as a library and linking it into the Rust executable, just like with the current bindgen.

[2018-02-22 11:48] Pzixel opened #1260 "Weird errors when running under windows"
### Input C/C++ Header
https://github.com/opencv/opencv/blob/master/modules/core/include/opencv2/core/core_c.h

### Bindgen Invocation
[code]

### Actual Results

[code]

### Expected Results

Successful generation

---

msbuild 15.5.180.51428
clang version 5.0.1 (tags/RELEASE_501/final)
Target: x86_64-pc-windows-msvc
Thread model: posix

clang-check shows warnings only:

[code]

[2018-02-22 23:58] faern opened #1261 "Possibility to make bindgen only generate a single `extern` block?"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

It becomes very verbose for no reason that is apparent to me. Personally I would prefer the following output:
[code]

Maybe there is already a way to do this, but I could not find it. Nor did I find any issue touching the issue.

[2018-02-23 00:12] emilio commented on #1261
Closing as a dupe of https://github.com/rust-lang-nursery/rust-bindgen/issues/564.

TL;DR: Patches welcome as long as they're not a burden to maintain, but... I can't think of a nice way to do this that doesn't include adding yet another intermediate representation, or processing phase.

[2018-02-23 00:12] #1261 closed

[2018-02-25 19:27] DrRibosome opened #1262 "request: clear instructions on how to handle cpp layout failures"
### Input C/C++ Header
Im attempting to generate bindings for the cpp api for apache arrow. The header file links to a number of other headers, which is difficult to include here.

### Bindgen Invocation

[code]

or

[code]

### Actual Results
I successfully generated the bindings, but a number of the layout tests fail. I included a snippet of the failures below. The problem is:

 - the bindgen do

[2018-02-26 13:24] gnzlbg commented on #537
The PR for `packed` is there https://github.com/rust-lang/rust/pull/48528

It would be great if `bindgen` could start mapping `#pragma pack(N)` and the `packed` C attributes to `#[repr(packed(N))]` behind some sort of opt-in feature - the produced bindings are necessarily going to require nightly Rust until `repr(packed)` is stabilized.

Given that getting struct packing wrong is essentially undef

[2018-02-26 13:51] gnzlbg opened #1263 "[feature-request] mapping headers to modules"
I have a `wrapper.h` that wraps a C library called `foo` and looks like this:

[code]

Currently `bindgen` dumps everything into the top of my crate. I'd like the code generated by `bindgen` to instead produce two modules `pub mod a;` and `pub mod b;` and expose that instead.

[2018-02-26 22:27] emilio commented on #1263
This is slightly annoying, because in C you can forward-declare the same struct in multiple files, and not even define it... So I'm not sure how it could work in a sane way, to be honest.

Though happy to review code if someone comes up with something sane.

[2018-02-26 22:27] emilio commented on #1262
It is true that this is lacking. In your case tests are probably failing because the base also has a vtable itself...

[2018-02-26 22:30] emilio commented on #1258
Thanks for the report!

[2018-02-26 22:31] emilio commented on #1260
Weird, does it happen if you run with `-target <an-msvc-target>`?

[2018-02-26 22:45] Pzixel commented on #1260
Yes, it's indeed wrong target. Use `-target stable-x86_64-pc-windows-msvc` is the right solution. Great job, thank you

[2018-02-26 22:45] #1260 closed

[2018-02-26 22:46] emilio commented on #1260
Glad to help!

[2018-02-26 22:48] emilio commented on #1260
Please consider making a PR adding it to the FAQ, I don't have windows so my chances to mess it up are high. Thanks for filing again!

[2018-02-27 09:53] #1258 closed

[2018-02-27 18:18] DrRibosome commented on #1262
If it picked up another vtable in base, does that mean the test itself is wrong (and using the type should work)?

[2018-02-27 18:26] Pzixel commented on #1260
@emilio how can it be done? I see `faq.md` is autogenerated.

[2018-02-27 18:26] lnicola opened #1265 "Missing docstrings depending on include path"
Sorry for not having a minimal example, but this should show the issue. I'm running it on Arch Linux with the `gdal` package installed.

Is there anything I should be aware of when choosing the `bindgen` input and include paths?

[code]

[2018-02-27 23:10] emilio commented on #1262
No, the test is usually always right. We take that number from the clang type information.

If you inherit from a class that has a vtable, the resulting class should also have a vtable, but not two. See #851 for a known example where bindgen gets it wrong. I suspect, given you're using opaque types, that we may also get it wrong when the base is opaque / hidden.

[2018-02-27 23:12] emilio commented on #1260
Only the table of contents (the bits between `<!-- START` and `<!-- END` are autogenerated, the rest can be edited at will :)

[2018-02-28 12:45] Pzixel commented on #550
Any workaround? I currently have following output:

[code]

I.E. when I blacklist type it just doesn't compile.

[2018-02-28 14:52] emilio commented on #550
@Pzixel That error has nothing to do with this bug, that looks like it's failing to find `<stdbool.h>`.

You're not passing the `--blacklist-type` flag to bindgen, but to clang, which probably accounts for most of the error.

[2018-02-28 16:24] Pzixel commented on #550
@emilio it fails to find `stdbool` only when I blacklist some type? Sounds weird. Yes, I see that it cannot find it, but the only difference in two successful and failed calls are in additional `--blacklist-type`.

However, I just compiled it without blacklisting anything and adding additional `_padding: u64` field as showed in https://github.com/rust-lang-nursery/rust-bindgen/pull/468.