[2017-05-04 16:10] fitzgen commented on #688
You can pass whatever args you would give to clang to find the include to bindgen as well (after a `--`), eg:

[code]

or, if you're using a `Builder`:

[code]

If this doesn't resolve your problems, please reopen :)

[2017-05-04 16:10] #688 closed

[2017-05-05 18:37] #506 closed

[2017-05-05 21:58] cholcombe973 commented on #528
I hit the same issue with 3.6 on Ubuntu 16.04.2

[2017-05-06 01:42] chris3k commented on #658
I leave my comment here, because I think this might be related.

Bindgen is unable to find libclang.dll under windows 8.1.

[code]
[code]

And do not respect `LIBCLANG_PATH` environment variable

[code]

[code]

[2017-05-06 16:14] emilio commented on #658
cc @KyleMayes (I know you're busy, but just in case this rings any bells)

I don't have a windows machine, if someone that does could step with a debugger into [`clang-sys`](https://github.com/kylemayes/clang-sys) and see what's going on, that'd be rad :)

[2017-05-06 23:48] chris3k commented on #658
Ok, in my case issue was unmatched build target, I used 32-bit clang and 64-bit bindgen.

[2017-05-07 00:57] emilio commented on #684
No, that's fine, the test-case is perfect, but thanks for the offer!

[2017-05-07 20:14] jtojnar commented on #249
I got this error by accidentally omitting `>` for redirecting output (`bindgen header.h  bindings.rs`). Showing a better error message would be nice.

[2017-05-08 20:47] emilio opened #691 "Improper virtual method tracking with template parameters."
### Input C/C++ Header

[code]

### Bindgen Invokation

[code]

### Actual Results

[code]

### Expected Results

`ServoElementSnapshotTable` should have no vtable

[2017-05-08 21:21] #691 closed

[2017-05-09 23:21] emilio commented on #380
https://bugzilla.mozilla.org/show_bug.cgi?id=1363375 seems to indicate that MSVC doesn't follow the same rule here, which makes it much more fun to fix \o/

[2017-05-10 11:53] emilio commented on #75
This is fixed by clang 4.0+, so the only regression pending fixing from that change is the default template parameters one (#585). Luckily that doesn't affect stylo.

There's no way to get the proper parameter from libclang <4.0, so there's nothing left to be done here.

[2017-05-10 11:53] #75 closed

[2017-05-10 12:06] emilio opened #695 "Different results for tests/headers/objc_template.h in LLVM trunk."
Running the tests on LLVM trunk with (or without) #694 yields:

[code]

cc @scoopr

[2017-05-10 16:17] #585 closed

[2017-05-10 17:33] emilio opened #697 "Get CI working with libclang 4.0"
With #696 and #694, we should be able to pass tests in libclang 4.0.

There are a few tests which are expected to have different output in this clang version, mentioned in #696.

We have right now in our headers a `// bindgen-unstable` annotation, that basically avoids running tests depending on a feature, which we enable depending on the LLVM version in CI. We'd need to extend/refactor this in or

[2017-05-10 17:40] fitzgen commented on #697
Thanks for laying this out, @emilio!

I prefer subdirectories to suffixes for different test expectations across different libclang versions.

Once libclang 4.0 is passing in CI, we should look at testing (and allowing failures?) of libclang 5.0 tip.

Additionally, once we have the infrastructure to allow different libclangs to have different test expectations, we can also turn on CI for libclang

[2017-05-10 21:40] scoopr commented on #695
Ah yes, I was kind of afraid of this :/

Suggestions are welcome how I should handle this, the template handling stuff is a bit harder to grok in bindgen.

So before the objc template params came up as an typedef, but now they seem to be TypeRefs, which I think aligns with, and are handled, as proper template params. And to keep things simple I'd just want the type to be replaced with the ‘id’.

I

[2017-05-11 11:02] tmfink opened #699 "Add option to put constified enum into module"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

It would be nice to be able to pass an option like `--constified-enum-in-mod 'my_enum'` that tells bindgen to put the matching constified enum inside a module:

[code]

One problem that must be solved is the collision between the type and module name. Some solutions:

1. Add a prefix/s

[2017-05-11 17:45] fitzgen commented on #699
Overall this sounds reasonable to me, and would be nice to have.

We could put the type into the module without calling it the same name as the module, eg something like `my_enum::Type`:

[code]

I have a weak preference for this form, but maybe I'm overlooking something.

[2017-05-11 18:13] tmfink commented on #699
@fitzgen, you make a could point, but I prefer to keep the type declaration outside of the module (at least by default).

Keeping the type outside is more consistent with bindgen's current behavior. Otherwise, bindgen users would need an extra `use` statement for each constified `enum` to avoid referring to the type as `my_enum::Type`.

However, this is yet another option that could be set by the

[2017-05-11 18:20] fitzgen commented on #699
I was imagining that is how it would be referred to. Doesn't seem worse than `my_enum_type` and can't result in a conflicting name if some C/C++ thing we're also generating bindings for also happens to be called `my_enum_type`.

The more options we have, the more combinations there are, the more bugs will be latent and hiding. Its good to have options when we need to flip things on/off for correct

[2017-05-11 18:31] tmfink commented on #699
That's a good point. I suppose keeping the type inside the module would
also make a more clear distinction between normal enums and constified
enums.

Also, bindgen users can always re-export types outside the module with
whatever name they want.

On May 11, 2017 11:20, "Nick Fitzgerald" <notifications@github.com> wrote:

would need an extra use statement for each constified enum to avoid
referrin

[2017-05-12 08:12] ferjm opened #701 "Stylo build error with gfxUserFontSet"
I tried to generate the bindings for [gfxUserFontSet](https://dxr.mozilla.org/mozilla-central/source/gfx/thebes/gfxUserFontSet.h#553) for Stylo, but I get this build error:

[code]

CC @emilio

[2017-05-12 16:38] fitzgen commented on #701
What version of libclang?

In general, the most effective way to debug bindgen codegen issues is to create a minimal test case that reproduces the behavior by using `bindgen::Builder::command_line_flags` and then using C-Reduce with that CLI invocation: https://github.com/servo/rust-bindgen/blob/master/CONTRIBUTING.md#using-creduce-to-minimize-test-cases

[2017-05-13 00:34] kkimdev opened #702 "Urho3D build failing."
### Input C/C++ Header
Selected Urho3D headers https://github.com/urho3d/Urho3D

### Bindgen Invocation

[code]

### Actual Results

[code]
### `RUST_LOG=bindgen` Output

<details>

[code]

</details>

I don't think this is rust-bindgen, but my configuration is messed up. RUST_LOG=bindgen outputs `INFO:bindgen: Clang Version: Ubuntu clang version 3.6.2-3ubuntu2 (tags/RELEASE_362/final) (based on L

[2017-05-13 00:39] kkimdev commented on #702
removed libclang 3.6.....

[2017-05-13 00:39] #702 closed

[2017-05-13 00:42] emilio commented on #702
cc @wafflespeanut, which had a similar error recently. I wonder if we can detect this somehow...

[2017-05-16 00:07] fitzgen commented on #536
Hi @chmln! Any progress?

If you don't have time to work on it anymore (completely understandable) posting a work-in-progress PR with what you do have could be helpful for me or someone else to take it across the finish line.

[2017-05-16 00:08] fitzgen commented on #536
@Tiwalun still poking at `is_unsized`? Anything I can do to help?

[2017-05-16 16:11] froydnj commented on #541
The original issue here is that calling convention 4 is `__thiscall`, which is the default ABI for methods in MSVC.  However, the packages bindgen is using (`syntex_syntax`) don't define anything for `__thiscall`.

@emilio is it feasible to just modify `syntex_syntax` here to define `__thiscall`, and then do the appropriate adjustments to bindgen?

[2017-05-17 07:35] emilio commented on #541
@froydnj yeah, also, note that syntex_syntax is pretty much a clone of libsyntax in the rust compiler, so this should probably be upstreamed.

Is this blocking you in any meaningful way? If there's any workaround we can do in bindgen, happy to help. Perhaps making it a soft error may help for now.

[2017-05-17 09:58] tmfink commented on #664
@fitzgen I implemented the optimization you described in a feature branch. However, I am not observing a speedup in the Stylo sanity test. There's enough variance that the sometimes my "optimized" version is slower.

https://github.com/tmfink/rust-bindgen/tree/feature-664-worklist-bitset

Below are representative results for both the original and my "optimized" version:
[code]

Is my code wrong? D

[2017-05-17 12:10] froydnj commented on #541
Throwing a soft error here is hard, because we have to pass in /something/ for the calling convention.  I guess we already have special cases for Obj-C method declarations, we could fake things up for C++ method declarations, and then cross fingers that nobody is actually bindgen'ing calls to C++ methods?  That seems like a giant hack, though, with some definite footgun possibilities.

We can work

[2017-05-17 16:18] fitzgen commented on #664
@tmfink thanks for digging in! :)

Would you mind making a work-in-progress PR? Its a lot easier to talk about the code in a place where we can comment on individual lines and such things.

Regarding speed, did you attempt measuring just the analysis phase's time? I suspect that most of our time in bindgen is generally spent in libclang's parsing and type checking, but I haven't done very much pro

[2017-05-18 07:47] tmfink commented on #664
Created pull request https://github.com/servo/rust-bindgen/pull/705

[2017-05-18 18:33] fitzgen commented on #664
See https://github.com/servo/rust-bindgen/pull/705#issuecomment-302503717

[2017-05-18 18:33] #664 closed

[2017-05-19 08:20] devurandom opened #706 "Support request: ChangeLog / NEWS"
I am unable to find a ChangeLog or NEWS file in this repo, in the docs or on crates.io. Could you please point me to it? I am specifically looking for the changes between 0.24 and 0.25.

[2017-05-19 22:47] emilio commented on #706
So in the [releases page](/servo/rust-bindgen/releases) you can see the commits corresponding to each version using the `/compare/xxx..yyy` urls:

For example, for those changes: [compare/v0.24.0...v0.25.0](https://github.com/servo/rust-bindgen/compare/v0.24.0...v0.25.0) should list all the relevant changes from one version to the other.

I think that's the best thing we have right now. We try to

[2017-05-20 04:08] #619 closed

[2017-05-20 05:48] devurandom commented on #706
You're right, a GNU-style ChangeLog that just lists all commits would not be helpful. But many projects abuse a file of this name for what GNU would put into a NEWS file, which is why I listed both filenames in this request to make search easier for others.

Thanks for the link. Commits are few and messages are good, so that indeed helped me.

[2017-05-21 07:51] upsuper opened #710 "Support marking types with "#[must_use]""
There are some types (noticeable `already_AddRefed`) that we want them to always be consumed.

It is `MOZ_MUST_USE_TYPE` in Gecko, but there is currently no way to mark them `#[must_use]` in generated binding. We probably need something here.

I don't have idea what would be the best way to handle this, though.

[2017-05-21 16:11] jamesmunns opened #711 "Support GCC's `short-enums` flag"
Hello, GCC has a flag called `short-enums`, which will dynamically size the representation of the enumeration based on its contents.

This C code would compile (and pass static asserts) with `-fshort-enums` enabled:

[code]

Currently bindgen will generate all of these enumerations as the size of `int`, which is `u32` on my platform. This breaks the structure of `struct`s when trying to interface

[2017-05-21 16:20] emilio commented on #711
(As discussed on IRC, passing that flag down to clang should be enough, I'll land a test case to ensure we don't regress it)

[2017-05-21 16:28] emilio commented on #710
Given we're in control of the type, perhaps an annotation may be ok?

[2017-05-21 16:51] jamesmunns commented on #711
I can confirm this worked for me! In case someone finds this later, adding this to my build invocation fixed this:

[code]

[2017-05-22 01:06] upsuper opened #713 "Bindgen should stop people from passing type with dtor by value for generated functions"
It seems this would not work, and bindgen probably should refuse when asked to generate code for this.

[2017-05-22 10:08] ctaggart opened #714 "can't find C++ constructors"
The ovl.h header file for Octave Value List has multiple constructors, but I can't find them in the generated rust code. I only see one `new` function. The one I need to use right now is the void constructor with no args. Any idea what I need to do it have it generate functions for the other constructors?

from https://github.com/NexMirror/Octave/blob/master/libinterp/octave-value/ovl.h
[code]

fr

[2017-05-22 10:13] emilio commented on #714
Not really, this is known, and it's because the constructor is inline, so it generates no symbols, so there's no way we can call that from rust unfortunately.

See https://github.com/servo/rust-bindgen/issues/348 for more details, closing this as a dupe of it.

[2017-05-22 10:13] #714 closed

[2017-05-22 11:11] upsuper opened #715 "PhantomData is sometimes unnecessary for generic types"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

In this example, the `_phantom_0` is unnecessary. It can just generate
[code]

[2017-05-22 11:13] emilio commented on #715
This is known, and it's intended, see #689. Basically, it allows getting the subtyping semantics that are expected (AFAIK).

@fitzgen or @aturon can probably elaborate on this.

[2017-05-22 11:13] #715 closed

[2017-05-22 11:34] ctaggart commented on #714
Thanks @emilio. It makes more sense, but I'm not sure what the recommended work-a-round is. Must I create a C++ dll that exposes the functions in a way that Rust can consume them? Is there any Rust only work-a-round?

[2017-05-22 14:48] emilio commented on #714
So unfortunately there isn't a rust-only workaround, in the sense that you can't call into a function that isn't there.

A solution for this could be something like compiling a static library with the symbols using `-fno-inline-functions`, and linking it into rust.

But at that point you might as well expose explicit functions for that a la:

[code]

That can be done entirely from Cargo's build sc

[2017-05-22 22:58] #711 closed

[2017-05-23 06:17] ctaggart commented on #714
Thanks @emilio, that is really helpful!

[2017-05-25 17:26] #697 closed

[2017-05-26 20:20] Manishearth opened #723 "Generate properly mangled test names"
Currently bindgen generates a lot of tests like so:

[code]

The number is there because there is such a test for each `T` that is used as `nsTArray<T>`. Furthermore, the counting is global -- adding another instantiation will renumber _all_ such tests, not just the array ones. This means that nontrivial binding updates are very prone to bitrot.

Instead of numbering this we should do something li

[2017-05-28 08:30] michael-p opened #725 "C++ classes using STL types internally"
Note: this is not really a bug in bindgen but more of a question about how to do this sort of thing (if possible at all).

### Input C/C++ Header
[code]

### Bindgen Invocation
[code]

### Actual Results
Generated code fails to compile:
[code]

If I allow bindgen to pull `std::string` in by removing `.whitelist_recursively(false)` above I get tons of other compile errors about types deep in the C+

[2017-05-28 10:28] michael-p commented on #725
Ok figured it out, one has to treat the class itself as opaque by calling `.opaque_type("Test")` above.
Sorry for the issue-spam! :)

[2017-05-28 10:28] #725 closed

[2017-05-29 17:11] emilio commented on #725
Glad you figured it out!

For the record, marking as opaque_type("std::string") should work
equally well, and perhaps it's a bit cleaner.

Cheers :)

On Sun, May 28, 2017 at 03:29:00AM -0700, Michael wrote:

[2017-05-30 07:17] mark-buer commented on #537
I'm running into this same issue for osx/ios.

Some of the system provided headers use `pack` quite heavily.

Running:
[code]
Gives the count of `#pragma pack` per header (with more than 1 occurrence):
[code]

And there are many more headers with a single `#pragma pack` occurrence (not listed here to avoid excessive noise).

[2017-05-30 17:57] fitzgen opened #726 "Generate struct of wrong size with bitfields"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

Which results in the following generated layout test failure:

[code]

### Expected Results

We generate a struct of size 8, not 9. The generated layout tests pass.

[2017-05-31 16:59] jeandudey commented on #667
Just as a reminder don't do this unless `#[repr(transparent)]` gets implemented or bugs like #439 could happen.

[2017-06-01 04:22] upsuper opened #727 "Want better information when panic for unknown ABI"
It is pretty hard to know what causes the panic without hacking into bindgen's code to dump things somewhere. It would be helpful if the panic message can contain the type name or function name.

[2017-06-01 04:53] upsuper opened #728 "Incorrect link_name is generated for extern "C" functions for Win32"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

It should be identical to the result for Win64, which is
[code]

### `RUST_LOG=bindgen` Output

<details>

[code]

</details>

[2017-06-01 07:21] cpeterso commented on #728
@emilio or @fitzgen, can you please take a look at this `link_name` issue? This bug is blocking us from building Stylo on Win32 ([Firefox bug 1365254](https://bugzil.la/1365254)).

[2017-06-01 21:16] kkimdev opened #730 "Emscripten support?"
Has anyone verified bindgen with emscripten? https://hackernoon.com/compiling-rust-to-webassembly-guide-411066a69fde

It looks like layout tests fail even on pretty trivial classes, so I guess no one really worked on this yet.

[2017-06-01 21:18] Manishearth commented on #730
What exactly do you mean by "verified bindgen with emscripten"? Are you asking for the validity of the generated bindings? Those should probably work provided you give bindgen the right target. I think.

[2017-06-01 21:20] kkimdev commented on #730
Yes it compiles and outputs the binding file.  However, most layout tests are failing for me, unlike other conventional targets, e.g.,
`test result: FAILED. 98 passed; 78 failed; 0 ignored; 0 measured; 0 filtered out`  I'll give you one simple example of that

[2017-06-01 21:22] emilio commented on #730
I'd expect it to pretty much work if you pass the proper `--target` arguments to clang?

There's other target information we may need which may make some edge cases work, like the pointer size and similar. Part of it it's landing in #729, other parts need upstream support which I added in the link mentioned in #729 (libclang 5)

[2017-06-01 21:36] kkimdev commented on #730
oh sorry my bad, I forgot passing `--target` will try again thanks!

[2017-06-01 23:23] kkimdev commented on #730
OK I was finally able to produce the correct code for emscripten thanks!

[2017-06-01 23:23] #730 closed

[2017-06-02 09:13] #593 closed

[2017-06-02 09:13] #727 closed

[2017-06-02 09:13] #728 closed

[2017-06-02 21:18] fitzgen opened #732 "Generate getters/setters to contained anonymous struct/union members"
We often see code like this:

[code]

which generates members and types like `__bindgen_anon_1: JSJitInfo__bindgen_ty_1`.

It would be cool if we generated getters/setters on the containing struct for these anonymous structs/unions members, so that using them was easier and more like their usage in C/C++.

[2017-06-03 23:17] emilio commented on #726
I investigated a bit, taking this one.

[2017-06-03 23:24] emilio opened #734 "Can't place a member in the remaining space of a bitfield."
I discovered this while investigating #726.

There's one test in our test suite that uncovers this, in `bitfield_align.h` (`Date2`). We were not getting the offsets correctly for that struct, so we managed to pack it and the remaining byte was generated correctly.

When implementing proper bitfield padding, that struct starting failing its test.

### Input C/C++ Header

[code]

### Expected Result

[2017-06-03 23:36] emilio opened #735 "Bitfield constructors aren't very convenient when the bitfield is internally represented as an array."
See the integration tests modification in the incoming PR.

[2017-06-03 23:37] emilio commented on #735
It should probably use `field_ty`, instead of hardcoding its own field.

[2017-06-03 23:37] emilio commented on #735
(That being said, that prevents it from being `const` most of the time, we'd need to manually implement the equivalent of `transmute`).

[2017-06-05 16:50] fitzgen commented on #735
Yes, I've run into this as well. Started making everything `lazy_static! { ... }` instead of `const`, which is also sad.

@Manishearth suggested just generating multiple copies of the `<code-that-generates-unit-field-int-type>` for each array element and then `&`ing each element's value out. It would work, but would be pretty gross IMO.

[2017-06-05 16:50] fitzgen commented on #735
Also, clearly `transmute` should be considered a `const fn`.

[2017-06-05 18:18] emilio commented on #735
Yeah, I think transmute and zeroed should be const as well.

[2017-06-05 18:21] #726 closed

[2017-06-07 09:23] ctaggart commented on #714
@emilio, Any change you (or know someone who) could look at my [latest build errors](https://github.com/ctaggart/octh/issues/18#issuecomment-306041225)? It is blocking me from making progress on getting Rust to work for Octave. The .o file compiled with C++ ends up missing references when linked. Looking for any suggestions.

[2017-06-08 17:54] jcranmer opened #738 "Better support for well-known C++ types"
Certain types like std::string or std::vector are quite common in C++ code, yet trying to run them through bindgen tends to be a nightmare because their implementations are actually very complicated. There are also types like string_view or llvm::StringRef that are conceptually identical to native Rust types (&str, in this case, sidestepping the issue of UTF-8/non-UTF-8) that would be useful to ha

[2017-06-08 19:11] noyez opened #739 "on 32-bit platform (e.g. PI) including sys/param.h causes 'shift left with overflow error'."
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

On my 32-bit arm platforms (namely a Raspberry PI, and Beaglebone),  I Expect it not to crash when running build program. I found this when working w/ a c-library, and narrowed it down the sys/param.h

There is no crash on 64-bit platforms.

### `RUST_LOG=bindgen` Output

<details>
the

[2017-06-08 19:24] emilio commented on #739
Can you see, of the files that get recursively included, which one contains structs with bitfields?

That is computing a bitfield, that presumably is too wide for us to represent as a simple bitmask op in 32 bits?

Perhaps switching the bitfield mask to `u64` would be the most reasonable thing to do.

Thanks for the report!

[2017-06-08 20:05] JonSeverinsson opened #740 "Unnecessarily strict dependency on cfg-if"
Rust-bindgen depends explicitly on cfg-if 0.1.0, but would work just as well with the recently released 0.1.1, so I would suggest relaxing the dependency to any 0.1 version:

[code]

[2017-06-08 20:42] fitzgen commented on #740
Sounds good! Would you like to make a PR?

[2017-06-09 04:59] emilio commented on #740
Isn't it the same? AFAICT `0.1.0` effectively means `0.1.x`, but I could be wrong.

[2017-06-09 13:01] noyez commented on #739
Sorry -- i probably should have tried to narrow it down a bit further before submitting. I finally found the offending struct from /usr/include/arm-linux-gnueabihf/sys/ucontext.h on my PI. The problem appears to be `unsigned int` types that are given 32 bits of a bit field.

Below is a code snippet that will trigger this error in bindgen.

[code]

[2017-06-10 11:16] emilio commented on #739
Well, that makes sense, thanks a lot for finding that out!

[2017-06-10 11:18] emilio commented on #739
More minimized, and also reproducible in 64-bit:

[code]

[2017-06-10 11:55] emilio opened #743 "More bitfield brokenness"
While investigating #739, I found out that the following:

[code]

Generates what I think it's correct code:

[code]

But apparently isn't, and Clang manages to stick the first bitfield after the int (wat).

The following is also incorrect, generating the right layout but the wrong offset:

[code]

We generate an `int`, then one word when we stick the two bitfields, but clang does the first bit at

[2017-06-10 12:00] emilio opened #744 "Bitfields in unions are broken"
Also followup from #739.

The following code:

[code]

Will generate, with the stable rust option:

[code]

And with the unstable one:

[code]

We don't have a special path for bitfields in unions, and we should force their offset to be at offset zero, and force alignment and all that.

It's presumably not ultra-hard to fix.

[2017-06-10 12:02] emilio commented on #739
Fix at #742. Need to think about what the correct fix is for larger than-word-size bitfields. C++ truncates, but that shouldn't block that fix.

[2017-06-12 16:53] #739 closed

[2017-06-14 21:30] fitzgen opened #747 "Looking for something to work on?"
This issue tracks people who are looking for a task to work on but can't find anything fitting on https://github.com/servo/rust-bindgen/issues

**For potential contributors:**
Leave a comment and mention any relevant requirements or previous experience.

**For `bindgen` team members:**
When an appropriate issue has been assigned to someone who left a comment in this issue, CC them to it and remove

[2017-06-14 23:23] kkimdev opened #749 "`//!` comment makes compiling the output file fail."
### Input C/C++ Header

[code]

Real world example: https://github.com/g-truc/glm/blob/a9a832e187b6a33638b8e769887a35e39638dbeb/glm/detail/type_vec.hpp#L458

### Bindgen Invocation

[code]

### Actual Results

[code]

[code]

### Expected Results

I'm not familiar with  inner doc comment, and I don't know if it's rustc or bindgen issue, and what to expect here.

### `RUST_LOG=bindgen` Output

<det

[2017-06-14 23:24] emilio commented on #749
Dupe of https://github.com/servo/rust-bindgen/issues/426, see there for workaround. Thanks for the report though!

[2017-06-14 23:24] #749 closed

[2017-06-14 23:24] emilio commented on #749
(I should actually prioritise this...)

[2017-06-15 01:20] kkimdev opened #751 "wasm32 target does not generate class functions."
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

Something similar to the following. Generated with `$ bindgen test.h -- -x c++` on x86_64.

[code]
### `RUST_LOG=bindgen` Output

<details>

[code]

</details>

[2017-06-15 01:36] kkimdev commented on #751
Note:  `-target asmjs-unknown-emscripten` seems to be fine.  I'm not sure if the correct target string for wasm is `-target wasm32`...

[2017-06-15 09:52] emilio commented on #751
I think the target should be `wasm32-unknown-emscripten`, but I can repro with that anyway.

[2017-06-15 12:54] emilio commented on #751
So this is because clang reports a `CXVisibility_Hidden` for the method with the wasm target, but not with any other, so we bail out at https://github.com/servo/rust-bindgen/blob/master/src/ir/function.rs#L372.

It's unclear to me whether that's a bug on clang itself, or the symbol is really unusable. Commenting out that check makes the file getting generated properly.

@kkimdev, could you try wit

[2017-06-15 22:16] kkimdev commented on #751
@emilio Yes I commented out them and now I can link and call the method.  I guess we should file a bug to libclang?  Below are the steps to reproduce:

test.hpp
[code]
test.cpp
[code]
main.rs
[code]
Commands
[code]

[2017-06-16 00:00] nicokoch opened #753 "Nested c macro does not generate any output"
So I'm generating bindings to <linux/uinput>. This works pretty well, but two c macros in particular does not produce any bindings in the output. Reduced input below:

### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

No constant `UI_DEV_CREATE` or `UI_DEV_DESTROY` generated in output.

### Expected Results
Constants `UI_DEV_CREATE` and `UI_DEV_DESTROY` generated

[2017-06-16 00:06] emilio commented on #753
How is `_IO` defined? Grepping `define _IO` in my `/usr/include/linux` dir didn't yield anything.

[2017-06-16 00:07] emilio commented on #753
As in... If we don't know how `_IO` is defined, how could we generate a sensible constant?

[2017-06-16 00:10] emilio commented on #753
That being said, even with that it doesn't work (huh, I'd swear we knew how to deal with macro expansions):

[code]

[2017-06-16 00:13] emilio commented on #753
This is probably a bug for rust-cexpr. Indeed, it's a dupe of https://github.com/jethrogb/rust-cexpr/issues/3.

[2017-06-16 00:14] emilio commented on #753
I guess I can try to add to libclang a way to get whether the macro definition belongs to a functional macro...

[2017-06-16 00:21] nicokoch commented on #753
If it helps any:
`_IO` is defined in uapi/asm-generic/ioctl.h as:
`#define _IO(type,nr)            _IOC(_IOC_NONE,(type),(nr),0)`
 and `_IOC` in turn is defined as:
[code]

[2017-06-16 00:33] emilio commented on #753
Ok, so libclang provides a `clang_Cursor_isMacroFunctionLike` API. Perhaps we could use that.

[2017-06-16 00:36] emilio commented on #753
I've asked @jethrogb about what the best API for this would be. It shouldn't be a big deal to support it in bindgen once cexpr support is there.

[2017-06-16 00:38] nicokoch commented on #753
Meanwhile, I used the following in my wrapper.h to workaround the issue:
[code]

[2017-06-16 00:39] emilio commented on #751
Yes, a bug against llvm or https://github.com/kripken/emscripten would be the best way to proceed I think. I'm not sure where the bug lies exactly, I could dig next week (busy today).

[2017-06-16 01:32] emilio commented on #753
Yeah, note that that would only work in libclang 3.9+ though.

[2017-06-16 06:17] Manishearth opened #754 "Provide way to request layout test for type replacement"
In Gecko we use mapped-generic-types to swap certain types with another.

It would be nice if we could also request a layout test to be written for these types. Basically, the ability to say "Replace instances of type X with Y, but also generate a test checking that Y is the same size as X should be"

cc @emilio

[2017-06-16 12:01] retrry opened #755 "prepend_enum_name(false) doesn't work on constified enum variants"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

[code]

pub const AV_CODEC_ID_TTF always has prependend enum name (AVCodecID), even when prepend_enum_name is set to false.

[2017-06-16 16:24] fitzgen commented on #754
See also https://github.com/servo/rust-bindgen/issues/188

[2017-06-16 16:26] fitzgen commented on #188
Its worth noting that we tend to be better about turning things we don't understand into `TypeKind::Opaque` since this issue was filed, and so this and #754 are probably more feasible now than https://github.com/servo/rust-bindgen/issues/188#issuecomment-257718137 makes it seem.

[2017-06-16 16:27] fitzgen commented on #755
Thanks for the bug report!

[2017-06-16 17:34] fitzgen opened #757 "Switch defaults from generating unstable Rust to generating stable Rust"
The current default is definitely the wrong choice.

This involves

* changing the `Builder::no_unstable_rust` method to the `Builder::unstable_rust` method

* changing the `--no-unstable-rust` flag to a `--unstable-rust` flag in `src/options.rs`

* I don't think this will require updating test results since we run all the tests with `--no-unstable-rust`, however it may require removing that flag

[2017-06-16 17:34] highfive commented on #757
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-06-16 17:47] fitzgen opened #758 "Default to generating constified enums, rather than generating Rust enums"
Right now, we translate C/C++ enums into Rust enums by default. This is problematic because it is OK for C/C++ code to return some `int` that *isn't* one of the enum variants, and that is well defined for C/C++; however, that is UB in Rust and can lead to miscompilations. People shouldn't be using Rust enums unless they have complete control of the C/C++ code (ie not using a shared library and hav

[2017-06-16 17:47] highfive commented on #758
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-06-16 20:40] #755 closed

[2017-06-18 23:16] jonstites commented on #757
I'll take a stab at this one. @highfive: assign me

[2017-06-18 23:17] highfive commented on #757
Hey @jonstites! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-06-18 23:54] rigelk commented on #757
@jonstites sorry, had this done already :/

[2017-06-19 17:24] #734 closed

[2017-06-19 18:35] fitzgen opened #765 "Rewrite `has_vtable` checks as either graph traversal or fix-point analysis"
See https://github.com/servo/rust-bindgen/issues/536 for details.

[2017-06-19 18:36] fitzgen opened #766 "Rewrite `can_derive_copy[_in_array]` as either a graph traversal or fix-point analysis"
See https://github.com/servo/rust-bindgen/issues/536 for details.

[2017-06-19 18:37] fitzgen opened #767 "Rewrite `can_derive_debug` as either a graph traversal or fix-point analysis"
See https://github.com/servo/rust-bindgen/issues/536 for details.

[2017-06-19 18:37] fitzgen opened #768 "Rewrite `is_unsized` as a fix-point analysis"
See https://github.com/servo/rust-bindgen/issues/536 for details.

This is very similar to when we re-wrote `has_destructor` to a fixed-point analysis, and that PR could be used to guide fixing this issue: https://github.com/rust-lang-nursery/rust-bindgen/pull/850

[2017-06-19 18:42] fitzgen commented on #536
Unassigned due to lack of activity. Also split out each bit of work into its own issue.

[2017-06-19 19:54] fitzgen opened #769 "Testing instantiation with argument of a type that we didn't generate bindings for"
### Input C/C++ Header

[code]

### Bindgen Invocation

Some complicated thing from SM bindings. Will see what more minimal flags required are and report back.

### Actual Results

[code]

And then this fails to compile because we don't emit any definition for `AutoValueVector_Vec`:

[code]

### Expected Results

We probably should just avoid emitting tests of any instantiation involving non-white

[2017-06-19 19:57] fitzgen commented on #769
It seems that `--enable-cxx-namespaces --whitelist-type JS::Rooted` is enough to trigger this.

[2017-06-19 20:00] fitzgen commented on #769
Slightly more reduced test case:

[code]

[2017-06-19 20:05] fitzgen commented on #769
Alternatively, we should consider the argument type whitelisted, and should emit bindings for it. I think that this is what is supposed to be happening, but we are collapsing a type alias away (or maybe libclang is doing this before giving it to us...).

[2017-06-19 20:33] fitzgen commented on #769
Ok, here's what's going on: the alias is whitelisted, but because its parent is a struct, and not a module, and its parent struct is not whitelisted, we don't ever add it as a child of a module in `BindgenContext::add_item` and therefore don't ever generate a definition for it in the codegen phase.

[2017-06-20 00:29] #757 closed

[2017-06-21 00:15] #769 closed

[2017-06-22 16:30] fitzgen opened #774 "Include template arguments in instantiations' names (support marking "nested" instantiations as opaque)"
Follow up to #773

To fully support template instantiations, and particularly template instantiations where a template argument is another template instantiation, with our various flags that depend on names (eg marking things opaque) we need to stop making template instantiations just use their template definition's name and start appending their template arguments.

The catch is that there are a

[2017-06-22 22:59] emilio opened #775 "Bitfield constructors may overflow the stack on codegen phase."
See this stack @Manishearth provided while building stylo:

https://gist.github.com/Manishearth/b1a99776beaf9a1c8bc3274bfc8293d0

I'm pretty sure it's because of one of our bitfield constructors growing a lot. @fitzgen mentioned on IRC he doesn't need `const fn` constructors anymore, so this can be greatly simplified into a linear sequence of expressions.

[2017-06-23 17:26] vaartis opened #777 "Add an ability to trim prefixes/postfixes of enums"
C enums are not qualified, while rust's are, it's not very convinient to write things like `TestEnum::TestEnumFieldOne`, therefore i propose to add an ability to trim prefix/postfix of enum field, so it becomes `TestEnum::FieldOne`

Current behaviour (llvm exmaple):
[code]
produces
[code]

what i mean is to make it like this:
[code]

removing LLVM as prefix and TypeKind as postfix

[2017-06-23 19:29] vadimcn opened #778 "Wrong ABI used for small C++ classes on Linux."
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results
[code]
### Expected Results
Not sure...

### Discussion
`MakeFoo` and `MakeBar` look very similar, however in C++ they use different ABIs, at least on Linux.
 Here's a quote from [System V AMD64 ABI spec](https://software.intel.com/sites/default/files/article/402129/mpx-linux64-abi.pdf) (page 20):

This means that w

[2017-06-23 19:31] emilio commented on #778
Yeah, this is somewhat annoying, but passing non-trivial arguments by value needs rustc support, and last time I checked with them they really weren't interested in implementing some kind of `extern "C++"`.

[2017-06-23 19:32] emilio commented on #778
(The same happens for arguments, btw, we've run into this before, see https://bugzilla.mozilla.org/show_bug.cgi?id=1366247)

[2017-06-23 20:38] vadimcn commented on #778
In my specific case, the struct was requested to be opaque, so maybe bindgen could use some other "filler" type?   Looking at [cabi_x86_64.rs](https://github.com/rust-lang/rust/blob/master/src/librustc_trans/cabi_x86_64.rs), it seems that some kind on weird enum (one that ends up with StructWrappedNullablePointer layout) might do the trick.

Or, maybe there should be a sub-option of `#[repr(C)]` t

[2017-06-23 21:15] vadimcn commented on #778
Looks like this does the trick (i.e. some struct member must be misaligned):
[code]
Would only be useful for opaque structs, of course...

[2017-06-24 04:02] vadimcn commented on #778
Wondering what @rust-lang/lang team thinks about this.

[2017-06-24 04:27] vadimcn commented on #778
On second thought, this

is pretty much the distinction between `Copy` and `!Copy` types.   Perhaps the rule should be that  all non-Copy types are passed by-pointer?

[2017-06-24 04:55] comex commented on #778
Huh, seems very similar to [an MSVC ABI issue](https://github.com/rust-lang/rust/issues/38258).

[2017-06-24 06:44] retep998 commented on #778
Please no. This would wreak so much havoc when ABIs mysteriously change due to the addition or removal of `Copy` impls. I'd much rather this be explicitly handled via a new repr to specify that a type is not POD.

[2017-06-24 09:09] emilio commented on #777
This isn't terribly hard to implement, but I think it's hard to add a (good) API to this to the CLI, so I guess this could be restricted to users of bindgen as-a-library.

We could add a hook to `ParseCallbacks` when parsing to be able to rename enums and variants (the variant function could take the enum name as an argument).

[2017-06-24 09:31] vaartis commented on #777
I might try to implement this myself, although i need some time to at least read through bindgen's code

[2017-06-24 10:49] vaartis commented on #777
I have done some [progress](https://github.com/vaartis/rust-bindgen/commit/9ff93da853dd92032938ea9ec3699b9ebceedceb), but there are some questions:
- Where are enum custom behaviors implemented, because i get `no method named enum_field_rename found for type ir::enum_ty::EnumVariantCustomBehavior in the current scope`?
- What should we do about rename string in the EnumCustomBehavior: String does

[2017-06-27 19:14] jprusakova commented on #758
@highfive I am working on this issue.

[2017-06-28 11:03] azerupi opened #779 "Specify version of mdbook in the deployment script"
Hi!

We would like to issue a new release of mdBook containing some changes that could potentially break current books, the config file changed a bit for example. However we found out that a lot of projects automatically deploy using the latest available version and so any breaking update could result in books not being deployed anymore..

We would like to avoid that and recommend pinning the vers

[2017-06-28 17:31] RReverser commented on #732
Not sure if related, but would it be possible to support anonymous structs by flattening their properties (like C does) instead of generating `__bindgen_anon_1`? That's our primary case for using anonymous struct fields, and I guess we're not alone.

[2017-06-28 20:29] 64 commented on #372
I'm still getting this error while trying to run `bindgen` on [`uv.h`](https://github.com/libuv/libuv/blob/v1.x/include/uv.h):

[code]

I'm using bindgen version 0.26.2 on windows. Any ideas?

[2017-06-30 20:18] SirVer commented on #765
I started taking a look at this to understand `bindgen` a bit better. I am interested in its approach to understand better if it can be useful to me in future projects. Since I do not know how much time I'll have for this, I wanted to provide incremental improvements instead of one huge refactoring.

# Finding a test case
For this I started looking into `ir::ty::Type::has_vtable`. First, I tried t

[2017-06-30 22:40] fitzgen commented on #765
Hey @SirVer! Thanks for writing up your questions for me :)

It's possible that we simply don't have test coverage here. I would have expected some of the CRTP test cases to have caught this, but... *shrugs*

We're in a situation where `ItemId::has_vtable` calls `Item::has_vtable` calls `Type::has_vtable`.

We can make `Type::has_vtable` take another parameter: the `ItemId`. Then we explicitly pas

[2017-07-01 03:52] vadimcn commented on #778
As I've said in [IRLO thread](https://internals.rust-lang.org/t/bindgen-and-c/5434), I think there are two ways we can go here:
- Add support for "significant-address" c++ types in rustc via an attribute.
- Have bindgen change such arguments/return values to be explicitly by-pointer.  Of course, I may turn out that different targets require slightly different transforms (for example, I think some

[2017-07-01 04:37] retep998 commented on #778
Right now the instant solution which works on stable is to transform the bindings to pass certain types by pointer and handle certain return values correctly. In the future Rust definitely should add more calling conventions and attributes however so that Rust can perform these transformations internally.

For example in windows API there is a COM method that looks like this in C++:
[code]
In orde

[2017-07-01 07:06] vadimcn commented on #778
@retep998: It seems to me that you are describing a different problem.  Is there already an open issue for it?  Let's take discussion there.

[2017-07-01 07:59] retep998 commented on #778
@vadimcn The two Rust issues are:

1. Types which are not POD are sometimes handled differently in function ABIs and need a way to mark them as such. https://github.com/rust-lang/rust/issues/38258
2. C++ methods on windows have a slightly different calling convention than C++ functions and need a way to mark them as such. https://github.com/rust-lang/rfcs/issues/1342

While this issue here is spec

[2017-07-01 20:35] SirVer commented on #765
@fitzgen, I think I require some help here - probably my c++ foo is not strong enough, but I cannot construct a test case that triggers this code path - can you provide a minimal example I could turn into a test case?

My thinking goes like this: a class has a vtable if it contains virtual functions or any of its base classes contains virtual functions. So for this to trigger, we'd require a type

[2017-07-01 21:42] vadimcn commented on #778
bindgen could also fix up function signatures if it generated a small wrapper function.  For example:
[code]

[2017-07-02 15:04] emilio commented on #778
That'd yield also similar problems as #607, though.

[2017-07-02 20:29] vadimcn commented on #778
In this case SomeStruct is a POD.

For true C++ classes, you might consider some sort of "assume_trivially_movable" annotation, because in practice, 95% of them are.  ...On the other hand, one can always do that in the safe idiomatic-Rust wrapper, so maybe not worth it...

[2017-07-03 21:44] fitzgen commented on #765
Hi @SirVer !

I think you're right, and I think we don't need the detect-recursion checks for this at all. It was probably a bug that we ever needed them that we have since fixed... and when I say "we" it was definitely "me" who introduced these particular checks, so I must be at fault here :-P

Woops, my bad, I was just going off memory of how most of the others are structured.

Here is a skeleto

[2017-07-04 10:43] emilio commented on #372
That's a different issue, and it deserves another bug, I think. That's when generating padding for a struct, which is a different case.

I can file as soon as I arrive home.

[2017-07-04 10:47] emilio commented on #732
Assuming that they don't affect the layout of the type, it'd be doable, yeah... But I don't think that's the case, for example:

[code]

I think bar and baz would be collapsed if we flatten the structs, but not otherwise.

[2017-07-04 12:15] RReverser commented on #732
@emilio Not sure I follow, why would they collapse?

[2017-07-04 12:17] RReverser commented on #732
Maybe you meant a case where both are called `bar`, but that's invalid in C itself anyway.

[2017-07-04 12:18] RReverser commented on #732
Oh wait, got it now, you mean because of the padding on 64-bit architecture. Yeah, guess it will need to be still generated as a separate field, but, as far as I remember, bindgen already does that in other places.

[2017-07-04 13:24] RReverser commented on #647
@emilio My understanding is that the issue that @mikeyhew had is solved, but this particular feature request is still valid / not implemented, so perhaps should stay open?

[2017-07-04 15:57] emilio commented on #732
Right, adding padding and alignment bits should be doable, though it may not be as trivial.

[2017-07-04 15:57] emilio commented on #732
Will open a different issue about this, seems a somewhat different scope from this one :).

[2017-07-04 15:59] emilio opened #784 "Consider flattening anonymous structs/unions into the parent struct."
As requested by @RReverser in #732.

This is slightly involved and requires a fair amount of tests, but should be doable.

Note the comments in #732 for some potential pitfalls. Implementing this would require to generate padding fields too.

[2017-07-04 16:02] emilio opened #785 "Convert snake_case types to CamelCase"
This was suggested in #647 as a way to work around #654.

That problem was solved, but the feature request is still valid.

[2017-07-04 16:02] emilio commented on #647
Yeah, fair :).

I opened #785 to track that instead of reopening this one.

[2017-07-04 18:59] SirVer commented on #765
So let's get rid of them to simplify the code a bit (#787).

I still do not know where the `TypeId` for the local solution should come from.

This is very helpful. My vacations are over though, so I cannot promise if and when I get around to it, but I think this will help anybody tackling any of these issues.

[2017-07-04 19:00] SirVer commented on #536
https://github.com/servo/rust-bindgen/issues/765#issuecomment-312738735 contains a skeleton for a new sample fixpoint analysis. It could be a good jumpoff point for any of sub-issues.

[2017-07-04 19:38] SirVer opened #788 "Running test modifies files?"
Running `cargo test --features testing_only_libclang_3_8` on a fresh checkout modifies the following files on my system:

[code]

The tests all pass. System is Mac OS X, with llvm38 installed from homebrew.

Is this WAI?

[2017-07-04 20:03] emilio commented on #788
Hi, thanks for the report!

Can you paste the diff? Ideally the tests shouldn't change (CI tests this, but it's Linux-only though).

[2017-07-04 20:13] SirVer commented on #788
The diff is in [this gist](https://gist.github.com/SirVer/bfafd1b9fcfe4a48f22be1bfca203de4).

[2017-07-04 21:11] emilio commented on #788
Huh, interesting, so that's definitely using the `clang_EvaluateExpression` API, which _should_ be 3.9+. Perhaps it was backported? Are you sure that you're using 3.8? What does `RUST_LOG=bindgen ./target/debug/bindgen <any-test>` say for the clang version

[2017-07-05 17:43] fitzgen commented on #765
The type's `ItemId` is passed down by callers, that's what the `HasVtable::Extra` associated type is there for.

Maybe I am misunderstanding?

No problem. If you don't think you're going to work on this anytime soon, then let me know so I can mark the issue unassigned and up for grabs again.

Cheers!

[2017-07-05 19:12] #779 closed

[2017-07-05 19:12] SirVer commented on #788
I ran

[code]

Which gave as the first 2 lines this information.

[code]

Full output in this [gist](https://gist.github.com/SirVer/eb665d3529800228c554c83281f15b75).

It seems that bindgen picks up the system installed llvm that comes bundled with Apples dev-tools (which are a require install if you want to do any kind of development on Mac). As you can see they do not follow the llvm versioning.

[2017-07-05 20:33] cbourjau commented on #598
@fitzgen I ran into this issue via google. For me the problem is that bindgen's generated code creates some symbols with `_cxx11` in their name but then references them without that part in their names. The code which you posted above seems to have the same issue imho:

[code]
Since you wrote that you this code looks correct to you, I wonder if I am missing something obvious here? I asked about th

[2017-07-05 20:46] fitzgen commented on #598
@cbourjau I didn't dig into the generated code, just squinted at it, in that comment. Was mostly comparing against what we did before, which was panic.

Would you mind filing a new issue with a reduced header and steps to reproduce and all that?

[2017-07-05 21:44] cbourjau opened #789 "Incorrect `__cxx11` part in symbol names in generated rust code"
If I try to wrap a c++ header with bindgen, the compilation of my project fails due to incorrect naming in the generated rust file. The header is taken from issue #598, where a generated binding seems to suffer of the same issue.

### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results
The generated rust file has undefined symbols:
[code]

here are the generated bindings

[2017-07-05 21:50] fitzgen commented on #789
The next steps to making this issue actionable are to look at what's inside `<string>` that is causing the `__cxx11` prefix to get attached, and/or [preprocess and C-Reduce](https://github.com/servo/rust-bindgen/blob/master/CONTRIBUTING.md#using-creduce-to-minimize-test-cases) the test case given.

I suspect it is using an inline namespace or something.

[2017-07-06 00:14] emilio commented on #789
This seems like we're mishandling inline namespaces somewhere somewhere... Does the error go away if you turn on the `conservative_inline_namespaces` option?

And yeah, a reduced test-case based on the above would be neat! I can try to construct one, but I'll be mostly away until the next week, so if you beat me to it, that'd be rad :)

[2017-07-06 00:17] emilio commented on #788
You can set `LIBCLANG_PATH` and/or `CLANG_PATH`. We use the `clang-sys` crate to load libclang, so I think it should be referenced from its docs.

And that's indeed a weird libclang version! I don't own a mac so I don't know how to investigate it, but presumably you could run the 3.9 tests without a problem.

Thanks for the report again!

[2017-07-06 05:54] SirVer commented on #788
Indeed `cargo test --features testing_only_libclang_3_9` runs through without modifying any files and the tests are green. Also running `LIBCLANG_PATH=/usr/local/opt/llvm38/lib/llvm-3.8/lib cargo test --features testing_only_libclang_3_8` reports the correct clang version:

[code]

and all tests are green without modifying files. So everything working as intended and this was a PEBKAC. Thanks!

[2017-07-06 05:54] #788 closed

[2017-07-06 08:02] cbourjau commented on #789
Setting the `conservative_inline_namespace` option did indeed solve the problem. I also (tried) to run `creduce` on the example code

[code]

I am not sure if I `grep`ed the right string here, but this yielded:

[code]

which looks indeed namespace related as Emilio suggested. Any ideas on how to proceed?

[2017-07-06 08:58] emilio commented on #789
Hmm... I don't think grepping for that will work, you presumably need a more complex test, or doing `| rustc - | grep __cx11`, or something of that sort.

Complete shot in the dark, since I haven't been able to reproduce it yet, does:

[code]

Fix the problem?

[2017-07-06 09:03] emilio commented on #789
Ok, here it is:

[code]

[2017-07-06 09:04] emilio commented on #789
Ok, so the test-case above works with any of the `--enable-cxx-namespaces` and `--conservative-inline-namespaces` options.

[2017-07-06 09:26] emilio commented on #789
#792

[2017-07-06 09:28] emilio commented on #789
(I'm really bad at being mostly away, whoops)

[2017-07-06 16:46] #789 closed

[2017-07-06 17:16] fitzgen opened #794 "Automatically detect libclang version when testing and use appropriate expectation files"
Right now, we rely on the `testing_only_libclang_X` features to choose the correct expectation file for tests that have different output across libclang versions.

If none of those features are passed, then we should make an attempt to parse the libclang version and use those expectations, if possible.

I always forget to pass the `testing_only_libclang_X` feature when invoking `cargo test` and I

[2017-07-06 17:16] highfive commented on #794
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-07-06 21:11] klefevre commented on #751
Any update on this? I'm currently facing the same problem actually.

[2017-07-07 03:51] tz70s commented on #794
@highfive: assign me
I'm interested in working on this issue!

[2017-07-07 03:51] highfive commented on #794
Hey @tz70s! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-07-07 05:05] photoszzt commented on #767
While I'm waiting things to compile, I wrote part of this following the skeleton in #765 in https://github.com/photoszzt/rust-bindgen/commit/9e170ae5c716bfb77d120777cc55ef5ce6d6f5ed. I also separate the MonotoFramework to the other file (https://github.com/photoszzt/rust-bindgen/commit/718d367b805a10cb02634a25cf0911eeb175a0d8).

Looking at the skeleton code, I'm not sure where the consider_edge is

[2017-07-07 06:18] tz70s commented on #794
Hi @fitzgen !

Sorry, I should ask for your opinion on working this issue first. I have few questions about it after pulling requests.
1. The LLVM version 3.7 is using `libclang-3.8` now, should I also add the auto transfer to it?
2. Should we leave `testing_only_libclang_X` feature remain and create auto detect if it is not specified?
3. How about modify `libclang-4` to `libclang-4.0`? This may r

[2017-07-07 16:05] fitzgen commented on #767
@highfive assign @photoszzt

[2017-07-07 16:11] fitzgen commented on #767
Hmm, I guess highfive bot doesn't let you assign other people, and I can't assign either. Ah well.

Anyways, cool! :)

The commit separating the analysis infrastructure to its own file can land now, if you want to make a PR with just that commit.

The `consider_edge` function would be used to filter edges from the IR graph that don't matter for this analysis, and would be called when constructing

[2017-07-07 17:16] emilio commented on #751
I'm pretty sure this is not our bug, but I can land a workaround, I guess...

[2017-07-07 21:32] cbourjau opened #798 "c++ nested templates"
Using the magic of  `creduce` I found an issue on nested templates which apparently lurk somewhere in a large library that I try to wrap. I think this is a bug, or am I doing something wrong?

### Input C/C++ Header
[code]

### Bindgen Invocation

[code]

### Actual Results

The generated rust code uses undefined types:

[code]

which yields the following error when compiled

[code]

### Expected

[2017-07-07 21:47] fitzgen commented on #798
Thanks for the bug report!

FYI, to get the logging, this should be set when running bindgen, not when compiling Rust code emitted by bindgen. There's been some confusion over this point in the past before and we should probably make the instructions more clear.

[2017-07-07 21:48] fitzgen commented on #798
Also, thanks for the reduced test case, this helps a lot!

[2017-07-07 22:04] fitzgen commented on #798
Here is a further reduced version of the test case:

[code]

and the IR graph we construct from it:

![ir](https://user-images.githubusercontent.com/74571/27978588-41b7a57c-6325-11e7-8e13-eddd500d8e8e.png)

I guess the problem is that we don't understand that effectively `T == U`, but understanding that seems kind of hard, at first blush.

[2017-07-07 22:09] fitzgen commented on #798
And here is the clang cursor AST:

<details><pre><code>
(
 kind = ClassTemplate
 spelling = "Outer"
 location = ./tests/headers/issue-798-nested-template.hpp:4:7
 is-definition? true
 is-declaration? true
 is-inlined-function? false
 template-kind = ClassDecl
 usr = "c:@ST>1#T@Outer"

 semantic-parent.kind = TranslationUnit
 semantic-parent.spelling = "./tests/headers/issue-798-nested-template.hpp

[2017-07-07 22:14] cbourjau commented on #798
You guys do magic with bindgen, thats for sure! I'm afraid that I am out of my depth a bit...

[2017-07-07 22:30] fitzgen commented on #798
I think the only way to determine that `T == U` would be if we used de Bruijn indexing for template arguments, which we should probably do sometime down the road (clang does this internally and you can see this in the canonical spelling of type parameters) but it is definitely not on my docket for the foreseeable future.

[2017-07-08 17:03] #426 closed

[2017-07-08 20:08] emilio opened #800 "Support markdown in C++ doc comments."
Followup from #426, and #791.

Right now if you are generating bindings to a C/C++ library that happens to use markdown blocks in its comments, will make rustdoc complain (because the comment probably isn't valid rust).

Right now the workaround is avoiding generating comments, but that's not ideal.

Testcase:

<details>

[code]

</details>

---

Options I can think off-hand:

 * Make the generate

[2017-07-08 22:10] jethrogb commented on #800
I just don't think we should default to doc comments. For me, the only reason to use doc comments would be if rustdoc could do something sane with them. More often than not, that's not going to be the case with comments imported from C. Instead, sending the comments through rustdoc will either error or provide terrible-looking output. Why not just use regular comments?

In the future we can have c

[2017-07-09 13:13] cbourjau commented on #798
Ok, thanks a lot for taking the time to look into this, though! I think I can get by making a bunch of types opaque in my use case.

[2017-07-09 13:35] cbourjau opened #801 "Opaque types with static members produce invalid bindings"
While trying to wrap a large c++ object, I ran into another issue. I hope you don't feel like I'm spamming your issue tracker! Using `creduce` it seems that `bindgen` produces invalid rust code for some static members of an opaque type.

### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

Compilation errors generated when compiling the bindings with rustc:

[2017-07-09 13:41] emilio commented on #801
Not at all, please keep them coming!

Your test-case also highlights another issue, which is the opaque type conflicts with the is_empty() check we do, so we generate two bytes inside B instead of one.

[2017-07-09 14:03] emilio commented on #801
https://github.com/servo/rust-bindgen/pull/802

[2017-07-09 19:21] SirVer commented on #765
@fitzgen please unassign for now. Should I find some time to work on this, I'll reach out again.

[2017-07-10 04:00] est31 opened #803 "Tutorial is outdated"
The tutorial doesn't point to the latest bindgen release on crates.io: https://github.com/servo/rust-bindgen/blob/master/book/src/tutorial-1.md

Also it would be nice if it could be regenerated and re-uploaded to https://servo.github.io/rust-bindgen because the current version still has `no_unstable_rust` (cc #757).

[2017-07-10 15:55] fitzgen commented on #794
Fixed by #796

[2017-07-10 15:55] #794 closed

[2017-07-10 15:59] fitzgen commented on #768
@tz70s, this could be a good next issue for you to hack on :)

See #536 and also [this comment](https://github.com/servo/rust-bindgen/issues/765#issuecomment-312738735) for some details about the kinds of changes we'd like to make. The comments in `src/ir/analysis.rs` and `src/ir/named.rs` should also give some context.

Let me know if you want to take this, and I'll assign it to you! Also, don't

[2017-07-10 16:19] fitzgen commented on #800
I agree that the most practical thing to do is generate regular, non-doc comments.

[2017-07-10 16:22] fitzgen commented on #798
No problem!

Yep, this is the reality of working with C++ in bindgen, unfortunately.

[2017-07-10 16:25] fitzgen commented on #803
1. Yes we need to update the text of the tutorial.

2. It looks like our `deploy-book.sh` script hasn't been deploying the book...

[2017-07-10 16:31] jethrogb opened #804 "Improve LLVM bug 9069 workaround"
Due to [LLVM bug 9069](https://bugs.llvm.org//show_bug.cgi?id=9069), an extra token is included when tokenizing ranges. This is used to parse macros. This bug is fixed in LLVM 4.0.

Our [current workaround](https://github.com/servo/rust-bindgen/blob/9faf458562db820c83f74be580b741f6b7dfd913/src/ir/var.rs#L294-L309) just tries parsing the macro twice, removing the last token if it failed the first t

[2017-07-10 16:45] #801 closed

[2017-07-10 21:43] HolmesSherlock opened #806 "Error in building a binding for a subset of Linux kernel headers"
I tried to [generate header](https://github.com/HolmesSherlock/kernel-wrapper) for a selected subset of Linux kernel headers . However, the attempt fail with the following set of errors.

------------------------------------------
Error while building Linux kernel bindings
------------------------------------------

STD_KERNEL_PATH='/lib/modules/4.2.0-41-generic/build' cargo build
   Compiling ker

[2017-07-10 22:37] #803 closed

[2017-07-10 22:37] fitzgen commented on #803
Fixed by #805

[2017-07-10 22:45] est31 commented on #803
@fitzgen many thanks!

[2017-07-11 11:47] tz70s commented on #768
@fitzgen, sure, looks interesting, please assign it to me!
I'll start to work on this in these two days, thanks!

[2017-07-11 16:30] fitzgen commented on #768
Great! Let me know if you have any questions or run into any roadblocks, and I'll do my best to help :)

[2017-07-11 16:32] fitzgen commented on #806
Is it still true that the Linux kernel only compiles with GCC? If so, I think we're out of luck, because bindgen relies on libclang. The error spew suggests to me that libclang thinks this is not valid C code.

[2017-07-11 16:38] HolmesSherlock commented on #806
I solved the problem, still I don't understand how it got solved.I used this [kbuild.mk](https://github.com/HolmesSherlock/rust.ko/blob/master/kbuild.mk) which supplies `STD_CLANG_ARGS='${c_flags}'`. I don't understand how `c_flags` is getting populated by the build system.

[2017-07-11 16:44] fitzgen commented on #806
Ok, I am closing this issue since it seems that there were just required arguments that were missing, and this isn't fundamentally bindgen's fault.

If I've misunderstood, we can reopen this issue.

Cheers!

[2017-07-11 16:44] #806 closed

[2017-07-12 00:01] cbourjau opened #807 "Protected member functions in opaque c++ types"
I stumbled over another issue with protected member functions in opaque types. I am using the latest rust-bindgen ( a00db04 ) to get the benefit of those others bugs you guys fixes so quickly. Thanks again!

### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

compilatin with rustc yields:

[code]

### Expected Results

I would expect all members of the opaqu

[2017-07-12 07:41] tz70s commented on #768
Hi @fitzgen, I'm a little confused about what actually I should do for.
So the main purpose is to remove the recursive way in the `is_unsized` right?

i.e. in `src/ir/ty.rs`
[code]
and also in `src/ir/comp.rs`.

So we are going to use the graph traversal way already implemented in `src/ir/traversal.rs`?

[2017-07-12 16:51] fitzgen commented on #807
Thanks for the bug report!

[2017-07-12 16:55] fitzgen commented on #807
It seems to me that we shouldn't be generating `B`'s methods if it is marked opaque.

[2017-07-12 17:56] fitzgen commented on #807
Actually, I think it is desired to still generate an opaque types methods (care to confirm @emilio? at least, I know one person who was requesting this feature just yesterday, and I incorrectly told him that we didn't do it, but that it was possible).

Will fix the tracing code instead of removing the method bindings.

[2017-07-12 19:44] #807 closed

[2017-07-12 19:55] fitzgen commented on #768
Correct.

There are two options:

1. Replace the recursive `is_unsized` calls with an IR graph traversal. `src/ir/traversal.rs` provides the infrastructure needed to do a walk of the IR graph, or some subset of it, but it is up to us to use that infrastructure. This would end up looking something like:

[code]

The downside is that if a `Burrito` contains a `Rice`, and a `Sushi` contains a `Rice`,

[2017-07-12 21:43] emilio commented on #804
Actually, wouldn't detecting that and always removing the last token fail if the macro declaration is the last thing in the file?

I guess improving this only allows us to avoid trying without the token if we detect the bug is _not_ present.

[2017-07-12 21:49] jethrogb commented on #804
Hmm, yes, you're right. Unconditionally removing the last token if you detect the bug is not sufficient. This is why instead of working around the bug at the token level, in cexpr I look at it at the range level. In the buggy case, the range does extend past the end of the file, but since there is no data there, no extra token is returned. Adjusting the range always fixes the bug. This also matche

[2017-07-13 11:31] lukaslueg commented on #550
This currently prevents anything that does `include <stddef.h>` from building.

[2017-07-13 11:55] lukaslueg opened #810 "`union` has alignment of 1, expected 0"
I was not able to isolate the problem yet, so I don't have a MVE I could post here. I've got a large `union` of several structs (which include other structs, which include bitfields) for which bindgen 0.26.3 generates the default

[code]

The alignment-test for this type expects `::std::mem::align_of::<wtap_pseudo_header>()` to be `0`, yet for some reason it is always `1`. The unit-test generated

[2017-07-13 12:08] emilio commented on #810
Well, that `0` is presumably what clang thinks the alignment is... Is this C or C++? The rules for zero-sized types change between those.

[2017-07-13 12:34] lukaslueg commented on #810
It's C

[2017-07-13 13:31] lukaslueg commented on #810
The offending `wtap_pseudo_header` is defined in `wiretap/wtap.h`. If I feed to bindgen
[code]
then it works. If I feed
[code]
the unittest generated by bindgen complains about the alignment of `wtap_pseudo_header` being 1, where 0 was expected. If I feed
[code]
it works again and all unittests pass.

[2017-07-13 16:25] fitzgen commented on #550
@lukaslueg see the workarounds above: https://github.com/servo/rust-bindgen/issues/550#issuecomment-289631540 and https://github.com/servo/rust-bindgen/issues/550#issuecomment-283438998

Rust has no way to set these alignments, so our hands are tied for the moment.

[2017-07-13 19:17] fitzgen opened #811 "Add the ability to dump the complete preprocessed C/C++ bindgen takes as input to a file"
`clang++ -save-temps` doesn't seem to include any extra header files passed in as `-include <header>` which hurts debugging and reproducing issues in a standalone way. We use that to support multiple input header files. We should figure out how to work around this issue so we can accept multiple input headers and also get nice standalone debugging.

Perhaps create a synthetic in-memory file that h

[2017-07-13 19:19] fitzgen commented on #811
This would help people who are filing issues with us file better issues, too.

[2017-07-14 17:20] #811 closed

[2017-07-15 00:07] jethrogb opened #814 "Please yank 0.19.1"
Input header file:

[code]

Output with 0.19.0 (with `--convert-macros`):

[code]

Output with 0.19.1 (with `--convert-macros`):

[code]

(You can get the old versions using `cargo clone`)

I think there was an actual issue filed against the old bindgen regarding the exact cause, but I can't find it anymore. In any case, this has been fixed in later versions, but 0.19.1 is clearly not semver-compa

[2017-07-15 00:13] jethrogb commented on #814
Actually I think I broke this myself in `cexpr` 0.2.1. If I use bindgen 0.19.1 with `cexpr` 0.2.0, there is no issue.

[2017-07-15 00:13] #814 closed

[2017-07-15 00:14] jethrogb commented on #814
https://github.com/jethrogb/rust-cexpr/issues/6

[2017-07-17 16:56] glyn opened #816 "bitfield methods not generated"
Some bitfield getters and setter methods which were generated by bindgen 24.x are no longer generated by bindgen 26.x.

The following is a stripped down branch of my project which reproduces the problem with a single C struct.

https://github.com/glyn/jvmkill/tree/reproduce-bindgen-bug

### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

Incorrect bindings from bind

[2017-07-17 17:41] fitzgen commented on #816
Thanks for the regression report!

[2017-07-17 18:19] fitzgen opened #818 "Document bitfield usage in the users guide"
Similar to the section on using unions, we should have a section on using bitfields.

[2017-07-17 18:19] highfive commented on #818
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-07-18 04:26] upsuper opened #819 "Mangling hack doesn't work well with variable symbols"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

[code]

[2017-07-18 04:26] upsuper commented on #819
The prefix `?` shouldn't be removed in this case.

[2017-07-18 04:29] upsuper commented on #819
I have idea about how to fix it.

[2017-07-18 05:40] upsuper opened #820 "Rust error: type parameter is unused"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]
which is not valid in Rust.

### Expected Results

Probably it doesn't need to generate anything in this case.

### `RUST_LOG=bindgen` Output

<details>

[code]

</details>

[2017-07-18 06:34] glyn opened #821 "implement Default for generated structs"
Some generated structs are verbose to initialise and if bindgen could, where possible, generate a Default implementation, that would make initialisation more compact.

Let's look at an example which motivated raising this issue. bindgen converts the C struct:
[code]
where, for example:
[code]
and
[code]
into the Rust struct:
[code]
where, for example:
[code]
and
[code]
This is verbose to initialis

[2017-07-18 07:19] emilio commented on #821
We have a `derive-default` option, it's just not on by default, would that work for you?

[2017-07-18 07:34] upsuper commented on #820
This is probably workaround-able via blacklisting any involving type, but that would be annoying.

[2017-07-18 07:59] #819 closed

[2017-07-18 08:03] glyn commented on #821
@emilio derive_default() works perfectly. Thanks!

[2017-07-18 08:03] #821 closed

[2017-07-18 08:24] emilio commented on #816
So this is because with the correct bitfield layout, that bitfield is actually > 64 bits, so we can't use a rust integer to represent it...

[2017-07-18 09:51] glyn commented on #816
@emilio I see. How difficult would it be to use a representation which is not a single integer?

[2017-07-18 15:31] emilio commented on #816
It'd require some rework I personally don't have the time to do right now... but it'd be nice, and it should be doable (you just need to calculate a window where you can do a load for said bitfield, and choose one of them with the proper bitmask)

[2017-07-18 16:46] fitzgen commented on #820
I'm C-Reducing this right now :-P

Nice to have you beat me to it :)

[2017-07-18 17:26] fitzgen commented on #820
![ir](https://user-images.githubusercontent.com/74571/28330773-966d61fc-6ba3-11e7-8070-ce43175939d3.png)

[2017-07-18 17:31] fitzgen commented on #820
It looks like we aren't following this `if`'s consequent properly, inside the codegen for aliases:

[code]

I would expect that teh `has_nontype_template_params` on the inner type would cause it to be opaque and then we would clear the `used_template_params` for the alias's definition.

[2017-07-18 17:37] fitzgen commented on #820
Oh, it turns out we're just plain missing that case from any of our `IsOpaque` implementations.

[2017-07-18 18:02] fitzgen commented on #820
Hmmm... My fix is running afoul of our regression test for #372. Investigating.

[2017-07-18 23:30] upsuper opened #826 "Bindgen tries to generate bindings for methods even with --ignore-methods"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

This panics when the target is win32 because we don't support `thiscall`, while for other platforms, it doesn't panic, but it still generates a binding function for the method.

### `RUST_LOG=bindgen` Output

<details>

[code]

</details>

[2017-07-18 23:31] upsuper commented on #826
@fitzgen emilio told me you are investigating this, but I don't see any issue open, nor any pr related, so I just open one in case we forgot. This is a blocker for stylo, as far as I can see.

[2017-07-18 23:34] emilio commented on #826
Yeah, and the regressing PR is https://github.com/servo/rust-bindgen/pull/770. I guess I can also look into it tomorrow.

[2017-07-19 23:01] fitzgen commented on #826
Thanks for filing this.

First half of a fix is at #827.

If I leave the `--target` in the test case, I get this panic:

[code]

[2017-07-20 17:05] #820 closed

[2017-07-20 19:40] fitzgen commented on #766
Note that in #767, we found it easier to compute the set of things that *cannot* derive `Debug` rather than the set of things that *can*.

[2017-07-20 19:58] #767 closed

[2017-07-20 21:57] fitzgen opened #831 "Move repo to the rust-lang-nursery organization?"
This is something we've talked about off and on, but haven't centralized the discussion or come to any conclusions. So:

# Goals

* Attract more outside contributors and maintainers

# Questions

* Would we be able to carry our bots with us? Or would we switch to the rust org's bots?

cc @nrc @emilio

[2017-07-20 22:10] fitzgen opened #832 "Start emitting unions in stable mode"
They're in stable now: https://blog.rust-lang.org/2017/07/20/Rust-1.19.html

Basically, we can go through all of the places where we check `ctx.options().unstable_rust` and use that to decide whether to use unions or not, and just always use the unions. We can also get rid of the `BindgenUnion` type now.

And finally, we can update the user guide's section on using unions.

I'm happy to mentor any

[2017-07-20 22:10] highfive commented on #832
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-07-20 22:12] #826 closed

[2017-07-20 22:12] nrc commented on #831
I think you would keep your bots. They may need some URLs changing, but I suspect they won't need it because of GitHub's redirects.

[2017-07-21 01:13] KiChjang commented on #767
FTR, `@highfive assign me` doesn't actually do anything facy behind the scenes, all it does is add a C-assigned tag to the issue, so if you do want to "assign" an issue to someone else, you can simply put the C-assigned tag on the issue.

[2017-07-21 03:47] upsuper opened #833 "Type parameter is incorrectly stripped when types are not generated"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

[code]
like what it would generate when generating type is enabled.

### `RUST_LOG=bindgen` Output

<details>

[code]

</details>

[2017-07-21 03:52] upsuper commented on #833
This is a regression from #827.

[2017-07-21 03:52] upsuper commented on #833
cc @fitzgen

[2017-07-21 04:17] upsuper opened #834 "Behavior change for non-whitelisted types referenced by method"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

Not really expected result, but before #827, it generates
[code]

[2017-07-21 04:20] upsuper commented on #834
I guess this is not really a bug, but a breaking behavior change which we should mention somewhere when people upgrade. (Do we have changelog?)

This definitely breaks Stylo, but it is probably because we are relying on something which we shouldn't rely on, and this can be easily fixed by simply whitelisting those types. So I guess this isn't really an issue.

@emilio, @fitzgen, what do you think?

[2017-07-21 04:23] upsuper commented on #834
And I actually think the new behavior is probably more desirable (because it would generate fewer types that we don't need). We should probably add this to the test suite so that we don't regress this behavior.

[2017-07-21 04:54] tmfink commented on #832
Currently,  we have a `bool` indicating stable vs. unstable.
Instead, should we have an `enum` that indicates the "flavor"/"epoch"/"channel" to support?

Bindgen code:
[code]

Use case:
[code]

This would allow users to upgrade bindgen versions without getting breaking changes in the generated Rust code (like using unions unless nightly or >= Stable 1.19).

This may be more trouble than it's worth

[2017-07-21 05:38] tmfink commented on #832
@highfive: assign me

[2017-07-21 05:38] highfive commented on #832
Hey @tmfink! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-07-21 09:31] emilio commented on #833
O hey, _this_ is the regression we were hunting down, thanks Xidorn!

[2017-07-21 10:10] #394 closed

[2017-07-21 12:03] retrry commented on #687
I've started seeing this behavior on bindgen 0.26. While bindgen 0.25 generated code without errors. Bindgen 0.26 started giving me errors:
[code]

As a workaround I'm just ignoring those types:
[code]

[2017-07-21 13:44] emilio commented on #834
Note that I'm regressing this in #835

[2017-07-21 14:20] emilio commented on #834
And my idea is to un-regress it in #836.

[2017-07-21 16:30] fitzgen commented on #767
Huh. It seems the "assigned" field is pretty useless then...

[2017-07-21 16:37] fitzgen commented on #832
I think this is a good idea.

That said, I'd nitpick the enum to be something like:

[code]

Although ideally we would be able to turn individual nightly features on and off too. I suppose we could make the nightly variant be a struct variant with a bool for each feature?

[2017-07-21 16:38] fitzgen commented on #832
And thanks for picking this up @tmfink ! Let me know if you have any questions :)

[2017-07-21 16:43] fitzgen commented on #833
I think what is going on is that the template analysis needs to consider types even if we aren't codegen'ing them.

I'll take a look in a bit.

[2017-07-21 16:54] fitzgen commented on #758
Hi @jprusakova -- still hacking on this? Anything I can do to help out?

[2017-07-21 17:29] fitzgen commented on #723
Was this fixed in https://github.com/servo/rust-bindgen/pull/829 ? @Manishearth @emilio

[2017-07-21 17:33] fitzgen commented on #710
I could imagine a `bindgen::Builder::must_use` method and `--must-use <blah>` flag. Shouldn't be too difficult for anyone who has contributed to bindgen before.

[2017-07-21 17:36] fitzgen commented on #706
Although I'm not usually a fan of writing changelogs and think it is often busy work...

I think from a marketing/publicity point of view, it would be great if we announced releases on users.rust-lang.org. We could list the contributors to each release, some changelog-y items, and I think this would serve as marketing/motivation for attracting more users, contributors, and eventually maintainers.

[2017-07-21 17:37] fitzgen commented on #701
Is this still happening?

[2017-07-21 17:41] #833 closed

[2017-07-21 17:44] fitzgen commented on #658
So did we come to a resolution here? Is there still a bug? It isn't clear to me.

[2017-07-21 17:46] fitzgen commented on #649
Hi @zrneely Thanks for the bug report! Sorry for the radio silence, I guess this one slipped through the cracks.

What would really go a long ways towards helping fix this bug would be a [reduced test case](https://github.com/servo/rust-bindgen/blob/master/CONTRIBUTING.md#using-creduce-to-minimize-test-cases) since not all machines have the same headers, and even when they do, their contents can d

[2017-07-21 17:49] Manishearth commented on #723
Lol yeah looks like I filed this is twice

[2017-07-21 17:49] #723 closed

[2017-07-21 17:50] emilio opened #838 "Stop passing `whitelisted_items` as an argument to the codegen functions, and use ctx.codegen_items() instead."
This was computed on the fly before and passed as an argument. Now we precompute it in `context.rs`, and just pass `codegen_items()` as an argument.

We should be able to remove that argument altogether and just call `codegen_items` when needed, given we also pass the context pretty much everywhere.

[2017-07-21 17:50] highfive commented on #838
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-07-21 17:54] fitzgen commented on #578
I think all that is required to repro is this:

[code]

[2017-07-21 17:58] fitzgen commented on #578
Duping this to #541 which is the same root issue but has more discussion.

[2017-07-21 17:58] #578 closed

[2017-07-21 18:05] fitzgen commented on #541
All that is required to repro is this:

[code]

or with `--target=i686-pc-win32` as well.

[2017-07-21 18:08] fitzgen commented on #528
Note that libclang 3.8 is really our minimum supported libclang. Older versions may sort of work, but we aren't testing them in CI (and don't have plans to).

-----------------------------------------------------

@emilio Is there anything left to do here or can we close this issue?

[2017-07-21 18:10] fitzgen commented on #526
Actually I think we can close this. We're already running obj-c expectation tests via cross compiling from linux. No plans to actually run the layout tests on OSX because Travis CI is too slow.

[2017-07-21 18:10] #526 closed

[2017-07-21 18:13] fitzgen commented on #406
@emilio can we close this now?

[2017-07-21 18:15] #834 closed

[2017-07-21 18:15] fitzgen commented on #363
@sa2ajj are you still hitting this on master? If so, the best way to contribute to resolving this bug would be to [create a reduced test case](https://github.com/servo/rust-bindgen/blob/master/CONTRIBUTING.md#using-creduce-to-minimize-test-cases).

[2017-07-21 18:17] #361 closed

[2017-07-21 18:18] fitzgen commented on #348
I think we can close this issue now? It doesn't look like we have anything actionable here. If I'm missing something, please re-open!

[2017-07-21 18:18] #348 closed

[2017-07-21 18:19] fitzgen commented on #342
I think we can close this issue, as it seems we have a users' guide now and there doesn't seem to be much left here that is actionable.

[2017-07-21 18:19] #342 closed

[2017-07-21 18:21] fitzgen commented on #341
FWIW I did this in https://github.com/servo/rust-bindgen/pull/793 but then we started running into libclang dynamic loading bugs and I left it at that.

If someone wants to try again, they might find that PR helpful. Or maybe not, its not like its a lot of code.

[2017-07-21 18:52] fitzgen commented on #334
Coopting this bug as a general "exposing C++ overloaded functions shouldn't depend on the order of the overloads in the source"

One thing we could do is leverage traits like how we do poor man's overloading in bindgen's own codebase:

[code]

becomes

[code]

[2017-07-21 19:38] fitzgen commented on #310
Meh, I don't think this is worth it.

[2017-07-21 19:38] #310 closed

[2017-07-21 19:39] fitzgen commented on #306
What if we only support `--enable-cxx-namespaces`? I think this is what we want 99.9999% of the time anyways...

WDYT @emilio ?

[2017-07-21 19:40] fitzgen commented on #306
Err... I thought this was abotu name clashes in the codegen. We use `JS::Foo` names for whitelisting and all that now, so this issue can close.

[2017-07-21 19:40] #306 closed

[2017-07-21 19:45] fitzgen commented on #249
We support multiple headers now.

[2017-07-21 19:45] #249 closed

[2017-07-21 19:49] fitzgen commented on #78
I think we've decided not to pursue this. I could see maybe `clang_sys` having a feature to download a libclang in build.rs or something, and that would be neat.

[2017-07-21 19:49] #78 closed

[2017-07-21 19:54] fitzgen commented on #810
@lukaslueg the best way to help resolve this bug would be to create a reduced test case without any `#include` directives: https://github.com/servo/rust-bindgen/blob/master/CONTRIBUTING.md#using-creduce-to-minimize-test-cases

[2017-07-21 19:57] fitzgen commented on #648
@leeopop both bitfields and deriving debug have undergone significant changes since you reported this; are you still able to reproduce on master?

If so, the best way to help resolve this bug would be to get us a standalone test case we can reproduce ourselves with: https://github.com/servo/rust-bindgen/blob/master/CONTRIBUTING.md#using-creduce-to-minimize-test-cases

Thanks!

[2017-07-21 21:53] db48x opened #839 "loops in the name graph"
### Input C/C++ Header

I don't have a minimal test case, and the whole thing is multiple megabytes. Perhaps I can revisit this soon and minimize one.

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

The first `pub use` is fine, because many of the nearby function declarations use `gnutls_cipher_algorithm_t`. The second one is just silly, so it should be pruned.

[2017-07-21 21:59] db48x opened #840 "generated function has an argument which shadows a generated static"
### Input C/C++ Header

Perhaps soon.

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

Hard to say how I would change this; probably by tweaking the argument name. That seems the simplest, because it only affects one function rather than everyone who wanted to use the static.

[2017-07-21 22:38] fitzgen commented on #840
Thanks for the bug report! The best way you can help us resolve this issue with with a reduced test case that demonstrates the bug: https://github.com/servo/rust-bindgen/blob/master/CONTRIBUTING.md#using-creduce-to-minimize-test-cases

[2017-07-21 22:39] fitzgen commented on #839
Thanks again! As I said in the other bug, the best way to help us fix this issue is by providing a reduced test case: https://github.com/servo/rust-bindgen/blob/master/CONTRIBUTING.md#using-creduce-to-minimize-test-cases

[2017-07-21 22:41] db48x commented on #839
Agreed, but I would rather file it without a testcase and forget to revisit the issue than not file it at all.

[2017-07-22 00:45] emilio commented on #840
I can see from the error what it's trying to do... Here you got a test-case:

[code]

[2017-07-22 00:46] emilio commented on #840
(btw, I think this shouldn't be a hard error, it's just unfortunate, specially when it works in extern "C" functions.

[2017-07-22 01:02] emilio commented on #839
Yeah, that's fair :)

Also sometimes it just rings a bell and we immediately know what's wrong, like in #840.

Without a reduced test-case we usually can't afford the time to investigate it in depth, but it's good that we can track it somewhere anyway, so thanks for it!

[2017-07-22 01:23] emilio commented on #839
AFAICT this is gnutls, which does:

[code]

And then:

[code]

[2017-07-22 01:25] emilio commented on #839
And thus a reduced test-case could be:

[code]

[2017-07-22 01:25] emilio commented on #839
Which is quite annoying if you ask me.

[2017-07-22 14:26] zrneely commented on #649
Hmm, I'll see what I can do, although I've long since switched to manually-written bindings that I haven't touched since shortly after I submitted the issue (it turns out I only needed 5 or 6 functions, and no structs).

[2017-07-22 17:22] omakk commented on #838
@highfive: assign me

[2017-07-22 17:22] highfive commented on #838
Hey @omakk! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-07-22 18:54] tmfink commented on #832
No problem @fitzgen!

I would prefer that `TargetRust` has discrete values for each Stable/Beta like I described in my previous comment. That way:

* Code will not compile if a nonsensical variant like `StableAndBeta(255, 255)` were used because the equivalent variant would not be defined.
* I think that users would find it easier to select a `TargetRust` variant if an exhaustive list were defined

[2017-07-22 19:52] emilio commented on #832
Note that emitting `union`s have impact in stuff like whether a type can derive `Debug` or not, which is somewhat unfortunate...

I'd personally like to keep unions not the default, but I guess I can bite the bullet if needed.

[2017-07-23 01:21] upsuper opened #844 "Layout test can contain whitespace inside the function name which causes unexpected token error"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

The last layout test function contains a whitespace in its name.

### Expected Results

It should generate valid function name.

[2017-07-23 01:21] upsuper commented on #844
This is likely a regression from #829. cc @Manishearth

[2017-07-23 01:33] upsuper commented on #844
Pointed by @emilio that this is fixed by a commit in #841.

[2017-07-23 04:02] #844 closed

[2017-07-23 17:26] tmfink commented on #832
@emilio I feel like the language support of `union` is worth not being able to derive `Debug`. Using bindgen's stable union types is a bit awkward. Over time, we may get more support (lints, etc.) that make `union` easier to use.

[2017-07-23 20:32] emilio commented on #832
Yeah, I guess that's fair.

[2017-07-24 17:11] fitzgen commented on #832
Regarding feature flags and rust target versions: I think we really want to keep this as simple as possible to avoid the explosion of potential bugs from every combination of features. I agree we want to have a notion of the target rust version/channel and its supported features, but we should just do the minimum that achieves that IMO.

Regarding `union` making things not `derive(Debug)`: an alle

[2017-07-25 16:18] fitzgen opened #848 "When only generating functions, type parameter is lost"
We still have more issues like #835...

### Input C/C++ Header

* [ ] TODO

### Bindgen Invocation

* [ ] TODO

### Actual Results

https://treeherder.mozilla.org/logviewer.html#?job_id=117196247&repo=try&lineNumber=6725

[code]

### Expected Results

`nsTArray` should have a type argument.

[2017-07-25 16:18] fitzgen commented on #848
cc @emilio @Manishearth

[2017-07-25 17:24] fitzgen commented on #848
This is really hard to reproduce. I've preprocessed all of `nsTArray.h` and added `nsTArray_Simple` and `Gecko_ResizeTArrayForStrings` to the bottom and it doesn't repro.

Trying reproducing with the full servo bindings next.

[2017-07-25 18:21] fitzgen opened #849 "[meta] Tracking rustc bugs/features/RFCs that affect bindgen"
This is a meta issue tracking rustc bugs and features that impact bindgen.

Appropriate things to list here would be either
* RFCs proposing some feature that bindgen can leverage to emit better bindings, or
* issues detailing rustc bugs we need fixed as a prerequisite to fixing bugs in our emitted bindings, or
* pull requests adding new features that enable us to emit new kinds of bindings we hav

[2017-07-25 18:22] fitzgen commented on #831
I'm +1 on this.

@emilio wdyt?

[2017-07-25 18:25] photoszzt commented on #765
@highfive assign me

[2017-07-25 18:25] highfive commented on #765
Hey @photoszzt! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-07-25 19:32] fitzgen commented on #848
Blech I can't even reproduce with the full preprocessed servo bindings.

[2017-07-25 20:12] fitzgen opened #851 "Can get vtables wrong when inheriting from a template type parameter"
### Input C/C++ Header

[code]

### Actual Results

[code]

### Expected Results

We figure out how to support types that may or may not have a vtable.

[2017-07-25 20:12] fitzgen commented on #586
Filed https://github.com/servo/rust-bindgen/issues/851 for this version

[2017-07-25 20:37] photoszzt commented on #766
I think this may involve two sets instead of one set. Named would not be the cannot_derive_copy set but it would be in the cannot_derive_copy_in_array set. Can the monotone framework return two sets instead of one?

[2017-07-25 22:09] fitzgen commented on #851
I think for this bug (and for #586 with a similar approach) we can do something like

1. Change the `has_vtable` analysis to instead of compute a `bool` for every type, compute

[code]

2. In the emitted bindings, spit out a trait like:

[code]

3. For every type where we computed `HasVtable::Yes` or `HasVtable::No`, in our bindings, emit impls like

[code]

4. For every generic type where we comp

[2017-07-25 22:15] emilio commented on #831
Sounds good, as long as issues and similar stuff are preserved.

[2017-07-25 22:22] fitzgen commented on #766
Yep!

[2017-07-25 22:27] fitzgen commented on #851
Although for single inheritance it would be easy.

[2017-07-25 22:46] fitzgen commented on #831
Resolved :)

[2017-07-25 22:46] #831 closed

[2017-07-25 23:07] sgrif opened #852 "Users guide link broken"
Possibly a side-effect of the org change, the link to the bindgen users guide in the README goes to a 404.

[2017-07-25 23:09] fitzgen commented on #852
D'oh! https://github.com/rust-lang-nursery/rust-bindgen/blob/master/ci/deploy-book.sh#L25

[2017-07-25 23:20] upsuper commented on #848
A simple reproducible testcase for this bug:
[code]

[2017-07-25 23:47] #765 closed

[2017-07-25 23:48] fitzgen opened #854 "bors-servo doesn't seem to be working anymore"
eg https://github.com/rust-lang-nursery/rust-bindgen/pull/850#issuecomment-317905209

[2017-07-25 23:49] fitzgen commented on #854
Seems not to have accepted the invite yet.

![bors-waiting](https://user-images.githubusercontent.com/74571/28598555-37df7dc6-7159-11e7-8c7d-516cfa17f4fb.png)

[2017-07-26 00:38] #852 closed

[2017-07-26 08:19] KiChjang commented on #854
@larsbergstrom do you have to login as @bors-servo in order to accept the invitation?

[2017-07-26 08:22] WiSaGaN commented on #56
Struct like `struct Foo { char bar[81]; };` used to have `Copy` derived with `Clone` manually implemented using `Copy` described in the OP. This is at least true in `bindgen` 0.16. This is blocking me to upgrade `bindgen`...

[2017-07-26 11:38] bors-servo commented on #854
such accept. many test. merge merge merge merge

[2017-07-26 12:44] Mojo4242 commented on #648
Hi !

I used creduce and get this result:

[code]

Once I run bindgen, I get
[code]

[2017-07-26 17:27] fitzgen commented on #648
Thanks! This is very helpful! Will dig into it.

[2017-07-26 17:28] fitzgen commented on #854
Seems to still not be working: https://github.com/rust-lang-nursery/rust-bindgen/pull/855#issuecomment-318124297

[2017-07-26 18:35] fitzgen opened #856 "Rewrite `can_derive_default` as a fix-point analysis"
See https://github.com/servo/rust-bindgen/issues/536 for details.

Should be very similar to `src/ir/analysis/derive_debug.rs`

[2017-07-26 18:48] fitzgen commented on #768
@tz70s how's it going? Still working on this? Did I answer all your questions?

[2017-07-26 19:49] #648 closed

[2017-07-26 20:25] photoszzt commented on #766
@highfive assign me

[2017-07-26 20:25] photoszzt commented on #766
Looks like highfive doesn't work. I'm working on this.

[2017-07-26 23:40] jethrogb commented on #753
Current state: C preprocessor needed. @emilio can you add "help wanted" label?

[2017-07-26 23:41] fitzgen commented on #854
https://github.com/rust-lang-nursery/rust-bindgen/pull/858#issuecomment-318214314

[2017-07-26 23:41] #854 closed

[2017-07-27 09:10] upsuper commented on #848
OK, I eventually figured out a real way to reproduce it...

[2017-07-27 09:15] upsuper commented on #848
And this is reproducible on Windows as well. I have no idea why it didn't cause any issue on other platforms when with Gecko...

[2017-07-27 09:17] upsuper commented on #848
You need two files, in different directory. Let's say `input.hpp` and `x/another.h`, then have code:
[code]
[code]

Then invoke bindgen with:
[code]

[2017-07-27 09:18] upsuper commented on #848
If you move all the code from `subdir/another.h` into `input.hpp` directly, then this bug wouldn't appear, that is why a fully preprocessed file doesn't trigger this bug.

[2017-07-27 09:27] upsuper commented on #848
What seem to be necessary for triggering this bug are:
* The other header file need to be searched from a directory specified by `-I`. If you use "subdir/another.h" directly in input.hpp, it doesn't happen.
* The replacing type (`nsTArray_Simple` here) must be in the header file mentioned above.

What doesn't seem to be related:
* Where are other things, including the replaced type (`nsTArray`) an

[2017-07-27 15:24] emilio commented on #848
Thanks a lot for the investigation an the test-case Xidorn, trying to repro now.

[2017-07-27 15:31] emilio commented on #848
I _think_ I know why this is...

[2017-07-27 15:39] emilio commented on #848
So, we don't even find the replacement annotation, which is surprising, at a glance. I'm trying to bisect when this broke.

[2017-07-27 15:42] emilio commented on #848
I can confirm that v0.26.1 works, so far.

[2017-07-27 15:56] emilio commented on #848
Well, this is fun:

[code]

[2017-07-27 16:00] emilio commented on #848
I can confirm that reverting that patch fixes the issue for me... Now, I'm going to see if this is a regression in `clang-sys` itself (that patch pulled a clang-sys upgrade), or on the options we pass.

[2017-07-27 16:06] emilio commented on #848
So, I can confirm that passing empty flags to the new clang_sys also fixes this, so I bet what is happening is that clang-sys is returning all the paths, not only the system ones, and we're adding them as `-isystem` when there's no `--target` argument (which explains why this works on OSX and windows, cc @Manishearth).

I bet clang does different stuff when parsing system headers which makes us no

[2017-07-27 16:10] emilio commented on #848
So clang-4.0 gives me, as expected:

[code]

Which means that we're incorrectly promoting `-Iinclude` to `-isystem` include.

[2017-07-27 16:39] emilio commented on #848
Got a fix for this... Maybe we want to rethink all the path fixup, but it is needed so far to cross-compile so...

[2017-07-27 17:15] RReverser commented on #534
Was just about to report this, but looks like a known issue. Is there anything we could help with?

[2017-07-27 17:26] fitzgen commented on #534
@RReverser if you wanted to pick this up, I think that's fine, given that there's been silence for a while.

@samliu you're not still planning on doing this, are you?

[2017-07-27 17:38] samliu commented on #534
Sorry yeah I won't be able to get to this :( feel free to reassign

On Jul 27, 2017 10:26 AM, "Nick Fitzgerald" <notifications@github.com>
wrote:

[2017-07-27 18:29] photoszzt commented on #856
I'm working on this.

[2017-07-27 21:30] fitzgen commented on #151
I don't think this is actually worth it.

It's not like we're calculating our own layouts, we're just piping through what `libclang` gives us, which is the same as what `clang` is going to put into the debug info.

[2017-07-27 21:30] #151 closed

[2017-07-28 01:10] #848 closed

[2017-07-28 12:20] tz70s commented on #768
@fitzgen Sorry I'm a little busy recently. I've traced code already, will do it this weekend!

[2017-07-28 13:41] Xaldew commented on #631
Hello,

I ran into this issue just a little while ago while trying to generate bindings for [Halide](http://halide-lang.org/). After some research in the header file, I noticed that a single underscore (`_`) is used as a variable in the `Halide` namespace.

As far as I can tell, this seems to be allowed by the C++ standard (at least according to [cppreference](http://en.cppreference.com/w/cpp/lang

[2017-07-28 14:05] emilio commented on #631
Oh, ok, that's super-helpful, thanks!

[2017-07-28 15:53] fitzgen commented on #768
Cool, no problems :) The code has shuffled around a tiny bit since we last talked: some of the other things from the meta issue were ported to fixpoint analyses, check out the `src/ir/analysis` mod and the files in there, they will serve as good templates to work from :)

[2017-07-29 09:42] toshipp opened #867 "structure layout using __aligned__ attribute is incorrect"
### Input C/C++ Header
The original header is linux kernel source header; linux/target_core_user.h.

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

[code]

In C, the offset of cmd_tail is 64, so generated rust code should also have same offset.

To check offset, I wrote C code like as;
[code]

The outpu is;
[code]

[2017-07-29 15:51] emilio commented on #867
Thanks a lot for the report :)

[2017-07-30 09:08] upsuper opened #868 "bindgen doesn't handle mozilla::AlignedStorage correctly"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

In the generated code above, the size of `AlignedStorage2` is 8 bytes, but in the layout test, it asserts the size is 16 bytes, which is the correct size for the original C++ struct.

I'm not sure what should we do here. I guess it is possible for bindgen to generate the correct size f

[2017-07-30 09:11] upsuper commented on #868
Oh, hmmm, maybe not possible in current Rust. Probably bindgen can generate something like `AlignedStorage2_Foo` in this case.

[2017-07-30 09:17] upsuper opened #869 "Making type template opaque has undesired behavior"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

As can be seen from the C++ code, `Foo` should have a pointer size, and `Bar` and `Baz` as well. However, `Bar` and `Baz` in this case only have 1 byte, while the layout test asserts they have 8 bytes.

`Bar` probably should have something like `[u8; 8usize]` or `[usize; 2usize]` inste

[2017-07-30 09:27] upsuper commented on #868
Although we can currently work around this issue easily by opaquing some offending types, before we start running layout test for Stylo, that test would continuously be broken in the mean time.

[2017-07-30 09:32] upsuper opened #870 "Inner type is generated regardless whether it is needed"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

In this case, we only whitelist `Test` struct, which references `Outer`. `Outer` is marked opaque, however, `Outer_Inner` is still generated while it is neither whitelisted nor referenced by anything.

Inner type should probably not be generated unless it (or probably its outer type) i

[2017-07-31 04:42] upsuper opened #871 "Layout tests can still contain id in its name"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

As can be seen, the layout test is called `__bindgen_test_layout_nsTArray_open0__bindgen_ty_id_9_close0_instantiation`, where the `_bindgen_ty_id_9` is sensible to context, so this can still cause merge conflicts.

[2017-07-31 08:57] #871 closed

[2017-07-31 17:18] fitzgen commented on #870
It is intentional that marking a type opaque only affects its layout, and therefore only affects whether base members and fields get traversed. See, for example, https://github.com/rust-lang-nursery/rust-bindgen/pull/808

What if there was a method `int Outer::takes_inner(Outer::Inner*)`? Even if `Outer` were opaque, we'd still want the method usable. This fits with the idea that "opaque is only f

[2017-07-31 18:33] fitzgen commented on #868
It's the `sizeof` that's getting us. It is effectively template specialization without actually having multiple template definitions for different cases.

The best thing to do would be to treat it as opaque.

[2017-07-31 18:35] fitzgen commented on #869
Oh wow. Yeah, we should be doing much better with generating opaque blobs here.

[2017-07-31 21:53] fitzgen commented on #699
This was fixed in #741.

[2017-07-31 21:53] #699 closed

[2017-07-31 22:05] Kethku commented on #372
@emilio did the padding bug ever get filed? I'm running into the same issue and am not seeing follow up...

[2017-08-01 16:56] #56 closed

[2017-08-01 17:24] fitzgen commented on #856
Fixed in #861

[2017-08-01 17:24] #856 closed

[2017-08-01 17:32] fitzgen opened #875 "Emit a "manual" implementation of Debug when it cannot be derived"
Could initially just print the type's name as a placeholder.

Could eventually print the fields within the type that *are* `Debug` and placeholders for the fields that aren't.

Should be behind a new option.

[2017-08-01 17:35] fitzgen opened #876 "Derive Hash when we can"
This should be almost identical to deriving `Default`: `src/ir/analysis/derive_default.rs` and the `CanDeriveDefault` trait.

[2017-08-01 17:37] fitzgen opened #877 ""manually" implement Hash when it cannot be derived"
Depends on #876.

We probably only want to do this for cases where we can't derive because of the array impl limit. We can't know how to impl hash for all the corner cases that might exist. But the easy ones, we should.

[2017-08-01 17:40] fitzgen opened #878 "Derive PartialEq when possible"
Should be very similar to deriving `Default`, see `src/ir/analysis/derive_default.rs` and the `CanDeriveDefault` trait that gets used in codegen.

[2017-08-01 17:43] fitzgen opened #879 ""manually" implement PartialEq when it cannot be derived"
Depends on https://github.com/rust-lang-nursery/rust-bindgen/issues/878.

We should be conservative and only implement this when the reason we cannot derive is because we're hitting the array length derive limit and similar easy cases. We can't know all the corner cases for types we have no knowledge of, and we shouldn't try.

[2017-08-01 17:46] fitzgen opened #880 "Derive `Eq` when possible"
Depends on #878.

Once we know it is `PartialEq`, I think this pretty much comes down to whether the type contains a float or not.

[2017-08-01 17:48] fitzgen opened #881 ""manually" implement Eq when we cannot derive it"
Depends on #880.

We should be conservative and only implement this when the reason we cannot derive is because we're hitting the array length derive limit and similar easy cases. We can't know all the corner cases for types we have no knowledge of, and we shouldn't try.

[2017-08-01 17:49] fitzgen opened #882 "Derive PartialOrd when possible"
~~Should be very similar to deriving Default, see `src/ir/analysis/derive_default.rs` and the `CanDeriveDefault` trait that gets used in codegen.~~

Easier than this, see https://github.com/rust-lang-nursery/rust-bindgen/issues/882#issuecomment-330317036 below.

[2017-08-01 17:51] fitzgen opened #883 ""manually" implement PartialOrd when we cannot derive it"
Depends on #882.

We should be conservative and only implement this when the reason we  cannot derive is because we're hitting the array length derive limit and  similar easy cases. We can't know all the corner cases for types we  have no knowledge of, and we shouldn't try.

[2017-08-01 17:53] fitzgen opened #884 "Derive Ord when possible"
Depends on #882.

Once we know it is `PartialOrd`, I think this pretty much comes down to whether the type contains a float or not.

[2017-08-01 17:54] fitzgen opened #885 ""manually" implement Ord when we cannot derive it"
Depends on #884.

We should be conservative and only implement this when the reason we cannot derive is because we're hitting the array length derive limit and similar easy cases. We can't know all the corner cases for types we have no knowledge of, and we shouldn't try.

[2017-08-01 18:00] fitzgen opened #886 "Emitting or deriving trait implementations"
**Let's implement all the traits!!**

All of the "Derive `Blah` when possible" issues have code in tree already that they can crib from, so shouldn't be too difficult to write.

Once we start deriving  lots of different traits, I expect we may find that we can unify their implementations, or at least make a generic `CanDeriveTrait<T: DerivableTrait>` kind of generic thing.

-----------------------

[2017-08-01 20:10] photoszzt commented on #876
I'm working on this.

[2017-08-02 06:36] bkchr commented on #875
Can you point a place where to start looking?

[2017-08-02 07:36] Xaldew opened #888 "Global enum in the wrong namespace"
Hello,

While attempting to generate rust bindings for [Halide](http://halide-lang.org/), I think that I encountered a bug. It seems like when the declaration and definition of a type occurs in two separate namespace 'wrappers' and the definition uses an `enum` from the global scope some bogus rust code is generated.

### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Resul

[2017-08-02 09:41] bkchr commented on #875
Ahh, I think I found [it](https://github.com/rust-lang-nursery/rust-bindgen/blob/d1d35007c0e2d085ae8fa4f81573e2f45ec95643/src/codegen/mod.rs#L1838) :)

[2017-08-03 17:24] fitzgen commented on #875
@bkchr yep! Let me know if you have any other questions :)

[2017-08-03 18:17] fitzgen commented on #888
Thanks for the bug report!

[2017-08-04 01:18] #766 closed

[2017-08-04 18:12] fitzgen commented on #832
Fixed in #859

[2017-08-04 18:12] #832 closed

[2017-08-04 19:22] tmfink commented on #832
We still need to update the book chapter on unions.

[2017-08-05 14:52] nivkner opened #893 "header_enum_explicit_type_hpp test fails on aarch64"
The error is:
[code]

I might be wrong but I think the problem is that `char` in c++ (when neither signed nor unsigned) is implementation defined.
In x86 `char` is defined as signed and in aarch64 it is unsigned, as can be seen by the fact that in the `libc` crate, `c_char` is an alias to `i8` and `u8` in each platform respectively.

The flag are default when running `cargo test`

Device: odroid C

[2017-08-05 14:57] bkchr commented on #875
I use cargo test --features testing_only_libclang_4 to run the tests. Is it normal that the expectation files are modified by the test case?
Are there also some tests that try to compile the generated rust files?

[2017-08-05 20:54] #893 closed

[2017-08-06 00:44] bkchr commented on #875
Okay, I answered the question myself. ^^
Using cd tests/expectations && cargo test, compiles and tests the generated files.

[2017-08-07 00:09] tmfink opened #895 "Unions are generated with fields that are not `Copy`"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

Attempting to compile with `rustc` with stable 1.19 or nightly (`1.21.0-nightly (ed16b0a1d 2017-08-05)`) gives:

[code]

### Expected Results

No compilation failure

[2017-08-07 13:29] emilio commented on #778
Other user found this today wrapping a very simple C++ file: https://github.com/ssloy/tinyrenderer/blob/master/tgaimage.cpp

(The call to `TGAImage::set` passes `TGAColor` by value, and that segfaults)

[2017-08-07 13:32] doppioandante commented on #778
Actually the tgaimage.cpp that I was using is [here](https://github.com/ssloy/tinyrenderer/blob/909fe20934ba5334144d2c748805690a1fa4c89f/tgaimage.cpp#L258) (didn't notice that this version was different from the one in the repo, that actually passes TGAColor as a reference).

[2017-08-08 05:54] tmfink commented on #895
@photoszzt made a comment in PR #892:

[2017-08-08 16:37] fitzgen commented on #895
Thanks for tracking this down!

I think @photoszzt has it correct: we should only emit `union`s for stable rust targets when all of the fields are `Copy`. For nightly rust targets, we can emit them regardless.

[2017-08-08 16:46] photoszzt commented on #895
For stable rust, it's generating BindgenUnion. We need to also generate the feature gate in the nightly target.

[2017-08-08 16:49] fitzgen commented on #895
Depends on *which* stable rust after #892 ;)

We never generate the `#![feature(..)]` attributes ourselves, because the bindings aren't usually at the top level of the crate. Authors need to do it themselves.

Our test suite would need to generate them, however. But we don't even currently test on nightly rust, so we would need to start doing that, and also have a `nightly` feature so that we coul

[2017-08-08 16:52] fitzgen commented on #875
Yes, this is to make it easier to update test expectations when making changes that modify their output, and its easy enough to `git checkout -- tests/expectations` to remove the modifications if they're undesired.

Yeah, I had thought this was documented in `CONTRIBUTING.md`, but it doesn't seem to be. I need to fix that.

[2017-08-08 17:02] bkchr commented on #875
It is documented in the Contribution.md, but the command, written there, does not work. Or at least did not worked for me ^^

[2017-08-08 17:02] fitzgen commented on #778
Another option that we discussed with some of the rust dev tools team folks was to emit C++ `extern "C"` trampoline functions. For users, that would mean an extra non-virtual, out of line function call, and a dependency on a C++ compiler.

[2017-08-08 17:43] photoszzt commented on #895
We can add the #![feature(...)] in lib.rs under expectations dir.

[2017-08-08 19:03] jcranmer commented on #743
The System V ABI for x86-64 says:

Which I interpret to mean that bitfields can reuse padding elements. In other words, for bitfield considerations, the struct looks like:
[code]

I suppose there's a reason why bitfields tend to be buggy in complex ABI situations.

[2017-08-08 20:17] emilio commented on #743
Yeah, I'm aware of the `ms_struct`, and how it affects layout.

Bitfields are buggy because of how we represent structs. Doing the math to see at which offset the bitfield is is easy (and clang gives us a lot of info), but getting the next field to align properly is somewhat hard, given rust doesn't give a lot of control about it.

We could of course treat structs as a bucket of bytes and do reads

[2017-08-08 20:31] fitzgen commented on #743
I don't think this would actually be that terrible if we generated getters and setters.

It would require a breaking version bump, of course.

The other option is to move padding insertion into its own phase before codegen and represent it explicitly in the IR. This should help us see these "oh look at all that room for bitfields" situations better, as well as those bugs where we're conservative a

[2017-08-09 09:24] sylvestre opened #896 "Please use a cache to retrieve llvm tarballs"
We, LLVM, have a few issues with people downloading llvm or clang every run of the CI.

See http://lists.llvm.org/pipermail/llvm-dev/2016-May/100303.html
or http://lists.llvm.org/pipermail/llvm-dev/2017-May/113269.html

I know you are not using apt.llvm.org but this still has an important impact to [download 216mo at each run of the CI](https://s3.amazonaws.com/archive.travis-ci.org/jobs/261369112

[2017-08-09 10:04] emilio commented on #896
Sure, happy to, thanks for the heads-up.

I'll try to make it work using https://docs.travis-ci.com/user/caching/#Arbitrary-directories, but let me know if there's any repo I could look at to verify it works.

[2017-08-09 16:34] #896 closed

[2017-08-09 20:41] vadimcn commented on #778
clang certainly does have [the logic](https://github.com/llvm-mirror/clang/blob/master/lib/CodeGen/TargetInfo.cpp) to figure out which types must be passed by-reference.   Unfortunately, this is not exposed in libclang.

IMO, the options we have here are:
1. What @fitzgen suggests.
2. Expose the required API in libclang (of course, bindgen would then require at least that version of libclang).
3.

[2017-08-09 23:25] Manishearth opened #898 "Opaque field for Nullable<double> is wrong in 32 bit mode"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

The type should have the correct alignment.

In particular, when running `clang++  -m32 -Xclang -fdump-record-layouts test.cpp` on

<details>
[code]
</details>
I get

<details>
[code]
</details>
cc @emilio

[2017-08-09 23:46] emilio commented on #898
At a glance, `pub mProgress: [u64; 2usize],` makes sense per the test-case, what is failing exactly?

[2017-08-10 00:13] Manishearth commented on #898
This bug might not be it. I'm not sure.

[2017-08-10 00:14] Manishearth commented on #898
The main reason I felt this was the bug was because the dump-record-layouts output was telling me `[u64;2]` was wrong.

[2017-08-10 00:43] #876 closed

[2017-08-10 00:59] emilio commented on #778
On 08/09/2017 10:41 PM, Vadim Chugunov wrote:

It's not clear to me how easy would this be, and whether it's acceptable
for every use-case, though it sounds fine to me.

Well, this is fair... Thanks for pointing this out!

I added the CXTargetInfo API to eventually get target triple and pointer
width from clang, and we already load the functions dynamically (thus
can fallback), so it shouldn't be

[2017-08-10 01:13] vadimcn commented on #778
width from clang, and we already load the functions dynamically (thus
can fallback), so it shouldn't be terribly hard to add an API that does
this.

I gave it a try, but the information we need seems to be locked in the CodeGen layer.  I could not see a way to get it out without instantiating a CodeGenModule and all that...

[2017-08-10 01:13] fitzgen commented on #778
Even if we get the information from libclang, we don't have a way to convey it to rustc yet. Did I miss that development?

[2017-08-10 01:17] fitzgen commented on #778
It's "just" another pass over our IR, this time emitting C++ instead of Rust. Not terribly difficult, but not exactly trivial either ;)

As for acceptability, I suspect it is probably fine for most cases. I expect the cases where performance *really matters* enough that the function call overhead is unacceptable would already be porting the C++ methods by hand to Rust so that they can be inlined (

[2017-08-10 01:35] vadimcn commented on #778
bindgen would just explicitly emit this parameter/return value as by-reference in the signature of "C" stub.

One wrinkle in this fine plan is, of course, that by-value/by-reference rules differ by platform (e.g. Linux vs Windows).  Not sure what's the best way to deal with that...

Can we [do this](https://github.com/rust-lang-nursery/rust-bindgen/issues/778#issuecomment-312457135)?   Of course,

[2017-08-10 01:44] vadimcn commented on #778
This requires having a working c++ compiler as well as adding a c++ build step into your build script.  On the other hand, this would nicely solve the issue with inline functions...

[2017-08-10 17:17] fitzgen commented on #778
Ah ok, understood.

We would rely on libclang giving us the correct information for the configured target platform. This is the same as what we do for size/align/field offset/etc.

I agree with what @emilio said: maintaining our own reimplementation of different ABI parameter passing rules would be hairy and is something I'd also like to avoid unless we have no other options. Even in a scenario wh

[2017-08-10 18:23] fitzgen opened #900 "Run `rustfmt` on the emitted bindings"
Usually, we generate code that is fairly readable.

This is not always the case, and will often not be the case once `--impl-debug` lands: https://github.com/rust-lang-nursery/rust-bindgen/pull/899/files#diff-a1db39afd224d69f0732cc221a7430b8R32

We should run `rustfmt` on the code we emit to give it a consistent, pretty, and readable formatting.

While `rustfmt` does have a programmatic API, it is

[2017-08-10 18:28] vadimcn commented on #778
It's easy to have sizeof(T) as a platform-dependent variable in an expression.   Not so much with a function signature, which you'd have to use a different syntax to invoke.

This would mean, among other things, having to re-run clang on headers for all possible targets :(   Well, ok, we can probably figure out which are the ones that cause trouble and run only those.

Hmm...   the more I think ab

[2017-08-10 19:54] bkchr commented on #900
Couldn't rustfmt 0.9 used for stable and rustfmt-nightly for nightly?

[2017-08-10 20:53] fitzgen commented on #900
If they (ever start to) format the code slightly differently, then we would have to maintain double the test expectations, which is 💩

[2017-08-10 21:11] bkchr commented on #900
Are you are right :/ Did not think of that. But couldn't we hide that behind a config option? Do the tests require to be formatted? Yeah it would be easier to read, but that should not be that important?

[2017-08-10 21:18] bkchr commented on #900
Yes that would be shitty. Do we really need formatted tests?

Yeah the would be easier to read, but I don't know if the rustfmt output is already that stable between different releases :/

[2017-08-10 23:14] nrc commented on #900
I think rustfmt and rustfmt-nightly already have non-trivial differences in their formatting. I would expect that rustfmt formatting would not be stable enough even in the long run for all tests (because of bug fixes, etc.)

Running system rustfmt would be the best bet I think. And I guess if the user doesn't have rustfmt, you don't format, which is not awful.

[2017-08-10 23:15] fitzgen commented on #900
Certainly it isn't critical that the test expectations be formatted. I think it is more important for every day bindgen users: they should be able to easily read the bindings so that they can use them.

We could (should) make `rustfmt`ing an option. I want to say that it should be on-by-default, but maybe we should be conservative and start with it off and then turn it on-by-default later.

Sounds

[2017-08-11 10:16] pronebird opened #903 "Type alias option"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

This is expected now that Bindgen generates `pfioc_trans_e` as `pfioc_trans_pfioc_trans_e`.

However I find it quite ugly. I am thinking that it would be great to provide an option to builder to add type aliases.

Currently it's possible to add type alias with:

`raw_line("pub type pfi

[2017-08-11 11:02] chengchangwu opened #904 "Incorrect link_name is generated for extern "C" functions for 32 bit linux"
Like #728, but for 32 bit Linux.

### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]
### Expected Results

[code]

[2017-08-11 11:37] emilio commented on #904
Which clang version is this?

[2017-08-11 11:39] emilio commented on #904
This sounds like https://github.com/rust-lang-nursery/rust-bindgen/issues/528

[2017-08-11 13:01] chengchangwu commented on #904
I've clang-3.8, clang-3.9 and and old libclang1-3.6 installed. After removing clang-3.8 and old libclang1-3.6, the problem is fixed.

Thanks.

[2017-08-11 13:12] emilio commented on #904
Closed as a dupe of #528 then, thanks for checking!

There's a workaround explained there.

[2017-08-11 13:12] #904 closed

[2017-08-11 13:13] emilio commented on #528
Yeah, I think we can close this.

[2017-08-11 13:13] #528 closed

[2017-08-11 18:04] fitzgen commented on #903
I guess? Is this that much better than the `raw_line` or adding a type alias to the module that includes/uses the emitted bindings?

[2017-08-12 10:32] tmfink opened #908 "Wrong expected union size with Rust union"
This issue can be reproduced by adding `--unstable-union` to `tests/headers/16-byte-alignment.h`.

### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

Bindgen generates:

[code]

Compiling bindings (after adding a `main` function) leads to:

[code]

### Expected Results

Predicted and actual union sizes match.

[2017-08-12 22:09] derekdreery commented on #758
I'm slightly concerned about using const enums, because their size is not well defined.

(From the spec for C11)

This means that you can't assume a particular size of an enum

[2017-08-14 13:18] #908 closed

[2017-08-14 16:14] fitzgen commented on #758
@derekdreery, We still have this complication when generating Rust `enum`s (the enum has to have some kind of physical size, which we choose via `repr`), but we *additionally* have the footgun where if the C function returns a value that isn't defined as a variant of the `enum`, which is UB on the Rust side. That is, by changing defaults from compiling C `enum`s into Rust `enum`s to a set of `cons

[2017-08-14 17:03] #900 closed

[2017-08-14 18:57] #878 closed

[2017-08-14 19:30] derekdreery commented on #758
Doesn't `#[repr(C)]` match C behaviour on the target platform (choosing the correct size)?

[2017-08-14 19:44] fitzgen commented on #758
I was under the impression that `repr(C)` on an `enum` meant that it was just a discriminant, and didn't imply anything about size, which was up to `repr(u8)` etc. After reading a bit more, it isn't clear to me if this is supposed to be guaranteed or not.

https://github.com/rust-lang/rust/issues/28925 seems relevant, where at least some folks are expecting the behavior you're describing, but it d

[2017-08-14 19:58] derekdreery commented on #758
Yeah, that discussion is illuminating. You cannot possibly encode every algorithm in every compiler. But it also means that C libraries are not necessarily ABI compatible with each other. I guess the lesson is "don't use enums in C", and we in rust have to do the best we can (by using large types and hoping for the best :/). In that case constants are definitely better than enums - apart from anyt

[2017-08-14 20:06] emilio commented on #758
Well, libraries use to be compatible. Some of them have hacks to force enum size:

https://github.com/assimp/assimp/blob/1b4cbcc6adbfc13b8766c92e2de4cf8a18c31755/include/assimp/metadata.h#L71

[2017-08-14 20:06] emilio commented on #758
But yeah, I agree that the situation is quite bad, you can compile with some compiler options to force this layout optimizations and what not, breaking all sort of stuff if it's not compiled the same way.

[2017-08-14 23:29] fitzgen commented on #59
Ok, so I just went down a rabbit hole of trying to get rayon to run each of our analyses as its own fork-join task. The problem is that `BindgenContext` is not `Sync` because it has all these libclang FFI types in it (plus other things like `Cell`, but those are easy enough to stuff into a `Mutex` or whatever). Even `BindgenOptions` is not `Sync` for similar reasons. Also the syntex `ExtCntxt` thi

[2017-08-14 23:57] fitzgen opened #914 "Rename `TypeKind::Named` to `TypeKind::TypeParam`"
And anywhere we refer to "named" types, we should start referring to "type parameters".

If you want to pick this up, just drop a comment :)

I suggest starting by reading CONTRIBUTING.md and running the tests locally, then diving right into this bug.

[2017-08-14 23:57] highfive commented on #914
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-08-15 00:07] anna-liao commented on #914
@highfive: assign me

[2017-08-15 00:20] anna-liao commented on #914
I'm interested in working on this issue.  I followed the contributing.md and it build ok, but a few tests failed when I ran `cargo test`.

failures:
    header_auto_hpp
    header_const_bool_hpp
    header_constant_evaluate_h
    header_issue_769_bad_instantiation_test_hpp
    header_objc_template_h
    header_partial_specialization_and_inheritance_hpp
    header_type_alias_template_specialized_hp

[2017-08-15 00:35] fitzgen commented on #914
Hi @anna-liao ! Can you try following the instructions here for getting libclang >= 3.9? https://rust-lang-nursery.github.io/rust-bindgen/requirements.html#clang

I think you can pretty much `brew install llvm` and then set the `LIBCLANG_PATH=/usr/local/Cellar/...` env var to the directory where the `libclang.dylib` resides.

[2017-08-15 16:02] jhod0 commented on #838
Should this be closed?

[2017-08-15 17:50] fitzgen commented on #838
Yes, thanks!

[2017-08-15 17:50] #838 closed

[2017-08-15 21:52] photoszzt commented on #882
Looking at the definition of PartialOrd, if you can implement PartialEq you should be able to implement PartialOrd.

[2017-08-16 04:10] jryans opened #917 "`alignas` alignment is not respected on Linux 32-bit"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

This layout test fails on Linux 32-bit:

[code]

because Rust believes the alignment should be 4 bytes. `alignas` is trying to mandate 8 bytes, but Rust doesn't seem to agree.

### Expected Results

This is currently blocking Stylo from working on Linux 32-bit, see https://bugzilla.mozilla.org/show_bug.cgi?

[2017-08-16 04:14] upsuper commented on #917
Oh, `u64` has 4byte alignment on linux32?

[2017-08-16 04:26] jryans commented on #917
No, I don't think that's quite it... What I know so far is that without `alignas`, `gcc` believes `Keyframe` is 4 byte aligned like Rust:

[code]

With `alignas`, we get:
[code]

[2017-08-16 05:27] upsuper commented on #917
So this is really kind of Rust bug. Rust thinks alignment of `u64` and `f64` is 4 bytes, while gcc and clang both think it should be 8 bytes.

[2017-08-16 05:43] upsuper commented on #917
Filed rust-lang/rust#43899 for the issue.

[2017-08-16 06:14] emilio commented on #917
That issue has more context, this is, I think, not a bindgen bug. We could work around it using `#[align(..)]`, but that's unstable as of right now.

[2017-08-16 11:56] upsuper commented on #917
So I think another workaround is to move around fields in Maybe. If the `mStorage` is moved to after `mIsSome`, we may have the same layout then, according to [my early bug report to gcc](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=79024).

[2017-08-16 13:03] froydnj commented on #917
We moved around the fields in `Maybe` so it would pack better for small `T`. :(  Maybe we could make `Maybe`'s layout dependent on the storage type in some way, specializing it for small `T`?

[2017-08-16 13:08] upsuper commented on #917
How can it pack better for small T? IIRC the result should not change, because the bool needs to be put at the aligned place of T as well.

I believe for `double` and `uint64_t` on 32bit binary, putting `bool` before would actually pack better. Any type in your mind which can pack better with `bool` comes later?

[2017-08-16 13:32] froydnj commented on #917
Ah, re-looking at [bug 1287006](https://bugzilla.mozilla.org/show_bug.cgi?id=1287006), I see that part of the issue was that we had an over-aligned storage for `T` initially, which meant that small `T` took up way more space than they were supposed to, and the `bool` member took up way more space as well.  Now that we're using `alignas`, I think you're correct that it shouldn't matter how we order

[2017-08-16 13:51] bkchr commented on #875
I think that can now be closed @fitzgen ?

[2017-08-16 22:41] upsuper commented on #917
Oh wait, that wouldn't help actually. The issue isn't about packing, actually, it is about `alignas`, which treat `uint64_t` and `double` as 8byte-aligned, while they are actually 4byte-aligned in structs.

So one solution is to test the alignment in a struct rather than as its own.

I'll submit a patch to Gecko side and see if that helps.

[2017-08-16 22:45] fitzgen commented on #875
Yes, thanks! Were you interested in hacking on some other bindgen issues? We have plenty, if you're looking :)

[2017-08-16 22:45] #875 closed

[2017-08-16 23:34] upsuper commented on #917
I closed the Rust bug, because it seems that `u64` and `f64` actually should have 4byte alignment on 32bit Linux when in struct, so Rust's behavior is correct.

The issue here is actually that the code use `alignas` which aligning the field to 8byte, but we don't even have a 8byte aligned type in Rust on 32bit Linux, so what we actually need is the `#[align]` feature.

In the mean time, I think we

[2017-08-17 00:12] fitzgen opened #918 "Bundle libclang with bindgen"
Goal: make it super easy for people to use `bindgen` (and crates to depend on `bindgen` without inflicting downstream pain), no installing `libclang` manually, no configuring `LIBCLANG_PATH`, no making sure your `libclang` is the right version.

Previously, we have speculated about getting `rustup` to distribute `libclang` for us. I talked with @alexcrichton and he pointed out that we don't even n

[2017-08-17 00:12] fitzgen commented on #918
cc @emilio

[2017-08-17 06:27] WiSaGaN commented on #918
Are we able to put this behind a feature under `clang-sys`? This seems me to be a general problem of budling the dev/runtime dependency though.

[2017-08-17 07:43] emilio commented on #900
Sorry for running late to the party, but I don't get why this is needed. What's the use case for this?

Seems like if you use bindgen as a build dependency, then you basically don't care about how the output looks. If you don't, and you check-in the generated bindings, then I can't see why can't you format the bindings yourself, and why is support on bindgen itself required.

This makes us pull a

[2017-08-17 15:59] target-san commented on #316
I have a rather stupid idea. Which can 'shoot' tho.
For each macro definition, construct a stub C++ file
[code]
Then force CLang to process it and give type and value of `CONSTANT`. If it doesn't compile, then it's not a macro constant.
It may be rather slow - but I'd presonally wait once to have proper constants.

[2017-08-17 17:00] fitzgen commented on #918
Ah, interesting idea!

cc @KyleMayes

[2017-08-17 17:06] fitzgen commented on #900
Occasionally, during development, one needs to read the generated bindings. Generally, this hasn't been problematic because the emitted bindings tended to be well formatted. This is no longer always the case after we we started emitted `Debug` implementations for things that couldn't derive `Debug` automatically.

Even when I do this, I still find myself needing to read the bindings to figure out

[2017-08-17 17:35] bkchr commented on #900
Should I make a pull request for hiding it behind a feature?

[2017-08-17 17:49] fitzgen commented on #900
Assuming that @emilio is satisfied with this plan, yes please! Thanks! :)

[2017-08-17 22:55] upsuper commented on #900
I agree that we need to read the generated bindings occasionally, so they should have reasonable format in general, but I don't agree this holds for impl of `Debug`. I think we hardly want to read the impl of that, and in case someone wants, it shouldn't be terribly time consuming to format it oneself, so I don't think that justifies adding such code (even behind a feature) for bindgen.

[2017-08-18 16:15] gentoo90 commented on #687
I've encountered the same error with `bindgen-0.25.5` and `clang-4.0.0` on linux.
Crate [`magick-rust`](https://github.com/nlfiedler/magick-rust).
[code]

[2017-08-19 01:16] tmfink commented on #832
@fitzgen I working on the *Using the Union Types Generated by Bindgen* chapter of the user's guide.

[2017-08-20 16:17] SuperHeron opened #923 "Macro defining a constant with unsigned long suffix generates unsigned integer"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

[code]

The U (unsigned) prefix is taken into account, but not the L (long) one.
This causes types and casts problems.

Debugging logs:
[bindgen.txt](https://github.com/rust-lang-nursery/rust-bindgen/files/1237186/bindgen.txt)

[2017-08-20 22:25] emilio commented on #923
Thanks for the report!

For macro definitions we use `cexpr`, and it only provides an `EvalResult::Int`, so we choose a type based on the value.

We have a way to customise it from bindgen though, which is using the `ParseCallbacks::int_macro` type.

Maybe that suits you, otherwise, would you consider filing an issue against https://github.com/jethrogb/rust-cexpr?

Thanks!

[2017-08-21 20:27] fitzgen commented on #900
I often read the generated bindings. The community is moving towards a world where everything is `rustfmt`ed all the time. Matching those expectations makes sense to me. It is a small feature with close to zero maintenance costs (for example, it doesn't interact with things like whitelisted sets, and options that interact with that *do* have a high maintenance cost, in contrast). By being behind a

[2017-08-21 20:29] fitzgen commented on #832
Awesome, thanks! 👍

[2017-08-22 00:06] fitzgen opened #925 "Remove the syntex dependency"
It's deprecated. It has a long build time. We should get off of it.

I think the new hotness is `syn` (or maybe `synom`?) and `quote`?

[2017-08-22 21:50] #880 closed

[2017-08-23 10:02] glyn commented on #816
Please note this bug is blocking our project from [upgrading](https://github.com/cloudfoundry/jvmkill/issues/9) from bindgen v0.24.x

[2017-08-23 14:48] emilio commented on #888
First of all, sorry for taking so long to look at this.

So this is because the code in `Var::parse` assumes that the type is already resolved, which is in general a reasonable assumption, given the way we parse.

However, this is not true for this case, since we jump to the struct definition when we see the first declaration.

Making `Var` not assuming that is sort of difficult, but could be done

[2017-08-23 14:52] emilio commented on #888
Huh, that actually worked quite easily... Shrug. Will submit a pull request.

[2017-08-23 14:57] emilio commented on #888
I opened #926 with the fix for this.

[2017-08-23 16:03] fitzgen commented on #816
Hi @glyn, if you're interested in unblocking your project, here are some tips for navigating around this code:

* `CONTRIBUTING.md` for general hacking-on-bindgen information: https://github.com/rust-lang-nursery/rust-bindgen/blob/master/CONTRIBUTING.md

* Our type definition for bitfield allocation units: https://github.com/rust-lang-nursery/rust-bindgen/blob/master/src/ir/comp.rs#L132-L160

* Ou

[2017-08-23 16:04] fitzgen commented on #914
Fixed in #915

[2017-08-23 16:04] #914 closed

[2017-08-23 16:06] fitzgen commented on #768
@tz70s still hacking on this? Need any help getting unblocked or anything like that?

[2017-08-23 16:11] fitzgen opened #927 "Rewrite `has_destructor` as a fixed point analysis"
Very similar to #765, you could look at the PR that fixed that issue and have a template for fixing this issue.

This will allow us to compute the information once and then cache the results, as well as remove the `detect_has_destructor_cycle` field.

I'm happy to mentor anyone who wants to pick this up.

[2017-08-23 16:48] glyn commented on #816
Thanks @fitzgen - very helpful.

[2017-08-23 16:49] fitzgen commented on #925
I'm working on this.

[2017-08-23 16:53] fitzgen commented on #925
Unfortunately, it looks like using the `quote` crate doesn't result in pretty printed Rust code.

[2017-08-23 16:55] dtolnay commented on #925
You can pass the output through [`rustfmt::format_input`](https://docs.rs/rustfmt/0.9.0/rustfmt/fn.format_input.html) to make it pretty.

[2017-08-23 17:13] fitzgen commented on #925
Unfortunately, `rustfmt` is nightly only now, and `bindgen` can't be nightly only.

I don't think we want to stick to an old `rustfmt` (one that still worked on stable) either. That's no better than sticking with `syntex`.

We recently gained the ability to run the `$PATH`'s `rustfmt` on the generated bindings, and I think we can rely on that functionality here. It's "just" a matter of CI and test

[2017-08-23 19:31] Xaldew commented on #888
@emilio No worries! I've been busy with other stuff anyways. I'm just happy to help, even if its just with a bug report :)

Keep up the good work!

[2017-08-23 20:48] bd339 commented on #927
I would like to take a stab at this. I've taken a look at the comments and the PR in #765, as well as the existing code for the has_destructor analysis, so I feel like I have what I need to get started.

[2017-08-23 22:05] fitzgen commented on #927
@bd339 great! Let me know if you run into any trouble or have any questions!

[2017-08-23 22:18] fitzgen opened #928 "Make `BlobTyBuilder` a simple function instead of a builder struct"
`BlobTyBuilder` is a struct with a `new` method for construction and a `build` method to complete the builder. But it doesn't have any methods to configure the builder or anything like that. So every use is like `BlobTyBuilder::new(..).build()`. This would be better as a simple function `blob(..)`, since we aren't using it as a builder struct at all.

https://github.com/rust-lang-nursery/rust-bind

[2017-08-23 22:18] highfive commented on #928
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-08-23 22:24] fitzgen opened #929 "Do the opaque check earlier in `CompInfo::codegen`"
Right now we generate all of a compound type's fields and methods eagerly, and then throw away the result of that computation for opaque types here:

https://github.com/rust-lang-nursery/rust-bindgen/blob/8aa41d195b278d36b9cde9d17c01f5651d9b79b3/src/codegen/mod.rs#L1657-L1675

Instead, we should only codegen the fields and methods if the type isn't opaque in the first place.

[2017-08-23 22:24] highfive commented on #929
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-08-24 09:05] MaloJaffre commented on #928
I'll try to open a PR shortly.
@highfive: assign me

[2017-08-24 10:17] MaloJaffre commented on #929
@highfive: assign me

[2017-08-24 16:23] fitzgen commented on #929
@MaloJaffre, were you interested in picking this issue up as well? I saw you left a `@highfive: assign me` comment, but then deleted it. It seems like our highfive bot integrations is half broken right now (probably since the move to rust-lang-nursery)

[2017-08-24 17:12] #928 closed

[2017-08-24 21:13] fitzgen commented on #925
This is hItting a bug in rustfmt that is making the formatted rust input invalid: https://github.com/rust-lang-nursery/rustfmt/issues/1914

[2017-08-24 21:16] fitzgen commented on #925
Can work around it by using a custom rustfmt.toml and passing it to the rustfmt invocation we use.

[2017-08-24 22:14] fitzgen opened #931 "Aliases to template instantiations don't work"
As alluded to [here](https://github.com/rust-lang-nursery/rust-bindgen/blob/8aa41d195b278d36b9cde9d17c01f5651d9b79b3/src/ir/context.rs#L1506-L1508), `libclang` doesn't expose any API for us to get the arguments to the template instantiation.

### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

Which fails to compile since `T` and `U` are not generic paramete

[2017-08-25 16:57] fitzgen opened #933 "Add something like rustc's -Z time-passes"
This would give a high level overview of how long each of our phases are taking, and help inform us where we should generally be focusing our performance investigations on various test cases.

[2017-08-25 17:07] fitzgen commented on #933
Specifically, I'm imagining

* [ ] a new module that provides RAII types for timing start and end of some phase, and printing the timed value in the `Drop` implementation,
* [ ] the ability to turn those RAII timers on/off dynamically via a command line flag and builder option,
* [ ] and then instrumentation of the code base with these RAII timers for all of:
  * [ ] libclang -> IR parsing (`bindg

[2017-08-25 18:11] #927 closed

[2017-08-25 21:15] MaloJaffre commented on #929
@fitzgen
Sorry, I've mixed up the two issues.

[2017-08-26 11:13] dimbleby opened #934 "Derive Clone when deriving Copy"
bindgen almost always implements `Clone` explicitly, like this:

[code]

I (accidentally!) ran clippy over some autogenerated code and it expressed disappointment that `Clone` was manually implemented for all sorts of structures on which `Copy` was derived:

[code]
And indeed, `Clone` could be derived in every case, at least for my project.

The code that prevents this is [here](https://github.com

[2017-08-26 18:52] emilio commented on #934
This is pretty much intentional, because of large arrays, which implement `Copy` but not `Clone`. I'm not sure it's worth to add the complexity to derive it when possible tbh.

[2017-08-26 21:08] dimbleby commented on #934
Well, certainly this is at worst a wart rather than a bug.  I don't really expect auto-generated code to be clean under clippy.  (But wouldn't it be nice if it were?).

Compared to the work you must already do figuring out when all the other derived things are derivable, I'd have guessed that "is there a big array involved?" was a relatively straightforward check... but that's absolutely a guess f

[2017-08-28 02:52] upsuper commented on #900
I often read the generated bindings too, but I cannot imagine that I would want to read impl of `Debug` at all in general, unless I'm debugging the bindgen (and specifically the `Debug` impl codegen) itself. And I don't think debugging `Debug` codegen is a good enough reason for adding a default dependency and that bunch of code.

Adding that may not interact a lot with other code in bindgen, so t

[2017-08-28 16:21] fitzgen commented on #900
While it seems we just plain disagree on this issue, the whole argument is about to become moot.

In https://github.com/rust-lang-nursery/rust-bindgen/issues/925 we are moving off the deprecated, unmaintained, and slow to build `syntex` crate over to the `quote` crate for code generation. Once that happens, *all* of the generated bindings will be on a single line because `quote` doesn't support pr

[2017-08-28 17:46] jhod0 commented on #929
@fitzgen, I have a fix which is passing tests, but I am not completely sure of its correctness - it doesn't call `struct_layout.saw_vtable()` when `item` is opaque.

I pretty much just added some `if !is_opaque {...}` wrappers around the code paths that add to `fields` and `methods`

[2017-08-28 17:53] tomwhoiscontrary commented on #372
I'm getting some relative of this. I am translating some reasonably big C++ class, and i tried making it opaque to make my life easier:

[code]

But this fails to compile:

[code]

If i make the type non-opaque, it comes out like this:

[code]

Which also fails:

[code]

The latter case looks similar to @64's bug. I wonder if this is related to #648?

I can work around this by setting `.derive_deb

[2017-08-28 18:01] fitzgen commented on #929
@jhod0 can you make a WIP pull request? That's the easiest way to have discussion about the code. Thanks!

[2017-08-28 18:02] fitzgen commented on #372
@tomwhoiscontrary would you mind filing a new issue and including a test case so we can reproduce the issue locally? Thanks!

[2017-08-28 19:36] jhod0 commented on #929
@fitzgen I'll make one later, and ping you when I do

[2017-08-29 00:21] jhod0 commented on #929
@fitzgen there is now a PR!

[2017-08-29 06:58] tomwhoiscontrary commented on #372
I'll see what i can do about a test case. The code i'm binding is pretty huge, so i'll need to extract a subset which exhibits the problem.

[2017-08-29 13:55] target-san opened #937 "[Enhancement] Allow to process macro body with ParseCallbacks"
ATM if bindgen user needs to parse macros by hand, he's forced to do it manually - know all headers involved, parse them by hand and finally do something with parsing results.

I think it would be beneficial if ParseCallbacks would provide way to not only get notified that certain macro was parsed, but also have its body, at least as a string.
Changes proposed, discussion welcome:
[code]

[2017-08-29 15:56] fitzgen commented on #372
This is where C-Reduce and `bindgen::Builder::dump_preprocessed_input` come in really handy ;)

https://github.com/rust-lang-nursery/rust-bindgen/blob/master/CONTRIBUTING.md#using-creduce-to-minimize-test-cases

[2017-08-29 16:02] fitzgen commented on #666
Copying the proposal by @target-san from #937 here for posterity:

[2017-08-29 16:03] fitzgen commented on #937
Thanks for the bug report! This is the same issue as https://github.com/rust-lang-nursery/rust-bindgen/issues/666, so let's keep the discussion centralized there.

[2017-08-29 16:03] #937 closed

[2017-08-29 16:23] target-san commented on #666
@emilio
Would be really nice - although it'll work only for constant-style macros. I'm dealing with a proprietary C lib, where initialization of certain structs is performed via macro of sorts:
[code]
So I'd have an option to do this by hand anyway.

[2017-08-29 16:33] emilio commented on #666
How would your API work for varargs macros? Should we just pass the string of arguments, and let the caller do whatever he thinks it's appropriate?

We could probably pass another boolean as an argument I guess...

[2017-08-29 18:11] target-san commented on #666
Boolean would be okay I think. The sample above is of course a sketch, not a final proposal.

[2017-08-29 18:36] fitzgen commented on #925
Update: I have a branch without the syntex dependency that can generate bindings for all but one of our test headers (it just hangs in that one test header, and I haven't investigated it yet) and the emitted bindings have changed a little in inconsequential ways but are all passing their layout tests. There is also still some clean up to do and some constify module enums things.

Getting pretty cl

[2017-08-29 23:35] jhod0 commented on #933
Would RAII timers work well in rust? I'd think there would be some fighting `unused variable` warnings in the compiler, for code like this:

[code]

[2017-08-30 14:07] jhod0 commented on #933
@fitzgen I implemented something along these lines, let me know if it's what you had in mind

[2017-08-30 18:33] fitzgen commented on #925
I have it passing all tests \o/

There is still some code clean up and minor rebasing to be done before this gets a PR.

[2017-08-31 01:59] jhod0 commented on #929
@fitzgen  should this be closed?

[2017-08-31 16:30] fitzgen commented on #929
Yep, thanks!

[2017-08-31 16:30] #929 closed

[2017-08-31 16:39] fitzgen opened #939 "Document profiling bindgen performance in CONTRIBUTING.md section"
Things to mention:

* [ ] `bindgen::Builder::time_phases` / `--time-phases`

* [ ] The stylo sanity test

* [ ] Very quick overview of profiling rust / tools available

[2017-08-31 16:54] #933 closed

[2017-09-02 00:19] jryans opened #941 "Bitfield enums in return position violate the Linux 32-bit ABI"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

Bitfield enum mode uses a struct on the Rust side, but C++ treats this as a primitive type. Since the Linux 32-bit ABI treats structs vs. primitives in return position differently, this leads to nonsense behavior.

I encountered this in several places while working on Stylo. As a worka

[2017-09-02 00:51] emilio commented on #941
Thanks for reporting, this is pretty much known, and depending on https://github.com/rust-lang/rust/issues/43036, mostly.

[2017-09-02 16:41] Dushistov opened #942 "android JNINativeMethod wrong size"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results
### Expected Results

I compile on linux/amd64 for arm-linux-androideabi.
If I run generated by bindgen unit tests I got:

[code]

Test that failed:

[code]

[2017-09-02 16:43] emilio commented on #942
Looks a lot like you're generating methods for a 64-bit target and compiling with a 32-bit target.

[2017-09-02 16:44] emilio commented on #942
Have you tried passing the target down to libclang using `clang_arg`? I don't recall if I did it so it was autodetected or not.

[2017-09-02 20:34] Dushistov commented on #942
@emilio

I tried this:

[code]
got this:
[code]

`-target` option I took from here: https://clang.llvm.org/docs/CrossCompilation.html

[2017-09-02 22:22] Dushistov commented on #942
@emilio

I was able to fix issue with `target` like this:
[code]
but for some reason with `--target=arm-linux-androideabi` bindgen emit two `__va_list`:

[code]

and resulted code not compiled,

as you see I do not use `emit_builtins` or similar, so
looks like `--target` changes something.

Android `jni.h` has only
[code]

at start of `jni.h`

So here is two issues:

1. `bindgen` not use `TARGET`

[2017-09-03 02:07] helloqirun opened #943 "Thread 'bindgen_test_layout_header' panicked at 'assertion failed: `(left == right)`"
I am using this script (https://gist.github.com/fitzgen/187381e358f60efa8194d0b276b4d11a) for testing.
The hashtag for my bindgen version is e841f6f88d13298.

$ ./b.sh bindgen abc.h
[code]

$ cat abc.h
[code]

[2017-09-03 10:41] Dushistov commented on #942
The difference between `--target=arm-linux-androideabi` except right sizeof values in unit tests is this:

[code]

[2017-09-03 11:13] Dushistov commented on #942
Here difference difference of `bindgen --dump-preprocessed-input` with and without `--target=`:

[code]

[2017-09-03 13:57] Dushistov commented on #942
Reduce tes case:

`$ cat bitmap.h`
[code]

[code]

[2017-09-04 06:23] upsuper opened #944 "Copy should not be derived if blacklisted type is included"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

`struct Foo` should not have `#[derive(Copy)]` because it is unknown whether the blacklisted type is `Copy` at all. Actually a type being blacklisted is usually a strong indication that it is a complicated type and bindgen shouldn't put any assumption on it at all.

[2017-09-04 14:45] glyn commented on #816
@emilio mentioned in #servo that https://github.com/rust-lang-nursery/rust-bindgen/pull/940 switches from using `quote_ty!` to using `quote!`.

[2017-09-04 15:42] Dushistov opened #946 "android system headers -> cyclic type aliases"
### Input C/C++ Header

`bitmap.h`
[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

Code that possible to compile with `rustc` without cyclic type aliases.

[2017-09-04 15:44] Dushistov commented on #942
I suppose `__va_list` issue is separate issues, not related that `bindgen` in `build.rs` not analyze `TARGET` environment variable, so I move it to #946

[2017-09-04 15:47] Dushistov commented on #946
Side note clang can interpret this code `clang --target=android-arm-androideabi -c bitmap.h`  works without errors.

But indeed it produces ast similar to `bindgen` generate:
[code]

So may be it has some heuristics to solve such cases.

[2017-09-04 16:42] pepyakin opened #947 "Incorrect bindings generated for emscripten"
### Input C/C++ Header

adder.h:
[code]

### Bindgen Invocation

[code]

### Actual Results

Generated bindings:
[code]

rustc/emcc fails with a message:
[code]
([full message](https://gist.github.com/pepyakin/ca869efb1d3dc3850affb36de1ca131c))

### Expected Results

Emscripten emits names without leading `_`:

[code]

so I expect following bindings to be generated:

[code]

I created repository f

[2017-09-04 17:24] ctaggart opened #948 "Add `bindgen::Builder::derive_copy` to control whether we emit `derive(Copy)` on type definitions"
I'm getting a lot of errors like `the trait Copy may not be implemented for this type`, so I went to disable it like I did for `.derive_debug`, but there isn't an option to turn it off. Shouldn't there be?
[code]

[2017-09-04 20:21] emilio commented on #947
Which clang version are you using?

[2017-09-04 20:22] emilio commented on #948
Probably, yeah... Ideally shouldn't be needed. This is basically a dupe of #944.

Right now the analysis landed in #866 assumed that everything not whitelisted should assume to derive copy, when it should be the other way around.

[2017-09-04 20:59] pepyakin commented on #947
[code]

[2017-09-04 21:26] emilio commented on #947
I need the actual `libclang` version bindgen is loading, sorry for the hassle.

You can get it with something like:

[code]

Which should output something like:

[code]

[2017-09-04 23:59] upsuper commented on #947
Looks like another case that clang is trying to add `_` prefix... We should probably just extend the check at https://github.com/rust-lang-nursery/rust-bindgen/blob/28de37efc4d265ef6a15468e95b2bc3aa8a76ec3/src/ir/context.rs#L365

[2017-09-05 00:16] upsuper commented on #944
I looked into the code for a bit, but failed to figure out the best way to fix. Type blacklisting is based on name path, while derive check is based on item. We probably need some higher level check to stop deriving things when any name in blacklist presents in type declaration.

[2017-09-05 05:16] pepyakin commented on #947
Interesting,
[code]

[2017-09-05 07:54] pepyakin commented on #947
Going further things getting more interesting...

For this header:

[code]

bindgen (invoked with this same default config as in first post) generates these bindings:

[code]

[code]

fails with the message

[code]

It seems to me different data model is used for generating these bindings. asmjs/wasm32 are both 32bit platforms, and I'm running on 64bit macOS machine.

[2017-09-05 07:54] emilio commented on #947
Yes, I was doubting between that or #528, but given it's with clang 4.0, @upsuper is right.

@pepyakin, wanna submit a patch? :)

[2017-09-05 07:56] pepyakin commented on #947
@emilio
Oh, nevermind my last comment, seems like just target is not passed, as in this case. https://github.com/rust-lang-nursery/rust-bindgen/issues/942

Yeah, sure!

[2017-09-05 07:59] emilio commented on #944
Yeah, the problem is that the checks act in the whitelisted items, and since we store the types that _can't_ be derived instead of the ones that can, effectively all non-whitelisted items end up deriving copy.

[2017-09-05 08:01] pepyakin commented on #942
Just wanted to note, that I experienced same problem with the Emscripten (see https://github.com/rust-lang-nursery/rust-bindgen/issues/947#issuecomment-327100002)

This worked for me as well:
[code]

[2017-09-05 08:51] pepyakin commented on #947
@emilio

It seems that original issue is also fixed with `.clang_arg(format!("--target={}", target))`!

I'm wondering, if it would be better to pass --target arg to clang_args instead of adding one more exception for `needs_mangling_hack`? This also should fix #942

[2017-09-05 10:36] ctaggart opened #949 ".opaque_type("std::string")"
I may misunderstand how opaque types are supposed to work. I though that all references would be treated as a blob of bytes and the references would be removed. The references seem to still be present with `std::string` and other types, but works for `std::map` and a few others. I'm a bit confused.

### Bindgen Invocation
https://github.com/ctaggart/octh/blob/2a32e343bae70632e695f24b1736720ba053cd

[2017-09-05 15:58] fitzgen commented on #944
I'll whip up a fix for this.

[2017-09-05 16:07] fitzgen commented on #949
Yes, that is certainly a bug.

Can you provide a [reduced, reproducible test case](https://github.com/rust-lang-nursery/rust-bindgen/blob/master/CONTRIBUTING.md#using-creduce-to-minimize-test-cases) that exhibits this behavior?

Thanks!

[2017-09-05 16:10] fitzgen commented on #948
It should be pretty straightforward to add a `fn derive_copy(mut self, doit: bool) -> Self` method to `Builder`. One could look at how its done for `derive_debug` to see how to thread the pieces together.

Happy to mentor anyone who wants to take this.

[2017-09-05 16:10] highfive commented on #948
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-09-05 16:12] fitzgen commented on #948
That is certainly a bug, but it also makes sense to allow people to avoid deriving `Copy` in general. In other words, this isn't a dupe in my opinion.

[2017-09-05 16:15] fitzgen commented on #943
Thanks for the bug report @helloqirun !

[2017-09-05 17:06] #888 closed

[2017-09-05 20:42] fitzgen commented on #944
Fix in #950

[2017-09-06 03:51] helloqirun opened #951 "bindgen emitted Rust code that won't compile"
I am using this script (https://gist.github.com/fitzgen/187381e358f60efa8194d0b276b4d11a) for testing.
The hashtag for my bindgen version is e841f6f.

$ ./b.sh bindgen abc.h
[code]

$ cat abc.h
[code]

[2017-09-06 07:54] ctaggart commented on #949
I ran `time creduce ./predicate.sh __bindgen.ii` last night. It look 110 minutes and output this test case:

[code]
Ran with:
[code]
Outputs:
[code]

[2017-09-06 08:51] emilio commented on #231
There's a bit more discussion in #753, so closing as a dupe.

[2017-09-06 08:51] #231 closed

[2017-09-06 08:52] emilio commented on #562
I don't think we should do that given how invasive it is (see #580). Thanks @framlog, though, for coming up with a PR!

[2017-09-06 08:52] #562 closed

[2017-09-06 08:54] emilio commented on #951
Nice one! This is a basically a duplicate of https://github.com/rust-lang-nursery/rust-bindgen/issues/687, so closing in favour of that one, thanks!

[2017-09-06 08:54] #951 closed

[2017-09-06 15:10] emilio commented on #947
Yup, I don't love magic, but looks passing `--target` automatically if not found is a reasonable thing to do anyway...

[2017-09-06 15:39] mchlrhw commented on #948
@fitzgen I'd be happy to help out with this. Just getting into Rust and looking for ways to contribute in my spare time. I've implemented this in my fork, should I just open a PR?

[2017-09-06 15:45] mchlrhw commented on #948
@highfive: assign me

[2017-09-06 15:45] highfive commented on #948
Hey @mchlrhw! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-06 18:20] fitzgen commented on #949
Thanks a bunch for the reduced test case! It makes fixing these kinds of bugs much easier!

[2017-09-06 18:30] fitzgen commented on #949
Unfortunately, I think the C-Reduce predicate was looking for the slightly wrong thing.

In this reduced test case, `std::string` *is* opaque: it has the correct single-byte layout. In other words, this test case no longer exhibits the bug we were trying to track down.

The predicate script should probably be `grep`ing for

[code]

when attempting to compile the bindings, instead of grepping for `

[2017-09-06 19:41] #942 closed

[2017-09-06 19:41] #947 closed

[2017-09-06 20:12] #948 closed

[2017-09-06 22:53] ctaggart commented on #949
@fitzgen That makes sense. A new creduce is running now and I'll report back in the morning (CEST).

[2017-09-06 22:56] #944 closed

[2017-09-06 23:44] fitzgen commented on #949
@ctaggart thanks for your dedication!

[2017-09-07 07:40] ctaggart commented on #949
It ran all night, 509 minutes, and came up with this:
[code]

[code]

[2017-09-07 13:03] glyn opened #954 "Bindgen generates getters and setters which access memory beyond "self""
A getter can read bytes beyond "self" and a setter can read and write bytes beyond "self".

For instance, in [this example](https://github.com/rust-lang-nursery/rust-bindgen/blob/cb1059786df114cae72b8baea038dc5ea638269d/tests/expectations/tests/bitfield-32bit-overflow.rs#L28), a getter copies 8 bytes from a 5 (I [checked](https://play.rust-lang.org/?gist=ac531c5f0c58b49ad1ece748d2aba234&version=st

[2017-09-07 13:53] glyn commented on #816
Progress has been slow in understanding the code, partly because some of it appears to be based on an invalid assumption that masks can always be 64 bits wide and that bitfield allocation units can always be manipulated as 64 bit entities (see https://github.com/rust-lang-nursery/rust-bindgen/issues/954).

I'm not sure how performance critical the generated code is, but I'm inclined to say that we

[2017-09-07 14:26] pylbrecht commented on #816
I'll be doing my best to support @glyn with this issue.

[2017-09-07 14:28] emilio commented on #816
With this, you mean actually generating arrays of `u8` on the structs? Or just treating them as-if? Because if the first, I think you'll find alignment issues and such.

[2017-09-07 14:34] glyn commented on #816
My _understanding_, such as it is, is that bitfields are grouped into contiguous blocks of bytes which start on a byte boundary. Look at [this](https://github.com/rust-lang-nursery/rust-bindgen/blob/cb1059786df114cae72b8baea038dc5ea638269d/tests/expectations/tests/bitfield-32bit-overflow.rs#L10) for example to see that bindgen _already_ generates arrays of `u8`.

[2017-09-07 15:51] Ploppz opened #955 "Feature request: Generate Rust docs from Doxygen comments"
I think it would be very useful to be able to tell bindgen to parse Doxygen comments and generate Rust doc comments.

[2017-09-07 17:09] fitzgen commented on #949
Thanks for running C-Reduce again!

Is this required to observe the behavior? Because it wasn't in the last set of bindgen flags, and it is expected that using `--no-recursive-whitelist` without providing your own definitions for the referenced types won't compile.

I see that this was set in the builder that was linked to in the original issue; sorry, I should have caught that earlier!

[2017-09-07 17:14] fitzgen commented on #949
Yeah, if I remove the `--no-recursive-whitelist` then it compiles just fine.

Sorry! I should have caught that earlier.

I'll make a PR better documenting that `--no-recursive-whitelist` will emit bindings that won't compile.

[2017-09-07 17:14] #949 closed

[2017-09-07 17:26] ctaggart commented on #949
Right, but it would compile if `std::string` was added. There doesn't appear to be a way to specify that `std-string` should be included && be opaque. It would be awesome if that was possible. I was hoping that by setting `--opaque-type std::string` that could happen.

Otherwise I am not sure what to do. If I don't set `--no-recursive-whitelist`, I pull in the entire kitchen sink. Open to suggesti

[2017-09-07 17:38] fitzgen commented on #949
I think your best option is to `--opaque-type 'std::.*'` and live with the extra types.

[2017-09-07 18:13] emilio commented on #816
The final alignment depends on the types specified as members. See:

https://github.com/rust-lang-nursery/rust-bindgen/blob/978b5316f79aae7a66fd7390d13276a005f9fc9a/tests/expectations/tests/struct_with_bitfields.rs#L12

For an example where we generate 4-byte-aligned bitfields.

[2017-09-07 18:15] fitzgen opened #958 "Make BindgenOptions be pub(crate)"
Its public use has been deprecated for a while now, and it is only meant for internal use.

[2017-09-07 18:15] highfive commented on #958
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-09-07 18:29] ctaggart commented on #949
I'll give that a shot. Thanks.

[2017-09-07 19:39] #925 closed

[2017-09-07 19:51] fitzgen opened #959 "Compute padding outside of codegen"
Right now, we compute a struct's padding fields while we are codegen'ing it.

Instead, we should have a dedicated phase for computing implicit padding fields that transforms from structs-with-only-explicit-fields to structs-with-explicit-fields-and-implicit-padding-fields.

Benefits this will give us:

* The ability to precisely derive various traits for structs with large alignment (right now we

[2017-09-07 19:57] fitzgen opened #960 "TemplateParameters' methods should just return a Vec, not an Option<Vec>"
I thought that the `Option` would be useful, but in practice we do pretty much ignore that it is an option and do things like `params.unwrap_or(vec![])`. And then in other places when the result is `Some` we assume that the contained `Vec` is not empty, when that isn't always the case.

It will be much simpler to just return a `Vec` that is either empty or not.

And also `usize` instead of `Option

[2017-09-07 19:57] highfive commented on #960
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-09-07 20:01] fitzgen commented on #955
@Ploppz, Can you provide some examples for whoever might pick up this issue? Thanks!

[2017-09-07 20:03] fitzgen commented on #954
Thanks for the bug report!

[2017-09-07 20:08] fitzgen commented on #946
Wow... I wonder if we should treat all `__builtin_*` types as opaque by default?

[2017-09-07 20:10] fitzgen commented on #946
For posterity / anyone wondering, yes the `--target=arm-linux-androideabi` is necessary to reproduce the bug. When targeting `x86_64-unknown-linux-gnu` it does the right thing for me.

[2017-09-07 20:19] Ploppz commented on #955
I'm currently working with [this](https://github.com/kerrydwong/MCP2210-Library) C++ library. Examples: the functions [here](https://github.com/kerrydwong/MCP2210-Library/blob/master/mcp2210.h#L421). At least I think that's Doxygen... The structs don't have doxygen comments though, but I think that should be possible too.

[2017-09-07 21:10] fitzgen opened #961 "Allow specifying certain types we shouldn't derive/impl Debug for"
Add `--no-debug <regex>` and `Builder::no_debug(String)` to supply regexes for matching against types that we should not derive or implement `Debug` for.

Adding this feature involves:

* [ ] Adding a new `RegexSet` member to `bindgen::Builder` (similar to the `whitelisted_types` set).

* [ ] A `Builder` method to add strings to that `RegexSet`.

* [ ] Plumbing in `src/options.rs` to convert `--no

[2017-09-07 21:11] fitzgen commented on #961
cc @jdm

[2017-09-07 21:14] fitzgen opened #962 "Allow specifying certain types we shouldn't derive/impl Copy for"
Add `--no-copy <regex>` and `Builder::no_copy(String)` to supply regexes for matching against types that we should not derive or implement `Copy` for.

Adding this feature involves:

* [ ] Adding a new `RegexSet` member to `bindgen::Builder` (similar to the `whitelisted_types` set).

* [ ] A `Builder` method to add strings to that `RegexSet`.

* [ ] Plumbing in `src/options.rs` to convert `--no-co

[2017-09-07 21:14] fitzgen opened #963 "Allow specifying certain types we shouldn't derive/impl Default for"
Add `--no-default <regex>` and `Builder::no_default(String)` to supply regexes for matching against types that we should not derive or implement `Default` for.

Adding this feature involves:

* [ ] Adding a new `RegexSet` member to `bindgen::Builder` (similar to the `whitelisted_types` set).

* [ ] A `Builder` method to add strings to that `RegexSet`.

* [ ] Plumbing in `src/options.rs` to convert

[2017-09-07 21:15] fitzgen opened #964 "Allow specifying certain types we shouldn't derive/impl Hash for"
Add `--no-hash <regex>` and `Builder::no_hash(String)` to supply regexes for matching against types that we should not derive or implement `Hash` for.

Adding this feature involves:

* [ ] Adding a new `RegexSet` member to `bindgen::Builder` (similar to the `whitelisted_types` set).

* [ ] A `Builder` method to add strings to that `RegexSet`.

* [ ] Plumbing in `src/options.rs` to convert `--no-ha

[2017-09-07 21:17] fitzgen opened #965 "Allow specifying certain types we shouldn't derive/impl PartialEq for"
Add `--no-partialeq <regex>` and `Builder::no_partialeq(String)` to supply regexes for matching against types that we should not derive or implement `PartialEq` for.

Adding this feature involves:

* [ ] Adding a new `RegexSet` member to `bindgen::Builder` (similar to the `whitelisted_types` set).

* [ ] A `Builder` method to add strings to that `RegexSet`.

* [ ] Plumbing in `src/options.rs` to c

[2017-09-07 21:44] Dushistov commented on #946
@fitzgen

But how this helps?

[code]

As you can see `__va_list` defined two times, so `opaque` not helps,

or you mean to treat all compiler's internal identifiers as `opaque` by default:

so `__va_list` is internal and may be treated as opaque?

Also `aarch64-linux-android` may be used to reproduce bug,

By the way `aarch64-apple-ios` arch cause crash:
[code]

[2017-09-08 10:44] code-ape commented on #631
Hello,

I know this has already been reported but I just thought I'd add another occurrence report in case someone has the same issue as me. I've encountered this issue when trying to generate a binding of some Linux uapi headers, specifically any that include [`linux/include/uapi/linux/atmapi.h`](https://github.com/torvalds/linux/blob/v4.9/include/uapi/linux/atmapi.h) which has the following stru

[2017-09-08 11:12] hgallagher1993 commented on #960
Ya I'll take this @highfive: assign me

[2017-09-08 11:12] highfive commented on #960
Hey @hgallagher1993! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-08 16:36] fitzgen opened #966 "Start testing libclang 5 in CI"
http://lists.llvm.org/pipermail/llvm-announce/2017-September/000075.html

[2017-09-08 16:37] fitzgen commented on #960
@hgallagher1993 let me know if you have any questions!

[2017-09-08 16:41] highfive commented on #631
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-09-08 16:43] fitzgen commented on #631
I think all we need to do is add a new special case in the `rust_mangle` method in `src/ir/context.rs`. And a regression test.

Let me know if you're interested in picking up this issue!

[2017-09-08 16:59] fitzgen opened #967 "Ability to avoid deriving/implementing a trait for specific types"
This is a meta tracking issue for all the different traits that we allow deriving. Right now its always everythign or nothing. We have issues open for allowing specifying certain types that we want to omit implementations for.

* [x] `Debug`: #961
* [x] `Copy`: #962
* [x] `Default`: #963
* [x] `Hash`: #964
* [x] `PartialEq`: #965

[2017-09-08 17:00] fitzgen commented on #768
Unassigning due to inactivity.

[2017-09-08 17:07] fitzgen commented on #450
This is no longer relevant.

[2017-09-08 17:07] #450 closed

[2017-09-08 17:12] fitzgen commented on #955
@Ploppz we *do* generate rust doc comments (they aren't necessarily pretty) and I'm not sure what concrete changes you're asking for in this issue. For example:

[code]

becomes

[code]

[2017-09-08 17:18] fitzgen opened #968 "--rustfmt_bindings doesn't work with printing bindings to stdout"
This produces pretty code in `output.rs`:

[code]

This does *not* print pretty code to stdout:

[code]

See the `rustfmt_generated_file` function in `src/lib.rs` for where we currently run `rustfmt` on generated files. We need to have a version of this for when we are printing to `stdout` that writes the unformatted bindings to a child `rustfmt`'s stdin, and then pipes the child's stdout to our s

[2017-09-08 17:18] highfive commented on #968
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-09-08 17:25] fitzgen opened #969 "Fuzz bindgen with C-Smith"
[C-Smith](https://github.com/csmith-project/csmith/) generates C programs for fuzzing C compilers. We should create infrastructure (scripts, etc) for running it against bindgen, that we check into tree. And we should run it against bindgen.

We should look into if C-Smith supports things like controlling the kinds of programs it generates. We don't care about functions' bodies generally, and we ca

[2017-09-08 17:31] fitzgen opened #970 "Add property based testing with quickcheck"
https://github.com/BurntSushi/quickcheck

Another kind of fuzzing of sorts. We should use `quickcheck` to generate struct definitions and whitelisting/opaque/etc rules, generate a header containing those definitions in C source form, run `bindgen` on the header, and then assert various properties about the resulting bindings.

Ideas of properties to assert:

* `bindgen` doesn't panic
* the resulti

[2017-09-08 17:35] fitzgen opened #971 "Investigate fuzzing with `cargo fuzz`"
https://github.com/rust-fuzz/cargo-fuzz

Uses `libFuzzer` behind the scenes.

Unsure if this is really worth it, hence "investigate" rather than "use". `libFuzzer` is pretty much throwing random bytes (whose next generations are then guided by coverage information from the last generations) at a function and seeing if it can trigger a panic or segfault or something. For us, the function would be s

[2017-09-08 17:37] fitzgen opened #972 "Meta issue for fuzzing"
This is a meta issue tracking the various things we can do to fuzz bindgen.

* [ ] C-Smith: #969
* [ ] `quickcheck`: #970
* [ ] `cargo fuzz`: #971

[2017-09-08 18:25] Ploppz commented on #955
I don't see it in the docs generated by `cargo doc --open`. I uploaded the code [here](https://github.com/Ploppz/mcp2210-bindings). Neither the functions nor the structs have documentation comments, it seems.

[2017-09-08 18:29] Ploppz opened #974 "Doesn't derive Debug for all structs"
With `.derive_debug(true)` on the Builder, `Debug` doesn't get derived for all types. Complete example: https://github.com/Ploppz/mcp2210-bindings

... in which this struct doesn't get Debug implemented:
[code]

[2017-09-08 18:53] fitzgen commented on #974
This is expected because the `DataReceived` array is has more elements than the maximum number of elements for which Rust implements `Debug` for arrays (32).

You can use `Builder::impl_debug` and/or `--impl-debug` to have `bindgen` generate an `impl Debug for ...` block.

[2017-09-08 18:53] #974 closed

[2017-09-08 20:10] Cldfire commented on #758
@highfive: assign me

[2017-09-08 20:10] highfive commented on #758
It looks like this has already been assigned to someone. I'll leave the decision to a core contributor.

[2017-09-08 20:19] fitzgen commented on #758
@Cldfire sounds good! This bug has been quiet, so I don't think @jprusakova is still working on it.

[2017-09-09 00:15] Cldfire commented on #758
Status update: I have all tests passing locally and have pushed to my fork (https://github.com/Cldfire/rust-bindgen/commit/ca206562a2d9e891721a0d8e932f114393d596c0).

I still have a few things I want to think about before I make a PR, though, and I'm done working on it for tonight. I'll get back to it tomorrow night and / or Sunday.

[2017-09-09 20:51] dylanede opened #975 "Telling libclang where to look for system includes"
I've had success using bindgen on Windows with MSVC, but in order to do so I have to specify the `INCLUDE` environment variable as so (minus new-lines):

[code]

Without this definition clang fails to find the system headers. I also have to specify `-fms-compatibility-version=19` (not 14) via `Builder::clang_arg` to get this to work.

Obviously this configuration is specific to this particular ver

[2017-09-10 11:07] dimbleby opened #977 "Make `--rustfmt-bindings`/`Builder::rustfmt_bindings` on by default"
*Edited by @fitzgen*

Ever since the switch to `quote` instead of `syntex`, the bindings get emitted in a decidedly not-pretty-printed fashion.

We have an option to run `rustfmt` on the bindings: `--rustfmt-bindings`/`Builder::rustfmt_bindings`. It is off by default, but it should be on by default. Instead, users should turn it off if they don't need it or want it.

See `src/options.rs` and `src/

[2017-09-10 13:11] dimbleby opened #978 "Does the --link option do anything?"
I can't get `--link` to have any impact on the generated code.   Am I doing it wrong, or has this bit-rotted?

I guess I was expecting that it would add an attribute like:

[code]

to generated code.

[2017-09-10 13:15] dimbleby commented on #978
Duplicate #104

[2017-09-10 13:15] #978 closed

[2017-09-10 20:03] helloqirun opened #979 "cannot apply unary operator `-` to type `u64`"
I am not sure if it's indeed a bug in bindgen. Just report it here.

I am using this script (https://gist.github.com/fitzgen/187381e358f60efa8194d0b276b4d11a) for testing.
The hashtag for my bindgen version is 4dd4ac75e2 .

$ ./b.sh rust-bindgen/target/debug/bindgen abc.h
[code]

$ cat abc.h
[code]

[2017-09-11 01:15] DemiMarie commented on #778
@vadimcn I agree.  Just invoke the C++ compiler, create an `extern "C"` wrapper, and call the C functions from Rust.

[2017-09-11 11:59] code-ape commented on #631
@fitzgen sure! I may not be able to get to it until next weekend, but I'll be happy to add this in. Should I tag myself with the HighFive system? I'm not familiar with it.

[2017-09-11 16:48] fitzgen commented on #975
I agree that this can be a pain, but I don't feel like I personally understand msvc/windows development enough to fully understand the different options available. (Or even an understanding of all the platform differences and little complexities.)

We do have some auto path stuff here: https://github.com/rust-lang-nursery/rust-bindgen/blob/bb315bfa7c23333a2c02374d7b7dbfbd3a97f0b6/src/lib.rs#L1411-

[2017-09-11 17:02] fitzgen commented on #977
Yes, this is expected after the move off of syntex.

There is `Builder::rustfmt_bindings` and `--rustfmt-bindings` to run `rustfmt` on the emitted bindings.

Re: the `doggo.h` example: with `--rustfmt-bindings` and `--no-layout-tests`, I get this:

[code]

Which I think is fair. The README doesn't mention flags, it is just there to help people understand what bindgen does and why you might want to

[2017-09-11 17:07] fitzgen commented on #979
Yes, nice bug catch! Thanks for filing :)

[2017-09-11 17:11] fitzgen commented on #631
@code-ape cool! I'll mark the issue assigned (commenting `@highfive: assign me` just causes @highfive to add the `C-assigned` label).

Let me know if you run into any questions or anything!

[2017-09-11 17:11] highfive commented on #631
Hey @fitzgen! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-11 17:11] fitzgen commented on #631
lol :-P

[2017-09-11 17:41] #758 closed

[2017-09-11 20:15] dimbleby commented on #977
Yeah, I think that what you say above is right: `rustfmt` should be enabled by default, and the docs should mention this.

(IMO `rustfmt-nightly` is so much better than `rustfmt` that people should be guided towards that if possible; but this is certainly a second order consideration).

The current output is likely more of an issue for people like me who are long-term `bindgen` users and accustome

[2017-09-11 22:05] fitzgen commented on #977
We just use the system `rustfmt`, if it exists, because it is impossible to use `rustfmt` as a library except on `nightly`. That means we use whatever `rustfmt` the user has installed (hopefully `rustfmt-nightly`). If they don't have it installed, we don't format the bindings.

[2017-09-12 04:49] helloqirun opened #980 "recursive without indirection"
I am using this script https://gist.github.com/fitzgen/187381e358f60efa8194d0b276b4d11a.

The hashtag for my bindgen version is 4dd4ac7 .

$ ./b.sh  rust-bindgen/target/debug/bindgen  abc.h
[code]

$ cat abc.h
[code]

[2017-09-12 16:49] fitzgen commented on #980
Huh. I'd expect a C++ compiler to refuse to compile this code... so I wouldn't expect this code to get past `libclang` in the first place.

Worth investigating how to exit earlier with a proper error message rather than emitting bindings that are sure to fail to compile.

[2017-09-12 16:50] fitzgen commented on #980
And thanks, as always, for the bug report @helloqirun :)

[2017-09-12 17:41] helloqirun opened #981 "Calculated wrong layout"
I am using this script https://gist.github.com/fitzgen/187381e358f60efa8194d0b276b4d11a.

The hashtag for my bindgen version is 4dd4ac7 .

$ ./b.sh bindgen abc.h
[code]

$ cat abc.h
[code]

[2017-09-12 17:53] fitzgen commented on #981
Thanks for the bug report :)

[2017-09-12 17:57] fitzgen commented on #981
The argument shadowing is a dupe of https://github.com/rust-lang-nursery/rust-bindgen/issues/840

But I am going to test the layout issue without the shadowing and see if that is its own bug.

[2017-09-12 18:13] fitzgen commented on #981
Here is a modified version of the test case with just the packed + bitfield layout issues:

[code]

Which results in this:

[code]

[2017-09-12 18:31] helloqirun commented on #981
Hi Nick, here is a simpler case.

The two cases reported here are reduced from the same testcase.

$ ./b.sh bindgen abc.h
[code]

$ cat abc.h
[code]

[2017-09-12 18:35] fitzgen commented on #981
I think this is actually a slightly different bug: we aren't taking into account bitfield allocation units' widths when determining if we can `derive` various traits or somethign like that.

I'll file a new issue.

[2017-09-12 18:41] fitzgen opened #982 "Large bitfield causes compilation failures re: derive(Debug)"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

We shouldn't `derive(Debug)` when a bitfield's allocation unit cannot derive debug.

-------------------------------------------------------

Our various `derive` analyses need to check if any bitfield allocation units are too large to `derive` traits. We compute bitfield allocation un

[2017-09-12 18:41] fitzgen commented on #981
Filed https://github.com/rust-lang-nursery/rust-bindgen/issues/982

[2017-09-12 19:53] fitzgen commented on #975
Apparently the `HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Microsoft\Microsoft SDKs\Windows` registry key has a subkey for each installed SDK, with an `InstallationFolder` value. And then the include directory should be something like `./Include` from that. Except when it is dependent on the build number. In which case we can maybe crawl that corner of the filesystem.

[2017-09-13 14:54] froydnj opened #983 "incorrect results for structs with tail packing on x86-64 Linux"
### Input C/C++ Header

[code]

### Bindgen Invocation

[code]

### Actual Results

[code]

### Expected Results

There should not be an error about the incorrect layout of `SchedulerGroup`; `bindgen` has failed to take into account that `isRunning` will be packed into the unused space of `LinkedListElement`.  The generated test for the layout of `SchedulerGroup` will also fail as a result of this

[2017-09-13 15:24] emilio commented on #983
I believe the packing issue is #404.

[2017-09-13 15:26] emilio commented on #983
Which is https://github.com/rust-lang-nursery/rust-bindgen/issues/380 itself.

[2017-09-13 15:31] froydnj commented on #983
Yeah, this is the same sort of issue as #380; not really obvious from #380's title, though. :)

[2017-09-13 15:31] #983 closed

[2017-09-13 16:30] Dushistov commented on #946
@fitzgen

May be problem is NOT in this code:
[code]
but in the fact that `bindgen` uses not clang headers when see
[code]
?

My problem in code from `stdint.h` that comes with Android NDK,
which part of `gcc`. But there is also `stdint.h` that part of `clang` installation.

Why bindgen not use for headers, that tightly coupled with compiler `clang` one headers?

[2017-09-13 17:39] fitzgen opened #984 "Add a `Builder::blacklist_type` method; deprecate `Builder::hide_type`"
Currrently, the `--blacklist-type` flag's corresponding `Builder` method is `Builder::hide_type`.

The naming difference is unnecessary, inconsistent, makes it harder for users to switch from CLI to builder or vice versa, and adds one more thing to remember/know about the code base when developers are reading about hidden or blacklisted things.

We should:

* [ ] Add `Builder::blacklist_type`, tha

[2017-09-13 17:39] highfive commented on #984
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-09-13 17:45] fitzgen opened #985 "Add `Builder::whitelist_function`; deprecate `Builder::whitelisted_function`"
The CLI flag is `--whitelist-function`, so we should be consistent and remove the "ed" from the builder method.

* [ ] Rename `Builder::whitelisted_function` to `Builder::whitelist_function`
* [ ] Add `Builder::whitelisted_function` that delegates to `whitelist_function`
* [ ] Mark `whitelisted_function` as `#[deprecated = "use whitelist_function instead"`]

[2017-09-13 17:46] fitzgen opened #986 "Add `Builder::whitelist_var`; deprecate `Builder::whitelisted_var`"
The CLI flag is `--whitelist-var`, so we should be consistent and remove the "ed" from the builder method.

* [ ] Rename `Builder::whitelisted_var` to `Builder::whitelist_var`
* [ ] Add `Builder::whitelisted_var` that delegates to `whitelist_var`
* [ ] Mark `whitelisted_var` as `#[deprecated = "use whitelist_var instead"]`

[2017-09-13 17:46] highfive commented on #986
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-09-13 17:46] highfive commented on #985
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-09-13 17:48] fitzgen opened #987 "Add `Builder::whitelist_type`; deprecate `Builder::whitelisted_type`"
The CLI flag is `--whitelist-type`, so we should be consistent and remove the "ed" from the builder method.

* [ ] Rename `Builder::whitelisted_type` to `Builder::whitelist_type`
* [ ] Add `Builder::whitelisted_type` that delegates to `whitelist_type`
* [ ] Mark `whitelisted_type` as `#[deprecated = "use whitelist_type instead"]`

[2017-09-13 17:48] highfive commented on #987
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-09-13 22:52] tamird commented on #41
Just hit this while trying to work on https://github.com/rust-lang-nursery/rust-bindgen/issues/492.

Here's the output, in case anyone finds it helpful: https://gist.github.com/anonymous/d20daf345e3b7512061c719e15684bb9.

Note that it includes the `Unhandled cursor kind 30: Cursor(__test kind: FunctionTemplate` bit tracked in https://github.com/rust-lang-nursery/rust-bindgen/issues/492, but also i

[2017-09-13 23:48] aeleos commented on #986
@highfive: assign me

[2017-09-13 23:48] highfive commented on #986
Hey @aeleos! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-13 23:50] fitzgen commented on #986
@aeleos don't hesitate to ping me if you have any questions :)

[2017-09-13 23:53] aeleos commented on #986
@fitzgen I do have one question, is there any recommended place to put the old deprecated function? I am thinking right next to it is probably best, but at the bottom could also work.

[2017-09-14 00:29] aeleos commented on #986
@fitzgen I lied I do have another question, I ended up with this code

    /// Whitelist the given variable so that it (and all types that it
    /// transitively refers to) appears in the generated bindings. Regular
    /// expressions are supported.
    pub fn whitelist_var<T: AsRef<str>>(mut self, arg: T) -> Builder {
        self.options.whitelisted_vars.insert(arg);
        self
    }

    //

[2017-09-14 00:45] fitzgen commented on #986
Right next to it is fine.

There is no problem you're not seeing.

To call a method that takes `self` by value, you don't need `mut`, but to modify any of `self`'s fields locally you need `mut`. Its a bit funky. This sparked a huge discussion right before Rust 1.0, but ultimately we stayed with what we currently have: https://www.reddit.com/r/rust/comments/25i544/babysteps_focusing_on_ownership_or

[2017-09-14 01:58] aeleos commented on #986
@fitzgen ah thanks for the info. I created a PR, hopefully I did it correctly.

[2017-09-14 12:49] treiff commented on #985
@highfive: assign me

[2017-09-14 12:49] highfive commented on #985
Hey @treiff! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-14 16:13] fitzgen commented on #985
@treiff if you run into any questions, don't hesitate to ping me :)

[2017-09-14 16:27] #986 closed

[2017-09-14 18:17] alexeyzab commented on #984
Hi! I'd like to try implementing this.

@highfive: assign me

[2017-09-14 18:17] highfive commented on #984
Hey @alexeyzab! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-14 22:59] #985 closed

[2017-09-15 00:06] treiff commented on #987
Going to grab this one, then maybe start looking at some of the slightly more difficult ones.

@highfive: assign me

[2017-09-15 00:06] highfive commented on #987
Hey @treiff! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-15 00:33] alexeyzab commented on #965
I'd like to try adding this one.

@highfive: assign me

[2017-09-15 00:33] highfive commented on #965
Hey @alexeyzab! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-15 04:25] helloqirun commented on #798
I have encountered a similar case.

[code]

[2017-09-15 04:35] helloqirun opened #993 "Unable to generate bindings due to a delegation cycle"
I am using this script https://gist.github.com/fitzgen/187381e358f60efa8194d0b276b4d11a.

The hashtag for my bindgen version is 4dd4ac7 .

$ ./b.sh bindgen abc.h
[code]
$ cat abc.h
[code]

[2017-09-15 08:46] emilio commented on #993
This is just a clang error, that C++ code wouldn't compile I believe.

[2017-09-15 15:25] helloqirun commented on #993
It compiles with clang++ -std=c++11, with only one warning.

 $clang++ -std=c++11 abc.hpp -c -Weverything
[code]

[2017-09-15 16:31] fitzgen commented on #798
Thanks for the additional test case; it's not 100% clear to me that this isn't a different bug. It involves non-type template parameters, which are not supported by bindgen at the moment. Ideally, we should avoid generating any code for `S::value` so that the rest of the bindings are still usable.

[2017-09-15 16:35] fitzgen commented on #993
Interesting how `libclang` tells us its an error via `bindgen`, but when `clang` compiles the file directly, it says its just a warning...

Perhaps related to some flags we end up passing to libclang?

[2017-09-15 18:29] #987 closed

[2017-09-15 22:05] treiff commented on #964
I'll give this a shot. @highfive: assign me

[2017-09-15 22:05] highfive commented on #964
Hey @treiff! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-16 13:06] tamird commented on #984
fixed in #991

[2017-09-16 16:47] aeleos commented on #982
@highfive: assign me

[2017-09-16 16:47] highfive commented on #982
Hey @aeleos! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-16 19:54] helloqirun opened #995 "Unable to generate bindings: ()"
I am using this script https://gist.github.com/fitzgen/187381e358f60efa8194d0b276b4d11a.

The hashtag for my bindgen version is 4dd4ac7 .
The header file compiles with clang++ -std=c++11

$ ./b.sh bindgen abc.h
[code]

$ cat abc.h
[code]

[2017-09-16 21:29] myromeu commented on #968
Can I pick up this?

[2017-09-17 06:06] helloqirun opened #997 "variadic function must have C or cdecl calling convention"
I am using this script https://gist.github.com/fitzgen/187381e358f60efa8194d0b276b4d11a.

The hashtag for my bindgen version is 4dd4ac7 .

$ ./b.sh bindgen abc.h
[code]

$ cat abc.h
[code]

[2017-09-18 16:36] fitzgen commented on #984
Thanks for the reminder, @tamird !

@alexeyzab, fwiw, if you add "Fixes #12345" in the git commit message, github will automatically close the issue once the relevant PR is merged.

[2017-09-18 16:36] #984 closed